---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/84d20ae1-9650-419a-ab74-7ab09b6262e0
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/users/84d20ae1-9650-419a-ab74-7ab09b6262e0", "id":"84d20ae1-9650-419a-ab74-7ab09b6262e0", "email":"developer-tools-team@scaleway.com", "username":"developer-tools-team@scaleway.com", "first_name":"Developper Tools", "last_name":"TEAM", "phone_number":"", "locale":"en_US", "created_at":"2023-01-23T15:16:01.748877Z", "updated_at":"2025-06-23T13:16:39.476255Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "deletable":true, "last_login_at":null, "type":"member", "two_factor_enabled":true, "status":"activated", "mfa":true, "account_root_user_id":"", "tags":[], "locked":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 35.50844ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 16.826411ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_iam_group_app3","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/c7917a87-66d0-4f3f-8c13-29fc21b2484a", "id":"c7917a87-66d0-4f3f-8c13-29fc21b2484a", "name":"tf_tests_iam_group_app3", "description":"", "created_at":"2026-10-07T13:42:37.468283Z", "updated_at":"2026-10-07T13:42:37.468283Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 75.080446ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/c7917a87-66d0-4f3f-8c13-29fc21b2484a
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/c7917a87-66d0-4f3f-8c13-29fc21b2484a","id":"c7917a87-66d0-4f3f-8c13-29fc21b2484a","name":"tf_tests_iam_group_app3","description":"","created_at":"2026-10-07T13:42:37.468283Z","updated_at":"2026-10-07T13:42:37.468283Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 90.34894ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_iam_group_user_app","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/82c79c55-124e-47ea-b638-cfa6b6333a27", "id":"82c79c55-124e-47ea-b638-cfa6b6333a27", "created_at":"2026-10-07T13:42:37.706013Z", "updated_at":"2026-10-07T13:42:37.706013Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_iam_group_user_app", "description":"", "user_ids":[], "application_ids":[], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 125.875204ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"],"application_ids":["c7917a87-66d0-4f3f-8c13-29fc21b2484a"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/82c79c55-124e-47ea-b638-cfa6b6333a27/members
        method: PUT
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/82c79c55-124e-47ea-b638-cfa6b6333a27", "id":"82c79c55-124e-47ea-b638-cfa6b6333a27", "created_at":"2026-10-07T13:42:37.706013Z", "updated_at":"2026-10-07T13:42:37.706013Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_iam_group_user_app", "description":"", "user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"], "application_ids":["c7917a87-66d0-4f3f-8c13-29fc21b2484a"], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 132.30125ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/82c79c55-124e-47ea-b638-cfa6b6333a27
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/82c79c55-124e-47ea-b638-cfa6b6333a27","id":"82c79c55-124e-47ea-b638-cfa6b6333a27","created_at":"2026-10-07T13:42:37.706013Z","updated_at":"2026-10-07T13:42:37.706013Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_iam_group_user_app","description":"","user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"],"application_ids":["c7917a87-66d0-4f3f-8c13-29fc21b2484a"],"tags":[],"editable":true,"deletable":true,"managed":false,"all_users":false,"all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 35.42809ms
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: '{"user_id":"84d20ae1-9650-419a-ab74-7ab09b6262e0"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/82c79c55-124e-47ea-b638-cfa6b6333a27/remove-member
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/82c79c55-124e-47ea-b638-cfa6b6333a27", "id":"82c79c55-124e-47ea-b638-cfa6b6333a27", "created_at":"2026-10-07T13:42:37.706013Z", "updated_at":"2026-10-07T13:42:37.706013Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_iam_group_user_app", "description":"", "user_ids":["88b4dde1-f3d4-478a-a281-784d53399a30", "ef29ce05-3f2b-4fa0-a259-d76110850d57"], "application_ids":[], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 51.581997ms
[...]
    - id: 73
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/82c79c55-124e-47ea-b638-cfa6b6333a27
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"82c79c55-124e-47ea-b638-cfa6b6333a27","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 32.392235ms
[...]
