---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/b6360d4f-831c-45a8-889e-0b65ed079e63
        method: GET
      response:
        body: '{"account_root_user_id":"caeed50e-d7fe-4d74-b7f0-956d94e85d4b","created_at":"2022-12-01T12:53:29.981622Z","deletable":true,"email":"jcasteran@scaleway.com","id":"b6360d4f-831c-45a8-889e-0b65ed079e63","last_login_at":"2024-12-17T13:19:25.316964Z","locked":false,"mfa":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"activated","tags":[],"two_factor_enabled":false,"type":"guest","updated_at":"2025-01-07T13:39:41.962886Z","username":"jcasteran@scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.842291ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-iam-group-membership-user","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-01-22T15:32:50.618987Z","deletable":true,"description":"","editable":true,"id":"54afd2b1-e2eb-42df-986b-fa9472d3eb7d","managed":false,"name":"tf-tests-iam-group-membership-user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:50.618987Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.943625ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/54afd2b1-e2eb-42df-986b-fa9472d3eb7d
        method: GET
      response:
        body: '{"application_ids":[],"created_at":"2025-01-22T15:32:50.618987Z","deletable":true,"description":"","editable":true,"id":"54afd2b1-e2eb-42df-986b-fa9472d3eb7d","managed":false,"name":"tf-tests-iam-group-membership-user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:50.618987Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.004666ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"user_id":"b6360d4f-831c-45a8-889e-0b65ed079e63"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/54afd2b1-e2eb-42df-986b-fa9472d3eb7d/add-member
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-01-22T15:32:50.618987Z","deletable":true,"description":"","editable":true,"id":"54afd2b1-e2eb-42df-986b-fa9472d3eb7d","managed":false,"name":"tf-tests-iam-group-membership-user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:50.618987Z","user_ids":["b6360d4f-831c-45a8-889e-0b65ed079e63"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 239.785292ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"user_id":"b6360d4f-831c-45a8-889e-0b65ed079e63"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/54afd2b1-e2eb-42df-986b-fa9472d3eb7d/remove-member
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-01-22T15:32:50.618987Z","deletable":true,"description":"","editable":true,"id":"54afd2b1-e2eb-42df-986b-fa9472d3eb7d","managed":false,"name":"tf-tests-iam-group-membership-user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:50.618987Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.718208ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/54afd2b1-e2eb-42df-986b-fa9472d3eb7d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"54afd2b1-e2eb-42df-986b-fa9472d3eb7d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.961167ms
