---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_iam_group_app\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"99a4b106-c36a-4ea8-8254-968996f3ea9f\", \"name\":\"tf_tests_iam_group_app\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:30.448542Z\", \"updated_at\":\"2025-11-17T17:10:30.448542Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 169.197803ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/99a4b106-c36a-4ea8-8254-968996f3ea9f
    method: GET
  response:
    body: "{\"id\":\"99a4b106-c36a-4ea8-8254-968996f3ea9f\", \"name\":\"tf_tests_iam_group_app\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:30.448542Z\", \"updated_at\":\"2025-11-17T17:10:30.448542Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 157.950493ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_tests_iam_group_app\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: "{\"id\":\"4c615a80-c6af-4639-865d-f255d7c920d5\", \"created_at\":\"2025-11-17T17:10:30.852915Z\", \"updated_at\":\"2025-11-17T17:10:30.852915Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"tf_tests_iam_group_app\", \"description\":\"\", \"user_ids\":[], \"application_ids\":[], \"tags\":[], \"editable\":true, \"deletable\":true, \"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 246.14332ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"user_ids\":[],\"application_ids\":[\"99a4b106-c36a-4ea8-8254-968996f3ea9f\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/4c615a80-c6af-4639-865d-f255d7c920d5/members
    method: PUT
  response:
    body: "{\"id\":\"4c615a80-c6af-4639-865d-f255d7c920d5\", \"created_at\":\"2025-11-17T17:10:30.852915Z\", \"updated_at\":\"2025-11-17T17:10:30.852915Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"tf_tests_iam_group_app\", \"description\":\"\", \"user_ids\":[], \"application_ids\":[\"99a4b106-c36a-4ea8-8254-968996f3ea9f\"], \"tags\":[], \"editable\":true, \"deletable\":true, \"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 378.273963ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/4c615a80-c6af-4639-865d-f255d7c920d5
    method: GET
  response:
    body: "{\"id\":\"4c615a80-c6af-4639-865d-f255d7c920d5\", \"created_at\":\"2025-11-17T17:10:30.852915Z\", \"updated_at\":\"2025-11-17T17:10:30.852915Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"tf_tests_iam_group_app\", \"description\":\"\", \"user_ids\":[], \"application_ids\":[\"99a4b106-c36a-4ea8-8254-968996f3ea9f\"], \"tags\":[], \"editable\":true, \"deletable\":true, \"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 164.085984ms
[...]
- id: 33
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"aea7a6b5-43b3-48b1-ae65-964c18ecb4ed\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/4c615a80-c6af-4639-865d-f255d7c920d5/remove-member
    method: POST
  response:
    body: "{\"id\":\"4c615a80-c6af-4639-865d-f255d7c920d5\", \"created_at\":\"2025-11-17T17:10:30.852915Z\", \"updated_at\":\"2025-11-17T17:10:30.852915Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"tf_tests_iam_group_app\", \"description\":\"\", \"user_ids\":[], \"application_ids\":[], \"tags\":[], \"editable\":true, \"deletable\":true, \"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 117.840919ms
[...]
- id: 42
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/4c615a80-c6af-4639-865d-f255d7c920d5
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"group\",\"resource_id\":\"4c615a80-c6af-4639-865d-f255d7c920d5\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 87.230007ms
[...]
