---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"tf-tests-iam-group-membership-basic","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-05-22T15:05:41.185844Z","deletable":true,"description":"","editable":true,"id":"d74ce780-f4ca-4936-892c-572a752367b1","managed":false,"name":"tf-tests-iam-group-membership-basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2025-05-22T15:05:41.185844Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.103917ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-iam-group-membership-basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-05-22T15:05:41.182996Z","deletable":true,"description":"","editable":true,"id":"4454f319-06f8-4e56-afbb-2189cc71806b","managed":false,"name":"tf-tests-iam-group-membership-basic","nb_api_keys":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2025-05-22T15:05:41.182996Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.122375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/d74ce780-f4ca-4936-892c-572a752367b1
        method: GET
      response:
        body: '{"application_ids":[],"created_at":"2025-05-22T15:05:41.185844Z","deletable":true,"description":"","editable":true,"id":"d74ce780-f4ca-4936-892c-572a752367b1","managed":false,"name":"tf-tests-iam-group-membership-basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2025-05-22T15:05:41.185844Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.088166ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/4454f319-06f8-4e56-afbb-2189cc71806b
        method: GET
      response:
        body: '{"created_at":"2025-05-22T15:05:41.182996Z","deletable":true,"description":"","editable":true,"id":"4454f319-06f8-4e56-afbb-2189cc71806b","managed":false,"name":"tf-tests-iam-group-membership-basic","nb_api_keys":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2025-05-22T15:05:41.182996Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.530583ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"application_id":"4454f319-06f8-4e56-afbb-2189cc71806b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/d74ce780-f4ca-4936-892c-572a752367b1/add-member
        method: POST
      response:
        body: '{"application_ids":["4454f319-06f8-4e56-afbb-2189cc71806b"],"created_at":"2025-05-22T15:05:41.185844Z","deletable":true,"description":"","editable":true,"id":"d74ce780-f4ca-4936-892c-572a752367b1","managed":false,"name":"tf-tests-iam-group-membership-basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2025-05-22T15:05:41.185844Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.478333ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"application_id":"4454f319-06f8-4e56-afbb-2189cc71806b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/d74ce780-f4ca-4936-892c-572a752367b1/remove-member
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-05-22T15:05:41.185844Z","deletable":true,"description":"","editable":true,"id":"d74ce780-f4ca-4936-892c-572a752367b1","managed":false,"name":"tf-tests-iam-group-membership-basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2025-05-22T15:05:41.185844Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.773416ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/d74ce780-f4ca-4936-892c-572a752367b1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"d74ce780-f4ca-4936-892c-572a752367b1","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 186.274708ms
[...]
