---
version: 2
interactions:
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_iam_group_basic","description":"","tags":["tf_tests","tests"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-11-29T14:45:05.809417Z","description":"","id":"25ae4dd0-ac38-4260-bbf9-3105520e7138","name":"tf_tests_iam_group_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["tf_tests","tests"],"updated_at":"2023-11-29T14:45:05.809417Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/25ae4dd0-ac38-4260-bbf9-3105520e7138
    method: GET
  response:
    body: '{"application_ids":[],"created_at":"2023-11-29T14:45:05.809417Z","description":"","id":"25ae4dd0-ac38-4260-bbf9-3105520e7138","name":"tf_tests_iam_group_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["tf_tests","tests"],"updated_at":"2023-11-29T14:45:05.809417Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/25ae4dd0-ac38-4260-bbf9-3105520e7138
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"25ae4dd0-ac38-4260-bbf9-3105520e7138","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
