---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_iam_group_basic","description":"","tags":["tf_tests","tests"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-01-22T15:32:51.102580Z","deletable":true,"description":"","editable":true,"id":"70c4d754-024b-439e-90f1-6f70cb21431e","managed":false,"name":"tf_tests_iam_group_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["tf_tests","tests"],"updated_at":"2025-01-22T15:32:51.102580Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.926166ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/70c4d754-024b-439e-90f1-6f70cb21431e
        method: GET
      response:
        body: '{"application_ids":[],"created_at":"2025-01-22T15:32:51.102580Z","deletable":true,"description":"","editable":true,"id":"70c4d754-024b-439e-90f1-6f70cb21431e","managed":false,"name":"tf_tests_iam_group_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["tf_tests","tests"],"updated_at":"2025-01-22T15:32:51.102580Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.494375ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/70c4d754-024b-439e-90f1-6f70cb21431e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"70c4d754-024b-439e-90f1-6f70cb21431e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 608.402666ms
