---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-iam-group-membership-basic-app2","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-06-02T09:46:44.667742Z","deletable":true,"description":"","editable":true,"id":"6ddd4e7a-23f8-4876-8079-d264d0f7f242","managed":false,"name":"tf-tests-iam-group-membership-basic-app2","nb_api_keys":0,"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-06-02T09:46:44.667742Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.139568166s
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","name":"tf-tests-iam-group-membership-multiple-entities","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-06-02T09:46:44.676190Z","deletable":true,"description":"","editable":true,"id":"cecfc150-2ea0-4a8d-be13-95c122f41c37","managed":false,"name":"tf-tests-iam-group-membership-multiple-entities","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-06-02T09:46:44.676190Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.145856375s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/6ddd4e7a-23f8-4876-8079-d264d0f7f242
        method: GET
      response:
        body: '{"created_at":"2025-06-02T09:46:44.667742Z","deletable":true,"description":"","editable":true,"id":"6ddd4e7a-23f8-4876-8079-d264d0f7f242","managed":false,"name":"tf-tests-iam-group-membership-basic-app2","nb_api_keys":0,"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-06-02T09:46:44.667742Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.162042ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/cecfc150-2ea0-4a8d-be13-95c122f41c37
        method: GET
      response:
        body: '{"application_ids":[],"created_at":"2025-06-02T09:46:44.676190Z","deletable":true,"description":"","editable":true,"id":"cecfc150-2ea0-4a8d-be13-95c122f41c37","managed":false,"name":"tf-tests-iam-group-membership-multiple-entities","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-06-02T09:46:44.676190Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.639291ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"member":{"email":"bar@scaleway.com","send_password_email":false,"send_welcome_email":false,"username":"bar","password":"","first_name":"","last_name":"","phone_number":"","locale":""}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"account_root_user_id":"","created_at":"2025-06-02T09:46:44.667441Z","deletable":true,"email":"bar@scaleway.com","first_name":"","id":"79e7032a-725e-4930-8752-395277020841","last_login_at":null,"last_name":"","locale":"en_US","locked":false,"mfa":false,"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","phone_number":"","status":"activated","tags":[],"two_factor_enabled":false,"type":"member","updated_at":"2025-06-02T09:46:44.667441Z","username":"bar"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.240002375s
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/79e7032a-725e-4930-8752-395277020841
        method: GET
      response:
        body: '{"account_root_user_id":"","created_at":"2025-06-02T09:46:44.667441Z","deletable":true,"email":"bar@scaleway.com","first_name":"","id":"79e7032a-725e-4930-8752-395277020841","last_login_at":null,"last_name":"","locale":"en_US","locked":false,"mfa":false,"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","phone_number":"","status":"activated","tags":[],"two_factor_enabled":false,"type":"member","updated_at":"2025-06-02T09:46:44.667441Z","username":"bar"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.414666ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"user_ids":["79e7032a-725e-4930-8752-395277020841","5cc330a0-e4fd-453c-88b8-46104afd4195"],"application_ids":["524e61dc-d5d2-4b70-9322-9cf1f4aca301","6ddd4e7a-23f8-4876-8079-d264d0f7f242"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/cecfc150-2ea0-4a8d-be13-95c122f41c37/members
        method: PUT
      response:
        body: '{"application_ids":["524e61dc-d5d2-4b70-9322-9cf1f4aca301","6ddd4e7a-23f8-4876-8079-d264d0f7f242"],"created_at":"2025-06-02T09:46:44.676190Z","deletable":true,"description":"","editable":true,"id":"cecfc150-2ea0-4a8d-be13-95c122f41c37","managed":false,"name":"tf-tests-iam-group-membership-multiple-entities","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-06-02T09:46:44.676190Z","user_ids":["79e7032a-725e-4930-8752-395277020841","5cc330a0-e4fd-453c-88b8-46104afd4195"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 225.126667ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/cecfc150-2ea0-4a8d-be13-95c122f41c37
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"cecfc150-2ea0-4a8d-be13-95c122f41c37","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.701417ms
[...]
