---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["toto"],"member":{"email":"test-user-list-1@example.com","send_password_email":false,"send_welcome_email":false,"username":"test-user-list-1","password":"","first_name":"","last_name":"","phone_number":"","locale":""}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"id":"d70697ac-785c-41ac-b690-10f395972c8c","email":"test-user-list-1@example.com","username":"test-user-list-1","first_name":"","last_name":"","phone_number":"","locale":"en_US","created_at":"2026-05-26T07:43:32.422588Z","updated_at":"2026-05-26T07:43:32.422588Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"last_login_at":null,"type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":["toto"],"locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 613.039788ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/d70697ac-785c-41ac-b690-10f395972c8c
        method: GET
      response:
        body: '{"id":"d70697ac-785c-41ac-b690-10f395972c8c","email":"test-user-list-1@example.com","username":"test-user-list-1","first_name":"","last_name":"","phone_number":"","locale":"en_US","created_at":"2026-05-26T07:43:32.422588Z","updated_at":"2026-05-26T07:43:32.422588Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"last_login_at":null,"type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":["toto"],"locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.401856ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users?order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&type=unknown_type
        method: GET
      response:
        body: '{"users":[{"id":"ef29ce05-3f2b-4fa0-a259-d76110850d57","email":"hashicorp@scaleway.com","username":"hashicorp@scaleway.com","first_name":"","last_name":"","phone_number":"","locale":"fr_FR","created_at":"2022-03-29T11:44:54.791271Z","updated_at":"2026-03-30T08:13:49.666782Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":false,"last_login_at":"2026-03-30T08:13:49.689533Z","type":"owner","two_factor_enabled":true,"status":"activated","mfa":true,"account_root_user_id":"afa9fc32-9d43-4[...]
    - id: 9
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
            tag:
                - test-tag
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users?order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&tag=test-tag&type=unknown_type
        method: GET
      response:
        body: '{"users":[{"id":"ca91f9d7-43fb-4322-a976-0243c0fef944","email":"test-user-list-2@example.com","username":"test-user-list-2","first_name":"","last_name":"","phone_number":"","locale":"en_US","created_at":"2026-05-26T07:43:34.206897Z","updated_at":"2026-05-26T07:43:34.206897Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"last_login_at":null,"type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":["test-tag"],"locked":false}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.199993ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/d70697ac-785c-41ac-b690-10f395972c8c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"user","resource_id":"d70697ac-785c-41ac-b690-10f395972c8c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.235163ms
[...]
