---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-3913945635079322686","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"srn":"srn://account.scw.eu/projects/d35616d0-f1d4-433b-b2d0-345579e106c7","id":"d35616d0-f1d4-433b-b2d0-345579e106c7","name":"tf-test-scaleway-project-3913945635079322686","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-07T13:41:40.398358Z","updated_at":"2026-10-07T13:41:40.398358Z","description":"","qualification":null,"status":"active"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 621.851205ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 17.362206ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-8034213395406981284","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/6025cb4c-ac3a-4914-be90-7fde0e898745","id":"6025cb4c-ac3a-4914-be90-7fde0e898745","name":"tf-test-scaleway-iam-app-8034213395406981284","description":"","created_at":"2026-10-07T13:41:40.938107Z","updated_at":"2026-10-07T13:41:40.938107Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 155.899515ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-8734393462001916794","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"6025cb4c-ac3a-4914-be90-7fde0e898745"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/0ad871b5-9f77-45ab-9c93-7333dde78707","id":"0ad871b5-9f77-45ab-9c93-7333dde78707","name":"tf-test-scaleway-iam-policy-8734393462001916794","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-07T13:41:41.016322Z","updated_at":"2026-10-07T13:41:41.016322Z","editable":true,"deletable":true,"managed":false,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"tags":[],"application_id":"6025cb4c-ac3a-4914-be90-7fde0e898745"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 94.116247ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"application_id":"6025cb4c-ac3a-4914-be90-7fde0e898745","default_project_id":"d35616d0-f1d4-433b-b2d0-345579e106c7","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCWQW79E3D29RH7HTMBW", "access_key":"SCWXXXXXXXXXXXXXXXXX", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"", "created_at":"2026-10-07T13:41:41.234846Z", "updated_at":"2026-10-07T13:41:41.234846Z", "expires_at":null, "default_project_id":"d35616d0-f1d4-433b-b2d0-345579e106c7", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.178.0.12", "application_id":"6025cb4c-ac3a-4914-be90-7fde0e898745"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 205.001934ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"test-policy-list-1","description":"Test policy 1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["ContainerRegistryReadOnly"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/b679df34-922f-4ca4-b1ea-c9595f53e861", "id":"b679df34-922f-4ca4-b1ea-c9595f53e861", "name":"test-policy-list-1", "description":"Test policy 1", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-10-07T13:42:35.507195Z", "updated_at":"2026-10-07T13:42:35.507195Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 145.611412ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/b679df34-922f-4ca4-b1ea-c9595f53e861
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/b679df34-922f-4ca4-b1ea-c9595f53e861","id":"b679df34-922f-4ca4-b1ea-c9595f53e861","name":"test-policy-list-1","description":"Test policy 1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-07T13:42:35.507195Z","updated_at":"2026-10-07T13:42:35.507195Z","editable":true,"deletable":true,"managed":false,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 95.005861ms
    - id: 8
      request:
        host: api.scaleway.com
        form:
            policy_id:
                - b679df34-922f-4ca4-b1ea-c9595f53e861
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=b679df34-922f-4ca4-b1ea-c9595f53e861
        method: GET
      response:
        body: '{"rules":[{"srn":"srn://iam.scw.eu/rules/29e6ee77-ebfb-4a4e-a3de-fcdd7ac622f3","id":"29e6ee77-ebfb-4a4e-a3de-fcdd7ac622f3","permission_set_names":["ContainerRegistryReadOnly"],"permission_sets_scope_type":"projects","condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 93.338658ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        form:
            order_by:
                - policy_name_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies?order_by=policy_name_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"policies":[{"srn":"srn://iam.scw.eu/policies/c1214ec3-4d8e-4f04-96b7-07158a0ea805", "id":"c1214ec3-4d8e-4f04-96b7-07158a0ea805", "name":"Audit Trail - Read Only", "description":"Audit Trail team has requested access to our Audit Trail events in Read Only, in order to investigate the events generated for each product during our nightly tests.", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-01-19T14:14:31.033134Z", "updated_at":"2026-01-19T14:14:31.033134Z", "editable":true, "deletable":true, "managed":false, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[], "group_id":"db32fc9e-e4f6-4c65-baa1-c6ceaa7a04a9"}, {"srn":"srn://iam.scw.eu/policies/8e7692cc-a0c9-44e9-989d-2cda3039ad3f", "id":"8e7692cc-a0c9-44e9-989d-2cda3039ad3f", "name":"Group - Administrators", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2022-07-13T13:58:31.167738Z", "updated_at":"2023-01-18T17:01:03.768470Z", "editable":true, "deletable":true, "managed":false, "nb_rules":3, "nb_scopes":2, "nb_permission_sets":12, "tags":[], "group_id":"a0f019a0-539b-4[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        form:
            order_by:
                - policy_name_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
            tag:
                - test-tag
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies?order_by=policy_name_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&tag=test-tag
        method: GET
      response:
        body: '{"policies":[{"srn":"srn://iam.scw.eu/policies/c420b0bb-9baf-4eae-a24a-ff1b72a6bb0c","id":"c420b0bb-9baf-4eae-a24a-ff1b72a6bb0c","name":"test-policy-list-2","description":"Test policy 2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-07T13:42:38.647605Z","updated_at":"2026-10-07T13:42:38.647605Z","editable":true,"deletable":true,"managed":false,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"tags":["test-tag"],"no_principal":true}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 142.42699ms
    - id: 23
      request:
        host: api.scaleway.com
        form:
            editable:
                - "true"
            order_by:
                - policy_name_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies?editable=true&order_by=policy_name_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
    [...]
    - id: 24
      request:
        host: api.scaleway.com
        form:
            order_by:
                - policy_name_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
            policy_ids:
                - b679df34-922f-4ca4-b1ea-c9595f53e861
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies?order_by=policy_name_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&policy_ids=b679df34-922f-4ca4-b1ea-c9595f53e861
        method: GET
      response:
        body: '{"policies":[{"srn":"srn://iam.scw.eu/policies/b679df34-922f-4ca4-b1ea-c9595f53e861", "id":"b679df34-922f-4ca4-b1ea-c9595f53e861", "name":"test-policy-list-1", "description":"Test policy 1", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-10-07T13:42:35.507195Z", "updated_at":"2026-10-07T13:42:35.507195Z", "editable":true, "deletable":true, "managed":false, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[], "no_principal":true}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 39.695369ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 54.164852ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/6025cb4c-ac3a-4914-be90-7fde0e898745
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 48.932779ms
    - id: 30
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/d35616d0-f1d4-433b-b2d0-345579e106c7
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 1.93468885s
    - id: 31
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/c420b0bb-9baf-4eae-a24a-ff1b72a6bb0c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"c420b0bb-9baf-4eae-a24a-ff1b72a6bb0c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 30.591821ms
[...]
