---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-3945167171772574439","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"id":"18f4efa6-81ae-42da-9fd5-0f7ebffac67e", "name":"tf-test-scaleway-project-3945167171772574439", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:42:02.354992Z", "updated_at":"2026-06-12T15:42:02.354992Z", "description":"", "qualification":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.641941316s
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-4086008549729153376","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"797196f6-d8af-404e-a8cb-aa5f9e07de3a", "name":"tf-test-scaleway-iam-app-4086008549729153376", "description":"", "created_at":"2026-06-12T15:42:02.876610Z", "updated_at":"2026-06-12T15:42:02.876610Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.201708ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-5873824897653104896","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"797196f6-d8af-404e-a8cb-aa5f9e07de3a"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"id":"86dafdfe-f6ac-4d3b-9510-e5c1b306056c", "name":"tf-test-scaleway-iam-policy-5873824897653104896", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:42:04.773731Z", "updated_at":"2026-06-12T15:42:04.773731Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "application_id":"797196f6-d8af-404e-a8cb-aa5f9e07de3a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.052955143s
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"797196f6-d8af-404e-a8cb-aa5f9e07de3a","default_project_id":"18f4efa6-81ae-42da-9fd5-0f7ebffac67e","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW4HWRPJPZB3GQ7QKFJ", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"", "created_at":"2026-06-12T15:42:05.630926Z", "updated_at":"2026-06-12T15:42:05.630926Z", "expires_at":null, "default_project_id":"18f4efa6-81ae-42da-9fd5-0f7ebffac67e", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.189.216.157", "application_id":"797196f6-d8af-404e-a8cb-aa5f9e07de3a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 735.521537ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"test-policy-list-1","description":"Test policy 1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["ContainerRegistryReadOnly"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"id":"09c4ac7a-413f-4f55-a838-a14684cdc95e", "name":"test-policy-list-1", "description":"Test policy 1", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:42:07.154376Z", "updated_at":"2026-06-12T15:42:07.154376Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 919.203592ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/09c4ac7a-413f-4f55-a838-a14684cdc95e
        method: GET
      response:
        body: '{"id":"09c4ac7a-413f-4f55-a838-a14684cdc95e", "name":"test-policy-list-1", "description":"Test policy 1", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:42:07.154376Z", "updated_at":"2026-06-12T15:42:07.154376Z", "editable":true, "deletable":true, "managed":false, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.021994ms
    - id: 6
      request:
        host: api.scaleway.com
        form:
            policy_id:
                - 09c4ac7a-413f-4f55-a838-a14684cdc95e
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=09c4ac7a-413f-4f55-a838-a14684cdc95e
        method: GET
      response:
        body: '{"rules":[{"id":"462827a0-719b-49b7-bb44-61a161ed5b4c", "permission_set_names":["ContainerRegistryReadOnly"], "permission_sets_scope_type":"projects", "condition":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.972129ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        form:
            order_by:
                - policy_name_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies?order_by=policy_name_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"policies":[{"id":"c1214ec3-4d8e-4f04-96b7-07158a0ea805", "name":"Audit Trail - Read Only", "description":"Audit Trail team has requested access to our Audit Trail events in Read Only, in order to investigate the events generated for each product during our nightly tests.", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-01-19T14:14:31.033134Z", "updated_at":"2026-01-19T14:14:31.033134Z", "editable":true, "deletable":true, "managed":false, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[], "group_id":"db32fc9e-e4f6-4c65-baa1-c6ceaa7a04a9"}, {"id":"8e7692cc-a0c9-44e9-989d-2cda3039ad3f", "name":"Group - Administrators", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2022-07-13T13:58:31.167738Z", "updated_at":"2023-01-18T17:01:03.768470Z", "editable":true, "deletable":true, "managed":false, "nb_rules":3, "nb_scopes":2, "nb_permission_sets":12, "tags":[], "group_id":"a0f019a0-539b-4509-8748-fb55b428f1cd"}, {"id":"373b7611-4796-4bfe-ac6c-508e76b7da84", "[...]
[...]
    - id: 20
      request:
        host: api.scaleway.com
        form:
            order_by:
                - policy_name_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
            tag:
                - test-tag
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies?order_by=policy_name_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&tag=test-tag
        method: GET
      response:
        body: '{"policies":[{"id":"f7d02d53-d0f5-4aff-83d5-784a65437519", "name":"test-policy-list-2", "description":"Test policy 2", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:42:08.960546Z", "updated_at":"2026-06-12T15:42:08.960546Z", "editable":true, "deletable":true, "managed":false, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":["test-tag"], "no_principal":true}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.162409ms
    - id: 21
      request:
        host: api.scaleway.com
        form:
            editable:
                - "true"
            order_by:
                - policy_name_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies?editable=true&order_by=policy_name_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
    [...]
    - id: 22
      request:
        host: api.scaleway.com
        form:
            order_by:
                - policy_name_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
            policy_ids:
                - 09c4ac7a-413f-4f55-a838-a14684cdc95e
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies?order_by=policy_name_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&policy_ids=09c4ac7a-413f-4f55-a838-a14684cdc95e
        method: GET
      response:
        body: '{"policies":[{"id":"09c4ac7a-413f-4f55-a838-a14684cdc95e", "name":"test-policy-list-1", "description":"Test policy 1", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:42:07.154376Z", "updated_at":"2026-06-12T15:42:07.154376Z", "editable":true, "deletable":true, "managed":false, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[], "no_principal":true}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.876177ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 476.183604ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/797196f6-d8af-404e-a8cb-aa5f9e07de3a
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 126.372594ms
    - id: 28
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/18f4efa6-81ae-42da-9fd5-0f7ebffac67e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.956326192s
    - id: 29
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/09c4ac7a-413f-4f55-a838-a14684cdc95e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"09c4ac7a-413f-4f55-a838-a14684cdc95e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 42.247967ms
[...]
