---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_app_key_list_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/95d0e60f-7dbf-4519-b006-7110df86698f","id":"95d0e60f-7dbf-4519-b006-7110df86698f","name":"tf_tests_app_key_list_basic","description":"","created_at":"2026-10-07T13:42:51.960608Z","updated_at":"2026-10-07T13:42:51.960608Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 70.581404ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 17.499487ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/95d0e60f-7dbf-4519-b006-7110df86698f
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/95d0e60f-7dbf-4519-b006-7110df86698f","id":"95d0e60f-7dbf-4519-b006-7110df86698f","name":"tf_tests_app_key_list_basic","description":"","created_at":"2026-10-07T13:42:51.960608Z","updated_at":"2026-10-07T13:42:51.960608Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 44.194164ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"95d0e60f-7dbf-4519-b006-7110df86698f","description":"test-api-key-list-1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCW02BXWNTY6Q0WZD3KS", "access_key":"SCWXXXXXXXXXXXXXXXXX", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"test-api-key-list-1", "created_at":"2026-10-07T13:42:52.169036Z", "updated_at":"2026-10-07T13:42:52.169036Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.178.0.12", "application_id":"95d0e60f-7dbf-4519-b006-7110df86698f"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 142.612773ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCW02BXWNTY6Q0WZD3KS", "access_key":"SCWXXXXXXXXXXXXXXXXX", "secret_key":null, "description":"test-api-key-list-1", "created_at":"2026-10-07T13:42:52.169036Z", "updated_at":"2026-10-07T13:42:52.169036Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.178.0.12", "application_id":"95d0e60f-7dbf-4519-b006-7110df86698f"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "34"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 42.955015ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        form:
            bearer_type:
                - unknown_bearer_type
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys?bearer_type=unknown_bearer_type&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"api_keys":[{"srn":"srn://iam.scw.eu/api-keys/SCW9S2TRP4KTKS44DZWP", "access_key":"SCW9S2TRP4KTKS44DZWP", "secret_key":null, "description":"", "created_at":"2026-03-27T14:09:05.244013Z", "updated_at":"2026-03-27T14:09:05.244013Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153", "user_id":"ef29ce05-3f2b-4fa0-a259-d76110850d57"}, {"srn":"srn://iam.scw.eu/api-keys/SCW635J23DPZZ1S7F7WY", "access_key":"SCW635J23DPZZ1S7F7WY", "secret_key":null, "description":"", "created_at":"2026-06-26T08:39:40.369109Z", "updated_at":"2026-06-26T08:39:40.369109Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"130.180.219.188", "user_id":"a893a7b8-07d0-4258-b70b-b4b90d6c254d"}, {"srn":"srn://iam.scw.eu[...]
    - id: 12
      request:
        host: api.scaleway.com
        form:
            bearer_type:
                - unknown_bearer_type
            description:
                - test-api-key-list-1
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys?bearer_type=unknown_bearer_type&description=test-api-key-list-1&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"api_keys":[{"srn":"srn://iam.scw.eu/api-keys/SCW02BXWNTY6Q0WZD3KS", "access_key":"SCWXXXXXXXXXXXXXXXXX", "secret_key":null, "description":"test-api-key-list-1", "created_at":"2026-10-07T13:42:52.169036Z", "updated_at":"2026-10-07T13:42:52.169036Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.178.0.12", "application_id":"95d0e60f-7dbf-4519-b006-7110df86698f"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 153.286723ms
    - id: 13
      request:
        host: api.scaleway.com
        form:
            bearer_type:
                - unknown_bearer_type
            editable:
                - "true"
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys?bearer_type=unknown_bearer_type&editable=true&order_by=create[...]
    - id: 14
      request:
        host: api.scaleway.com
        form:
            bearer_type:
                - unknown_bearer_type
            expired:
                - "false"
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys?bearer_type=unknown_bearer_type&expired=false&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"api_keys":[{"srn":"srn://iam.scw.e[...]
    - id: 15
      request:
        host: api.scaleway.com
        form:
            bearer_id:
                - 95d0e60f-7dbf-4519-b006-7110df86698f
            bearer_type:
                - application
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys?bearer_id=95d0e60f-7dbf-4519-b006-7110df86698f&bearer_type=application&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"api_keys":[{"srn":"srn://iam.scw.eu/api-keys/SCW02BXWNTY6Q0WZD3KS","access_key":"SCWXXXXXXXXXXXXXXXXX","secret_key":null,"description":"test-api-key-list-1","created_at":"2026-10-07T13:42:52.169036Z","updated_at":"2026-10-07T13:42:52.169036Z","expires_at":null,"default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"creation_ip":"88.178.0.12","application_id":"95d0e60f-7dbf-4519-b006-7110df86698f"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 36.060228ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"api_key","resource_id":"SCWXXXXXXXXXXXXXXXXX","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 31.197791ms
[...]
