---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-app-list-1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"652335d9-3bf3-4a76-8f8e-4d39571c09d5","name":"test-app-list-1","description":"","created_at":"2026-05-21T15:22:46.094008Z","updated_at":"2026-05-21T15:22:46.094008Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.834684ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/652335d9-3bf3-4a76-8f8e-4d39571c09d5
        method: GET
      response:
        body: '{"id":"652335d9-3bf3-4a76-8f8e-4d39571c09d5","name":"test-app-list-1","description":"","created_at":"2026-05-21T15:22:46.094008Z","updated_at":"2026-05-21T15:22:46.094008Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.779394ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications?order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"applications":[{"id":"baca7695-fe4e-48eb-8f24-e479c20ca3a6","name":"terraform-provider","description":"","created_at":"2022-12-01T12:58:00.035298Z","updated_at":"2022-12-01T12:58:00.035298Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]},{"id":"609bfa7f-1618-4eb4-af4b-cfc7b54f03cb","name":"Ansible community.scaleway","description":"","created_at":"2023-02-24T14:21:49.615888Z","updated_at":"2023-02-24T14:21:49.615888Z","organ[...]
[...]
    - id: 17
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
            tag:
                - test-tag
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications?order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&tag=test-tag
        method: GET
      response:
        body: '{"applications":[{"id":"ed372280-5403-49fe-b336-7b8cc2b2a930","name":"test-app-list-2","description":"","created_at":"2026-05-21T15:22:46.971626Z","updated_at":"2026-05-21T15:22:47.989507Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":["test-tag"]}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.944632ms
    - id: 18
      request:
        host: api.scaleway.com
        form:
            name:
                - test-app-list-1
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications?name=test-app-list-1&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"applications":[{"id":"652335d9-3bf3-4a76-8f8e-4d39571c09d5","name":"test-app-list-1","description":"","created_at":"2026-05-21T15:22:46.094008Z","updated_at":"2026-05-21T15:22:47.995548Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":["toto"]}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.380076ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/652335d9-3bf3-4a76-8f8e-4d39571c09d5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"652335d9-3bf3-4a76-8f8e-4d39571c09d5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 57.472664ms
[...]
