---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_app_key_list_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"a94c31ce-e268-4f19-a5d5-5f5075c46d9b", "name":"tf_tests_app_key_list_basic", "description":"", "created_at":"2026-06-16T09:32:00.768480Z", "updated_at":"2026-06-16T09:32:00.768480Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 241.501442ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/a94c31ce-e268-4f19-a5d5-5f5075c46d9b
        method: GET
      response:
        body: '{"id":"a94c31ce-e268-4f19-a5d5-5f5075c46d9b", "name":"tf_tests_app_key_list_basic", "description":"", "created_at":"2026-06-16T09:32:00.768480Z", "updated_at":"2026-06-16T09:32:00.768480Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.738692ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"application_id":"a94c31ce-e268-4f19-a5d5-5f5075c46d9b","description":"test-api-key-list-1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWBN9HR9AA2PZHPSSNV", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"test-api-key-list-1", "created_at":"2026-06-16T09:32:01.136614Z", "updated_at":"2026-06-16T09:32:01.136614Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153", "application_id":"a94c31ce-e268-4f19-a5d5-5f5075c46d9b"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 313.168424ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"access_key":"SCWBN9HR9AA2PZHPSSNV", "secret_key":null, "description":"test-api-key-list-1", "created_at":"2026-06-16T09:32:01.136614Z", "updated_at":"2026-06-16T09:32:01.136614Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153", "application_id":"a94c31ce-e268-4f19-a5d5-5f5075c46d9b"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 321.29185ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        form:
            bearer_type:
                - unknown_bearer_type
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys?bearer_type=unknown_bearer_type&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"api_keys":[{"access_key":"SCWY48KAJYQE3EHTVAG6", "secret_key":null, "description":"esoulard", "created_at":"2026-03-24T15:10:41.081963Z", "updated_at":"2026-03-24T15:10:41.081963Z", "expires_at":"2027-03-24T15:10:40.879Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9", "user_id":"0b8cc93b-dfd2-4427-b674-8d27affb0334"}, {"access_key":"SCWP7Z6GF21G5C6AHW8A", "secret_key":null, "description":"jremy", "created_at":"2026-03-26T14:38:12.000609Z", "updated_at":"2026-03-26T14:38:12.000609Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.145", "user_id":"ee474852-1f90-4cc1-bad0-4a17998c51e7"}, {"access_key":"SCW9S2TRP4KTKS44DZWP", "secret_key":null, "description":"", "c[...]
    - id: 11
      request:
        host: api.scaleway.com
        form:
            bearer_type:
                - unknown_bearer_type
            description:
                - test-api-key-list-1
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys?bearer_type=unknown_bearer_type&description=test-api-key-list-1&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"api_keys":[{"access_key":"SCWBN9HR9AA2PZHPSSNV", "secret_key":null, "description":"test-api-key-list-1", "created_at":"2026-06-16T09:32:01.136614Z", "updated_at":"2026-06-16T09:32:01.136614Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153", "application_id":"a94c31ce-e268-4f19-a5d5-5f5075c46d9b"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 452.222023ms
    - id: 12
      request:
        host: api.scaleway.com
        form:
            bearer_type:
                - unknown_bearer_type
            editable:
                - "true"
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys?bearer_type=unknown_bearer_type&editable=true&order_by=create[...]
    - id: 13
      request:
        host: api.scaleway.com
        form:
            bearer_type:
                - unknown_bearer_type
            expired:
                - "false"
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys?bearer_type=unknown_bearer_type&expired=false&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"api_keys":[{"access_key":"SCWY48KA[...]
    - id: 14
      request:
        host: api.scaleway.com
        form:
            bearer_id:
                - a94c31ce-e268-4f19-a5d5-5f5075c46d9b
            bearer_type:
                - application
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys?bearer_id=a94c31ce-e268-4f19-a5d5-5f5075c46d9b&bearer_type=application&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"api_keys":[{"access_key":"SCWBN9HR9AA2PZHPSSNV", "secret_key":null, "description":"test-api-key-list-1", "created_at":"2026-06-16T09:32:01.136614Z", "updated_at":"2026-06-16T09:32:01.136614Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153", "application_id":"a94c31ce-e268-4f19-a5d5-5f5075c46d9b"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.085106ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWBN9HR9AA2PZHPSSNV","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.648249ms
[...]
