---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["toto"],"member":{"email":"test-user-list-1@example.com","send_password_email":false,"send_welcome_email":false,"username":"test-user-list-1","password":"","first_name":"","last_name":"","phone_number":"","locale":""}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"id":"7115d776-218f-4f87-9b9b-cfd993c1ce3a","email":"test-user-list-1@example.com","username":"test-user-list-1","first_name":"","last_name":"","phone_number":"","locale":"en_US","created_at":"2026-05-21T15:02:23.292074Z","updated_at":"2026-05-21T15:02:23.292074Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"last_login_at":null,"type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":["toto"],"locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 456.147919ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/7115d776-218f-4f87-9b9b-cfd993c1ce3a
        method: GET
      response:
        body: '{"id":"7115d776-218f-4f87-9b9b-cfd993c1ce3a","email":"test-user-list-1@example.com","username":"test-user-list-1","first_name":"","last_name":"","phone_number":"","locale":"en_US","created_at":"2026-05-21T15:02:23.292074Z","updated_at":"2026-05-21T15:02:23.292074Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"last_login_at":null,"type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":["toto"],"locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.32744ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users?order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&type=unknown_type
        method: GET
      response:
        body: '{"users":[{"id":"ef29ce05-3f2b-4fa0-a259-d76110850d57","email":"hashicorp@scaleway.com","username":"hashicorp@scaleway.com","first_name":"","last_name":"","phone_number":"","locale":"fr_FR","created_at":"2022-03-29T11:44:54.791271Z","updated_at":"2026-03-30T08:13:49.666782Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":false,"last_login_at":"2026-03-30T08:13:49.689533Z","type":"owner","two_factor_enabled":true,"status":"activated","mfa":true,"account_root_user_id":"afa9fc32-9d43-4[...]
    - id: 9
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
            tag:
                - test-tag
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users?order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&tag=test-tag&type=unknown_type
        method: GET
      response:
        body: '{"users":[{"id":"1edd69a5-51e5-4155-8584-5297bf64e824","email":"test-user-list-2@example.com","username":"test-user-list-2","first_name":"","last_name":"","phone_number":"","locale":"en_US","created_at":"2026-05-21T15:02:24.824864Z","updated_at":"2026-05-21T15:02:24.824864Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"last_login_at":null,"type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":["test-tag"],"locked":false}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.523727ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/7115d776-218f-4f87-9b9b-cfd993c1ce3a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"user","resource_id":"7115d776-218f-4f87-9b9b-cfd993c1ce3a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.656112ms
[...]
