---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"member":{"email":"test-user-mfa-1@example.com","send_password_email":false,"send_welcome_email":false,"username":"test-user-mfa-1","password":"","first_name":"","last_name":"","phone_number":"","locale":""}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"id":"a5911b8a-6b4b-40f6-a6b0-296cd5f427ba","email":"test-user-mfa-1@example.com","username":"test-user-mfa-1","first_name":"","last_name":"","phone_number":"","locale":"en_US","created_at":"2026-05-20T15:13:16.760892Z","updated_at":"2026-05-20T15:13:16.760892Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"last_login_at":null,"type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":[],"locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 487.756235ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/a5911b8a-6b4b-40f6-a6b0-296cd5f427ba
        method: GET
      response:
        body: '{"id":"a5911b8a-6b4b-40f6-a6b0-296cd5f427ba","email":"test-user-mfa-1@example.com","username":"test-user-mfa-1","first_name":"","last_name":"","phone_number":"","locale":"en_US","created_at":"2026-05-20T15:13:16.760892Z","updated_at":"2026-05-20T15:13:16.760892Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"last_login_at":null,"type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":[],"locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.11571ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        form:
            mfa:
                - "false"
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users?mfa=false&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&type=unknown_type
        method: GET
      response:
        body: '{"users":[{"id":"ee474852-1f90-4cc1-bad0-4a17998c51e7","email":"jremy@scaleway.com","username":"jremy@scaleway.com","first_name":"Jonathan","last_name":"REMY","phone_number":"","locale":"en_US","created_at":"2024-01-17T13:14:30.940996Z","updated_at":"2026-05-18T09:21:05.485853Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"last_login_at":"2026-05-18T09:21:05.505330Z","type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":[...]
[...]
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/a5911b8a-6b4b-40f6-a6b0-296cd5f427ba
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"user","resource_id":"a5911b8a-6b4b-40f6-a6b0-296cd5f427ba","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.799513ms
