---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-group-list-1","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"id":"6d15e83a-ddfb-4d38-b30c-c42c58b84901","created_at":"2026-05-19T12:02:53.046411Z","updated_at":"2026-05-19T12:02:53.046411Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-group-list-1","description":"","user_ids":[],"application_ids":[],"tags":[],"editable":true,"deletable":true,"managed":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.252631ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/6d15e83a-ddfb-4d38-b30c-c42c58b84901
        method: GET
      response:
        body: '{"id":"6d15e83a-ddfb-4d38-b30c-c42c58b84901","created_at":"2026-05-19T12:02:53.046411Z","updated_at":"2026-05-19T12:02:53.046411Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-group-list-1","description":"","user_ids":[],"application_ids":[],"tags":[],"editable":true,"deletable":true,"managed":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.081904ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            name:
                - test-group-list-1
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups?name=test-group-list-1&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"groups":[{"id":"6d15e83a-ddfb-4d38-b30c-c42c58b84901","created_at":"2026-05-19T12:02:53.046411Z","updated_at":"2026-05-19T12:02:53.046411Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-group-list-1","description":"","user_ids":[],"application_ids":[],"tags":[],"editable":true,"deletable":true,"managed":false}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.969688ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
            tag:
                - test-tag
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups?order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&tag=test-tag
        method: GET
      response:
        body: '{"groups":[{"id":"bee63135-023d-4c48-9a03-3281451177de","created_at":"2026-05-19T12:02:53.990555Z","updated_at":"2026-05-19T12:02:55.358730Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-group-list-2","description":"","user_ids":[],"application_ids":[],"tags":["test-tag"],"editable":true,"deletable":true,"managed":false}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.016463ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/6d15e83a-ddfb-4d38-b30c-c42c58b84901
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"6d15e83a-ddfb-4d38-b30c-c42c58b84901","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.381828ms
[...]
