---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-group-list-1","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/20fc4392-fb5f-4e70-bf1a-3ddeefa8beaf", "id":"20fc4392-fb5f-4e70-bf1a-3ddeefa8beaf", "created_at":"2026-10-07T13:42:50.904098Z", "updated_at":"2026-10-07T13:42:50.904098Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-group-list-1", "description":"", "user_ids":[], "application_ids":[], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 76.462326ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 16.450376ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/20fc4392-fb5f-4e70-bf1a-3ddeefa8beaf
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/20fc4392-fb5f-4e70-bf1a-3ddeefa8beaf", "id":"20fc4392-fb5f-4e70-bf1a-3ddeefa8beaf", "created_at":"2026-10-07T13:42:50.904098Z", "updated_at":"2026-10-07T13:42:50.904098Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-group-list-1", "description":"", "user_ids":[], "application_ids":[], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 43.992805ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        form:
            name:
                - test-group-list-1
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups?name=test-group-list-1&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"groups":[{"srn":"srn://iam.scw.eu/groups/20fc4392-fb5f-4e70-bf1a-3ddeefa8beaf","id":"20fc4392-fb5f-4e70-bf1a-3ddeefa8beaf","created_at":"2026-10-07T13:42:50.904098Z","updated_at":"2026-10-07T13:42:50.904098Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-group-list-1","description":"","user_ids":[],"application_ids":[],"tags":[],"editable":true,"deletable":true,"managed":false,"all_users":false,"all_applications":false}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "38"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 137.216893ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
            tag:
                - test-tag
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups?order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&tag=test-tag
        method: GET
      response:
        body: '{"groups":[{"srn":"srn://iam.scw.eu/groups/dd59dbc9-ac68-4850-b867-08e0adf636c6","id":"dd59dbc9-ac68-4850-b867-08e0adf636c6","created_at":"2026-10-07T13:42:52.493788Z","updated_at":"2026-10-07T13:42:54.666961Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-group-list-2","description":"","user_ids":[],"application_ids":[],"tags":["test-tag"],"editable":true,"deletable":true,"managed":false,"all_users":false,"all_applications":false}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 84.84496ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/20fc4392-fb5f-4e70-bf1a-3ddeefa8beaf
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"20fc4392-fb5f-4e70-bf1a-3ddeefa8beaf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 34.715532ms
[...]
