---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["toto"],"member":{"email":"test-user-list-1@example.com","send_password_email":false,"send_welcome_email":false,"username":"test-user-list-1","password":"","first_name":"","last_name":"","phone_number":"","locale":""}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/users/2773cbc6-1652-4609-bb46-4e99ce073711", "id":"2773cbc6-1652-4609-bb46-4e99ce073711", "email":"test-user-list-1@example.com", "username":"test-user-list-1", "first_name":"", "last_name":"", "phone_number":"", "locale":"en_US", "created_at":"2026-10-07T13:42:27.817173Z", "updated_at":"2026-10-07T13:42:27.817173Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "deletable":true, "last_login_at":null, "type":"member", "two_factor_enabled":false, "status":"activated", "mfa":false, "account_root_user_id":"", "tags":["toto"], "locked":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 287.544617ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 19.495397ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/2773cbc6-1652-4609-bb46-4e99ce073711
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/users/2773cbc6-1652-4609-bb46-4e99ce073711", "id":"2773cbc6-1652-4609-bb46-4e99ce073711", "email":"test-user-list-1@example.com", "username":"test-user-list-1", "first_name":"", "last_name":"", "phone_number":"", "locale":"en_US", "created_at":"2026-10-07T13:42:27.817173Z", "updated_at":"2026-10-07T13:42:27.817173Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "deletable":true, "last_login_at":null, "type":"member", "two_factor_enabled":false, "status":"activated", "mfa":false, "account_root_user_id":"", "tags":["toto"], "locked":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "39"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 110.140511ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users?order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&type=unknown_type
        method: GET
      response:
        body: '{"users":[{"srn":"srn://iam.scw.eu/users/ef29ce05-3f2b-4fa0-a259-d76110850d57", "id":"ef29ce05-3f2b-4fa0-a259-d76110850d57", "email":"hashicorp@scaleway.com", "username":"hashicorp@scaleway.com", "first_name":"", "last_name":"", "phone_number":"", "locale":"fr_FR", "created_at":"2022-03-29T11:44:54.791271Z", "updated_at":"2026-03-30T08:13:49.666782Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "deletable":false, "last_login_at":"2026-03-30T08:13:49.689533Z", "type":"owner", "two_factor_ena[...]
    - id: 10
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
            tag:
                - test-tag
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users?order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&tag=test-tag&type=unknown_type
        method: GET
      response:
        body: '{"users":[{"srn":"srn://iam.scw.eu/users/ce341ee4-9843-47a0-b54d-4e7eb867ec4f","id":"ce341ee4-9843-47a0-b54d-4e7eb867ec4f","email":"test-user-list-2@example.com","username":"test-user-list-2","first_name":"","last_name":"","phone_number":"","locale":"en_US","created_at":"2026-10-07T13:42:30.142109Z","updated_at":"2026-10-07T13:42:30.142109Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"last_login_at":null,"type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":["test-tag"],"locked":false}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 55.967368ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/2773cbc6-1652-4609-bb46-4e99ce073711
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"user","resource_id":"2773cbc6-1652-4609-bb46-4e99ce073711","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 27.636847ms
[...]
