---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"member":{"email":"test-user-mfa@example.com","send_password_email":false,"send_welcome_email":false,"username":"test-user-mfa","password":"","first_name":"","last_name":"","phone_number":"","locale":""}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"id":"15838faf-63ad-49db-9bd8-582418393ce7","email":"test-user-mfa@example.com","username":"test-user-mfa","first_name":"","last_name":"","phone_number":"","locale":"en_US","created_at":"2026-05-26T07:43:32.427062Z","updated_at":"2026-05-26T07:43:32.427062Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"last_login_at":null,"type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":[],"locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 581.445876ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/15838faf-63ad-49db-9bd8-582418393ce7
        method: GET
      response:
        body: '{"id":"15838faf-63ad-49db-9bd8-582418393ce7","email":"test-user-mfa@example.com","username":"test-user-mfa","first_name":"","last_name":"","phone_number":"","locale":"en_US","created_at":"2026-05-26T07:43:32.427062Z","updated_at":"2026-05-26T07:43:32.427062Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"last_login_at":null,"type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":[],"locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 196.313621ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        form:
            mfa:
                - "false"
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users?mfa=false&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&type=unknown_type
        method: GET
      response:
        body: '{"users":[{"id":"ee474852-1f90-4cc1-bad0-4a17998c51e7","email":"jremy@scaleway.com","username":"jremy@scaleway.com","first_name":"Jonathan","last_name":"REMY","phone_number":"","locale":"en_US","created_at":"2024-01-17T13:14:30.940996Z","updated_at":"2026-05-26T04:41:03.388484Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"last_login_at":"2026-05-26T04:41:03.412454Z","type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":[...]
    - id: 4
      request:
        host: api.scaleway.com
        form:
            mfa:
                - "true"
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users?mfa=true&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-11111111111[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/15838faf-63ad-49db-9bd8-582418393ce7
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"user","resource_id":"15838faf-63ad-49db-9bd8-582418393ce7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.93976ms
