---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"member":{"email":"test-user-mfa@example.com","send_password_email":false,"send_welcome_email":false,"username":"test-user-mfa","password":"","first_name":"","last_name":"","phone_number":"","locale":""}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/users/120a6fb3-41cc-4604-a38a-7ddba3145947","id":"120a6fb3-41cc-4604-a38a-7ddba3145947","email":"test-user-mfa@example.com","username":"test-user-mfa","first_name":"","last_name":"","phone_number":"","locale":"en_US","created_at":"2026-10-07T13:42:27.894358Z","updated_at":"2026-10-07T13:42:27.894358Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"last_login_at":null,"type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":[],"locked":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 247.484594ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 15.393088ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/120a6fb3-41cc-4604-a38a-7ddba3145947
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/users/120a6fb3-41cc-4604-a38a-7ddba3145947","id":"120a6fb3-41cc-4604-a38a-7ddba3145947","email":"test-user-mfa@example.com","username":"test-user-mfa","first_name":"","last_name":"","phone_number":"","locale":"en_US","created_at":"2026-10-07T13:42:27.894358Z","updated_at":"2026-10-07T13:42:27.894358Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"last_login_at":null,"type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":[],"locked":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "38"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 88.6684ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        form:
            mfa:
                - "false"
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users?mfa=false&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&type=unknown_type
        method: GET
      response:
        body: '{"users":[{"srn":"srn://iam.scw.eu/users/ee474852-1f90-4cc1-bad0-4a17998c51e7","id":"ee474852-1f90-4cc1-bad0-4a17998c51e7","email":"jremy@scaleway.com","username":"jremy@scaleway.com","first_name":"Jonathan","last_name":"REMY","phone_number":"","locale":"en_US","created_at":"2024-01-17T13:14:30.940996Z","updated_at":"2026-09-28T09:01:26.870335Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"last_login_at":"2026-09-28T09:01:26.884772Z","type":"member","two_factor_enabled":fals[...]
    - id: 5
      request:
        host: api.scaleway.com
        form:
            mfa:
                - "true"
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users?mfa=true&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-11111111111[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/120a6fb3-41cc-4604-a38a-7ddba3145947
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"user","resource_id":"120a6fb3-41cc-4604-a38a-7ddba3145947","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 32.477945ms
