---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-app-list-1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/44ce3943-1a5b-444a-9cca-c693e4f3b114","id":"44ce3943-1a5b-444a-9cca-c693e4f3b114","name":"test-app-list-1","description":"","created_at":"2026-10-07T13:42:55.314325Z","updated_at":"2026-10-07T13:42:55.314325Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 57.07933ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 19.37419ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/44ce3943-1a5b-444a-9cca-c693e4f3b114
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/44ce3943-1a5b-444a-9cca-c693e4f3b114","id":"44ce3943-1a5b-444a-9cca-c693e4f3b114","name":"test-app-list-1","description":"","created_at":"2026-10-07T13:42:55.314325Z","updated_at":"2026-10-07T13:42:55.314325Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "34"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 38.45545ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications?order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"applications":[{"srn":"srn://iam.scw.eu/applications/baca7695-fe4e-48eb-8f24-e479c20ca3a6", "id":"baca7695-fe4e-48eb-8f24-e479c20ca3a6", "name":"terraform-provider", "description":"", "created_at":"2022-12-01T12:58:00.035298Z", "updated_at":"2022-12-01T12:58:00.035298Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}, {"srn":"srn://iam.scw.eu/applications/609bfa7f-1618-4eb4-af4b-cfc7b54f03cb", "id":"609bfa7f-1618-4eb4-a[...]
[...]
    - id: 18
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
            tag:
                - test-tag
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications?order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&tag=test-tag
        method: GET
      response:
        body: '{"applications":[{"srn":"srn://iam.scw.eu/applications/07fdab50-746e-4ba4-94be-e469da68238f","id":"07fdab50-746e-4ba4-94be-e469da68238f","name":"test-app-list-2","description":"","created_at":"2026-10-07T13:42:56.689091Z","updated_at":"2026-10-07T13:42:58.031880Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":["test-tag"]}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 107.66097ms
    - id: 19
      request:
        host: api.scaleway.com
        form:
            name:
                - test-app-list-1
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications?name=test-app-list-1&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"applications":[{"srn":"srn://iam.scw.eu/applications/44ce3943-1a5b-444a-9cca-c693e4f3b114","id":"44ce3943-1a5b-444a-9cca-c693e4f3b114","name":"test-app-list-1","description":"","created_at":"2026-10-07T13:42:55.314325Z","updated_at":"2026-10-07T13:42:58.018130Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":["toto"]}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 48.527439ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/44ce3943-1a5b-444a-9cca-c693e4f3b114
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"44ce3943-1a5b-444a-9cca-c693e4f3b114","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 49.277769ms
[...]
