---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-530906356225914112\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"bfa00ff5-8d76-469c-859f-31d421e5b4cf\",\"name\":\"test-acc-scaleway-project-530906356225914112\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:22.209533Z\",\"updated_at\":\"2025-09-05T12:00:22.209533Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 429.452971ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-5538847023710281919\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"fcc2be65-523c-4207-a2fb-de8e8a68aea9\",\"name\":\"test-acc-scaleway-iam-app-5538847023710281919\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:22.616600Z\",\"updated_at\":\"2025-09-05T12:00:22.616600Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 195.59357ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-3991359554641253200\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"fcc2be65-523c-4207-a2fb-de8e8a68aea9\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"dfa96a11-2e29-46ba-a877-c808dfc11a77\",\"name\":\"test-acc-scaleway-iam-policy-3991359554641253200\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:22.811915Z\",\"updated_at\":\"2025-09-05T12:00:22.811915Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"application_id\":\"fcc2be65-523c-4207-a2fb-de8e8a68aea9\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 228.859986ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"fcc2be65-523c-4207-a2fb-de8e8a68aea9\",\"default_project_id\":\"bfa00ff5-8d76-469c-859f-31d421e5b4cf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWEGFYT2G56FB1WX9B5\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:23.063323Z\",\"updated_at\":\"2025-09-05T12:00:23.063323Z\",\"expires_at\":null,\"default_project_id\":\"bfa00ff5-8d76-469c-859f-31d421e5b4cf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"130.180.219.188\",\"application_id\":\"fcc2be65-523c-4207-a2fb-de8e8a68aea9\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 222.097306ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_policy_condition\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"1 == 1\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"2eb5528e-c0bb-4392-bdb8-d815dc21de7d\",\"name\":\"tf_tests_policy_condition\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:39.241007Z\",\"updated_at\":\"2025-09-05T12:00:39.241007Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 155.467455ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/2eb5528e-c0bb-4392-bdb8-d815dc21de7d
    method: GET
  response:
    body: "{\"id\":\"2eb5528e-c0bb-4392-bdb8-d815dc21de7d\",\"name\":\"tf_tests_policy_condition\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:39.241007Z\",\"updated_at\":\"2025-09-05T12:00:39.241007Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":1,\"nb_scopes\":1,\"nb_permission_sets\":1,\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 194.839192ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      policy_id:
      - 2eb5528e-c0bb-4392-bdb8-d815dc21de7d
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=2eb5528e-c0bb-4392-bdb8-d815dc21de7d
    method: GET
  response:
    body: "{\"rules\":[{\"id\":\"8d14c883-302d-490a-84cd-9dd10b8dfea0\",\"permission_set_names\":[\"AllProductsFullAccess\"],\"permission_sets_scope_type\":\"projects\",\"condition\":\"1 == 1\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 128.681018ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"policy_id\":\"2eb5528e-c0bb-4392-bdb8-d815dc21de7d\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"request.user_agent == 'terraform-test'\",\"project_ids\":[\"105bdce1-64c0-48ab-899d-868455867ecf\"]}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: "{\"rules\":[{\"id\":\"c9118c5a-e26b-4aad-a136-9448afb74bcc\",\"permission_set_names\":[\"AllProductsFullAccess\"],\"permission_sets_scope_type\":\"projects\",\"condition\":\"request.user_agent == 'terraform-test'\",\"project_ids\":[\"105bdce1-64c0-48ab-899d-868455867ecf\"]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 128.519001ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWEGFYT2G56FB1WX9B5
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 126.538236ms
[...]
- id: 29
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/fcc2be65-523c-4207-a2fb-de8e8a68aea9
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 146.059269ms
- id: 30
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/bfa00ff5-8d76-469c-859f-31d421e5b4cf
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.501599379s
- id: 31
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/2eb5528e-c0bb-4392-bdb8-d815dc21de7d
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"policy\",\"resource_id\":\"2eb5528e-c0bb-4392-bdb8-d815dc21de7d\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 54.887232ms
