---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-3013363563443680398\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"129cff82-8a46-4662-9420-60b41dbc8970\", \"name\":\"test-acc-scaleway-project-3013363563443680398\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:28.336098Z\", \"updated_at\":\"2025-11-17T17:10:28.336098Z\", \"description\":\"\", \"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 362.287208ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-4986595117306118332\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"a7a8088f-999f-4967-ba7e-7f8067c2653a\", \"name\":\"test-acc-scaleway-iam-app-4986595117306118332\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:28.810787Z\", \"updated_at\":\"2025-11-17T17:10:28.810787Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 199.11231ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-8292882393260419796\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"a7a8088f-999f-4967-ba7e-7f8067c2653a\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"aab68974-dd14-4d58-8283-23663860ec8d\", \"name\":\"test-acc-scaleway-iam-policy-8292882393260419796\", \"description\":\"\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:29.023994Z\", \"updated_at\":\"2025-11-17T17:10:29.023994Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":0, \"nb_scopes\":0, \"nb_permission_sets\":0, \"tags\":[], \"application_id\":\"a7a8088f-999f-4967-ba7e-7f8067c2653a\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 292.743009ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"a7a8088f-999f-4967-ba7e-7f8067c2653a\",\"default_project_id\":\"129cff82-8a46-4662-9420-60b41dbc8970\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWZ5YGTZGGN3H5EMQ8T\", \"secret_key\":\"11111111-1111-1111-1111-111111111111\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:29.389238Z\", \"updated_at\":\"2025-11-17T17:10:29.389238Z\", \"expires_at\":null, \"default_project_id\":\"129cff82-8a46-4662-9420-60b41dbc8970\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"51.159.46.153\", \"application_id\":\"a7a8088f-999f-4967-ba7e-7f8067c2653a\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 369.282541ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_policy_changeruleprincipal\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"5427b393-f364-41be-a212-e7b6d87fbe65\", \"name\":\"tf_tests_policy_changeruleprincipal\", \"description\":\"a description\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:48.547775Z\", \"updated_at\":\"2025-11-17T17:10:48.547775Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":0, \"nb_scopes\":0, \"nb_permission_sets\":0, \"tags\":[], \"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 183.091485ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/5427b393-f364-41be-a212-e7b6d87fbe65
    method: GET
  response:
    body: "{\"id\":\"5427b393-f364-41be-a212-e7b6d87fbe65\", \"name\":\"tf_tests_policy_changeruleprincipal\", \"description\":\"a description\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:48.547775Z\", \"updated_at\":\"2025-11-17T17:10:48.547775Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":1, \"nb_scopes\":1, \"nb_permission_sets\":1, \"tags\":[], \"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 139.560745ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      policy_id:
      - 5427b393-f364-41be-a212-e7b6d87fbe65
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=5427b393-f364-41be-a212-e7b6d87fbe65
    method: GET
  response:
    body: "{\"rules\":[{\"id\":\"66f1d551-6cd9-43d0-bd32-fab87c03d87f\", \"permission_set_names\":[\"AllProductsFullAccess\"], \"permission_sets_scope_type\":\"projects\", \"condition\":\"\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 74.779521ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"policy_id\":\"5427b393-f364-41be-a212-e7b6d87fbe65\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"\",\"project_ids\":[\"105bdce1-64c0-48ab-899d-868455867ecf\"]}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: "{\"rules\":[{\"id\":\"85b4082d-f05a-4a74-aa13-6bc5e78ad83f\", \"permission_set_names\":[\"AllProductsFullAccess\"], \"permission_sets_scope_type\":\"projects\", \"condition\":\"\", \"project_ids\":[\"105bdce1-64c0-48ab-899d-868455867ecf\"]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 87.055054ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 80.308867ms
[...]
- id: 21
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/a7a8088f-999f-4967-ba7e-7f8067c2653a
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 114.045299ms
- id: 22
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/129cff82-8a46-4662-9420-60b41dbc8970
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.347421085s
- id: 23
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/5427b393-f364-41be-a212-e7b6d87fbe65
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"policy\",\"resource_id\":\"5427b393-f364-41be-a212-e7b6d87fbe65\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 34.057949ms
