---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-6525770916033264469\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"f4d66c2f-cdbe-42db-9b7a-7bf71a8b7ebc\",\"name\":\"test-acc-scaleway-project-6525770916033264469\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:17.716938Z\",\"updated_at\":\"2025-09-05T12:00:17.716938Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 445.910926ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-8445644832709470922\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"e22296e5-1040-47e5-8ede-b12850862d76\",\"name\":\"test-acc-scaleway-iam-app-8445644832709470922\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:18.125118Z\",\"updated_at\":\"2025-09-05T12:00:18.125118Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 175.150755ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-6938723193327470021\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"e22296e5-1040-47e5-8ede-b12850862d76\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"78868f8a-673b-49c8-beef-dd36ce6fbec6\",\"name\":\"test-acc-scaleway-iam-policy-6938723193327470021\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:18.312656Z\",\"updated_at\":\"2025-09-05T12:00:18.312656Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"application_id\":\"e22296e5-1040-47e5-8ede-b12850862d76\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 210.78393ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"e22296e5-1040-47e5-8ede-b12850862d76\",\"default_project_id\":\"f4d66c2f-cdbe-42db-9b7a-7bf71a8b7ebc\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWGSF48WVJDRTFREERG\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:18.586131Z\",\"updated_at\":\"2025-09-05T12:00:18.586131Z\",\"expires_at\":null,\"default_project_id\":\"f4d66c2f-cdbe-42db-9b7a-7bf71a8b7ebc\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"130.180.219.188\",\"application_id\":\"e22296e5-1040-47e5-8ede-b12850862d76\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 253.115901ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_policy_noupdate\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"b87454af-4f02-455d-b683-c975d2327879\",\"name\":\"tf_tests_policy_noupdate\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:28.249806Z\",\"updated_at\":\"2025-09-05T12:00:28.249806Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 190.057092ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/b87454af-4f02-455d-b683-c975d2327879
    method: GET
  response:
    body: "{\"id\":\"b87454af-4f02-455d-b683-c975d2327879\",\"name\":\"tf_tests_policy_noupdate\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:28.249806Z\",\"updated_at\":\"2025-09-05T12:00:28.249806Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":1,\"nb_scopes\":1,\"nb_permission_sets\":1,\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 117.348495ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      policy_id:
      - b87454af-4f02-455d-b683-c975d2327879
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=b87454af-4f02-455d-b683-c975d2327879
    method: GET
  response:
    body: "{\"rules\":[{\"id\":\"01b3bc21-3807-411c-8d1e-93e3955a26cf\",\"permission_set_names\":[\"AllProductsFullAccess\"],\"permission_sets_scope_type\":\"projects\",\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 77.469995ms
[...]
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWGSF48WVJDRTFREERG
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 181.115744ms
[...]
- id: 18
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/e22296e5-1040-47e5-8ede-b12850862d76
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 153.751721ms
- id: 19
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/f4d66c2f-cdbe-42db-9b7a-7bf71a8b7ebc
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.564239708s
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/b87454af-4f02-455d-b683-c975d2327879
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"policy\",\"resource_id\":\"b87454af-4f02-455d-b683-c975d2327879\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 23.258708ms
