---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-5552263153841089349\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"615c8b20-a104-4aaf-b0c9-e166f23c1d65\",\"name\":\"test-acc-scaleway-project-5552263153841089349\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:16.558121Z\",\"updated_at\":\"2025-09-05T12:00:16.558121Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 640.422067ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-333600066798963831\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"d3d3c249-2ddd-483d-bb6a-589a106bc7dd\",\"name\":\"test-acc-scaleway-iam-app-333600066798963831\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:17.009853Z\",\"updated_at\":\"2025-09-05T12:00:17.009853Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 200.932736ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-3644578426165093891\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"d3d3c249-2ddd-483d-bb6a-589a106bc7dd\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"62811daf-8f3f-4806-9f56-3fc762e5815b\",\"name\":\"test-acc-scaleway-iam-policy-3644578426165093891\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:17.202980Z\",\"updated_at\":\"2025-09-05T12:00:17.202980Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"application_id\":\"d3d3c249-2ddd-483d-bb6a-589a106bc7dd\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 241.116932ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"d3d3c249-2ddd-483d-bb6a-589a106bc7dd\",\"default_project_id\":\"615c8b20-a104-4aaf-b0c9-e166f23c1d65\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWFB5YGF82TAHKYW3DE\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:17.496344Z\",\"updated_at\":\"2025-09-05T12:00:17.496344Z\",\"expires_at\":null,\"default_project_id\":\"615c8b20-a104-4aaf-b0c9-e166f23c1d65\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"130.180.219.188\",\"application_id\":\"d3d3c249-2ddd-483d-bb6a-589a106bc7dd\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 244.586553ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_policy_basic\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"},{\"permission_set_names\":[\"ContainerRegistryReadOnly\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":[\"tf_tests\",\"tests\"],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"f8b71b03-de91-4b68-bcf8-bf89912a654a\",\"name\":\"tf_tests_policy_basic\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:28.228019Z\",\"updated_at\":\"2025-09-05T12:00:28.228019Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[\"tf_tests\",\"tests\"],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 268.108188ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/f8b71b03-de91-4b68-bcf8-bf89912a654a
    method: GET
  response:
    body: "{\"id\":\"f8b71b03-de91-4b68-bcf8-bf89912a654a\",\"name\":\"tf_tests_policy_basic\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:28.228019Z\",\"updated_at\":\"2025-09-05T12:00:28.228019Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":2,\"nb_scopes\":1,\"nb_permission_sets\":2,\"tags\":[\"tf_tests\",\"tests\"],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 168.15357ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      policy_id:
      - f8b71b03-de91-4b68-bcf8-bf89912a654a
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=f8b71b03-de91-4b68-bcf8-bf89912a654a
    method: GET
  response:
    body: "{\"rules\":[{\"id\":\"4b099031-6fe4-4eb7-93d9-3d49a0e88cfc\",\"permission_set_names\":[\"AllProductsFullAccess\"],\"permission_sets_scope_type\":\"projects\",\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"},{\"id\":\"2abcc6f1-dd8f-471c-b21b-1dcf9a432263\",\"permission_set_names\":[\"ContainerRegistryReadOnly\"],\"permission_sets_scope_type\":\"projects\",\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"total_count\":2}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 153.888323ms
[...]
- id: 13
  request:
    host: api.scaleway.com
    body: "{\"policy_id\":\"f8b71b03-de91-4b68-bcf8-bf89912a654a\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: "{\"rules\":[{\"id\":\"a31ad3d6-a7b2-46e9-ac99-6cd45a5f37bc\",\"permission_set_names\":[\"AllProductsFullAccess\"],\"permission_sets_scope_type\":\"projects\",\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 90.876517ms
[...]
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWFB5YGF82TAHKYW3DE
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 202.289674ms
[...]
- id: 22
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/d3d3c249-2ddd-483d-bb6a-589a106bc7dd
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 158.834823ms
- id: 23
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/615c8b20-a104-4aaf-b0c9-e166f23c1d65
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.811019911s
- id: 24
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/f8b71b03-de91-4b68-bcf8-bf89912a654a
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"policy\",\"resource_id\":\"f8b71b03-de91-4b68-bcf8-bf89912a654a\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 36.814421ms
