---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-7494891224788293219\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"6738bc68-9d08-428c-8ad2-6b127ae4c23d\",\"name\":\"test-acc-scaleway-project-7494891224788293219\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T14:10:43.017955Z\",\"updated_at\":\"2025-09-23T14:10:43.017955Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.089565597s
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-5734098666316967013\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"7b1c0c19-d13f-4b99-b41c-c303f5ae2d6f\",\"name\":\"test-acc-scaleway-iam-app-5734098666316967013\",\"description\":\"\",\"created_at\":\"2025-09-23T14:10:44.004801Z\",\"updated_at\":\"2025-09-23T14:10:44.004801Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 923.746686ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-67321630924080235\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"7b1c0c19-d13f-4b99-b41c-c303f5ae2d6f\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"232d3fc6-1e33-4c35-a641-3c1f8821a0f4\",\"name\":\"test-acc-scaleway-iam-policy-67321630924080235\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T14:10:44.919615Z\",\"updated_at\":\"2025-09-23T14:10:44.919615Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"application_id\":\"7b1c0c19-d13f-4b99-b41c-c303f5ae2d6f\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 641.569886ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"7b1c0c19-d13f-4b99-b41c-c303f5ae2d6f\",\"default_project_id\":\"6738bc68-9d08-428c-8ad2-6b127ae4c23d\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWVAXBC13X3XYW2Q4PX\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"\",\"created_at\":\"2025-09-23T14:10:45.644161Z\",\"updated_at\":\"2025-09-23T14:10:45.644161Z\",\"expires_at\":null,\"default_project_id\":\"6738bc68-9d08-428c-8ad2-6b127ae4c23d\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"51.159.73.145\",\"application_id\":\"7b1c0c19-d13f-4b99-b41c-c303f5ae2d6f\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 260.385364ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_policy_changeruleprincipal\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"48db3053-9997-4d4c-a552-2ea43a04e45c\",\"name\":\"tf_tests_policy_changeruleprincipal\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T14:10:48.320645Z\",\"updated_at\":\"2025-09-23T14:10:48.320645Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 745.485136ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/48db3053-9997-4d4c-a552-2ea43a04e45c
    method: GET
  response:
    body: "{\"id\":\"48db3053-9997-4d4c-a552-2ea43a04e45c\",\"name\":\"tf_tests_policy_changeruleprincipal\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T14:10:48.320645Z\",\"updated_at\":\"2025-09-23T14:10:48.320645Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":1,\"nb_scopes\":1,\"nb_permission_sets\":1,\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 314.000363ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      policy_id:
      - 48db3053-9997-4d4c-a552-2ea43a04e45c
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=48db3053-9997-4d4c-a552-2ea43a04e45c
    method: GET
  response:
    body: "{\"rules\":[{\"id\":\"c0bbd08d-7d53-4a53-833e-3f80d0b14fc7\",\"permission_set_names\":[\"AllProductsFullAccess\"],\"permission_sets_scope_type\":\"projects\",\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 493.931782ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"policy_id\":\"48db3053-9997-4d4c-a552-2ea43a04e45c\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"\",\"project_ids\":[\"105bdce1-64c0-48ab-899d-868455867ecf\"]}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: "{\"rules\":[{\"id\":\"82527f81-fbae-4671-afbb-8351980cb81b\",\"permission_set_names\":[\"AllProductsFullAccess\"],\"permission_sets_scope_type\":\"projects\",\"condition\":\"\",\"project_ids\":[\"105bdce1-64c0-48ab-899d-868455867ecf\"]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 469.941581ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 702.746832ms
[...]
- id: 21
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/7b1c0c19-d13f-4b99-b41c-c303f5ae2d6f
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 254.26813ms
- id: 22
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/6738bc68-9d08-428c-8ad2-6b127ae4c23d
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 2.105275722s
- id: 23
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/48db3053-9997-4d4c-a552-2ea43a04e45c
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"policy\",\"resource_id\":\"48db3053-9997-4d4c-a552-2ea43a04e45c\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 25.493792ms
