---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-6209231102561713916","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"id":"b672c5d2-3373-4a95-ab3d-7011ccbad59c", "name":"tf-test-scaleway-project-6209231102561713916", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:12.366936Z", "updated_at":"2026-06-12T15:44:12.366936Z", "description":"", "qualification":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 538.261187ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-5305353080232336981","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"4b39c93c-67eb-4b42-b0c6-89c173cc9d06", "name":"tf-test-scaleway-iam-app-5305353080232336981", "description":"", "created_at":"2026-06-12T15:44:12.736581Z", "updated_at":"2026-06-12T15:44:12.736581Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.627244ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-5445828786976264116","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"4b39c93c-67eb-4b42-b0c6-89c173cc9d06"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"id":"bca27c06-e175-4e17-8394-d52511fcabfd", "name":"tf-test-scaleway-iam-policy-5445828786976264116", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:12.798529Z", "updated_at":"2026-06-12T15:44:12.798529Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "application_id":"4b39c93c-67eb-4b42-b0c6-89c173cc9d06"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.594246ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"4b39c93c-67eb-4b42-b0c6-89c173cc9d06","default_project_id":"b672c5d2-3373-4a95-ab3d-7011ccbad59c","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWTWQQJMTY8MHY1HPEC", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"", "created_at":"2026-06-12T15:44:12.979214Z", "updated_at":"2026-06-12T15:44:12.979214Z", "expires_at":null, "default_project_id":"b672c5d2-3373-4a95-ab3d-7011ccbad59c", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.189.216.157", "application_id":"4b39c93c-67eb-4b42-b0c6-89c173cc9d06"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.839411ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_policy_changeruleprincipal","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"id":"76001fe0-df0a-41c6-a80f-62894879fcba", "name":"tf_tests_policy_changeruleprincipal", "description":"a description", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:14.015202Z", "updated_at":"2026-06-12T15:44:14.015202Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 175.463233ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/76001fe0-df0a-41c6-a80f-62894879fcba
        method: GET
      response:
        body: '{"id":"76001fe0-df0a-41c6-a80f-62894879fcba", "name":"tf_tests_policy_changeruleprincipal", "description":"a description", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:14.015202Z", "updated_at":"2026-06-12T15:44:14.015202Z", "editable":true, "deletable":true, "managed":false, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.045936ms
    - id: 6
      request:
        host: api.scaleway.com
        form:
            policy_id:
                - 76001fe0-df0a-41c6-a80f-62894879fcba
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=76001fe0-df0a-41c6-a80f-62894879fcba
        method: GET
      response:
        body: '{"rules":[{"id":"f695c9b8-f36b-4c7f-98e8-3157c7f47862", "permission_set_names":["AllProductsFullAccess"], "permission_sets_scope_type":"projects", "condition":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.382941ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"policy_id":"76001fe0-df0a-41c6-a80f-62894879fcba","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"","project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/rules
        method: PUT
      response:
        body: '{"rules":[{"id":"4f58c292-858f-4120-adcf-f55b9ef5750f", "permission_set_names":["AllProductsFullAccess"], "permission_sets_scope_type":"projects", "condition":"", "project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.889862ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 73.79913ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/4b39c93c-67eb-4b42-b0c6-89c173cc9d06
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 113.025095ms
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/b672c5d2-3373-4a95-ab3d-7011ccbad59c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.737476374s
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/76001fe0-df0a-41c6-a80f-62894879fcba
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"76001fe0-df0a-41c6-a80f-62894879fcba","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.445061ms
