---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-5196807875964187655\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"be1899bb-0d41-4026-9dcc-99b535071da2\",\"name\":\"test-acc-scaleway-project-5196807875964187655\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:18.875395Z\",\"updated_at\":\"2025-09-05T12:00:18.875395Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 505.344847ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-5972849556521886767\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"5c074dbb-7383-4d94-9ec2-f01ca4a2ea0c\",\"name\":\"test-acc-scaleway-iam-app-5972849556521886767\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:19.259211Z\",\"updated_at\":\"2025-09-05T12:00:19.259211Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 153.870303ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-6926232132901172067\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"5c074dbb-7383-4d94-9ec2-f01ca4a2ea0c\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"eecb64f6-0c15-4de5-843f-013fa5d0f493\",\"name\":\"test-acc-scaleway-iam-policy-6926232132901172067\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:19.457375Z\",\"updated_at\":\"2025-09-05T12:00:19.457375Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"application_id\":\"5c074dbb-7383-4d94-9ec2-f01ca4a2ea0c\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 239.523457ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"5c074dbb-7383-4d94-9ec2-f01ca4a2ea0c\",\"default_project_id\":\"be1899bb-0d41-4026-9dcc-99b535071da2\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWEP1DQ8ZA8PBA768R5\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:19.729745Z\",\"updated_at\":\"2025-09-05T12:00:19.729745Z\",\"expires_at\":null,\"default_project_id\":\"be1899bb-0d41-4026-9dcc-99b535071da2\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"130.180.219.188\",\"application_id\":\"5c074dbb-7383-4d94-9ec2-f01ca4a2ea0c\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 243.114455ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_policy_change_linked_entity\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"3f324fb1-6a3d-46ee-bfd0-c529313ab540\",\"name\":\"tf_tests_policy_change_linked_entity\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:28.201296Z\",\"updated_at\":\"2025-09-05T12:00:28.201296Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 148.647002ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/3f324fb1-6a3d-46ee-bfd0-c529313ab540
    method: GET
  response:
    body: "{\"id\":\"3f324fb1-6a3d-46ee-bfd0-c529313ab540\",\"name\":\"tf_tests_policy_change_linked_entity\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:28.201296Z\",\"updated_at\":\"2025-09-05T12:00:28.201296Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":1,\"nb_scopes\":1,\"nb_permission_sets\":1,\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 66.087534ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      policy_id:
      - 3f324fb1-6a3d-46ee-bfd0-c529313ab540
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=3f324fb1-6a3d-46ee-bfd0-c529313ab540
    method: GET
  response:
    body: "{\"rules\":[{\"id\":\"5260b6f0-1a0e-43f1-998a-45fe3ba4aeb6\",\"permission_set_names\":[\"AllProductsFullAccess\"],\"permission_sets_scope_type\":\"projects\",\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 130.549533ms
[...]
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/ec8dcef1-e048-4bed-8ece-94a27498f154
    method: GET
  response:
    body: "{\"id\":\"ec8dcef1-e048-4bed-8ece-94a27498f154\",\"name\":\"tf_tests_policy_change_linked_entity\",\"description\":\"a description\",\"created_at\":\"2025-09-05T12:00:33.754874Z\",\"updated_at\":\"2025-09-05T12:00:33.754874Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 125.231117ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    body: "{\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-tests-scaleway-iam-group-policy-permissions\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: "{\"id\":\"83365c27-44a8-4153-90c5-a220de523d76\",\"created_at\":\"2025-09-05T12:00:39.498576Z\",\"updated_at\":\"2025-09-05T12:00:39.498576Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-tests-scaleway-iam-group-policy-permissions\",\"description\":\"\",\"user_ids\":[],\"application_ids\":[],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 155.158465ms
- id: 28
  request:
    host: api.scaleway.com
    body: "{\"user_ids\":[],\"application_ids\":[\"ec0d54c6-083e-4907-bd27-c419bf9f745d\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/83365c27-44a8-4153-90c5-a220de523d76/members
    method: PUT
  response:
    body: "{\"id\":\"83365c27-44a8-4153-90c5-a220de523d76\",\"created_at\":\"2025-09-05T12:00:39.498576Z\",\"updated_at\":\"2025-09-05T12:00:39.498576Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-tests-scaleway-iam-group-policy-permissions\",\"description\":\"\",\"user_ids\":[],\"application_ids\":[\"ec0d54c6-083e-4907-bd27-c419bf9f745d\"],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 141.57075ms
- id: 29
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/83365c27-44a8-4153-90c5-a220de523d76
    method: GET
  response:
    body: "{\"id\":\"83365c27-44a8-4153-90c5-a220de523d76\",\"created_at\":\"2025-09-05T12:00:39.498576Z\",\"updated_at\":\"2025-09-05T12:00:39.498576Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-tests-scaleway-iam-group-policy-permissions\",\"description\":\"\",\"user_ids\":[],\"application_ids\":[\"ec0d54c6-083e-4907-bd27-c419bf9f745d\"],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 136.566807ms
- id: 30
  request:
    host: api.scaleway.com
    body: "{\"group_id\":\"83365c27-44a8-4153-90c5-a220de523d76\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies/3f324fb1-6a3d-46ee-bfd0-c529313ab540
    method: PATCH
  response:
    body: "{\"id\":\"3f324fb1-6a3d-46ee-bfd0-c529313ab540\",\"name\":\"tf_tests_policy_change_linked_entity\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:28.201296Z\",\"updated_at\":\"2025-09-05T12:00:28.201296Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":1,\"nb_scopes\":1,\"nb_permission_sets\":1,\"tags\":[],\"group_id\":\"83365c27-44a8-4153-90c5-a220de523d76\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 117.700583ms
[...]
- id: 41
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWEP1DQ8ZA8PBA768R5
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 268.841554ms
[...]
- id: 44
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/be1899bb-0d41-4026-9dcc-99b535071da2
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.918896625s
- id: 45
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/3f324fb1-6a3d-46ee-bfd0-c529313ab540
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"policy\",\"resource_id\":\"3f324fb1-6a3d-46ee-bfd0-c529313ab540\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 31.818934ms
