---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-612000940963500612","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"id":"c65568f4-4da7-47ce-9504-e28085e9df02", "name":"tf-test-scaleway-project-612000940963500612", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:05.645641Z", "updated_at":"2026-06-12T15:44:05.645641Z", "description":"", "qualification":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 823.486211ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-8284318612921343179","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"2e57910e-e3f9-414e-8b62-a674808be86e", "name":"tf-test-scaleway-iam-app-8284318612921343179", "description":"", "created_at":"2026-06-12T15:44:06.241264Z", "updated_at":"2026-06-12T15:44:06.241264Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.157191ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-3661333294240354465","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"2e57910e-e3f9-414e-8b62-a674808be86e"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"id":"4e9ef083-1a9b-41f5-82f4-cccc58ed259b", "name":"tf-test-scaleway-iam-policy-3661333294240354465", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:06.384731Z", "updated_at":"2026-06-12T15:44:06.384731Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "application_id":"2e57910e-e3f9-414e-8b62-a674808be86e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.743904ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"2e57910e-e3f9-414e-8b62-a674808be86e","default_project_id":"c65568f4-4da7-47ce-9504-e28085e9df02","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWW6DBV7386F9Y0CVPX", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"", "created_at":"2026-06-12T15:44:06.671713Z", "updated_at":"2026-06-12T15:44:06.671713Z", "expires_at":null, "default_project_id":"c65568f4-4da7-47ce-9504-e28085e9df02", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.189.216.157", "application_id":"2e57910e-e3f9-414e-8b62-a674808be86e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 260.008539ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_policy_basic","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"},{"permission_set_names":["ContainerRegistryReadOnly"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":["tf_tests","tests"],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"id":"aa686c31-13f9-4b02-acc1-d0d2e3d436f5", "name":"tf_tests_policy_basic", "description":"a description", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:14.039636Z", "updated_at":"2026-06-12T15:44:14.039636Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":["tf_tests", "tests"], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.760329ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/aa686c31-13f9-4b02-acc1-d0d2e3d436f5
        method: GET
      response:
        body: '{"id":"aa686c31-13f9-4b02-acc1-d0d2e3d436f5", "name":"tf_tests_policy_basic", "description":"a description", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:14.039636Z", "updated_at":"2026-06-12T15:44:14.039636Z", "editable":true, "deletable":true, "managed":false, "nb_rules":2, "nb_scopes":1, "nb_permission_sets":2, "tags":["tf_tests", "tests"], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.655392ms
    - id: 6
      request:
        host: api.scaleway.com
        form:
            policy_id:
                - aa686c31-13f9-4b02-acc1-d0d2e3d436f5
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=aa686c31-13f9-4b02-acc1-d0d2e3d436f5
        method: GET
      response:
        body: '{"rules":[{"id":"f1bba337-bfb4-4c59-8621-d6825629ab76", "permission_set_names":["AllProductsFullAccess"], "permission_sets_scope_type":"projects", "condition":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}, {"id":"6a09b15b-c0d6-411f-911e-48ec9718dc19", "permission_set_names":["ContainerRegistryReadOnly"], "permission_sets_scope_type":"projects", "condition":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}], "total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.006793ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"policy_id":"aa686c31-13f9-4b02-acc1-d0d2e3d436f5","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/rules
        method: PUT
      response:
        body: '{"rules":[{"id":"ce69fb8b-f531-4569-bcd4-36b75a2f86a2", "permission_set_names":["AllProductsFullAccess"], "permission_sets_scope_type":"projects", "condition":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.341478ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 181.854877ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/2e57910e-e3f9-414e-8b62-a674808be86e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 64.468132ms
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/c65568f4-4da7-47ce-9504-e28085e9df02
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.774911965s
    - id: 24
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/aa686c31-13f9-4b02-acc1-d0d2e3d436f5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"aa686c31-13f9-4b02-acc1-d0d2e3d436f5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.575909ms
