---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-5404244803372684352","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:33.365440Z","description":"","id":"d5cb12d5-d07d-4db8-9bca-a6d3c93e2291","name":"test-acc-scaleway-project-5404244803372684352","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-01-22T15:32:33.365440Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 613.222833ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-5453428515478351846","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:33.976766Z","deletable":true,"description":"","editable":true,"id":"afc1e5da-88dd-403e-be77-f4ec5fcc0a2c","managed":false,"name":"test-acc-scaleway-iam-app-5453428515478351846","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:33.976766Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.1185ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-6630132924765478050","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"afc1e5da-88dd-403e-be77-f4ec5fcc0a2c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"afc1e5da-88dd-403e-be77-f4ec5fcc0a2c","created_at":"2025-01-22T15:32:34.110021Z","deletable":true,"description":"","editable":true,"id":"238eb7db-7c06-4c9a-a0a8-cfd7a7935392","managed":false,"name":"test-acc-scaleway-iam-policy-6630132924765478050","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:34.110021Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 181.139959ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"afc1e5da-88dd-403e-be77-f4ec5fcc0a2c","default_project_id":"d5cb12d5-d07d-4db8-9bca-a6d3c93e2291","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW1FW5KBJKNN53003TB","application_id":"afc1e5da-88dd-403e-be77-f4ec5fcc0a2c","created_at":"2025-01-22T15:32:34.367651Z","creation_ip":"51.159.73.9","default_project_id":"d5cb12d5-d07d-4db8-9bca-a6d3c93e2291","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-01-22T15:32:34.367651Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 305.875375ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_policy_changepermissions","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":[],"no_principal":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:57.208661Z","deletable":true,"description":"a description","editable":true,"id":"2cfcd708-eed4-4607-b3bd-a6271f17a001","managed":false,"name":"tf_tests_policy_changepermissions","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"no_principal":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:57.208661Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.741416ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/2cfcd708-eed4-4607-b3bd-a6271f17a001
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:32:57.208661Z","deletable":true,"description":"a description","editable":true,"id":"2cfcd708-eed4-4607-b3bd-a6271f17a001","managed":false,"name":"tf_tests_policy_changepermissions","nb_permission_sets":1,"nb_rules":1,"nb_scopes":1,"no_principal":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:57.208661Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.642834ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=2cfcd708-eed4-4607-b3bd-a6271f17a001
        method: GET
      response:
        body: '{"rules":[{"condition":"","id":"93cb2454-96e2-461b-8840-514790a1746e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.912958ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"policy_id":"2cfcd708-eed4-4607-b3bd-a6271f17a001","rules":[{"permission_set_names":["AllProductsFullAccess","ContainerRegistryReadOnly"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/rules
        method: PUT
      response:
        body: '{"rules":[{"condition":"","id":"e9d2d296-37f6-44ba-a202-3ddc1b0c5e78","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","permission_set_names":["AllProductsFullAccess","ContainerRegistryReadOnly"],"permission_sets_scope_type":"projects"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.506917ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW1FW5KBJKNN53003TB
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 90.089583ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/afc1e5da-88dd-403e-be77-f4ec5fcc0a2c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 97.939459ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/d5cb12d5-d07d-4db8-9bca-a6d3c93e2291
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.293681625s
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/2cfcd708-eed4-4607-b3bd-a6271f17a001
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"2cfcd708-eed4-4607-b3bd-a6271f17a001","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.906042ms
