---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-6873112980395875120","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:34.601480Z","description":"","id":"dffea908-8f61-48d3-9f50-ad36c9964ba3","name":"test-acc-scaleway-project-6873112980395875120","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-01-22T15:32:34.601480Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 309.805958ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-1583854493031846011","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:34.924327Z","deletable":true,"description":"","editable":true,"id":"6037931c-13cf-43b4-90a4-856f5fe0fb2d","managed":false,"name":"test-acc-scaleway-iam-app-1583854493031846011","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:34.924327Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 144.553ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-7423393238946522405","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"6037931c-13cf-43b4-90a4-856f5fe0fb2d"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"6037931c-13cf-43b4-90a4-856f5fe0fb2d","created_at":"2025-01-22T15:32:35.039743Z","deletable":true,"description":"","editable":true,"id":"2b4522ab-774b-4c0b-9126-f1c97bd37ed4","managed":false,"name":"test-acc-scaleway-iam-policy-7423393238946522405","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:35.039743Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.333375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"6037931c-13cf-43b4-90a4-856f5fe0fb2d","default_project_id":"dffea908-8f61-48d3-9f50-ad36c9964ba3","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWQ7GTFYGV18YE5412K","application_id":"6037931c-13cf-43b4-90a4-856f5fe0fb2d","created_at":"2025-01-22T15:32:35.289859Z","creation_ip":"51.159.73.9","default_project_id":"dffea908-8f61-48d3-9f50-ad36c9964ba3","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-01-22T15:32:35.289859Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 216.554792ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_policy_projectid","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"","project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}],"tags":[],"no_principal":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:54.353441Z","deletable":true,"description":"a description","editable":true,"id":"9b7afe9f-4394-45c8-a431-d74054bd8b68","managed":false,"name":"tf_tests_policy_projectid","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"no_principal":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:54.353441Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.929583ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/9b7afe9f-4394-45c8-a431-d74054bd8b68
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:32:54.353441Z","deletable":true,"description":"a description","editable":true,"id":"9b7afe9f-4394-45c8-a431-d74054bd8b68","managed":false,"name":"tf_tests_policy_projectid","nb_permission_sets":1,"nb_rules":1,"nb_scopes":1,"no_principal":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:54.353441Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.755583ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=9b7afe9f-4394-45c8-a431-d74054bd8b68
        method: GET
      response:
        body: '{"rules":[{"condition":"","id":"7dbf6c6c-07e8-49a6-95a9-548b31e0f276","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.745958ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWQ7GTFYGV18YE5412K
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 105.718292ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/6037931c-13cf-43b4-90a4-856f5fe0fb2d
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 96.72825ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/dffea908-8f61-48d3-9f50-ad36c9964ba3
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.340240167s
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/9b7afe9f-4394-45c8-a431-d74054bd8b68
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"9b7afe9f-4394-45c8-a431-d74054bd8b68","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 51.57625ms
