---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-1011739640526254017","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:30.604990Z","description":"","id":"5309b022-82a3-4fe4-8435-056c87f0f96e","name":"test-acc-scaleway-project-1011739640526254017","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-01-22T15:32:30.604990Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 560.3055ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-5712825866758295142","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:31.005893Z","deletable":true,"description":"","editable":true,"id":"7f06d0b5-be1e-4988-a8fe-a23f30d54c2a","managed":false,"name":"test-acc-scaleway-iam-app-5712825866758295142","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:31.005893Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.054792ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-8604474126413414072","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"7f06d0b5-be1e-4988-a8fe-a23f30d54c2a"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"7f06d0b5-be1e-4988-a8fe-a23f30d54c2a","created_at":"2025-01-22T15:32:31.132091Z","deletable":true,"description":"","editable":true,"id":"b91bee60-3a4f-44e9-8727-878896b502f4","managed":false,"name":"test-acc-scaleway-iam-policy-8604474126413414072","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:31.132091Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.980292ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"7f06d0b5-be1e-4988-a8fe-a23f30d54c2a","default_project_id":"5309b022-82a3-4fe4-8435-056c87f0f96e","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW9FG79CQ4JZTYRE63E","application_id":"7f06d0b5-be1e-4988-a8fe-a23f30d54c2a","created_at":"2025-01-22T15:32:31.426608Z","creation_ip":"51.159.73.9","default_project_id":"5309b022-82a3-4fe4-8435-056c87f0f96e","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-01-22T15:32:31.426608Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 235.575625ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_policy_basic","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"},{"permission_set_names":["ContainerRegistryReadOnly"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":["tf_tests","tests"],"no_principal":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:44.731814Z","deletable":true,"description":"a description","editable":true,"id":"f4fa371a-b8a9-4a68-aff9-3c688c98d249","managed":false,"name":"tf_tests_policy_basic","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"no_principal":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["tf_tests","tests"],"updated_at":"2025-01-22T15:32:44.731814Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.892042ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/f4fa371a-b8a9-4a68-aff9-3c688c98d249
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:32:44.731814Z","deletable":true,"description":"a description","editable":true,"id":"f4fa371a-b8a9-4a68-aff9-3c688c98d249","managed":false,"name":"tf_tests_policy_basic","nb_permission_sets":2,"nb_rules":2,"nb_scopes":1,"no_principal":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["tf_tests","tests"],"updated_at":"2025-01-22T15:32:44.731814Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.566167ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=f4fa371a-b8a9-4a68-aff9-3c688c98d249
        method: GET
      response:
        body: '{"rules":[{"condition":"","id":"5a3c81a6-6a68-41ec-90cb-2404a0b5be3e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects"},{"condition":"","id":"29f16ad3-dd49-433d-ba68-3df058ed0445","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","permission_set_names":["ContainerRegistryReadOnly"],"permission_sets_scope_type":"projects"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.060792ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"policy_id":"f4fa371a-b8a9-4a68-aff9-3c688c98d249","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/rules
        method: PUT
      response:
        body: '{"rules":[{"condition":"","id":"d9f57218-9308-44d9-bedd-68f64173d703","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.189125ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW9FG79CQ4JZTYRE63E
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 98.825708ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/7f06d0b5-be1e-4988-a8fe-a23f30d54c2a
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 105.408208ms
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/5309b022-82a3-4fe4-8435-056c87f0f96e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.403871541s
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/f4fa371a-b8a9-4a68-aff9-3c688c98d249
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"f4fa371a-b8a9-4a68-aff9-3c688c98d249","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.055917ms
