---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-6595703997999574061\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"8ed42e37-154c-47a3-9395-815534969549\",\"name\":\"test-acc-scaleway-project-6595703997999574061\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T14:11:02.368538Z\",\"updated_at\":\"2025-09-23T14:11:02.368538Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.272480283s
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-4588206636109662436\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"cd5a6b43-d548-4fe5-9166-f3ec4df43811\",\"name\":\"test-acc-scaleway-iam-app-4588206636109662436\",\"description\":\"\",\"created_at\":\"2025-09-23T14:11:03.553636Z\",\"updated_at\":\"2025-09-23T14:11:03.553636Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.331172112s
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-7295691558697558487\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"cd5a6b43-d548-4fe5-9166-f3ec4df43811\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"081940a5-eb72-4ced-af62-876ef9e534bd\",\"name\":\"test-acc-scaleway-iam-policy-7295691558697558487\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T14:11:04.886114Z\",\"updated_at\":\"2025-09-23T14:11:04.886114Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"application_id\":\"cd5a6b43-d548-4fe5-9166-f3ec4df43811\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 220.60966ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"cd5a6b43-d548-4fe5-9166-f3ec4df43811\",\"default_project_id\":\"8ed42e37-154c-47a3-9395-815534969549\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCW03SKSV8D5SR25PHCE\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"\",\"created_at\":\"2025-09-23T14:11:05.121192Z\",\"updated_at\":\"2025-09-23T14:11:05.121192Z\",\"expires_at\":null,\"default_project_id\":\"8ed42e37-154c-47a3-9395-815534969549\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"51.159.73.145\",\"application_id\":\"cd5a6b43-d548-4fe5-9166-f3ec4df43811\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 699.950109ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_policy_projectid\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"\",\"project_ids\":[\"105bdce1-64c0-48ab-899d-868455867ecf\"]}],\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"d32b2a73-d17c-4e16-a615-b71d7bbeabf0\",\"name\":\"tf_tests_policy_projectid\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T14:11:07.706783Z\",\"updated_at\":\"2025-09-23T14:11:07.706783Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.41450127s
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/d32b2a73-d17c-4e16-a615-b71d7bbeabf0
    method: GET
  response:
    body: "{\"id\":\"d32b2a73-d17c-4e16-a615-b71d7bbeabf0\",\"name\":\"tf_tests_policy_projectid\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T14:11:07.706783Z\",\"updated_at\":\"2025-09-23T14:11:07.706783Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":1,\"nb_scopes\":1,\"nb_permission_sets\":1,\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 207.137287ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      policy_id:
      - d32b2a73-d17c-4e16-a615-b71d7bbeabf0
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=d32b2a73-d17c-4e16-a615-b71d7bbeabf0
    method: GET
  response:
    body: "{\"rules\":[{\"id\":\"7e431b0a-b5d9-4187-a2a1-e361361d198b\",\"permission_set_names\":[\"AllProductsFullAccess\"],\"permission_sets_scope_type\":\"projects\",\"condition\":\"\",\"project_ids\":[\"105bdce1-64c0-48ab-899d-868455867ecf\"]}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 77.628589ms
[...]
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 143.890586ms
[...]
- id: 18
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/cd5a6b43-d548-4fe5-9166-f3ec4df43811
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 232.603615ms
- id: 19
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/8ed42e37-154c-47a3-9395-815534969549
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.592684064s
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/d32b2a73-d17c-4e16-a615-b71d7bbeabf0
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"policy\",\"resource_id\":\"d32b2a73-d17c-4e16-a615-b71d7bbeabf0\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 25.027024ms
