---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-6591383513357052929","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"id":"2364de6f-9aa5-4790-9f21-b270f54aa8ee", "name":"tf-test-scaleway-project-6591383513357052929", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:11.313912Z", "updated_at":"2026-06-12T15:44:11.313912Z", "description":"", "qualification":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 496.734565ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-2612901009265860476","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"454fefd6-f602-48e4-a804-2db4599732b0", "name":"tf-test-scaleway-iam-app-2612901009265860476", "description":"", "created_at":"2026-06-12T15:44:11.686922Z", "updated_at":"2026-06-12T15:44:11.686922Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.838652ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-2245510726581807207","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"454fefd6-f602-48e4-a804-2db4599732b0"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"id":"ef224ede-33a8-4939-b591-2766a4178f52", "name":"tf-test-scaleway-iam-policy-2245510726581807207", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:11.809149Z", "updated_at":"2026-06-12T15:44:11.809149Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "application_id":"454fefd6-f602-48e4-a804-2db4599732b0"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.921944ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"454fefd6-f602-48e4-a804-2db4599732b0","default_project_id":"2364de6f-9aa5-4790-9f21-b270f54aa8ee","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWFWW2830TN5D2Y3NH2", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"", "created_at":"2026-06-12T15:44:12.117060Z", "updated_at":"2026-06-12T15:44:12.117060Z", "expires_at":null, "default_project_id":"2364de6f-9aa5-4790-9f21-b270f54aa8ee", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.189.216.157", "application_id":"454fefd6-f602-48e4-a804-2db4599732b0"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 266.067142ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_policy_condition","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"1 == 1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"id":"cba4209b-2fee-4875-b80d-36b83f3aa5e4", "name":"tf_tests_policy_condition", "description":"a description", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:14.019374Z", "updated_at":"2026-06-12T15:44:14.019374Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.08593ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/cba4209b-2fee-4875-b80d-36b83f3aa5e4
        method: GET
      response:
        body: '{"id":"cba4209b-2fee-4875-b80d-36b83f3aa5e4", "name":"tf_tests_policy_condition", "description":"a description", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:14.019374Z", "updated_at":"2026-06-12T15:44:14.019374Z", "editable":true, "deletable":true, "managed":false, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.234245ms
    - id: 6
      request:
        host: api.scaleway.com
        form:
            policy_id:
                - cba4209b-2fee-4875-b80d-36b83f3aa5e4
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=cba4209b-2fee-4875-b80d-36b83f3aa5e4
        method: GET
      response:
        body: '{"rules":[{"id":"e66d5747-0747-4dcb-92ae-a82c9e38ec87", "permission_set_names":["AllProductsFullAccess"], "permission_sets_scope_type":"projects", "condition":"1 == 1", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.72482ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"policy_id":"cba4209b-2fee-4875-b80d-36b83f3aa5e4","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"request.user_agent == ''terraform-test''","project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/rules
        method: PUT
      response:
        body: '{"rules":[{"id":"25fc10e2-8a76-4f8b-815d-86b85a911efa", "permission_set_names":["AllProductsFullAccess"], "permission_sets_scope_type":"projects", "condition":"request.user_agent == ''terraform-test''", "project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.219094ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 208.413841ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/454fefd6-f602-48e4-a804-2db4599732b0
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 98.948091ms
    - id: 30
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/2364de6f-9aa5-4790-9f21-b270f54aa8ee
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.701257635s
    - id: 31
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/cba4209b-2fee-4875-b80d-36b83f3aa5e4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"cba4209b-2fee-4875-b80d-36b83f3aa5e4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.93168ms
