---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-5461475594585013710\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"864866df-92a7-4482-8d0e-ef30de5294f5\", \"name\":\"test-acc-scaleway-project-5461475594585013710\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:20.990049Z\", \"updated_at\":\"2025-11-17T17:10:20.990049Z\", \"description\":\"\", \"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 489.541616ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-2160907376518663832\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"5f2277e1-3e8e-4e42-8343-c916aeaab6d3\", \"name\":\"test-acc-scaleway-iam-app-2160907376518663832\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:21.440012Z\", \"updated_at\":\"2025-11-17T17:10:21.440012Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 246.621218ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-5832651119638896928\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"5f2277e1-3e8e-4e42-8343-c916aeaab6d3\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"6b294d72-2d84-42d0-8814-ea981ff594e4\", \"name\":\"test-acc-scaleway-iam-policy-5832651119638896928\", \"description\":\"\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:21.684131Z\", \"updated_at\":\"2025-11-17T17:10:21.684131Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":0, \"nb_scopes\":0, \"nb_permission_sets\":0, \"tags\":[], \"application_id\":\"5f2277e1-3e8e-4e42-8343-c916aeaab6d3\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 244.69836ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"5f2277e1-3e8e-4e42-8343-c916aeaab6d3\",\"default_project_id\":\"864866df-92a7-4482-8d0e-ef30de5294f5\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCW88DA3M87WJR36HM85\", \"secret_key\":\"11111111-1111-1111-1111-111111111111\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:22.018118Z\", \"updated_at\":\"2025-11-17T17:10:22.018118Z\", \"expires_at\":null, \"default_project_id\":\"864866df-92a7-4482-8d0e-ef30de5294f5\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"51.159.46.153\", \"application_id\":\"5f2277e1-3e8e-4e42-8343-c916aeaab6d3\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 368.513204ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_policy_basic\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"},{\"permission_set_names\":[\"ContainerRegistryReadOnly\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":[\"tf_tests\",\"tests\"],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"a84e144f-a433-4c19-88fa-905fb1de406f\", \"name\":\"tf_tests_policy_basic\", \"description\":\"a description\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:41.103081Z\", \"updated_at\":\"2025-11-17T17:10:41.103081Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":0, \"nb_scopes\":0, \"nb_permission_sets\":0, \"tags\":[\"tf_tests\", \"tests\"], \"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 151.517983ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/a84e144f-a433-4c19-88fa-905fb1de406f
    method: GET
  response:
    body: "{\"id\":\"a84e144f-a433-4c19-88fa-905fb1de406f\", \"name\":\"tf_tests_policy_basic\", \"description\":\"a description\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:41.103081Z\", \"updated_at\":\"2025-11-17T17:10:41.103081Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":2, \"nb_scopes\":1, \"nb_permission_sets\":2, \"tags\":[\"tf_tests\", \"tests\"], \"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 143.685185ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      policy_id:
      - a84e144f-a433-4c19-88fa-905fb1de406f
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=a84e144f-a433-4c19-88fa-905fb1de406f
    method: GET
  response:
    body: "{\"rules\":[{\"id\":\"706a366b-fd96-41bc-a79f-3ac217765e77\", \"permission_set_names\":[\"AllProductsFullAccess\"], \"permission_sets_scope_type\":\"projects\", \"condition\":\"\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}, {\"id\":\"e60503d9-04b1-46d8-a9d3-42f8ee837edb\", \"permission_set_names\":[\"ContainerRegistryReadOnly\"], \"permission_sets_scope_type\":\"projects\", \"condition\":\"\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}], \"total_count\":2}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 127.822064ms
[...]
- id: 13
  request:
    host: api.scaleway.com
    body: "{\"policy_id\":\"a84e144f-a433-4c19-88fa-905fb1de406f\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: "{\"rules\":[{\"id\":\"34c5a03a-98a6-4ca2-9602-dc3b6294578e\", \"permission_set_names\":[\"AllProductsFullAccess\"], \"permission_sets_scope_type\":\"projects\", \"condition\":\"\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 127.527614ms
[...]
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 93.56899ms
[...]
- id: 22
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/5f2277e1-3e8e-4e42-8343-c916aeaab6d3
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 201.380316ms
- id: 23
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/864866df-92a7-4482-8d0e-ef30de5294f5
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.381681858s
- id: 24
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/a84e144f-a433-4c19-88fa-905fb1de406f
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"policy\",\"resource_id\":\"a84e144f-a433-4c19-88fa-905fb1de406f\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 66.507112ms
