---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-3113280530572484237\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"704064ae-3ee7-4114-bfa5-e7351699a277\",\"name\":\"test-acc-scaleway-project-3113280530572484237\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T14:01:47.760040Z\",\"updated_at\":\"2025-09-23T14:01:47.760040Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 603.147291ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-384936358544698973\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"e03ccd1f-61cc-4d81-aa3a-53f80fc12caf\",\"name\":\"test-acc-scaleway-iam-app-384936358544698973\",\"description\":\"\",\"created_at\":\"2025-09-23T14:01:48.280797Z\",\"updated_at\":\"2025-09-23T14:01:48.280797Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 316.624911ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-2015336949728675788\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"e03ccd1f-61cc-4d81-aa3a-53f80fc12caf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"ee14a583-3995-4717-b824-64a3a04d0b0b\",\"name\":\"test-acc-scaleway-iam-policy-2015336949728675788\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T14:01:48.588004Z\",\"updated_at\":\"2025-09-23T14:01:48.588004Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"application_id\":\"e03ccd1f-61cc-4d81-aa3a-53f80fc12caf\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 701.416325ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"e03ccd1f-61cc-4d81-aa3a-53f80fc12caf\",\"default_project_id\":\"704064ae-3ee7-4114-bfa5-e7351699a277\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWV0S4S41JNZBJSH641\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"\",\"created_at\":\"2025-09-23T14:01:49.325112Z\",\"updated_at\":\"2025-09-23T14:01:49.325112Z\",\"expires_at\":null,\"default_project_id\":\"704064ae-3ee7-4114-bfa5-e7351699a277\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"51.159.73.145\",\"application_id\":\"e03ccd1f-61cc-4d81-aa3a-53f80fc12caf\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 510.131153ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_policy_condition\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"1 == 1\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"e6eef389-2db5-41c0-bd7e-910196e14cf8\",\"name\":\"tf_tests_policy_condition\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T14:01:51.926997Z\",\"updated_at\":\"2025-09-23T14:01:51.926997Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 561.184046ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/e6eef389-2db5-41c0-bd7e-910196e14cf8
    method: GET
  response:
    body: "{\"id\":\"e6eef389-2db5-41c0-bd7e-910196e14cf8\",\"name\":\"tf_tests_policy_condition\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T14:01:51.926997Z\",\"updated_at\":\"2025-09-23T14:01:51.926997Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":1,\"nb_scopes\":1,\"nb_permission_sets\":1,\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 613.591935ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      policy_id:
      - e6eef389-2db5-41c0-bd7e-910196e14cf8
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=e6eef389-2db5-41c0-bd7e-910196e14cf8
    method: GET
  response:
    body: "{\"rules\":[{\"id\":\"4d54959e-2ed6-417e-98e5-697dfc7514e0\",\"permission_set_names\":[\"AllProductsFullAccess\"],\"permission_sets_scope_type\":\"projects\",\"condition\":\"1 == 1\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 268.673672ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"policy_id\":\"e6eef389-2db5-41c0-bd7e-910196e14cf8\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"request.user_agent == 'terraform-test'\",\"project_ids\":[\"105bdce1-64c0-48ab-899d-868455867ecf\"]}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: "{\"rules\":[{\"id\":\"c1d69805-7660-4564-ab98-3b06878cc42e\",\"permission_set_names\":[\"AllProductsFullAccess\"],\"permission_sets_scope_type\":\"projects\",\"condition\":\"request.user_agent == 'terraform-test'\",\"project_ids\":[\"105bdce1-64c0-48ab-899d-868455867ecf\"]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 368.380964ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 194.055402ms
[...]
- id: 29
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/e03ccd1f-61cc-4d81-aa3a-53f80fc12caf
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 511.086556ms
- id: 30
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/704064ae-3ee7-4114-bfa5-e7351699a277
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 3.78788701s
- id: 31
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/e6eef389-2db5-41c0-bd7e-910196e14cf8
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"policy\",\"resource_id\":\"e6eef389-2db5-41c0-bd7e-910196e14cf8\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 24.198342ms
