---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-258843640640332392\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"e2d0ee75-d7d0-4ac4-89b4-8f5682cc9dbe\", \"name\":\"test-acc-scaleway-project-258843640640332392\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:23.559457Z\", \"updated_at\":\"2025-11-17T17:10:23.559457Z\", \"description\":\"\", \"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 395.258499ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-450510698052926282\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"6744ffd0-5e63-4f4a-b1c4-112fe21e3ea6\", \"name\":\"test-acc-scaleway-iam-app-450510698052926282\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:23.921426Z\", \"updated_at\":\"2025-11-17T17:10:23.921426Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 214.163175ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-2336679808349943682\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"6744ffd0-5e63-4f4a-b1c4-112fe21e3ea6\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"fa34a4b7-6bb5-4011-b4e2-fbc7aa2b840f\", \"name\":\"test-acc-scaleway-iam-policy-2336679808349943682\", \"description\":\"\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:24.170691Z\", \"updated_at\":\"2025-11-17T17:10:24.170691Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":0, \"nb_scopes\":0, \"nb_permission_sets\":0, \"tags\":[], \"application_id\":\"6744ffd0-5e63-4f4a-b1c4-112fe21e3ea6\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 367.81164ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"6744ffd0-5e63-4f4a-b1c4-112fe21e3ea6\",\"default_project_id\":\"e2d0ee75-d7d0-4ac4-89b4-8f5682cc9dbe\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCW9TDKYXP7J29MBM6BH\", \"secret_key\":\"11111111-1111-1111-1111-111111111111\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:24.505627Z\", \"updated_at\":\"2025-11-17T17:10:24.505627Z\", \"expires_at\":null, \"default_project_id\":\"e2d0ee75-d7d0-4ac4-89b4-8f5682cc9dbe\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"51.159.46.153\", \"application_id\":\"6744ffd0-5e63-4f4a-b1c4-112fe21e3ea6\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 243.047944ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_policy_change_linked_entity\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"a7742801-2d40-4201-9d38-3f5c02c0877f\", \"name\":\"tf_tests_policy_change_linked_entity\", \"description\":\"a description\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:39.439504Z\", \"updated_at\":\"2025-11-17T17:10:39.439504Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":0, \"nb_scopes\":0, \"nb_permission_sets\":0, \"tags\":[], \"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 171.478092ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/a7742801-2d40-4201-9d38-3f5c02c0877f
    method: GET
  response:
    body: "{\"id\":\"a7742801-2d40-4201-9d38-3f5c02c0877f\", \"name\":\"tf_tests_policy_change_linked_entity\", \"description\":\"a description\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:39.439504Z\", \"updated_at\":\"2025-11-17T17:10:39.439504Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":1, \"nb_scopes\":1, \"nb_permission_sets\":1, \"tags\":[], \"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 127.283767ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      policy_id:
      - a7742801-2d40-4201-9d38-3f5c02c0877f
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=a7742801-2d40-4201-9d38-3f5c02c0877f
    method: GET
  response:
    body: "{\"rules\":[{\"id\":\"5080db92-5070-4c38-89dd-15d86cbfda67\", \"permission_set_names\":[\"AllProductsFullAccess\"], \"permission_sets_scope_type\":\"projects\", \"condition\":\"\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 110.1988ms
[...]
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/b6a2893e-7902-45f8-b88a-699ed071a693
    method: GET
  response:
    body: "{\"id\":\"b6a2893e-7902-45f8-b88a-699ed071a693\", \"name\":\"tf_tests_policy_change_linked_entity\", \"description\":\"a description\", \"created_at\":\"2025-11-17T17:10:43.099704Z\", \"updated_at\":\"2025-11-17T17:10:43.099704Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 134.106318ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    body: "{\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-tests-scaleway-iam-group-policy-permissions\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: "{\"id\":\"80f72b24-af03-4e23-af43-f144c41b04da\", \"created_at\":\"2025-11-17T17:10:47.467499Z\", \"updated_at\":\"2025-11-17T17:10:47.467499Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"tf-tests-scaleway-iam-group-policy-permissions\", \"description\":\"\", \"user_ids\":[], \"application_ids\":[], \"tags\":[], \"editable\":true, \"deletable\":true, \"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 144.794515ms
- id: 28
  request:
    host: api.scaleway.com
    body: "{\"user_ids\":[],\"application_ids\":[\"a6f40e14-8dfe-4431-9e43-b300d4f257d6\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/80f72b24-af03-4e23-af43-f144c41b04da/members
    method: PUT
  response:
    body: "{\"id\":\"80f72b24-af03-4e23-af43-f144c41b04da\", \"created_at\":\"2025-11-17T17:10:47.467499Z\", \"updated_at\":\"2025-11-17T17:10:47.467499Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"tf-tests-scaleway-iam-group-policy-permissions\", \"description\":\"\", \"user_ids\":[], \"application_ids\":[\"a6f40e14-8dfe-4431-9e43-b300d4f257d6\"], \"tags\":[], \"editable\":true, \"deletable\":true, \"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 192.770675ms
- id: 29
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/80f72b24-af03-4e23-af43-f144c41b04da
    method: GET
  response:
    body: "{\"id\":\"80f72b24-af03-4e23-af43-f144c41b04da\", \"created_at\":\"2025-11-17T17:10:47.467499Z\", \"updated_at\":\"2025-11-17T17:10:47.467499Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"tf-tests-scaleway-iam-group-policy-permissions\", \"description\":\"\", \"user_ids\":[], \"application_ids\":[\"a6f40e14-8dfe-4431-9e43-b300d4f257d6\"], \"tags\":[], \"editable\":true, \"deletable\":true, \"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 92.749791ms
- id: 30
  request:
    host: api.scaleway.com
    body: "{\"group_id\":\"80f72b24-af03-4e23-af43-f144c41b04da\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies/a7742801-2d40-4201-9d38-3f5c02c0877f
    method: PATCH
  response:
    body: "{\"id\":\"a7742801-2d40-4201-9d38-3f5c02c0877f\", \"name\":\"tf_tests_policy_change_linked_entity\", \"description\":\"a description\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:39.439504Z\", \"updated_at\":\"2025-11-17T17:10:39.439504Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":1, \"nb_scopes\":1, \"nb_permission_sets\":1, \"tags\":[], \"group_id\":\"80f72b24-af03-4e23-af43-f144c41b04da\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 136.761543ms
[...]
- id: 41
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 157.017274ms
[...]
- id: 44
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/e2d0ee75-d7d0-4ac4-89b4-8f5682cc9dbe
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.438732256s
- id: 45
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/a7742801-2d40-4201-9d38-3f5c02c0877f
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"policy\",\"resource_id\":\"a7742801-2d40-4201-9d38-3f5c02c0877f\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 42.44371ms
