---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-2562920741114191409\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"262295e0-2862-47f3-a3fd-30e7be940cf7\",\"name\":\"test-acc-scaleway-project-2562920741114191409\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:23.255342Z\",\"updated_at\":\"2025-09-05T12:00:23.255342Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 382.983262ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-1494701405056107500\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"ce259a0e-d613-4d87-8700-f12eb4f8577d\",\"name\":\"test-acc-scaleway-iam-app-1494701405056107500\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:23.638623Z\",\"updated_at\":\"2025-09-05T12:00:23.638623Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 175.930698ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-5882406425575965119\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"ce259a0e-d613-4d87-8700-f12eb4f8577d\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"07c96beb-c54d-4e77-a40e-7a427b68d2a8\",\"name\":\"test-acc-scaleway-iam-policy-5882406425575965119\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:23.848082Z\",\"updated_at\":\"2025-09-05T12:00:23.848082Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"application_id\":\"ce259a0e-d613-4d87-8700-f12eb4f8577d\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 248.853729ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"ce259a0e-d613-4d87-8700-f12eb4f8577d\",\"default_project_id\":\"262295e0-2862-47f3-a3fd-30e7be940cf7\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWQGY370VYSG0BR6HNF\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:24.105640Z\",\"updated_at\":\"2025-09-05T12:00:24.105640Z\",\"expires_at\":null,\"default_project_id\":\"262295e0-2862-47f3-a3fd-30e7be940cf7\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"130.180.219.188\",\"application_id\":\"ce259a0e-d613-4d87-8700-f12eb4f8577d\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 221.822449ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_policy_changeruleprincipal\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"df6774ce-218c-41ae-936b-6f697948cf2a\",\"name\":\"tf_tests_policy_changeruleprincipal\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:34.693836Z\",\"updated_at\":\"2025-09-05T12:00:34.693836Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 178.819942ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/df6774ce-218c-41ae-936b-6f697948cf2a
    method: GET
  response:
    body: "{\"id\":\"df6774ce-218c-41ae-936b-6f697948cf2a\",\"name\":\"tf_tests_policy_changeruleprincipal\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:34.693836Z\",\"updated_at\":\"2025-09-05T12:00:34.693836Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":1,\"nb_scopes\":1,\"nb_permission_sets\":1,\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 75.656625ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      policy_id:
      - df6774ce-218c-41ae-936b-6f697948cf2a
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=df6774ce-218c-41ae-936b-6f697948cf2a
    method: GET
  response:
    body: "{\"rules\":[{\"id\":\"b093122c-2ef5-4536-9e94-fe15030eea96\",\"permission_set_names\":[\"AllProductsFullAccess\"],\"permission_sets_scope_type\":\"projects\",\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 72.510413ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"policy_id\":\"df6774ce-218c-41ae-936b-6f697948cf2a\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"\",\"project_ids\":[\"105bdce1-64c0-48ab-899d-868455867ecf\"]}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: "{\"rules\":[{\"id\":\"f0324b94-4f1e-46e2-8345-23dd5ee139ba\",\"permission_set_names\":[\"AllProductsFullAccess\"],\"permission_sets_scope_type\":\"projects\",\"condition\":\"\",\"project_ids\":[\"105bdce1-64c0-48ab-899d-868455867ecf\"]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 117.475731ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWQGY370VYSG0BR6HNF
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 268.823951ms
[...]
- id: 21
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/ce259a0e-d613-4d87-8700-f12eb4f8577d
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 141.954299ms
- id: 22
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/262295e0-2862-47f3-a3fd-30e7be940cf7
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.389087397s
- id: 23
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/df6774ce-218c-41ae-936b-6f697948cf2a
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"policy\",\"resource_id\":\"df6774ce-218c-41ae-936b-6f697948cf2a\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 22.983711ms
