---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-6213281444741322989\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"70fb5019-8e3d-4528-a50f-c2d7af169bec\",\"name\":\"test-acc-scaleway-project-6213281444741322989\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T13:58:19.680774Z\",\"updated_at\":\"2025-09-23T13:58:19.680774Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 497.248611ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-490527825817725907\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"65a30005-1f29-4874-adb8-f015441ad71f\",\"name\":\"test-acc-scaleway-iam-app-490527825817725907\",\"description\":\"\",\"created_at\":\"2025-09-23T13:58:20.096103Z\",\"updated_at\":\"2025-09-23T13:58:20.096103Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 224.462194ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-3107698020566241955\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"65a30005-1f29-4874-adb8-f015441ad71f\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"592e441a-af80-478b-b649-070b2be4aeea\",\"name\":\"test-acc-scaleway-iam-policy-3107698020566241955\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T13:58:20.331762Z\",\"updated_at\":\"2025-09-23T13:58:20.331762Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"application_id\":\"65a30005-1f29-4874-adb8-f015441ad71f\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 445.865523ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"65a30005-1f29-4874-adb8-f015441ad71f\",\"default_project_id\":\"70fb5019-8e3d-4528-a50f-c2d7af169bec\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWF5N04RHJS536BGDF5\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"\",\"created_at\":\"2025-09-23T13:58:20.844279Z\",\"updated_at\":\"2025-09-23T13:58:20.844279Z\",\"expires_at\":null,\"default_project_id\":\"70fb5019-8e3d-4528-a50f-c2d7af169bec\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"51.159.73.145\",\"application_id\":\"65a30005-1f29-4874-adb8-f015441ad71f\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 291.353045ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_policy_basic\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"},{\"permission_set_names\":[\"ContainerRegistryReadOnly\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":[\"tf_tests\",\"tests\"],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"4710571e-f9a2-41c2-966f-163ce6b181a9\",\"name\":\"tf_tests_policy_basic\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T13:58:22.715736Z\",\"updated_at\":\"2025-09-23T13:58:22.715736Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[\"tf_tests\",\"tests\"],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 455.252491ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/4710571e-f9a2-41c2-966f-163ce6b181a9
    method: GET
  response:
    body: "{\"id\":\"4710571e-f9a2-41c2-966f-163ce6b181a9\",\"name\":\"tf_tests_policy_basic\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T13:58:22.715736Z\",\"updated_at\":\"2025-09-23T13:58:22.715736Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":2,\"nb_scopes\":1,\"nb_permission_sets\":2,\"tags\":[\"tf_tests\",\"tests\"],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 52.725629ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      policy_id:
      - 4710571e-f9a2-41c2-966f-163ce6b181a9
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=4710571e-f9a2-41c2-966f-163ce6b181a9
    method: GET
  response:
    body: "{\"rules\":[{\"id\":\"c2cc832b-e83f-4357-b25e-1c65242be803\",\"permission_set_names\":[\"AllProductsFullAccess\"],\"permission_sets_scope_type\":\"projects\",\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"},{\"id\":\"bce35746-7b67-4b6a-8788-b7f232cf5ee4\",\"permission_set_names\":[\"ContainerRegistryReadOnly\"],\"permission_sets_scope_type\":\"projects\",\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"total_count\":2}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 872.537957ms
[...]
- id: 13
  request:
    host: api.scaleway.com
    body: "{\"policy_id\":\"4710571e-f9a2-41c2-966f-163ce6b181a9\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: "{\"rules\":[{\"id\":\"743a61fe-86e3-4200-b4a4-f525e20007ef\",\"permission_set_names\":[\"AllProductsFullAccess\"],\"permission_sets_scope_type\":\"projects\",\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 608.555554ms
[...]
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 911.940582ms
[...]
- id: 22
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/65a30005-1f29-4874-adb8-f015441ad71f
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 941.790231ms
- id: 23
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/70fb5019-8e3d-4528-a50f-c2d7af169bec
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.556952127s
- id: 24
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/4710571e-f9a2-41c2-966f-163ce6b181a9
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"policy\",\"resource_id\":\"4710571e-f9a2-41c2-966f-163ce6b181a9\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 24.943845ms
