---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-5378347484413512995","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"id":"fcc4861d-653d-4a45-a514-fa0450cc23c2", "name":"tf-test-scaleway-project-5378347484413512995", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-24T14:01:03.834289Z", "updated_at":"2026-08-24T14:01:03.834289Z", "description":"", "qualification":null, "status":"unknown_status"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 752.166477ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-2339226615905950523","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"a38d3a30-9037-4979-860d-9070580a33cb", "name":"tf-test-scaleway-iam-app-2339226615905950523", "description":"", "created_at":"2026-08-24T14:01:04.350110Z", "updated_at":"2026-08-24T14:01:04.350110Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.773125ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.021012ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-1369252719400175355","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"a38d3a30-9037-4979-860d-9070580a33cb"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"id":"0a55ede4-34e7-42de-b788-eb98ef0c853f", "name":"tf-test-scaleway-iam-policy-1369252719400175355", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-24T14:01:04.499591Z", "updated_at":"2026-08-24T14:01:04.499591Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "application_id":"a38d3a30-9037-4979-860d-9070580a33cb"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 181.189724ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"application_id":"a38d3a30-9037-4979-860d-9070580a33cb","default_project_id":"fcc4861d-653d-4a45-a514-fa0450cc23c2","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWCMJRAM9M8AK6SMNKB", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"", "created_at":"2026-08-24T14:01:04.709074Z", "updated_at":"2026-08-24T14:01:04.709074Z", "expires_at":null, "default_project_id":"fcc4861d-653d-4a45-a514-fa0450cc23c2", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153", "application_id":"a38d3a30-9037-4979-860d-9070580a33cb"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.959978ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_policy_basic","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"},{"permission_set_names":["ContainerRegistryReadOnly"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":["tf_tests","tests"],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"id":"4ce78c57-bdad-48a8-be06-56f7c514f27a", "name":"tf_tests_policy_basic", "description":"a description", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-24T14:01:05.468093Z", "updated_at":"2026-08-24T14:01:05.468093Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":["tf_tests", "tests"], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 222.977188ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/4ce78c57-bdad-48a8-be06-56f7c514f27a
        method: GET
      response:
        body: '{"id":"4ce78c57-bdad-48a8-be06-56f7c514f27a", "name":"tf_tests_policy_basic", "description":"a description", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-24T14:01:05.468093Z", "updated_at":"2026-08-24T14:01:05.468093Z", "editable":true, "deletable":true, "managed":false, "nb_rules":2, "nb_scopes":1, "nb_permission_sets":2, "tags":["tf_tests", "tests"], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.826492ms
    - id: 8
      request:
        host: api.scaleway.com
        form:
            policy_id:
                - 4ce78c57-bdad-48a8-be06-56f7c514f27a
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=4ce78c57-bdad-48a8-be06-56f7c514f27a
        method: GET
      response:
        body: '{"rules":[{"id":"325ed73b-466d-49ee-91ca-a15c18c71494", "permission_set_names":["AllProductsFullAccess"], "permission_sets_scope_type":"projects", "condition":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}, {"id":"66dae6b8-2c57-4189-91c4-934ade66fb9e", "permission_set_names":["ContainerRegistryReadOnly"], "permission_sets_scope_type":"projects", "condition":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}], "total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.816765ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"policy_id":"4ce78c57-bdad-48a8-be06-56f7c514f27a","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/rules
        method: PUT
      response:
        body: '{"rules":[{"id":"f29101f5-1313-425e-b342-8f44f70518da", "permission_set_names":["AllProductsFullAccess"], "permission_sets_scope_type":"projects", "condition":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.747022ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 110.533024ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/a38d3a30-9037-4979-860d-9070580a33cb
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 104.740703ms
    - id: 25
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/fcc4861d-653d-4a45-a514-fa0450cc23c2
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.714539621s
    - id: 26
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/4ce78c57-bdad-48a8-be06-56f7c514f27a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"4ce78c57-bdad-48a8-be06-56f7c514f27a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 51.698668ms
