---
version: 2
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-58018719505596691","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-07-19T13:37:29.478033Z","description":"","id":"13ce9bee-cb21-4d91-8dc8-a35138e3a0ed","name":"test-acc-scaleway-project-58018719505596691","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:37:29.478033Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"test-acc-scaleway-iam-app-4039707379172582923","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-07-19T13:37:29.766394Z","description":"","editable":true,"id":"bca60a17-781d-4f51-b035-4be54d40ea79","name":"test-acc-scaleway-iam-app-4039707379172582923","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:37:29.766394Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-6079520208955735204","description":"","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","rules":[{"permission_set_names":["IAMManager"],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}],"application_id":"bca60a17-781d-4f51-b035-4be54d40ea79"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"bca60a17-781d-4f51-b035-4be54d40ea79","created_at":"2023-07-19T13:37:30.077990Z","description":"","editable":true,"id":"40a58d2c-6f6e-4931-88ea-a094cdcfa466","name":"test-acc-scaleway-iam-policy-6079520208955735204","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:37:30.077990Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"application_id":"bca60a17-781d-4f51-b035-4be54d40ea79","expires_at":null,"default_project_id":"13ce9bee-cb21-4d91-8dc8-a35138e3a0ed","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCW8SP2E8E5CP5XZ704E","application_id":"bca60a17-781d-4f51-b035-4be54d40ea79","created_at":"2023-07-19T13:37:30.584254Z","creation_ip":"51.159.73.9","default_project_id":"13ce9bee-cb21-4d91-8dc8-a35138e3a0ed","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-07-19T13:37:30.584254Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"tf_tests_policy_change_linked_entity","description":"a description","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"created_at":"2023-07-19T13:37:38.983214Z","description":"a description","editable":true,"id":"045a5b4e-a47c-4157-9ef4-dc9dd52c1b42","name":"tf_tests_policy_change_linked_entity","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"no_principal":true,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:37:38.983214Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/045a5b4e-a47c-4157-9ef4-dc9dd52c1b42
    method: GET
  response:
    body: '{"created_at":"2023-07-19T13:37:38.983214Z","description":"a description","editable":true,"id":"045a5b4e-a47c-4157-9ef4-dc9dd52c1b42","name":"tf_tests_policy_change_linked_entity","nb_permission_sets":1,"nb_rules":1,"nb_scopes":1,"no_principal":true,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:37:38.983214Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=045a5b4e-a47c-4157-9ef4-dc9dd52c1b42
    method: GET
  response:
    body: '{"rules":[{"id":"38aa7efb-346e-4dce-baa2-87a18291b929","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/da4504c5-402d-456c-88fd-4bac72907e9f
    method: GET
  response:
    body: '{"created_at":"2023-07-19T13:37:42.586693Z","description":"a description","editable":true,"id":"da4504c5-402d-456c-88fd-4bac72907e9f","name":"tf_tests_policy_change_linked_entity","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:37:42.586693Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"tf-tests-scaleway-iam-group-policy-permissions","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-07-19T13:37:48.849713Z","description":"","id":"a59eba5e-b695-40e4-85ea-04a560a89218","name":"tf-tests-scaleway-iam-group-policy-permissions","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:37:48.849713Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"user_ids":null,"application_ids":["14c79be2-92d3-4605-9fd2-60b93f8033b7"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/a59eba5e-b695-40e4-85ea-04a560a89218/members
    method: PUT
  response:
    body: '{"application_ids":["14c79be2-92d3-4605-9fd2-60b93f8033b7"],"created_at":"2023-07-19T13:37:48.849713Z","description":"","id":"a59eba5e-b695-40e4-85ea-04a560a89218","name":"tf-tests-scaleway-iam-group-policy-permissions","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:37:48.849713Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/a59eba5e-b695-40e4-85ea-04a560a89218
    method: GET
  response:
    body: '{"application_ids":["14c79be2-92d3-4605-9fd2-60b93f8033b7"],"created_at":"2023-07-19T13:37:48.849713Z","description":"","id":"a59eba5e-b695-40e4-85ea-04a560a89218","name":"tf-tests-scaleway-iam-group-policy-permissions","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:37:48.849713Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":null,"description":null,"group_id":"a59eba5e-b695-40e4-85ea-04a560a89218"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies/045a5b4e-a47c-4157-9ef4-dc9dd52c1b42
    method: PATCH
  response:
    body: '{"created_at":"2023-07-19T13:37:38.983214Z","description":"a description","editable":true,"group_id":"a59eba5e-b695-40e4-85ea-04a560a89218","id":"045a5b4e-a47c-4157-9ef4-dc9dd52c1b42","name":"tf_tests_policy_change_linked_entity","nb_permission_sets":1,"nb_rules":1,"nb_scopes":1,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:37:38.983214Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW8SP2E8E5CP5XZ704E
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/13ce9bee-cb21-4d91-8dc8-a35138e3a0ed
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/045a5b4e-a47c-4157-9ef4-dc9dd52c1b42
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_policy","resource_id":"045a5b4e-a47c-4157-9ef4-dc9dd52c1b42","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
