---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-7437688636605188302","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"srn":"srn://account.scw.eu/projects/c42d6386-1dff-4373-b734-3d753d55eaa2", "id":"c42d6386-1dff-4373-b734-3d753d55eaa2", "name":"tf-test-scaleway-project-7437688636605188302", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-10-07T13:41:46.289909Z", "updated_at":"2026-10-07T13:41:46.289909Z", "description":"", "qualification":null, "status":"active"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 545.578257ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 17.891049ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-1763701094908430696","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/8435b933-1a1a-4079-9faa-673130090cf8", "id":"8435b933-1a1a-4079-9faa-673130090cf8", "name":"tf-test-scaleway-iam-app-1763701094908430696", "description":"", "created_at":"2026-10-07T13:41:46.846086Z", "updated_at":"2026-10-07T13:41:46.846086Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 66.193116ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-8937815904265860569","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"8435b933-1a1a-4079-9faa-673130090cf8"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/47fab1a6-c043-4a93-ba1c-a24e1e81d630", "id":"47fab1a6-c043-4a93-ba1c-a24e1e81d630", "name":"tf-test-scaleway-iam-policy-8937815904265860569", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-10-07T13:41:46.909271Z", "updated_at":"2026-10-07T13:41:46.909271Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "application_id":"8435b933-1a1a-4079-9faa-673130090cf8"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 101.859067ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"application_id":"8435b933-1a1a-4079-9faa-673130090cf8","default_project_id":"c42d6386-1dff-4373-b734-3d753d55eaa2","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCWCF0S48Y7Q9YBSHQKX","access_key":"SCWXXXXXXXXXXXXXXXXX","secret_key":"11111111-1111-1111-1111-111111111111","description":"","created_at":"2026-10-07T13:41:47.073970Z","updated_at":"2026-10-07T13:41:47.073970Z","expires_at":null,"default_project_id":"c42d6386-1dff-4373-b734-3d753d55eaa2","editable":true,"deletable":true,"managed":false,"creation_ip":"88.178.0.12","application_id":"8435b933-1a1a-4079-9faa-673130090cf8"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 134.62505ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_policy_condition","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"1 == 1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/9dbfb76f-70f6-4147-9c7c-44ea8547683a","id":"9dbfb76f-70f6-4147-9c7c-44ea8547683a","name":"tf_tests_policy_condition","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-07T13:42:32.324079Z","updated_at":"2026-10-07T13:42:32.324079Z","editable":true,"deletable":true,"managed":false,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 143.016284ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/9dbfb76f-70f6-4147-9c7c-44ea8547683a
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/9dbfb76f-70f6-4147-9c7c-44ea8547683a","id":"9dbfb76f-70f6-4147-9c7c-44ea8547683a","name":"tf_tests_policy_condition","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-07T13:42:32.324079Z","updated_at":"2026-10-07T13:42:32.324079Z","editable":true,"deletable":true,"managed":false,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 86.911308ms
    - id: 8
      request:
        host: api.scaleway.com
        form:
            policy_id:
                - 9dbfb76f-70f6-4147-9c7c-44ea8547683a
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=9dbfb76f-70f6-4147-9c7c-44ea8547683a
        method: GET
      response:
        body: '{"rules":[{"srn":"srn://iam.scw.eu/rules/93589df3-b159-489b-92b1-503b82f2d2ec", "id":"93589df3-b159-489b-92b1-503b82f2d2ec", "permission_set_names":["AllProductsFullAccess"], "permission_sets_scope_type":"projects", "condition":"1 == 1", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 93.575012ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"policy_id":"9dbfb76f-70f6-4147-9c7c-44ea8547683a","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"request.user_agent == ''terraform-test''","project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/rules
        method: PUT
      response:
        body: '{"rules":[{"srn":"srn://iam.scw.eu/rules/a229ec62-0805-49aa-a3e4-cb94e3f6901e", "id":"a229ec62-0805-49aa-a3e4-cb94e3f6901e", "permission_set_names":["AllProductsFullAccess"], "permission_sets_scope_type":"projects", "condition":"request.user_agent == ''terraform-test''", "project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 121.65922ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 104.681035ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/8435b933-1a1a-4079-9faa-673130090cf8
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 48.398293ms
    - id: 32
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/c42d6386-1dff-4373-b734-3d753d55eaa2
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "39"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 3.639007179s
    - id: 33
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/9dbfb76f-70f6-4147-9c7c-44ea8547683a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"9dbfb76f-70f6-4147-9c7c-44ea8547683a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 29.856739ms
