---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-5443326153766046034","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"srn":"srn://account.scw.eu/projects/6aa95656-0ba4-4c95-9db1-8e4f7d03c261","id":"6aa95656-0ba4-4c95-9db1-8e4f7d03c261","name":"tf-test-scaleway-project-5443326153766046034","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-07T13:41:42.666938Z","updated_at":"2026-10-07T13:41:42.666938Z","description":"","qualification":null,"status":"active"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 642.70776ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 24.593234ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-4139917678364223223","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/ac484aa6-5025-4d06-a417-d1777fd0e1d3","id":"ac484aa6-5025-4d06-a417-d1777fd0e1d3","name":"tf-test-scaleway-iam-app-4139917678364223223","description":"","created_at":"2026-10-07T13:41:43.084477Z","updated_at":"2026-10-07T13:41:43.084477Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 49.382497ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-8967503988182947690","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"ac484aa6-5025-4d06-a417-d1777fd0e1d3"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/9dba3cce-b698-46b4-9514-b97fe0ed5a7d","id":"9dba3cce-b698-46b4-9514-b97fe0ed5a7d","name":"tf-test-scaleway-iam-policy-8967503988182947690","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-07T13:41:43.149319Z","updated_at":"2026-10-07T13:41:43.149319Z","editable":true,"deletable":true,"managed":false,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"tags":[],"application_id":"ac484aa6-5025-4d06-a417-d1777fd0e1d3"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 107.832792ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"application_id":"ac484aa6-5025-4d06-a417-d1777fd0e1d3","default_project_id":"6aa95656-0ba4-4c95-9db1-8e4f7d03c261","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCWQSA65GX3GPABMNQA9","access_key":"SCWXXXXXXXXXXXXXXXXX","secret_key":"11111111-1111-1111-1111-111111111111","description":"","created_at":"2026-10-07T13:41:43.339787Z","updated_at":"2026-10-07T13:41:43.339787Z","expires_at":null,"default_project_id":"6aa95656-0ba4-4c95-9db1-8e4f7d03c261","editable":true,"deletable":true,"managed":false,"creation_ip":"88.178.0.12","application_id":"ac484aa6-5025-4d06-a417-d1777fd0e1d3"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 159.482078ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_policy_noupdate","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/7b5690bc-f0aa-48da-9955-85ffc8fd3ce6", "id":"7b5690bc-f0aa-48da-9955-85ffc8fd3ce6", "name":"tf_tests_policy_noupdate", "description":"a description", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-10-07T13:42:34.344148Z", "updated_at":"2026-10-07T13:42:34.344148Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 143.696864ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/7b5690bc-f0aa-48da-9955-85ffc8fd3ce6
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/7b5690bc-f0aa-48da-9955-85ffc8fd3ce6", "id":"7b5690bc-f0aa-48da-9955-85ffc8fd3ce6", "name":"tf_tests_policy_noupdate", "description":"a description", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-10-07T13:42:34.344148Z", "updated_at":"2026-10-07T13:42:34.344148Z", "editable":true, "deletable":true, "managed":false, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 96.130966ms
    - id: 8
      request:
        host: api.scaleway.com
        form:
            policy_id:
                - 7b5690bc-f0aa-48da-9955-85ffc8fd3ce6
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=7b5690bc-f0aa-48da-9955-85ffc8fd3ce6
        method: GET
      response:
        body: '{"rules":[{"srn":"srn://iam.scw.eu/rules/6065bb79-e231-4b50-abe9-fb7c1bc427ae","id":"6065bb79-e231-4b50-abe9-fb7c1bc427ae","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 89.230096ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 88.0019ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/ac484aa6-5025-4d06-a417-d1777fd0e1d3
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 47.005075ms
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/6aa95656-0ba4-4c95-9db1-8e4f7d03c261
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 2.050748121s
    - id: 24
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/7b5690bc-f0aa-48da-9955-85ffc8fd3ce6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"7b5690bc-f0aa-48da-9955-85ffc8fd3ce6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 34.002861ms
