---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-3022704095432981312\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"0732f4ac-4d0e-4b74-ba68-257e4083d5a0\", \"name\":\"test-acc-scaleway-project-3022704095432981312\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:22.339059Z\", \"updated_at\":\"2025-11-17T17:10:22.339059Z\", \"description\":\"\", \"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 495.602339ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-3528547907343273018\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"14975fa6-e432-45d7-8408-fb7598c71c91\", \"name\":\"test-acc-scaleway-iam-app-3528547907343273018\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:22.810147Z\", \"updated_at\":\"2025-11-17T17:10:22.810147Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 240.034878ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-2052268061830740688\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"14975fa6-e432-45d7-8408-fb7598c71c91\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"132326a0-087f-46ce-8393-e35144eaea35\", \"name\":\"test-acc-scaleway-iam-policy-2052268061830740688\", \"description\":\"\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:22.953355Z\", \"updated_at\":\"2025-11-17T17:10:22.953355Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":0, \"nb_scopes\":0, \"nb_permission_sets\":0, \"tags\":[], \"application_id\":\"14975fa6-e432-45d7-8408-fb7598c71c91\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 242.254949ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"14975fa6-e432-45d7-8408-fb7598c71c91\",\"default_project_id\":\"0732f4ac-4d0e-4b74-ba68-257e4083d5a0\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCW1GHVNSGM9N4X5K6BV\", \"secret_key\":\"11111111-1111-1111-1111-111111111111\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:23.274030Z\", \"updated_at\":\"2025-11-17T17:10:23.274030Z\", \"expires_at\":null, \"default_project_id\":\"0732f4ac-4d0e-4b74-ba68-257e4083d5a0\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"51.159.46.153\", \"application_id\":\"14975fa6-e432-45d7-8408-fb7598c71c91\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 252.394634ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_policy_noupdate\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"01432504-60cc-4515-85c9-7f7c57878df0\", \"name\":\"tf_tests_policy_noupdate\", \"description\":\"a description\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:41.057818Z\", \"updated_at\":\"2025-11-17T17:10:41.057818Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":0, \"nb_scopes\":0, \"nb_permission_sets\":0, \"tags\":[], \"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 180.511525ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/01432504-60cc-4515-85c9-7f7c57878df0
    method: GET
  response:
    body: "{\"id\":\"01432504-60cc-4515-85c9-7f7c57878df0\", \"name\":\"tf_tests_policy_noupdate\", \"description\":\"a description\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:41.057818Z\", \"updated_at\":\"2025-11-17T17:10:41.057818Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":1, \"nb_scopes\":1, \"nb_permission_sets\":1, \"tags\":[], \"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 96.601035ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      policy_id:
      - 01432504-60cc-4515-85c9-7f7c57878df0
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=01432504-60cc-4515-85c9-7f7c57878df0
    method: GET
  response:
    body: "{\"rules\":[{\"id\":\"f2beeb64-e33e-4e3f-9a23-ad577a709657\", \"permission_set_names\":[\"AllProductsFullAccess\"], \"permission_sets_scope_type\":\"projects\", \"condition\":\"\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 76.450777ms
[...]
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 160.368676ms
[...]
- id: 18
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/14975fa6-e432-45d7-8408-fb7598c71c91
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 56.78111ms
- id: 19
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/0732f4ac-4d0e-4b74-ba68-257e4083d5a0
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.405657148s
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/01432504-60cc-4515-85c9-7f7c57878df0
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"policy\",\"resource_id\":\"01432504-60cc-4515-85c9-7f7c57878df0\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 42.737402ms
