---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-4241704461867975064\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"61c980a5-f8d4-4c69-8759-3867e4f84339\",\"name\":\"test-acc-scaleway-project-4241704461867975064\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T14:22:59.698589Z\",\"updated_at\":\"2025-09-23T14:22:59.698589Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 495.592288ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-128287724429735721\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"0e3e1832-31df-4ead-894f-ea09fb0aecbf\",\"name\":\"test-acc-scaleway-iam-app-128287724429735721\",\"description\":\"\",\"created_at\":\"2025-09-23T14:23:00.083404Z\",\"updated_at\":\"2025-09-23T14:23:00.083404Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 183.394441ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-519628051381069503\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"0e3e1832-31df-4ead-894f-ea09fb0aecbf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"4bf33842-17e5-46da-b392-bba5cf824b7c\",\"name\":\"test-acc-scaleway-iam-policy-519628051381069503\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T14:23:00.293644Z\",\"updated_at\":\"2025-09-23T14:23:00.293644Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"application_id\":\"0e3e1832-31df-4ead-894f-ea09fb0aecbf\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 284.521549ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"0e3e1832-31df-4ead-894f-ea09fb0aecbf\",\"default_project_id\":\"61c980a5-f8d4-4c69-8759-3867e4f84339\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWZVV3Y9SVB34QRATHE\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"\",\"created_at\":\"2025-09-23T14:23:00.597504Z\",\"updated_at\":\"2025-09-23T14:23:00.597504Z\",\"expires_at\":null,\"default_project_id\":\"61c980a5-f8d4-4c69-8759-3867e4f84339\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"51.159.73.145\",\"application_id\":\"0e3e1832-31df-4ead-894f-ea09fb0aecbf\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 462.245348ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_policy_change_linked_entity\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"7454935e-03ee-443f-9504-0cd3028ccd06\",\"name\":\"tf_tests_policy_change_linked_entity\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T14:23:02.637358Z\",\"updated_at\":\"2025-09-23T14:23:02.637358Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 155.148863ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/7454935e-03ee-443f-9504-0cd3028ccd06
    method: GET
  response:
    body: "{\"id\":\"7454935e-03ee-443f-9504-0cd3028ccd06\",\"name\":\"tf_tests_policy_change_linked_entity\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T14:23:02.637358Z\",\"updated_at\":\"2025-09-23T14:23:02.637358Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":1,\"nb_scopes\":1,\"nb_permission_sets\":1,\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.399432264s
- id: 6
  request:
    host: api.scaleway.com
    form:
      policy_id:
      - 7454935e-03ee-443f-9504-0cd3028ccd06
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=7454935e-03ee-443f-9504-0cd3028ccd06
    method: GET
  response:
    body: "{\"rules\":[{\"id\":\"21935e0e-8909-4714-868b-24ebf56a0273\",\"permission_set_names\":[\"AllProductsFullAccess\"],\"permission_sets_scope_type\":\"projects\",\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 613.330346ms
[...]
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/c0b969c9-780b-436f-89fd-88fe011e3918
    method: GET
  response:
    body: "{\"id\":\"c0b969c9-780b-436f-89fd-88fe011e3918\",\"name\":\"tf_tests_policy_change_linked_entity\",\"description\":\"a description\",\"created_at\":\"2025-09-23T14:23:07.191506Z\",\"updated_at\":\"2025-09-23T14:23:07.191506Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 214.409179ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    body: "{\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-tests-scaleway-iam-group-policy-permissions\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: "{\"id\":\"c206bb3a-458d-40c9-b051-406c49cba968\",\"created_at\":\"2025-09-23T14:23:11.122824Z\",\"updated_at\":\"2025-09-23T14:23:11.122824Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-tests-scaleway-iam-group-policy-permissions\",\"description\":\"\",\"user_ids\":[],\"application_ids\":[],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 108.626475ms
- id: 28
  request:
    host: api.scaleway.com
    body: "{\"user_ids\":[],\"application_ids\":[\"3d8239a1-8f34-4493-86da-d8bd793f219f\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/c206bb3a-458d-40c9-b051-406c49cba968/members
    method: PUT
  response:
    body: "{\"id\":\"c206bb3a-458d-40c9-b051-406c49cba968\",\"created_at\":\"2025-09-23T14:23:11.122824Z\",\"updated_at\":\"2025-09-23T14:23:11.122824Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-tests-scaleway-iam-group-policy-permissions\",\"description\":\"\",\"user_ids\":[],\"application_ids\":[\"3d8239a1-8f34-4493-86da-d8bd793f219f\"],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 351.784675ms
- id: 29
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/c206bb3a-458d-40c9-b051-406c49cba968
    method: GET
  response:
    body: "{\"id\":\"c206bb3a-458d-40c9-b051-406c49cba968\",\"created_at\":\"2025-09-23T14:23:11.122824Z\",\"updated_at\":\"2025-09-23T14:23:11.122824Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-tests-scaleway-iam-group-policy-permissions\",\"description\":\"\",\"user_ids\":[],\"application_ids\":[\"3d8239a1-8f34-4493-86da-d8bd793f219f\"],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 54.133384ms
- id: 30
  request:
    host: api.scaleway.com
    body: "{\"group_id\":\"c206bb3a-458d-40c9-b051-406c49cba968\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies/7454935e-03ee-443f-9504-0cd3028ccd06
    method: PATCH
  response:
    body: "{\"id\":\"7454935e-03ee-443f-9504-0cd3028ccd06\",\"name\":\"tf_tests_policy_change_linked_entity\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T14:23:02.637358Z\",\"updated_at\":\"2025-09-23T14:23:02.637358Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":1,\"nb_scopes\":1,\"nb_permission_sets\":1,\"tags\":[],\"group_id\":\"c206bb3a-458d-40c9-b051-406c49cba968\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 214.472367ms
[...]
- id: 41
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 750.814661ms
[...]
- id: 44
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/61c980a5-f8d4-4c69-8759-3867e4f84339
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 2.221656024s
- id: 45
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/7454935e-03ee-443f-9504-0cd3028ccd06
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"policy\",\"resource_id\":\"7454935e-03ee-443f-9504-0cd3028ccd06\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 26.167563ms
