---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-6526395104221724107","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"id":"95f6f27b-53d3-41e2-b20f-fd8dac7c1960", "name":"tf-test-scaleway-project-6526395104221724107", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:09.253516Z", "updated_at":"2026-06-12T15:44:09.253516Z", "description":"", "qualification":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 501.966295ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-118186708273077764","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"09e7d99c-8d04-46b8-a878-ecbd50f79a7b", "name":"tf-test-scaleway-iam-app-118186708273077764", "description":"", "created_at":"2026-06-12T15:44:09.562143Z", "updated_at":"2026-06-12T15:44:09.562143Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.73055ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-4968391674585076974","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"09e7d99c-8d04-46b8-a878-ecbd50f79a7b"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"id":"7fa86f94-a23f-492f-a9d2-2ff5ce51d70c", "name":"tf-test-scaleway-iam-policy-4968391674585076974", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:09.645187Z", "updated_at":"2026-06-12T15:44:09.645187Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "application_id":"09e7d99c-8d04-46b8-a878-ecbd50f79a7b"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.957981ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"09e7d99c-8d04-46b8-a878-ecbd50f79a7b","default_project_id":"95f6f27b-53d3-41e2-b20f-fd8dac7c1960","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWN8ER195WTQWGYZAJ6", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"", "created_at":"2026-06-12T15:44:09.992515Z", "updated_at":"2026-06-12T15:44:09.992515Z", "expires_at":null, "default_project_id":"95f6f27b-53d3-41e2-b20f-fd8dac7c1960", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.189.216.157", "application_id":"09e7d99c-8d04-46b8-a878-ecbd50f79a7b"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 305.840371ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_policy_changepermissions","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"id":"25cafe89-c274-4c55-ac7d-21d7f86eb5d5", "name":"tf_tests_policy_changepermissions", "description":"a description", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:14.016060Z", "updated_at":"2026-06-12T15:44:14.016060Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.80223ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/25cafe89-c274-4c55-ac7d-21d7f86eb5d5
        method: GET
      response:
        body: '{"id":"25cafe89-c274-4c55-ac7d-21d7f86eb5d5", "name":"tf_tests_policy_changepermissions", "description":"a description", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:14.016060Z", "updated_at":"2026-06-12T15:44:14.016060Z", "editable":true, "deletable":true, "managed":false, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.209087ms
    - id: 6
      request:
        host: api.scaleway.com
        form:
            policy_id:
                - 25cafe89-c274-4c55-ac7d-21d7f86eb5d5
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=25cafe89-c274-4c55-ac7d-21d7f86eb5d5
        method: GET
      response:
        body: '{"rules":[{"id":"c50714bb-b613-4cd3-b4cb-7a3db1d42a38", "permission_set_names":["AllProductsFullAccess"], "permission_sets_scope_type":"projects", "condition":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.687662ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"policy_id":"25cafe89-c274-4c55-ac7d-21d7f86eb5d5","rules":[{"permission_set_names":["AllProductsFullAccess","ContainerRegistryReadOnly"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/rules
        method: PUT
      response:
        body: '{"rules":[{"id":"37b92829-f490-40b5-bc62-4733b2af91a1", "permission_set_names":["AllProductsFullAccess", "ContainerRegistryReadOnly"], "permission_sets_scope_type":"projects", "condition":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.536056ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 62.822122ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/09e7d99c-8d04-46b8-a878-ecbd50f79a7b
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 90.999204ms
    - id: 30
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/95f6f27b-53d3-41e2-b20f-fd8dac7c1960
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.529801736s
    - id: 31
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/25cafe89-c274-4c55-ac7d-21d7f86eb5d5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"25cafe89-c274-4c55-ac7d-21d7f86eb5d5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 42.530287ms
