---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-4593247263111797997\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"bab093fe-a7ed-44be-8fa8-50510a0b0d27\", \"name\":\"test-acc-scaleway-project-4593247263111797997\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:24.786356Z\", \"updated_at\":\"2025-11-17T17:10:24.786356Z\", \"description\":\"\", \"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 491.75298ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-8862130677503300573\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"3046779a-cc15-4c8e-b698-5092300dd085\", \"name\":\"test-acc-scaleway-iam-app-8862130677503300573\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:25.260410Z\", \"updated_at\":\"2025-11-17T17:10:25.260410Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 244.485313ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-7819087606480075603\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"3046779a-cc15-4c8e-b698-5092300dd085\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"a9cedcbb-fb3b-4527-bef5-7358f0e0b3b7\", \"name\":\"test-acc-scaleway-iam-policy-7819087606480075603\", \"description\":\"\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:25.480807Z\", \"updated_at\":\"2025-11-17T17:10:25.480807Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":0, \"nb_scopes\":0, \"nb_permission_sets\":0, \"tags\":[], \"application_id\":\"3046779a-cc15-4c8e-b698-5092300dd085\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 242.960819ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"3046779a-cc15-4c8e-b698-5092300dd085\",\"default_project_id\":\"bab093fe-a7ed-44be-8fa8-50510a0b0d27\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCW9XPC7YF4VYWBGEARD\", \"secret_key\":\"11111111-1111-1111-1111-111111111111\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:25.845978Z\", \"updated_at\":\"2025-11-17T17:10:25.845978Z\", \"expires_at\":null, \"default_project_id\":\"bab093fe-a7ed-44be-8fa8-50510a0b0d27\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"51.159.46.153\", \"application_id\":\"3046779a-cc15-4c8e-b698-5092300dd085\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 368.526599ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_policy_changepermissions\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"6c80ba51-ba8f-4e63-87a5-2c8850fab064\", \"name\":\"tf_tests_policy_changepermissions\", \"description\":\"a description\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:39.428073Z\", \"updated_at\":\"2025-11-17T17:10:39.428073Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":0, \"nb_scopes\":0, \"nb_permission_sets\":0, \"tags\":[], \"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 199.238195ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/6c80ba51-ba8f-4e63-87a5-2c8850fab064
    method: GET
  response:
    body: "{\"id\":\"6c80ba51-ba8f-4e63-87a5-2c8850fab064\", \"name\":\"tf_tests_policy_changepermissions\", \"description\":\"a description\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:39.428073Z\", \"updated_at\":\"2025-11-17T17:10:39.428073Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":1, \"nb_scopes\":1, \"nb_permission_sets\":1, \"tags\":[], \"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 129.789276ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      policy_id:
      - 6c80ba51-ba8f-4e63-87a5-2c8850fab064
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=6c80ba51-ba8f-4e63-87a5-2c8850fab064
    method: GET
  response:
    body: "{\"rules\":[{\"id\":\"ac828119-29ba-445c-b66d-cb614d3c4640\", \"permission_set_names\":[\"AllProductsFullAccess\"], \"permission_sets_scope_type\":\"projects\", \"condition\":\"\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 110.811986ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"policy_id\":\"6c80ba51-ba8f-4e63-87a5-2c8850fab064\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\",\"ContainerRegistryReadOnly\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: "{\"rules\":[{\"id\":\"d0bdc5e8-439b-4751-b80f-3ec6734e83a3\", \"permission_set_names\":[\"AllProductsFullAccess\", \"ContainerRegistryReadOnly\"], \"permission_sets_scope_type\":\"projects\", \"condition\":\"\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 167.034798ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 165.939208ms
[...]
- id: 29
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/3046779a-cc15-4c8e-b698-5092300dd085
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 224.314591ms
- id: 30
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/bab093fe-a7ed-44be-8fa8-50510a0b0d27
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.399486915s
- id: 31
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/6c80ba51-ba8f-4e63-87a5-2c8850fab064
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"policy\",\"resource_id\":\"6c80ba51-ba8f-4e63-87a5-2c8850fab064\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 86.885212ms
