---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-4199499532148597807","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-07-31T12:27:54.523949Z","description":"","id":"d5014bcb-ef5f-4ed1-abcf-b9f7259387fe","name":"test-acc-scaleway-project-4199499532148597807","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","updated_at":"2024-07-31T12:27:54.523949Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 236.229209ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-9136140223505341800","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2024-07-31T12:27:54.747605Z","description":"","editable":true,"id":"a3aed54d-c4ba-4a0b-b439-c606a977ed69","name":"test-acc-scaleway-iam-app-9136140223505341800","nb_api_keys":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2024-07-31T12:27:54.747605Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.612417ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-3576868839840732893","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}],"tags":null,"application_id":"a3aed54d-c4ba-4a0b-b439-c606a977ed69"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"a3aed54d-c4ba-4a0b-b439-c606a977ed69","created_at":"2024-07-31T12:27:54.817085Z","description":"","editable":true,"id":"cb595e22-f8f7-413d-b9c1-4bd026b30f63","name":"test-acc-scaleway-iam-policy-3576868839840732893","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2024-07-31T12:27:54.817085Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.25ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"a3aed54d-c4ba-4a0b-b439-c606a977ed69","default_project_id":"d5014bcb-ef5f-4ed1-abcf-b9f7259387fe","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWEPWG7Q6E93K878EDS","application_id":"a3aed54d-c4ba-4a0b-b439-c606a977ed69","created_at":"2024-07-31T12:27:54.939475Z","creation_ip":"51.159.73.145","default_project_id":"d5014bcb-ef5f-4ed1-abcf-b9f7259387fe","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-07-31T12:27:54.939475Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.366167ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_policy_condition","description":"a description","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"1 == 1","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}],"tags":[],"no_principal":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"created_at":"2024-07-31T12:27:55.680246Z","description":"a description","editable":true,"id":"79dcba19-5a0e-4161-9fa6-aeb7b7ac91ad","name":"tf_tests_policy_condition","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"no_principal":true,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2024-07-31T12:27:55.680246Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.974334ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/79dcba19-5a0e-4161-9fa6-aeb7b7ac91ad
        method: GET
      response:
        body: '{"created_at":"2024-07-31T12:27:55.680246Z","description":"a description","editable":true,"id":"79dcba19-5a0e-4161-9fa6-aeb7b7ac91ad","name":"tf_tests_policy_condition","nb_permission_sets":1,"nb_rules":1,"nb_scopes":1,"no_principal":true,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2024-07-31T12:27:55.680246Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.536375ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=79dcba19-5a0e-4161-9fa6-aeb7b7ac91ad
        method: GET
      response:
        body: '{"rules":[{"condition":"1 == 1","id":"dd3ae9ce-3cb3-4e11-8ae9-bbffc57069a2","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.999417ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"policy_id":"79dcba19-5a0e-4161-9fa6-aeb7b7ac91ad","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"request.user_agent == ''terraform-test''","project_ids":["951df375-e094-4d26-97c1-ba548eeb9c42"]}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/rules
        method: PUT
      response:
        body: '{"rules":[{"condition":"request.user_agent == ''terraform-test''","id":"f5b10a4d-c28c-4edf-834d-f85828b519da","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","project_ids":["951df375-e094-4d26-97c1-ba548eeb9c42"]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.483292ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWEPWG7Q6E93K878EDS
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 46.379417ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/a3aed54d-c4ba-4a0b-b439-c606a977ed69
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 51.215541ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/d5014bcb-ef5f-4ed1-abcf-b9f7259387fe
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.374428417s
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/79dcba19-5a0e-4161-9fa6-aeb7b7ac91ad
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"iam_policy","resource_id":"79dcba19-5a0e-4161-9fa6-aeb7b7ac91ad","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.987917ms
