---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-2754093280991376271","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:32.412632Z","description":"","id":"59539504-c0d9-452b-a589-c0aaff4d125a","name":"test-acc-scaleway-project-2754093280991376271","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-01-22T15:32:32.412632Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 440.164541ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-8274823633816051767","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:32.853240Z","deletable":true,"description":"","editable":true,"id":"9dd7a293-ec4c-4d52-86d0-60dffffc6042","managed":false,"name":"test-acc-scaleway-iam-app-8274823633816051767","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:32.853240Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.021333ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-2052045134266156269","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"9dd7a293-ec4c-4d52-86d0-60dffffc6042"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"9dd7a293-ec4c-4d52-86d0-60dffffc6042","created_at":"2025-01-22T15:32:32.960968Z","deletable":true,"description":"","editable":true,"id":"b4c17d71-44ef-4de1-9118-45888e4ad0f2","managed":false,"name":"test-acc-scaleway-iam-policy-2052045134266156269","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:32.960968Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.862708ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"9dd7a293-ec4c-4d52-86d0-60dffffc6042","default_project_id":"59539504-c0d9-452b-a589-c0aaff4d125a","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWV2249AGSCDXP026CF","application_id":"9dd7a293-ec4c-4d52-86d0-60dffffc6042","created_at":"2025-01-22T15:32:33.201832Z","creation_ip":"51.159.73.9","default_project_id":"59539504-c0d9-452b-a589-c0aaff4d125a","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-01-22T15:32:33.201832Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 240.668334ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_policy_change_linked_entity","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":[],"no_principal":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:58.106439Z","deletable":true,"description":"a description","editable":true,"id":"f3c44b62-f668-48b9-b910-7dfb6df6bb1a","managed":false,"name":"tf_tests_policy_change_linked_entity","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"no_principal":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:58.106439Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.904459ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/f3c44b62-f668-48b9-b910-7dfb6df6bb1a
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:32:58.106439Z","deletable":true,"description":"a description","editable":true,"id":"f3c44b62-f668-48b9-b910-7dfb6df6bb1a","managed":false,"name":"tf_tests_policy_change_linked_entity","nb_permission_sets":1,"nb_rules":1,"nb_scopes":1,"no_principal":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:58.106439Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.523166ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=f3c44b62-f668-48b9-b910-7dfb6df6bb1a
        method: GET
      response:
        body: '{"rules":[{"condition":"","id":"2a4215cf-3752-4c7b-bcf7-a2b28b209e56","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.838ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/71e5d027-294d-4bd6-a586-e72600097120
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:33:02.560720Z","deletable":true,"description":"a description","editable":true,"id":"71e5d027-294d-4bd6-a586-e72600097120","managed":false,"name":"tf_tests_policy_change_linked_entity","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:33:02.560720Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.637917ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-scaleway-iam-group-policy-permissions","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-01-22T15:33:07.543184Z","deletable":true,"description":"","editable":true,"id":"efb54816-098c-42d3-b13c-d0a44ec63507","managed":false,"name":"tf-tests-scaleway-iam-group-policy-permissions","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:33:07.543184Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.432625ms
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"user_ids":[],"application_ids":["84a29cc5-5ca5-4e4b-bbcc-5cde15f0081d"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/efb54816-098c-42d3-b13c-d0a44ec63507/members
        method: PUT
      response:
        body: '{"application_ids":["84a29cc5-5ca5-4e4b-bbcc-5cde15f0081d"],"created_at":"2025-01-22T15:33:07.543184Z","deletable":false,"description":"","editable":false,"id":"efb54816-098c-42d3-b13c-d0a44ec63507","managed":false,"name":"tf-tests-scaleway-iam-group-policy-permissions","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:33:07.543184Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 346.273959ms
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/efb54816-098c-42d3-b13c-d0a44ec63507
        method: GET
      response:
        body: '{"application_ids":["84a29cc5-5ca5-4e4b-bbcc-5cde15f0081d"],"created_at":"2025-01-22T15:33:07.543184Z","deletable":true,"description":"","editable":true,"id":"efb54816-098c-42d3-b13c-d0a44ec63507","managed":false,"name":"tf-tests-scaleway-iam-group-policy-permissions","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:33:07.543184Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.775667ms
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"group_id":"efb54816-098c-42d3-b13c-d0a44ec63507"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies/f3c44b62-f668-48b9-b910-7dfb6df6bb1a
        method: PATCH
      response:
        body: '{"created_at":"2025-01-22T15:32:58.106439Z","deletable":true,"description":"a description","editable":true,"group_id":"efb54816-098c-42d3-b13c-d0a44ec63507","id":"f3c44b62-f668-48b9-b910-7dfb6df6bb1a","managed":false,"name":"tf_tests_policy_change_linked_entity","nb_permission_sets":1,"nb_rules":1,"nb_scopes":1,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:58.106439Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.681125ms
[...]
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWV2249AGSCDXP026CF
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 112.332625ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/59539504-c0d9-452b-a589-c0aaff4d125a
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.36264775s
    - id: 45
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/f3c44b62-f668-48b9-b910-7dfb6df6bb1a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"f3c44b62-f668-48b9-b910-7dfb6df6bb1a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.575083ms
