---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-8794643506518284375\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"66c7837b-bfe1-4b9e-867d-91263a8bcb39\",\"name\":\"test-acc-scaleway-project-8794643506518284375\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T14:22:56.911291Z\",\"updated_at\":\"2025-09-23T14:22:56.911291Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 786.08332ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-3295407346843332324\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"5cf765dc-e3cf-4f51-8ef6-1d7f145efba8\",\"name\":\"test-acc-scaleway-iam-app-3295407346843332324\",\"description\":\"\",\"created_at\":\"2025-09-23T14:22:57.607153Z\",\"updated_at\":\"2025-09-23T14:22:57.607153Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 191.775803ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-8375414788416562517\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"5cf765dc-e3cf-4f51-8ef6-1d7f145efba8\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"a7fc4176-36cb-48f3-9f8c-3e06cca46f36\",\"name\":\"test-acc-scaleway-iam-policy-8375414788416562517\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T14:22:57.797151Z\",\"updated_at\":\"2025-09-23T14:22:57.797151Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"application_id\":\"5cf765dc-e3cf-4f51-8ef6-1d7f145efba8\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 349.277519ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"5cf765dc-e3cf-4f51-8ef6-1d7f145efba8\",\"default_project_id\":\"66c7837b-bfe1-4b9e-867d-91263a8bcb39\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCW25PFYW1GG1M2YX1QA\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"\",\"created_at\":\"2025-09-23T14:22:58.225936Z\",\"updated_at\":\"2025-09-23T14:22:58.225936Z\",\"expires_at\":null,\"default_project_id\":\"66c7837b-bfe1-4b9e-867d-91263a8bcb39\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"51.159.73.145\",\"application_id\":\"5cf765dc-e3cf-4f51-8ef6-1d7f145efba8\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 992.403907ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_policy_changepermissions\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"620d967e-4c08-4c35-9f18-097278a9a837\",\"name\":\"tf_tests_policy_changepermissions\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T14:23:00.958641Z\",\"updated_at\":\"2025-09-23T14:23:00.958641Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 169.852034ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/620d967e-4c08-4c35-9f18-097278a9a837
    method: GET
  response:
    body: "{\"id\":\"620d967e-4c08-4c35-9f18-097278a9a837\",\"name\":\"tf_tests_policy_changepermissions\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T14:23:00.958641Z\",\"updated_at\":\"2025-09-23T14:23:00.958641Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":1,\"nb_scopes\":1,\"nb_permission_sets\":1,\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 66.592308ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      policy_id:
      - 620d967e-4c08-4c35-9f18-097278a9a837
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=620d967e-4c08-4c35-9f18-097278a9a837
    method: GET
  response:
    body: "{\"rules\":[{\"id\":\"d9c648dd-cfa3-47b5-b96c-3e0c7cfcea54\",\"permission_set_names\":[\"AllProductsFullAccess\"],\"permission_sets_scope_type\":\"projects\",\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 74.520471ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"policy_id\":\"620d967e-4c08-4c35-9f18-097278a9a837\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\",\"ContainerRegistryReadOnly\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: "{\"rules\":[{\"id\":\"ccab599e-c6b9-4ec4-b29f-6f49e62f4519\",\"permission_set_names\":[\"AllProductsFullAccess\",\"ContainerRegistryReadOnly\"],\"permission_sets_scope_type\":\"projects\",\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 369.142041ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 138.738818ms
[...]
- id: 29
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/5cf765dc-e3cf-4f51-8ef6-1d7f145efba8
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 284.142706ms
- id: 30
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/66c7837b-bfe1-4b9e-867d-91263a8bcb39
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 2.031969315s
- id: 31
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/620d967e-4c08-4c35-9f18-097278a9a837
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"policy\",\"resource_id\":\"620d967e-4c08-4c35-9f18-097278a9a837\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 20.830278ms
