---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-1501600363671995933","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"srn":"srn://account.scw.eu/projects/63d8cf6a-b3f6-448f-9994-f1ad8546ad60","id":"63d8cf6a-b3f6-448f-9994-f1ad8546ad60","name":"tf-test-scaleway-project-1501600363671995933","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-07T13:41:47.345895Z","updated_at":"2026-10-07T13:41:47.345895Z","description":"","qualification":null,"status":"active"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 658.532837ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 17.233023ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-1958456156641346878","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/15716868-b0ab-48c9-86eb-63952be70f47","id":"15716868-b0ab-48c9-86eb-63952be70f47","name":"tf-test-scaleway-iam-app-1958456156641346878","description":"","created_at":"2026-10-07T13:41:47.830037Z","updated_at":"2026-10-07T13:41:47.830037Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 70.452661ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-8068469172162629393","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"15716868-b0ab-48c9-86eb-63952be70f47"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/4b4d4b12-ff75-4c4a-b7c4-7272319c6113","id":"4b4d4b12-ff75-4c4a-b7c4-7272319c6113","name":"tf-test-scaleway-iam-policy-8068469172162629393","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-07T13:41:47.959815Z","updated_at":"2026-10-07T13:41:47.959815Z","editable":true,"deletable":true,"managed":false,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"tags":[],"application_id":"15716868-b0ab-48c9-86eb-63952be70f47"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 141.244378ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"application_id":"15716868-b0ab-48c9-86eb-63952be70f47","default_project_id":"63d8cf6a-b3f6-448f-9994-f1ad8546ad60","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCWS6NXK624PAY3FMHBX", "access_key":"SCWXXXXXXXXXXXXXXXXX", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"", "created_at":"2026-10-07T13:41:48.094857Z", "updated_at":"2026-10-07T13:41:48.094857Z", "expires_at":null, "default_project_id":"63d8cf6a-b3f6-448f-9994-f1ad8546ad60", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.178.0.12", "application_id":"15716868-b0ab-48c9-86eb-63952be70f47"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 123.526184ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_policy_changeruleprincipal","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/767811f7-3418-4c5e-a9c8-57c51c9db11f", "id":"767811f7-3418-4c5e-a9c8-57c51c9db11f", "name":"tf_tests_policy_changeruleprincipal", "description":"a description", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-10-07T13:42:32.149376Z", "updated_at":"2026-10-07T13:42:32.149376Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 140.476582ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/767811f7-3418-4c5e-a9c8-57c51c9db11f
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/767811f7-3418-4c5e-a9c8-57c51c9db11f", "id":"767811f7-3418-4c5e-a9c8-57c51c9db11f", "name":"tf_tests_policy_changeruleprincipal", "description":"a description", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-10-07T13:42:32.149376Z", "updated_at":"2026-10-07T13:42:32.149376Z", "editable":true, "deletable":true, "managed":false, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 87.529841ms
    - id: 8
      request:
        host: api.scaleway.com
        form:
            policy_id:
                - 767811f7-3418-4c5e-a9c8-57c51c9db11f
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=767811f7-3418-4c5e-a9c8-57c51c9db11f
        method: GET
      response:
        body: '{"rules":[{"srn":"srn://iam.scw.eu/rules/286e5b00-52d0-40b0-8d81-4accc57e09dc","id":"286e5b00-52d0-40b0-8d81-4accc57e09dc","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 97.486582ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"policy_id":"767811f7-3418-4c5e-a9c8-57c51c9db11f","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"","project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/rules
        method: PUT
      response:
        body: '{"rules":[{"srn":"srn://iam.scw.eu/rules/10f25185-36c9-4703-acdb-b01b1e2f067b","id":"10f25185-36c9-4703-acdb-b01b1e2f067b","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","condition":"","project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 119.988972ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 93.91908ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/15716868-b0ab-48c9-86eb-63952be70f47
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 116.110524ms
    - id: 24
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/63d8cf6a-b3f6-448f-9994-f1ad8546ad60
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 1.507919255s
    - id: 25
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/767811f7-3418-4c5e-a9c8-57c51c9db11f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"767811f7-3418-4c5e-a9c8-57c51c9db11f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 43.209362ms
