---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-4741455613938064913","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"srn":"srn://account.scw.eu/projects/b5706de0-0238-4c5d-844a-0e4df9508fc5", "id":"b5706de0-0238-4c5d-844a-0e4df9508fc5", "name":"tf-test-scaleway-project-4741455613938064913", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-10-07T13:41:45.526079Z", "updated_at":"2026-10-07T13:41:45.526079Z", "description":"", "qualification":null, "status":"active"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 433.870833ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 16.567813ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-3306930343181624499","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/8f7eb313-ba3c-44ac-a13d-10fb0ee82fa0", "id":"8f7eb313-ba3c-44ac-a13d-10fb0ee82fa0", "name":"tf-test-scaleway-iam-app-3306930343181624499", "description":"", "created_at":"2026-10-07T13:41:45.984128Z", "updated_at":"2026-10-07T13:41:45.984128Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 64.912269ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-3767154000471643375","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"8f7eb313-ba3c-44ac-a13d-10fb0ee82fa0"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/97de4757-c826-4511-b7ba-6a324f17d760", "id":"97de4757-c826-4511-b7ba-6a324f17d760", "name":"tf-test-scaleway-iam-policy-3767154000471643375", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-10-07T13:41:46.042081Z", "updated_at":"2026-10-07T13:41:46.042081Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "application_id":"8f7eb313-ba3c-44ac-a13d-10fb0ee82fa0"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 93.59596ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"application_id":"8f7eb313-ba3c-44ac-a13d-10fb0ee82fa0","default_project_id":"b5706de0-0238-4c5d-844a-0e4df9508fc5","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCWAYF6HF6T2SDTW3G8F", "access_key":"SCWXXXXXXXXXXXXXXXXX", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"", "created_at":"2026-10-07T13:41:46.204865Z", "updated_at":"2026-10-07T13:41:46.204865Z", "expires_at":null, "default_project_id":"b5706de0-0238-4c5d-844a-0e4df9508fc5", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.178.0.12", "application_id":"8f7eb313-ba3c-44ac-a13d-10fb0ee82fa0"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 134.730697ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_policy_projectid","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"","project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}],"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/44d07f71-3feb-4a3f-b84d-4cac10967525","id":"44d07f71-3feb-4a3f-b84d-4cac10967525","name":"tf_tests_policy_projectid","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-07T13:42:32.606650Z","updated_at":"2026-10-07T13:42:32.606650Z","editable":true,"deletable":true,"managed":false,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 113.460952ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/44d07f71-3feb-4a3f-b84d-4cac10967525
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/44d07f71-3feb-4a3f-b84d-4cac10967525","id":"44d07f71-3feb-4a3f-b84d-4cac10967525","name":"tf_tests_policy_projectid","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-07T13:42:32.606650Z","updated_at":"2026-10-07T13:42:32.606650Z","editable":true,"deletable":true,"managed":false,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 88.861103ms
    - id: 8
      request:
        host: api.scaleway.com
        form:
            policy_id:
                - 44d07f71-3feb-4a3f-b84d-4cac10967525
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=44d07f71-3feb-4a3f-b84d-4cac10967525
        method: GET
      response:
        body: '{"rules":[{"srn":"srn://iam.scw.eu/rules/9e1c689c-81e6-4e4c-be6c-8e09e0aa76e8", "id":"9e1c689c-81e6-4e4c-be6c-8e09e0aa76e8", "permission_set_names":["AllProductsFullAccess"], "permission_sets_scope_type":"projects", "condition":"", "project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 91.856662ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 101.453659ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/8f7eb313-ba3c-44ac-a13d-10fb0ee82fa0
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 92.385427ms
    - id: 21
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/b5706de0-0238-4c5d-844a-0e4df9508fc5
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 1.794694023s
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/44d07f71-3feb-4a3f-b84d-4cac10967525
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"44d07f71-3feb-4a3f-b84d-4cac10967525","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 33.841227ms
