---
version: 2
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-1163492042332598707","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-07-19T13:37:37.269963Z","description":"","id":"1fdafb17-5e3f-4344-a058-1322a12f43d3","name":"test-acc-scaleway-project-1163492042332598707","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:37:37.269963Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"test-acc-scaleway-iam-app-3130460544469990830","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-07-19T13:37:37.552323Z","description":"","editable":true,"id":"f58b66fe-a1b1-4490-b449-3f49731dec00","name":"test-acc-scaleway-iam-app-3130460544469990830","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:37:37.552323Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-3226705408535778425","description":"","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","rules":[{"permission_set_names":["IAMManager"],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}],"application_id":"f58b66fe-a1b1-4490-b449-3f49731dec00"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"f58b66fe-a1b1-4490-b449-3f49731dec00","created_at":"2023-07-19T13:37:37.751751Z","description":"","editable":true,"id":"ccef4aee-14cf-45d9-ae64-b2b7d48bcc9d","name":"test-acc-scaleway-iam-policy-3226705408535778425","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:37:37.751751Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"application_id":"f58b66fe-a1b1-4490-b449-3f49731dec00","expires_at":null,"default_project_id":"1fdafb17-5e3f-4344-a058-1322a12f43d3","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCW3F7QFK884XSD1G4X4","application_id":"f58b66fe-a1b1-4490-b449-3f49731dec00","created_at":"2023-07-19T13:37:37.919168Z","creation_ip":"51.159.73.9","default_project_id":"1fdafb17-5e3f-4344-a058-1322a12f43d3","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-07-19T13:37:37.919168Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"tf_tests_policy_changeruleprincipal","description":"a description","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"created_at":"2023-07-19T13:37:38.989808Z","description":"a description","editable":true,"id":"c4c30a93-5642-4683-bcfe-48902f66a3cf","name":"tf_tests_policy_changeruleprincipal","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"no_principal":true,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:37:38.989808Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/c4c30a93-5642-4683-bcfe-48902f66a3cf
    method: GET
  response:
    body: '{"created_at":"2023-07-19T13:37:38.989808Z","description":"a description","editable":true,"id":"c4c30a93-5642-4683-bcfe-48902f66a3cf","name":"tf_tests_policy_changeruleprincipal","nb_permission_sets":1,"nb_rules":1,"nb_scopes":1,"no_principal":true,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:37:38.989808Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=c4c30a93-5642-4683-bcfe-48902f66a3cf
    method: GET
  response:
    body: '{"rules":[{"id":"14a4f587-e969-4777-8ec5-46876625ef86","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"policy_id":"c4c30a93-5642-4683-bcfe-48902f66a3cf","rules":[{"permission_set_names":["AllProductsFullAccess"],"project_ids":["ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: '{"rules":[{"id":"0072612f-4661-4761-8158-b8a41b6b7d8b","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","project_ids":["ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"]}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW3F7QFK884XSD1G4X4
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/f58b66fe-a1b1-4490-b449-3f49731dec00
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/1fdafb17-5e3f-4344-a058-1322a12f43d3
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/c4c30a93-5642-4683-bcfe-48902f66a3cf
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_policy","resource_id":"c4c30a93-5642-4683-bcfe-48902f66a3cf","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
