---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-1805897619158471562\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"17adaad4-85d1-42ad-9028-b842c4aa58a6\",\"name\":\"test-acc-scaleway-project-1805897619158471562\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:21.088535Z\",\"updated_at\":\"2025-09-05T12:00:21.088535Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 481.156641ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-5766889404074207919\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"e30b7888-0845-40ef-a01b-caaa7bbc6a15\",\"name\":\"test-acc-scaleway-iam-app-5766889404074207919\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:21.490616Z\",\"updated_at\":\"2025-09-05T12:00:21.490616Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 169.107977ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-4378924826066008648\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"e30b7888-0845-40ef-a01b-caaa7bbc6a15\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"ee766b93-b172-4d5b-8719-9a572bb95624\",\"name\":\"test-acc-scaleway-iam-policy-4378924826066008648\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:21.693223Z\",\"updated_at\":\"2025-09-05T12:00:21.693223Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"application_id\":\"e30b7888-0845-40ef-a01b-caaa7bbc6a15\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 243.287719ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"e30b7888-0845-40ef-a01b-caaa7bbc6a15\",\"default_project_id\":\"17adaad4-85d1-42ad-9028-b842c4aa58a6\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCW6GEBZPV9S15MSWEJ2\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:21.981423Z\",\"updated_at\":\"2025-09-05T12:00:21.981423Z\",\"expires_at\":null,\"default_project_id\":\"17adaad4-85d1-42ad-9028-b842c4aa58a6\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"130.180.219.188\",\"application_id\":\"e30b7888-0845-40ef-a01b-caaa7bbc6a15\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 250.534157ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_policy_projectid\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"\",\"project_ids\":[\"105bdce1-64c0-48ab-899d-868455867ecf\"]}],\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"d029708d-e1a5-405d-9982-164ca04aaeec\",\"name\":\"tf_tests_policy_projectid\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:28.224278Z\",\"updated_at\":\"2025-09-05T12:00:28.224278Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 223.533993ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/d029708d-e1a5-405d-9982-164ca04aaeec
    method: GET
  response:
    body: "{\"id\":\"d029708d-e1a5-405d-9982-164ca04aaeec\",\"name\":\"tf_tests_policy_projectid\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:28.224278Z\",\"updated_at\":\"2025-09-05T12:00:28.224278Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":1,\"nb_scopes\":1,\"nb_permission_sets\":1,\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 118.052558ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      policy_id:
      - d029708d-e1a5-405d-9982-164ca04aaeec
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=d029708d-e1a5-405d-9982-164ca04aaeec
    method: GET
  response:
    body: "{\"rules\":[{\"id\":\"f5d1db9c-f68e-4e83-bcb2-843d987ac05e\",\"permission_set_names\":[\"AllProductsFullAccess\"],\"permission_sets_scope_type\":\"projects\",\"condition\":\"\",\"project_ids\":[\"105bdce1-64c0-48ab-899d-868455867ecf\"]}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 60.568443ms
[...]
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW6GEBZPV9S15MSWEJ2
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 139.248808ms
[...]
- id: 18
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/e30b7888-0845-40ef-a01b-caaa7bbc6a15
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 168.066963ms
- id: 19
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/17adaad4-85d1-42ad-9028-b842c4aa58a6
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.651005363s
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/d029708d-e1a5-405d-9982-164ca04aaeec
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"policy\",\"resource_id\":\"d029708d-e1a5-405d-9982-164ca04aaeec\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 35.859918ms
