---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-8945296961848999991","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"srn":"srn://account.scw.eu/projects/5fab5874-a843-4287-a75d-f07422d209d6","id":"5fab5874-a843-4287-a75d-f07422d209d6","name":"tf-test-scaleway-project-8945296961848999991","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-07T13:41:44.549048Z","updated_at":"2026-10-07T13:41:44.549048Z","description":"","qualification":null,"status":"active"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 568.557255ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 114.197163ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-1289162752750150455","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/b78264b6-06cb-4ffb-98d1-d57d711db56f","id":"b78264b6-06cb-4ffb-98d1-d57d711db56f","name":"tf-test-scaleway-iam-app-1289162752750150455","description":"","created_at":"2026-10-07T13:41:45.219424Z","updated_at":"2026-10-07T13:41:45.219424Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 66.012156ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-5153934000983870368","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"b78264b6-06cb-4ffb-98d1-d57d711db56f"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/199c391f-0a3d-4409-aa90-20d24c370c56", "id":"199c391f-0a3d-4409-aa90-20d24c370c56", "name":"tf-test-scaleway-iam-policy-5153934000983870368", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-10-07T13:41:45.287466Z", "updated_at":"2026-10-07T13:41:45.287466Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "application_id":"b78264b6-06cb-4ffb-98d1-d57d711db56f"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 102.848236ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"application_id":"b78264b6-06cb-4ffb-98d1-d57d711db56f","default_project_id":"5fab5874-a843-4287-a75d-f07422d209d6","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCW8YJCCZPRJKWAFK4X0","access_key":"SCWXXXXXXXXXXXXXXXXX","secret_key":"11111111-1111-1111-1111-111111111111","description":"","created_at":"2026-10-07T13:41:45.465466Z","updated_at":"2026-10-07T13:41:45.465466Z","expires_at":null,"default_project_id":"5fab5874-a843-4287-a75d-f07422d209d6","editable":true,"deletable":true,"managed":false,"creation_ip":"88.178.0.12","application_id":"b78264b6-06cb-4ffb-98d1-d57d711db56f"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 137.910152ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_policy_changepermissions","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/d793b245-021c-47b3-997e-53ef404f26ed","id":"d793b245-021c-47b3-997e-53ef404f26ed","name":"tf_tests_policy_changepermissions","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-07T13:42:34.090493Z","updated_at":"2026-10-07T13:42:34.090493Z","editable":true,"deletable":true,"managed":false,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 133.454186ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/d793b245-021c-47b3-997e-53ef404f26ed
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/d793b245-021c-47b3-997e-53ef404f26ed", "id":"d793b245-021c-47b3-997e-53ef404f26ed", "name":"tf_tests_policy_changepermissions", "description":"a description", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-10-07T13:42:34.090493Z", "updated_at":"2026-10-07T13:42:34.090493Z", "editable":true, "deletable":true, "managed":false, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 90.724696ms
    - id: 8
      request:
        host: api.scaleway.com
        form:
            policy_id:
                - d793b245-021c-47b3-997e-53ef404f26ed
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=d793b245-021c-47b3-997e-53ef404f26ed
        method: GET
      response:
        body: '{"rules":[{"srn":"srn://iam.scw.eu/rules/7153dc17-837d-4ee2-94d1-69d01b0d5061","id":"7153dc17-837d-4ee2-94d1-69d01b0d5061","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 101.445653ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"policy_id":"d793b245-021c-47b3-997e-53ef404f26ed","rules":[{"permission_set_names":["AllProductsFullAccess","ContainerRegistryReadOnly"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/rules
        method: PUT
      response:
        body: '{"rules":[{"srn":"srn://iam.scw.eu/rules/02a6b45d-118c-416c-afa6-407259c6869a","id":"02a6b45d-118c-416c-afa6-407259c6869a","permission_set_names":["AllProductsFullAccess","ContainerRegistryReadOnly"],"permission_sets_scope_type":"projects","condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 125.201547ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 52.01459ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/b78264b6-06cb-4ffb-98d1-d57d711db56f
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 63.703597ms
    - id: 32
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/5fab5874-a843-4287-a75d-f07422d209d6
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 2.338519204s
    - id: 33
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/d793b245-021c-47b3-997e-53ef404f26ed
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"d793b245-021c-47b3-997e-53ef404f26ed","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 41.274547ms
