---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-6407109329868205656","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"srn":"srn://account.scw.eu/projects/b8027ce2-f965-448e-98e7-297e817d4a0f", "id":"b8027ce2-f965-448e-98e7-297e817d4a0f", "name":"tf-test-scaleway-project-6407109329868205656", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-10-07T13:41:43.618702Z", "updated_at":"2026-10-07T13:41:43.618702Z", "description":"", "qualification":null, "status":"active"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 708.224157ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 20.697213ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-98618096515255812","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/0660a33b-e2ad-4804-bc39-9e4efc595900", "id":"0660a33b-e2ad-4804-bc39-9e4efc595900", "name":"tf-test-scaleway-iam-app-98618096515255812", "description":"", "created_at":"2026-10-07T13:41:44.192114Z", "updated_at":"2026-10-07T13:41:44.192114Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 111.725327ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-7095581772611460054","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"0660a33b-e2ad-4804-bc39-9e4efc595900"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/c1b9c212-fb10-425e-89e6-4d60be30f2e6", "id":"c1b9c212-fb10-425e-89e6-4d60be30f2e6", "name":"tf-test-scaleway-iam-policy-7095581772611460054", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-10-07T13:41:44.260746Z", "updated_at":"2026-10-07T13:41:44.260746Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "application_id":"0660a33b-e2ad-4804-bc39-9e4efc595900"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 119.254155ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"application_id":"0660a33b-e2ad-4804-bc39-9e4efc595900","default_project_id":"b8027ce2-f965-448e-98e7-297e817d4a0f","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCW3EX7G1NWRDCB4RMX8", "access_key":"SCWXXXXXXXXXXXXXXXXX", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"", "created_at":"2026-10-07T13:41:44.461385Z", "updated_at":"2026-10-07T13:41:44.461385Z", "expires_at":null, "default_project_id":"b8027ce2-f965-448e-98e7-297e817d4a0f", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.178.0.12", "application_id":"0660a33b-e2ad-4804-bc39-9e4efc595900"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 155.286304ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_policy_change_linked_entity","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/f06e2386-594b-43e3-9269-cce3a85c0afb","id":"f06e2386-594b-43e3-9269-cce3a85c0afb","name":"tf_tests_policy_change_linked_entity","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-07T13:42:34.231718Z","updated_at":"2026-10-07T13:42:34.231718Z","editable":true,"deletable":true,"managed":false,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 151.114964ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/f06e2386-594b-43e3-9269-cce3a85c0afb
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/f06e2386-594b-43e3-9269-cce3a85c0afb","id":"f06e2386-594b-43e3-9269-cce3a85c0afb","name":"tf_tests_policy_change_linked_entity","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-07T13:42:34.231718Z","updated_at":"2026-10-07T13:42:34.231718Z","editable":true,"deletable":true,"managed":false,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 78.752747ms
    - id: 8
      request:
        host: api.scaleway.com
        form:
            policy_id:
                - f06e2386-594b-43e3-9269-cce3a85c0afb
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=f06e2386-594b-43e3-9269-cce3a85c0afb
        method: GET
      response:
        body: '{"rules":[{"srn":"srn://iam.scw.eu/rules/16a59329-b068-4c56-91ce-413ee2d26c1a", "id":"16a59329-b068-4c56-91ce-413ee2d26c1a", "permission_set_names":["AllProductsFullAccess"], "permission_sets_scope_type":"projects", "condition":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 86.154457ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/4616b0f7-e6a1-4f09-8716-6c2106dce217
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/4616b0f7-e6a1-4f09-8716-6c2106dce217", "id":"4616b0f7-e6a1-4f09-8716-6c2106dce217", "name":"tf_tests_policy_change_linked_entity", "description":"a description", "created_at":"2026-10-07T13:42:37.834928Z", "updated_at":"2026-10-07T13:42:37.834928Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 77.090925ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-scaleway-iam-group-policy-permissions","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/5a75d660-ac31-4ad0-ae4f-e328d02d345e","id":"5a75d660-ac31-4ad0-ae4f-e328d02d345e","created_at":"2026-10-07T13:42:41.278759Z","updated_at":"2026-10-07T13:42:41.278759Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-scaleway-iam-group-policy-permissions","description":"","user_ids":[],"application_ids":[],"tags":[],"editable":true,"deletable":true,"managed":false,"all_users":false,"all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 116.105244ms
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"user_ids":[],"application_ids":["21d0bd9f-802a-4933-a9e4-53e5887fc2d1"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/5a75d660-ac31-4ad0-ae4f-e328d02d345e/members
        method: PUT
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/5a75d660-ac31-4ad0-ae4f-e328d02d345e", "id":"5a75d660-ac31-4ad0-ae4f-e328d02d345e", "created_at":"2026-10-07T13:42:41.278759Z", "updated_at":"2026-10-07T13:42:41.278759Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-tests-scaleway-iam-group-policy-permissions", "description":"", "user_ids":[], "application_ids":["21d0bd9f-802a-4933-a9e4-53e5887fc2d1"], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 100.44794ms
    - id: 31
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/5a75d660-ac31-4ad0-ae4f-e328d02d345e
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/5a75d660-ac31-4ad0-ae4f-e328d02d345e", "id":"5a75d660-ac31-4ad0-ae4f-e328d02d345e", "created_at":"2026-10-07T13:42:41.278759Z", "updated_at":"2026-10-07T13:42:41.278759Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-tests-scaleway-iam-group-policy-permissions", "description":"", "user_ids":[], "application_ids":["21d0bd9f-802a-4933-a9e4-53e5887fc2d1"], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 85.599174ms
    - id: 32
      request:
        host: api.scaleway.com
        body: '{"group_id":"5a75d660-ac31-4ad0-ae4f-e328d02d345e"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies/f06e2386-594b-43e3-9269-cce3a85c0afb
        method: PATCH
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/f06e2386-594b-43e3-9269-cce3a85c0afb", "id":"f06e2386-594b-43e3-9269-cce3a85c0afb", "name":"tf_tests_policy_change_linked_entity", "description":"a description", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-10-07T13:42:34.231718Z", "updated_at":"2026-10-07T13:42:34.231718Z", "editable":true, "deletable":true, "managed":false, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[], "group_id":"5a75d660-ac31-4ad0-ae4f-e328d02d345e"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 101.70925ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 49.241729ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/b8027ce2-f965-448e-98e7-297e817d4a0f
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "38"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 1.789504853s
    - id: 47
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/f06e2386-594b-43e3-9269-cce3a85c0afb
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"f06e2386-594b-43e3-9269-cce3a85c0afb","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 35.659745ms
