---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-161436012684927821","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"id":"f5170c2a-b45e-4d60-8fbd-d7e120a2e406", "name":"tf-test-scaleway-project-161436012684927821", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:06.944328Z", "updated_at":"2026-06-12T15:44:06.944328Z", "description":"", "qualification":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 587.834366ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-2228728414264081514","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"01e8cb48-0e9a-454c-b565-95584846f098", "name":"tf-test-scaleway-iam-app-2228728414264081514", "description":"", "created_at":"2026-06-12T15:44:07.420679Z", "updated_at":"2026-06-12T15:44:07.420679Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.940213ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-8201301488964093349","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"01e8cb48-0e9a-454c-b565-95584846f098"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"id":"f1d2ec86-b373-4807-9081-18934c580575", "name":"tf-test-scaleway-iam-policy-8201301488964093349", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:07.565259Z", "updated_at":"2026-06-12T15:44:07.565259Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "application_id":"01e8cb48-0e9a-454c-b565-95584846f098"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 191.840082ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"01e8cb48-0e9a-454c-b565-95584846f098","default_project_id":"f5170c2a-b45e-4d60-8fbd-d7e120a2e406","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW851HE03TYHY65DZ2Q", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"", "created_at":"2026-06-12T15:44:07.881455Z", "updated_at":"2026-06-12T15:44:07.881455Z", "expires_at":null, "default_project_id":"f5170c2a-b45e-4d60-8fbd-d7e120a2e406", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.189.216.157", "application_id":"01e8cb48-0e9a-454c-b565-95584846f098"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 272.560412ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_policy_noupdate","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"id":"d3dbb6de-0e62-41f5-bff1-b8eb3d03143c", "name":"tf_tests_policy_noupdate", "description":"a description", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:14.040959Z", "updated_at":"2026-06-12T15:44:14.040959Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.894942ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/d3dbb6de-0e62-41f5-bff1-b8eb3d03143c
        method: GET
      response:
        body: '{"id":"d3dbb6de-0e62-41f5-bff1-b8eb3d03143c", "name":"tf_tests_policy_noupdate", "description":"a description", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:14.040959Z", "updated_at":"2026-06-12T15:44:14.040959Z", "editable":true, "deletable":true, "managed":false, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.86914ms
    - id: 6
      request:
        host: api.scaleway.com
        form:
            policy_id:
                - d3dbb6de-0e62-41f5-bff1-b8eb3d03143c
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=d3dbb6de-0e62-41f5-bff1-b8eb3d03143c
        method: GET
      response:
        body: '{"rules":[{"id":"101470ab-5f92-4734-b66b-6f5d36f421c6", "permission_set_names":["AllProductsFullAccess"], "permission_sets_scope_type":"projects", "condition":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.330296ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 194.400127ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/01e8cb48-0e9a-454c-b565-95584846f098
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 96.825792ms
    - id: 21
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/f5170c2a-b45e-4d60-8fbd-d7e120a2e406
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.679274719s
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/d3dbb6de-0e62-41f5-bff1-b8eb3d03143c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"d3dbb6de-0e62-41f5-bff1-b8eb3d03143c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 44.301473ms
