---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-1961640147741475612\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"4b59db45-6d02-4aad-93d1-552fb50e7ddf\", \"name\":\"test-acc-scaleway-project-1961640147741475612\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:27.215668Z\", \"updated_at\":\"2025-11-17T17:10:27.215668Z\", \"description\":\"\", \"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 490.749866ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-5959307286748936800\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"c4f11cd5-e88c-49d0-a85a-0130c876dfd4\", \"name\":\"test-acc-scaleway-iam-app-5959307286748936800\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:27.730815Z\", \"updated_at\":\"2025-11-17T17:10:27.730815Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 217.65278ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-6661779725811493651\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"c4f11cd5-e88c-49d0-a85a-0130c876dfd4\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"b8bcdbc7-45e1-4ecd-9474-bff0eaaf6496\", \"name\":\"test-acc-scaleway-iam-policy-6661779725811493651\", \"description\":\"\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:27.829340Z\", \"updated_at\":\"2025-11-17T17:10:27.829340Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":0, \"nb_scopes\":0, \"nb_permission_sets\":0, \"tags\":[], \"application_id\":\"c4f11cd5-e88c-49d0-a85a-0130c876dfd4\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 126.903555ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"c4f11cd5-e88c-49d0-a85a-0130c876dfd4\",\"default_project_id\":\"4b59db45-6d02-4aad-93d1-552fb50e7ddf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWYT0X3R18DPDNGFQD5\", \"secret_key\":\"11111111-1111-1111-1111-111111111111\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:28.120665Z\", \"updated_at\":\"2025-11-17T17:10:28.120665Z\", \"expires_at\":null, \"default_project_id\":\"4b59db45-6d02-4aad-93d1-552fb50e7ddf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"51.159.46.153\", \"application_id\":\"c4f11cd5-e88c-49d0-a85a-0130c876dfd4\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 396.164109ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_policy_condition\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"1 == 1\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"5209089d-8772-4b5a-a530-5c8ea8e998e0\", \"name\":\"tf_tests_policy_condition\", \"description\":\"a description\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:55.311965Z\", \"updated_at\":\"2025-11-17T17:10:55.311965Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":0, \"nb_scopes\":0, \"nb_permission_sets\":0, \"tags\":[], \"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 177.629763ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/5209089d-8772-4b5a-a530-5c8ea8e998e0
    method: GET
  response:
    body: "{\"id\":\"5209089d-8772-4b5a-a530-5c8ea8e998e0\", \"name\":\"tf_tests_policy_condition\", \"description\":\"a description\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:55.311965Z\", \"updated_at\":\"2025-11-17T17:10:55.311965Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":1, \"nb_scopes\":1, \"nb_permission_sets\":1, \"tags\":[], \"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 135.566592ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      policy_id:
      - 5209089d-8772-4b5a-a530-5c8ea8e998e0
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=5209089d-8772-4b5a-a530-5c8ea8e998e0
    method: GET
  response:
    body: "{\"rules\":[{\"id\":\"23d2eef1-b4ec-48a9-9ae7-16dc66945081\", \"permission_set_names\":[\"AllProductsFullAccess\"], \"permission_sets_scope_type\":\"projects\", \"condition\":\"1 == 1\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 101.584274ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"policy_id\":\"5209089d-8772-4b5a-a530-5c8ea8e998e0\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"request.user_agent == 'terraform-test'\",\"project_ids\":[\"105bdce1-64c0-48ab-899d-868455867ecf\"]}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: "{\"rules\":[{\"id\":\"14b0f1b8-c7b0-4874-a559-f2a5147e038a\", \"permission_set_names\":[\"AllProductsFullAccess\"], \"permission_sets_scope_type\":\"projects\", \"condition\":\"request.user_agent == 'terraform-test'\", \"project_ids\":[\"105bdce1-64c0-48ab-899d-868455867ecf\"]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 145.552674ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 62.248075ms
[...]
- id: 29
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/c4f11cd5-e88c-49d0-a85a-0130c876dfd4
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 52.332384ms
- id: 30
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/4b59db45-6d02-4aad-93d1-552fb50e7ddf
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.300865765s
- id: 31
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/5209089d-8772-4b5a-a530-5c8ea8e998e0
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"policy\",\"resource_id\":\"5209089d-8772-4b5a-a530-5c8ea8e998e0\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 35.585769ms
