---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-3923448235317047630","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:36.276675Z","description":"","id":"2f6352a4-b434-4e5a-9d46-e229f758105a","name":"test-acc-scaleway-project-3923448235317047630","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-01-22T15:32:36.276675Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 389.947208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-6757352182290578120","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:36.642309Z","deletable":true,"description":"","editable":true,"id":"08f202f8-b6fb-4ff9-afca-38d0376af81b","managed":false,"name":"test-acc-scaleway-iam-app-6757352182290578120","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:36.642309Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.942958ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-1803321732000658166","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"08f202f8-b6fb-4ff9-afca-38d0376af81b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"08f202f8-b6fb-4ff9-afca-38d0376af81b","created_at":"2025-01-22T15:32:36.759939Z","deletable":true,"description":"","editable":true,"id":"516492de-a2e8-4ba0-bf26-4026d7fa7409","managed":false,"name":"test-acc-scaleway-iam-policy-1803321732000658166","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:36.759939Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.127375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"08f202f8-b6fb-4ff9-afca-38d0376af81b","default_project_id":"2f6352a4-b434-4e5a-9d46-e229f758105a","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW9KV5Z29KXZGW4Q0CB","application_id":"08f202f8-b6fb-4ff9-afca-38d0376af81b","created_at":"2025-01-22T15:32:36.998327Z","creation_ip":"51.159.73.9","default_project_id":"2f6352a4-b434-4e5a-9d46-e229f758105a","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-01-22T15:32:36.998327Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 235.746416ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_policy_changeruleprincipal","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":[],"no_principal":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:39.623693Z","deletable":true,"description":"a description","editable":true,"id":"b93423b9-9d7b-436d-82f2-35f69ed73c44","managed":false,"name":"tf_tests_policy_changeruleprincipal","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"no_principal":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:39.623693Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.962792ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/b93423b9-9d7b-436d-82f2-35f69ed73c44
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:32:39.623693Z","deletable":true,"description":"a description","editable":true,"id":"b93423b9-9d7b-436d-82f2-35f69ed73c44","managed":false,"name":"tf_tests_policy_changeruleprincipal","nb_permission_sets":1,"nb_rules":1,"nb_scopes":1,"no_principal":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:39.623693Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.183166ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=b93423b9-9d7b-436d-82f2-35f69ed73c44
        method: GET
      response:
        body: '{"rules":[{"condition":"","id":"e20fe757-859b-4127-ad6a-cd55525b302c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.845791ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"policy_id":"b93423b9-9d7b-436d-82f2-35f69ed73c44","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"","project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/rules
        method: PUT
      response:
        body: '{"rules":[{"condition":"","id":"35bef84b-caf8-4064-aa6e-cce8f9f0614e","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.327375ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW9KV5Z29KXZGW4Q0CB
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 104.876ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/08f202f8-b6fb-4ff9-afca-38d0376af81b
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 108.673958ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/2f6352a4-b434-4e5a-9d46-e229f758105a
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.406151916s
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/b93423b9-9d7b-436d-82f2-35f69ed73c44
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"b93423b9-9d7b-436d-82f2-35f69ed73c44","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.673083ms
