---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-805355373125189856","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"id":"6565d016-f92d-49d1-94af-d81575f95d60", "name":"tf-test-scaleway-project-805355373125189856", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:10.238216Z", "updated_at":"2026-06-12T15:44:10.238216Z", "description":"", "qualification":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 554.88119ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-2927454604808155582","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"633f39bd-1972-4d7b-a842-2a8d650f6322", "name":"tf-test-scaleway-iam-app-2927454604808155582", "description":"", "created_at":"2026-06-12T15:44:10.689031Z", "updated_at":"2026-06-12T15:44:10.689031Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.162009ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-6680117743194600284","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"633f39bd-1972-4d7b-a842-2a8d650f6322"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"id":"81ea1c5f-ee61-4cd4-89bc-4e8eef54274b", "name":"tf-test-scaleway-iam-policy-6680117743194600284", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:10.765347Z", "updated_at":"2026-06-12T15:44:10.765347Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "application_id":"633f39bd-1972-4d7b-a842-2a8d650f6322"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.772665ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"633f39bd-1972-4d7b-a842-2a8d650f6322","default_project_id":"6565d016-f92d-49d1-94af-d81575f95d60","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWHR3SMFM0YF3DP2QR6", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"", "created_at":"2026-06-12T15:44:11.065310Z", "updated_at":"2026-06-12T15:44:11.065310Z", "expires_at":null, "default_project_id":"6565d016-f92d-49d1-94af-d81575f95d60", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.189.216.157", "application_id":"633f39bd-1972-4d7b-a842-2a8d650f6322"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 273.907524ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_policy_projectid","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"","project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}],"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"id":"896896de-95e8-44ce-988c-e470301984fe", "name":"tf_tests_policy_projectid", "description":"a description", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:14.044621Z", "updated_at":"2026-06-12T15:44:14.044621Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.651496ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/896896de-95e8-44ce-988c-e470301984fe
        method: GET
      response:
        body: '{"id":"896896de-95e8-44ce-988c-e470301984fe", "name":"tf_tests_policy_projectid", "description":"a description", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:14.044621Z", "updated_at":"2026-06-12T15:44:14.044621Z", "editable":true, "deletable":true, "managed":false, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.073559ms
    - id: 6
      request:
        host: api.scaleway.com
        form:
            policy_id:
                - 896896de-95e8-44ce-988c-e470301984fe
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=896896de-95e8-44ce-988c-e470301984fe
        method: GET
      response:
        body: '{"rules":[{"id":"919d8421-4b73-4f39-b17d-aeb893c3f036", "permission_set_names":["AllProductsFullAccess"], "permission_sets_scope_type":"projects", "condition":"", "project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.780179ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 210.661227ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/633f39bd-1972-4d7b-a842-2a8d650f6322
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 96.1953ms
    - id: 19
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/6565d016-f92d-49d1-94af-d81575f95d60
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.727598713s
    - id: 20
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/896896de-95e8-44ce-988c-e470301984fe
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"896896de-95e8-44ce-988c-e470301984fe","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.023122ms
