---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-3969360057667265698","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:35.427857Z","description":"","id":"c06db458-5c7d-4372-a954-d0dadbf8a092","name":"test-acc-scaleway-project-3969360057667265698","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-01-22T15:32:35.427857Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 296.784125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-4824602672849477502","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:35.785413Z","deletable":true,"description":"","editable":true,"id":"dddb6bd8-baba-404c-ae56-7a8b198374cb","managed":false,"name":"test-acc-scaleway-iam-app-4824602672849477502","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:35.785413Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 196.461084ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-1120243169265063261","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"dddb6bd8-baba-404c-ae56-7a8b198374cb"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"dddb6bd8-baba-404c-ae56-7a8b198374cb","created_at":"2025-01-22T15:32:35.895686Z","deletable":true,"description":"","editable":true,"id":"f1086116-0fef-4007-98da-fb1ed4f071d4","managed":false,"name":"test-acc-scaleway-iam-policy-1120243169265063261","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:35.895686Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 145.779708ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"dddb6bd8-baba-404c-ae56-7a8b198374cb","default_project_id":"c06db458-5c7d-4372-a954-d0dadbf8a092","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWQJM67R45MYNRYZXZQ","application_id":"dddb6bd8-baba-404c-ae56-7a8b198374cb","created_at":"2025-01-22T15:32:36.122187Z","creation_ip":"51.159.73.9","default_project_id":"c06db458-5c7d-4372-a954-d0dadbf8a092","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-01-22T15:32:36.122187Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.460833ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_policy_condition","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"1 == 1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":[],"no_principal":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:55.731082Z","deletable":true,"description":"a description","editable":true,"id":"d8a30966-9618-42f4-ba73-f6aec057f27c","managed":false,"name":"tf_tests_policy_condition","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"no_principal":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:55.731082Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.496417ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/d8a30966-9618-42f4-ba73-f6aec057f27c
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:32:55.731082Z","deletable":true,"description":"a description","editable":true,"id":"d8a30966-9618-42f4-ba73-f6aec057f27c","managed":false,"name":"tf_tests_policy_condition","nb_permission_sets":1,"nb_rules":1,"nb_scopes":1,"no_principal":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:55.731082Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.404458ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=d8a30966-9618-42f4-ba73-f6aec057f27c
        method: GET
      response:
        body: '{"rules":[{"condition":"1 == 1","id":"e0641d3a-4412-42d2-9e89-739f984624e5","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.682042ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"policy_id":"d8a30966-9618-42f4-ba73-f6aec057f27c","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"request.user_agent == ''terraform-test''","project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/rules
        method: PUT
      response:
        body: '{"rules":[{"condition":"request.user_agent == ''terraform-test''","id":"785fd26b-31cb-4d5b-89d0-cf42d1b55008","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.891833ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWQJM67R45MYNRYZXZQ
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 88.993541ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/dddb6bd8-baba-404c-ae56-7a8b198374cb
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 91.110333ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/c06db458-5c7d-4372-a954-d0dadbf8a092
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.400311208s
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/d8a30966-9618-42f4-ba73-f6aec057f27c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"d8a30966-9618-42f4-ba73-f6aec057f27c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.813959ms
