---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-2895481043915868296\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"46bf45c9-07b5-4526-b549-db20c4e0b0c3\", \"name\":\"test-acc-scaleway-project-2895481043915868296\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:26.109816Z\", \"updated_at\":\"2025-11-17T17:10:26.109816Z\", \"description\":\"\", \"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 496.273762ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-3068200774423597218\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"fdbcb3f8-6822-437c-bb1b-04bd057800d8\", \"name\":\"test-acc-scaleway-iam-app-3068200774423597218\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:26.514226Z\", \"updated_at\":\"2025-11-17T17:10:26.514226Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 98.347746ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-2846480840489452978\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"fdbcb3f8-6822-437c-bb1b-04bd057800d8\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"edfc8e58-884b-4a30-a482-394b19d39c52\", \"name\":\"test-acc-scaleway-iam-policy-2846480840489452978\", \"description\":\"\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:26.613468Z\", \"updated_at\":\"2025-11-17T17:10:26.613468Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":0, \"nb_scopes\":0, \"nb_permission_sets\":0, \"tags\":[], \"application_id\":\"fdbcb3f8-6822-437c-bb1b-04bd057800d8\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 192.493463ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"fdbcb3f8-6822-437c-bb1b-04bd057800d8\",\"default_project_id\":\"46bf45c9-07b5-4526-b549-db20c4e0b0c3\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWBP9XAZEB70BAYBZ4D\", \"secret_key\":\"11111111-1111-1111-1111-111111111111\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:26.989788Z\", \"updated_at\":\"2025-11-17T17:10:26.989788Z\", \"expires_at\":null, \"default_project_id\":\"46bf45c9-07b5-4526-b549-db20c4e0b0c3\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"51.159.46.153\", \"application_id\":\"fdbcb3f8-6822-437c-bb1b-04bd057800d8\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 316.005921ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_policy_projectid\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"\",\"project_ids\":[\"105bdce1-64c0-48ab-899d-868455867ecf\"]}],\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"768b277e-0b53-4b4d-b2da-3bb77b84627b\", \"name\":\"tf_tests_policy_projectid\", \"description\":\"a description\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:30.450405Z\", \"updated_at\":\"2025-11-17T17:10:30.450405Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":0, \"nb_scopes\":0, \"nb_permission_sets\":0, \"tags\":[], \"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 138.585776ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/768b277e-0b53-4b4d-b2da-3bb77b84627b
    method: GET
  response:
    body: "{\"id\":\"768b277e-0b53-4b4d-b2da-3bb77b84627b\", \"name\":\"tf_tests_policy_projectid\", \"description\":\"a description\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:30.450405Z\", \"updated_at\":\"2025-11-17T17:10:30.450405Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":1, \"nb_scopes\":1, \"nb_permission_sets\":1, \"tags\":[], \"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 142.914283ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      policy_id:
      - 768b277e-0b53-4b4d-b2da-3bb77b84627b
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=768b277e-0b53-4b4d-b2da-3bb77b84627b
    method: GET
  response:
    body: "{\"rules\":[{\"id\":\"fac69750-c760-4cc1-ba7a-d66bfe1190df\", \"permission_set_names\":[\"AllProductsFullAccess\"], \"permission_sets_scope_type\":\"projects\", \"condition\":\"\", \"project_ids\":[\"105bdce1-64c0-48ab-899d-868455867ecf\"]}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 129.686471ms
[...]
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 104.42832ms
[...]
- id: 18
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/fdbcb3f8-6822-437c-bb1b-04bd057800d8
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 181.568828ms
- id: 19
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/46bf45c9-07b5-4526-b549-db20c4e0b0c3
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.470063117s
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/768b277e-0b53-4b4d-b2da-3bb77b84627b
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"policy\",\"resource_id\":\"768b277e-0b53-4b4d-b2da-3bb77b84627b\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 41.631494ms
