---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-123532701963027874\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"0f3f72fc-1be2-4feb-ae20-62e9a2dfe3d3\",\"name\":\"test-acc-scaleway-project-123532701963027874\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T13:58:11.134107Z\",\"updated_at\":\"2025-09-23T13:58:11.134107Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 482.850192ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-1052463996655417118\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"dd47df5c-9de6-4ae8-b040-005fd887cee3\",\"name\":\"test-acc-scaleway-iam-app-1052463996655417118\",\"description\":\"\",\"created_at\":\"2025-09-23T13:58:11.575285Z\",\"updated_at\":\"2025-09-23T13:58:11.575285Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 307.08407ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-8013899255351973823\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"dd47df5c-9de6-4ae8-b040-005fd887cee3\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"da48b79b-1fb9-45b9-b264-9a80cf108581\",\"name\":\"test-acc-scaleway-iam-policy-8013899255351973823\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T13:58:11.872693Z\",\"updated_at\":\"2025-09-23T13:58:11.872693Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"application_id\":\"dd47df5c-9de6-4ae8-b040-005fd887cee3\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.223772536s
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"dd47df5c-9de6-4ae8-b040-005fd887cee3\",\"default_project_id\":\"0f3f72fc-1be2-4feb-ae20-62e9a2dfe3d3\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCW7AV5BS661DHG0JD26\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"\",\"created_at\":\"2025-09-23T13:58:13.143954Z\",\"updated_at\":\"2025-09-23T13:58:13.143954Z\",\"expires_at\":null,\"default_project_id\":\"0f3f72fc-1be2-4feb-ae20-62e9a2dfe3d3\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"51.159.73.145\",\"application_id\":\"dd47df5c-9de6-4ae8-b040-005fd887cee3\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 515.068679ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_policy_noupdate\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"5cf17b92-c9e0-488a-a733-29f41254a633\",\"name\":\"tf_tests_policy_noupdate\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T13:58:15.808024Z\",\"updated_at\":\"2025-09-23T13:58:15.808024Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 318.002574ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/5cf17b92-c9e0-488a-a733-29f41254a633
    method: GET
  response:
    body: "{\"id\":\"5cf17b92-c9e0-488a-a733-29f41254a633\",\"name\":\"tf_tests_policy_noupdate\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T13:58:15.808024Z\",\"updated_at\":\"2025-09-23T13:58:15.808024Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":1,\"nb_scopes\":1,\"nb_permission_sets\":1,\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 613.066379ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      policy_id:
      - 5cf17b92-c9e0-488a-a733-29f41254a633
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=5cf17b92-c9e0-488a-a733-29f41254a633
    method: GET
  response:
    body: "{\"rules\":[{\"id\":\"12e7f84f-38c9-46c4-b67d-a9af8bbd9b0c\",\"permission_set_names\":[\"AllProductsFullAccess\"],\"permission_sets_scope_type\":\"projects\",\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 147.051685ms
[...]
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 128.172831ms
[...]
- id: 18
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/dd47df5c-9de6-4ae8-b040-005fd887cee3
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 140.684848ms
- id: 19
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/0f3f72fc-1be2-4feb-ae20-62e9a2dfe3d3
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.549571317s
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/5cf17b92-c9e0-488a-a733-29f41254a633
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"policy\",\"resource_id\":\"5cf17b92-c9e0-488a-a733-29f41254a633\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 19.952251ms
