---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-6932337412836380310","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"id":"743b672c-1029-48fa-af56-22bed3fb79ad", "name":"tf-test-scaleway-project-6932337412836380310", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:08.121503Z", "updated_at":"2026-06-12T15:44:08.121503Z", "description":"", "qualification":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 667.552639ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-3433683895165141384","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"8679af6a-9b40-4223-9b0c-aa7a1f3865ae", "name":"tf-test-scaleway-iam-app-3433683895165141384", "description":"", "created_at":"2026-06-12T15:44:08.684869Z", "updated_at":"2026-06-12T15:44:08.684869Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.990886ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-6443710314383440777","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"8679af6a-9b40-4223-9b0c-aa7a1f3865ae"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"id":"0449745a-1874-4e13-b1d7-d5dcb8e03699", "name":"tf-test-scaleway-iam-policy-6443710314383440777", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:08.821887Z", "updated_at":"2026-06-12T15:44:08.821887Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "application_id":"8679af6a-9b40-4223-9b0c-aa7a1f3865ae"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.685831ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"8679af6a-9b40-4223-9b0c-aa7a1f3865ae","default_project_id":"743b672c-1029-48fa-af56-22bed3fb79ad","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWA3EW7ES80D7A0ZR5G", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"", "created_at":"2026-06-12T15:44:08.972881Z", "updated_at":"2026-06-12T15:44:08.972881Z", "expires_at":null, "default_project_id":"743b672c-1029-48fa-af56-22bed3fb79ad", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.189.216.157", "application_id":"8679af6a-9b40-4223-9b0c-aa7a1f3865ae"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.578275ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_policy_change_linked_entity","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":[],"no_principal":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"id":"dafcdb62-6361-4f04-8203-6d6cec0dff9c", "name":"tf_tests_policy_change_linked_entity", "description":"a description", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:14.040178Z", "updated_at":"2026-06-12T15:44:14.040178Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.767585ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/dafcdb62-6361-4f04-8203-6d6cec0dff9c
        method: GET
      response:
        body: '{"id":"dafcdb62-6361-4f04-8203-6d6cec0dff9c", "name":"tf_tests_policy_change_linked_entity", "description":"a description", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:14.040178Z", "updated_at":"2026-06-12T15:44:14.040178Z", "editable":true, "deletable":true, "managed":false, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[], "no_principal":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.211441ms
    - id: 6
      request:
        host: api.scaleway.com
        form:
            policy_id:
                - dafcdb62-6361-4f04-8203-6d6cec0dff9c
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=dafcdb62-6361-4f04-8203-6d6cec0dff9c
        method: GET
      response:
        body: '{"rules":[{"id":"4ad86001-309c-434b-b73e-2cbbbcc90eb2", "permission_set_names":["AllProductsFullAccess"], "permission_sets_scope_type":"projects", "condition":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.582238ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/aa461768-dbf8-45d1-add8-983cfb9df7d6
        method: GET
      response:
        body: '{"id":"aa461768-dbf8-45d1-add8-983cfb9df7d6", "name":"tf_tests_policy_change_linked_entity", "description":"a description", "created_at":"2026-06-12T15:44:16.439735Z", "updated_at":"2026-06-12T15:44:16.439735Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.01359ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-scaleway-iam-group-policy-permissions","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"id":"70de6512-e332-41a5-8baa-4fcb8d9b21fa", "created_at":"2026-06-12T15:44:18.948992Z", "updated_at":"2026-06-12T15:44:18.948992Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-tests-scaleway-iam-group-policy-permissions", "description":"", "user_ids":[], "application_ids":[], "tags":[], "editable":true, "deletable":true, "managed":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.005422ms
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"user_ids":[],"application_ids":["a05158eb-917e-41e4-ac9e-6450b9a94814"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/70de6512-e332-41a5-8baa-4fcb8d9b21fa/members
        method: PUT
      response:
        body: '{"id":"70de6512-e332-41a5-8baa-4fcb8d9b21fa", "created_at":"2026-06-12T15:44:18.948992Z", "updated_at":"2026-06-12T15:44:18.948992Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-tests-scaleway-iam-group-policy-permissions", "description":"", "user_ids":[], "application_ids":["a05158eb-917e-41e4-ac9e-6450b9a94814"], "tags":[], "editable":true, "deletable":true, "managed":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.429804ms
    - id: 29
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/70de6512-e332-41a5-8baa-4fcb8d9b21fa
        method: GET
      response:
        body: '{"id":"70de6512-e332-41a5-8baa-4fcb8d9b21fa", "created_at":"2026-06-12T15:44:18.948992Z", "updated_at":"2026-06-12T15:44:18.948992Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-tests-scaleway-iam-group-policy-permissions", "description":"", "user_ids":[], "application_ids":["a05158eb-917e-41e4-ac9e-6450b9a94814"], "tags":[], "editable":true, "deletable":true, "managed":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.452165ms
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"group_id":"70de6512-e332-41a5-8baa-4fcb8d9b21fa"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies/dafcdb62-6361-4f04-8203-6d6cec0dff9c
        method: PATCH
      response:
        body: '{"id":"dafcdb62-6361-4f04-8203-6d6cec0dff9c", "name":"tf_tests_policy_change_linked_entity", "description":"a description", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:14.040178Z", "updated_at":"2026-06-12T15:44:14.040178Z", "editable":true, "deletable":true, "managed":false, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[], "group_id":"70de6512-e332-41a5-8baa-4fcb8d9b21fa"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.64502ms
[...]
    - id: 41
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 200.108591ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/743b672c-1029-48fa-af56-22bed3fb79ad
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.562950075s
    - id: 45
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/dafcdb62-6361-4f04-8203-6d6cec0dff9c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"dafcdb62-6361-4f04-8203-6d6cec0dff9c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 40.345038ms
