---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-5803154790877315170\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"d995e54d-7d9d-4a1a-8739-e5aa75796ae0\",\"name\":\"test-acc-scaleway-project-5803154790877315170\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:19.939223Z\",\"updated_at\":\"2025-09-05T12:00:19.939223Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 437.234088ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-1133003291838068687\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"9971daa6-c786-4e1b-a5bc-d30e333349c6\",\"name\":\"test-acc-scaleway-iam-app-1133003291838068687\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:20.370788Z\",\"updated_at\":\"2025-09-05T12:00:20.370788Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 182.073572ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-4321653213888947867\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"9971daa6-c786-4e1b-a5bc-d30e333349c6\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"55966dd0-111d-4a8a-a239-5d0ebf5b9a37\",\"name\":\"test-acc-scaleway-iam-policy-4321653213888947867\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:20.539137Z\",\"updated_at\":\"2025-09-05T12:00:20.539137Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"application_id\":\"9971daa6-c786-4e1b-a5bc-d30e333349c6\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 205.642586ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"9971daa6-c786-4e1b-a5bc-d30e333349c6\",\"default_project_id\":\"d995e54d-7d9d-4a1a-8739-e5aa75796ae0\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCW9TKC8C0212BJJ01JE\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:20.821700Z\",\"updated_at\":\"2025-09-05T12:00:20.821700Z\",\"expires_at\":null,\"default_project_id\":\"d995e54d-7d9d-4a1a-8739-e5aa75796ae0\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"130.180.219.188\",\"application_id\":\"9971daa6-c786-4e1b-a5bc-d30e333349c6\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 248.216373ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_policy_changepermissions\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"6bcb168b-1514-4c60-b5cb-e007bbb8f679\",\"name\":\"tf_tests_policy_changepermissions\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:28.208109Z\",\"updated_at\":\"2025-09-05T12:00:28.208109Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 265.862769ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/6bcb168b-1514-4c60-b5cb-e007bbb8f679
    method: GET
  response:
    body: "{\"id\":\"6bcb168b-1514-4c60-b5cb-e007bbb8f679\",\"name\":\"tf_tests_policy_changepermissions\",\"description\":\"a description\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T12:00:28.208109Z\",\"updated_at\":\"2025-09-05T12:00:28.208109Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":1,\"nb_scopes\":1,\"nb_permission_sets\":1,\"tags\":[],\"no_principal\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 118.995831ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      policy_id:
      - 6bcb168b-1514-4c60-b5cb-e007bbb8f679
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=6bcb168b-1514-4c60-b5cb-e007bbb8f679
    method: GET
  response:
    body: "{\"rules\":[{\"id\":\"c6b70cea-31f9-46e2-aa91-62bb378ab3c9\",\"permission_set_names\":[\"AllProductsFullAccess\"],\"permission_sets_scope_type\":\"projects\",\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 76.429049ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"policy_id\":\"6bcb168b-1514-4c60-b5cb-e007bbb8f679\",\"rules\":[{\"permission_set_names\":[\"AllProductsFullAccess\",\"ContainerRegistryReadOnly\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: "{\"rules\":[{\"id\":\"b4619ac4-90e8-4eea-a3b9-1e8e8557f722\",\"permission_set_names\":[\"AllProductsFullAccess\",\"ContainerRegistryReadOnly\"],\"permission_sets_scope_type\":\"projects\",\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 163.529788ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW9TKC8C0212BJJ01JE
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 153.368359ms
[...]
- id: 29
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/9971daa6-c786-4e1b-a5bc-d30e333349c6
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 146.91411ms
- id: 30
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/d995e54d-7d9d-4a1a-8739-e5aa75796ae0
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.43764467s
- id: 31
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/6bcb168b-1514-4c60-b5cb-e007bbb8f679
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"policy\",\"resource_id\":\"6bcb168b-1514-4c60-b5cb-e007bbb8f679\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 63.557297ms
