---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/saml
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"organization_saml","resource_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 328.71382ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/saml
        method: POST
      response:
        body: '{"id":"4b2c9633-65b1-4072-9632-64192ffb5b88", "status":"missing_certificate", "service_provider":{"entity_id":"https://iam.scaleway.com/saml/4b2c9633-65b1-4072-9632-64192ffb5b88", "assertion_consumer_service_url":"https://api.scaleway.com/iam/v1/saml/4b2c9633-65b1-4072-9632-64192ffb5b88/login"}, "entity_id":"", "single_sign_on_url":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.412244ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"entity_id":"https://example.com/saml/metadata","single_sign_on_url":"https://example.com/saml/sso"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/saml/4b2c9633-65b1-4072-9632-64192ffb5b88
        method: PATCH
      response:
        body: '{"id":"4b2c9633-65b1-4072-9632-64192ffb5b88", "status":"missing_certificate", "service_provider":{"entity_id":"https://iam.scaleway.com/saml/4b2c9633-65b1-4072-9632-64192ffb5b88", "assertion_consumer_service_url":"https://api.scaleway.com/iam/v1/saml/4b2c9633-65b1-4072-9632-64192ffb5b88/login"}, "entity_id":"https://example.com/saml/metadata", "single_sign_on_url":"https://example.com/saml/sso"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 151.503773ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/saml/4b2c9633-65b1-4072-9632-64192ffb5b88
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 179.841763ms
[...]
