---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/saml
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"organization_saml","resource_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 252.5113ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/saml
        method: POST
      response:
        body: '{"id":"6f4e5ddd-0e53-445d-b3b3-52fabcd48ef7", "status":"missing_certificate", "service_provider":{"entity_id":"https://iam.scaleway.com/saml/6f4e5ddd-0e53-445d-b3b3-52fabcd48ef7", "assertion_consumer_service_url":"https://api.scaleway.com/iam/v1/saml/6f4e5ddd-0e53-445d-b3b3-52fabcd48ef7/login"}, "entity_id":"", "single_sign_on_url":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 187.138611ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/saml/6f4e5ddd-0e53-445d-b3b3-52fabcd48ef7
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 176.628485ms
[...]
