---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/saml
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"organization_saml","resource_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 318.508266ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/saml
        method: POST
      response:
        body: '{"id":"299d2820-41a9-458d-879d-cc36aed02b0b", "status":"missing_certificate", "service_provider":{"entity_id":"https://iam.scaleway.com/saml/299d2820-41a9-458d-879d-cc36aed02b0b", "assertion_consumer_service_url":"https://api.scaleway.com/iam/v1/saml/299d2820-41a9-458d-879d-cc36aed02b0b/login"}, "entity_id":"", "single_sign_on_url":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.392705ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/saml/299d2820-41a9-458d-879d-cc36aed02b0b
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 165.658661ms
[...]
