---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/scim
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"organization_scim","resource_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 39.069921ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/scim
        method: POST
      response:
        body: '{"id":"187a8b3e-c03f-4acd-b6d2-070a6de21ae4","created_at":"2026-10-07T13:42:24.979233Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 42.586791ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/187a8b3e-c03f-4acd-b6d2-070a6de21ae4/tokens
        method: POST
      response:
        body: '{"token":{"id":"da0f917c-0a4e-4f43-bc6a-021ad4fe3d99","scim_id":"187a8b3e-c03f-4acd-b6d2-070a6de21ae4","created_at":"2026-10-07T13:42:25.351226Z","expires_at":"2027-10-07T13:42:25.349161Z"},"bearer_token":"ZGEwZjkxN2MtMGE0ZS00ZjQzLWJjNmEtMDIxYWQ0ZmUzZDk5.D-7hpm2PbUyP-Nv23ocBxDhlXjuFUnoiDDVN5OHhcQwHAweq9SReN-MMcTvVyD6swQlt4dwx"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 365.159041ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/187a8b3e-c03f-4acd-b6d2-070a6de21ae4/tokens?order_by=created_at_asc
        method: GET
      response:
        body: '{"scim_tokens":[{"id":"da0f917c-0a4e-4f43-bc6a-021ad4fe3d99","scim_id":"187a8b3e-c03f-4acd-b6d2-070a6de21ae4","created_at":"2026-10-07T13:42:25.351226Z","expires_at":"2027-10-07T13:42:25.349161Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 36.437245ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim-tokens/da0f917c-0a4e-4f43-bc6a-021ad4fe3d99
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 41.614273ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/187a8b3e-c03f-4acd-b6d2-070a6de21ae4
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 57.597379ms
[...]
