---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/scim
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"organization_scim","resource_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 127.838081ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/scim
        method: POST
      response:
        body: '{"id":"4d0a3a50-a53c-4e8d-a80e-3f9e14238cbe", "created_at":"2026-06-16T10:11:55.467309Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.830594ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/4d0a3a50-a53c-4e8d-a80e-3f9e14238cbe/tokens
        method: POST
      response:
        body: '{"token":{"id":"2e7c68ce-ef4f-4f51-a6bd-8a45c414fe99", "scim_id":"4d0a3a50-a53c-4e8d-a80e-3f9e14238cbe", "created_at":"2026-06-16T10:11:55.834691Z", "expires_at":"2027-06-16T10:11:55.831691Z"}, "bearer_token":"MmU3YzY4Y2UtZWY0Zi00ZjUxLWE2YmQtOGE0NWM0MTRmZTk5.C9GNm-Ftvq0fsJVcp02XOHuU4osVu32y9aAZ4mUuyjlaX2VxWB2eZkI66iWzK8uH8GIf3fQD"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 447.854611ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/4d0a3a50-a53c-4e8d-a80e-3f9e14238cbe/tokens?order_by=created_at_asc
        method: GET
      response:
        body: '{"scim_tokens":[{"id":"2e7c68ce-ef4f-4f51-a6bd-8a45c414fe99", "scim_id":"4d0a3a50-a53c-4e8d-a80e-3f9e14238cbe", "created_at":"2026-06-16T10:11:55.834691Z", "expires_at":"2027-06-16T10:11:55.831691Z"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.423681ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim-tokens/2e7c68ce-ef4f-4f51-a6bd-8a45c414fe99
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 119.813171ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/4d0a3a50-a53c-4e8d-a80e-3f9e14238cbe
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 70.789573ms
[...]
