---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/scim
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"organization_scim","resource_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 559.264445ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/scim
        method: POST
      response:
        body: '{"id":"0640691b-0658-4ba9-b4d6-44007621ffc5","created_at":"2026-04-30T15:26:40.263102Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.993365857s
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/0640691b-0658-4ba9-b4d6-44007621ffc5/tokens
        method: POST
      response:
        body: '{"token":{"id":"e546c066-1db8-49dc-a224-59896075e301","scim_id":"0640691b-0658-4ba9-b4d6-44007621ffc5","created_at":"2026-04-30T15:26:41.342762Z","expires_at":"2027-04-30T15:26:41.341576Z"},"bearer_token":"ZTU0NmMwNjYtMWRiOC00OWRjLWEyMjQtNTk4OTYwNzVlMzAx.QpbEOnsB0DmivhKajut7JynYxj-fUy8M6bc6ZMcjOiwc5Tc3xhZkY_IHNckSBblkjbgW9WU4"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.617363162s
    - id: 3
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/0640691b-0658-4ba9-b4d6-44007621ffc5/tokens?order_by=created_at_asc
        method: GET
      response:
        body: '{"scim_tokens":[{"id":"e546c066-1db8-49dc-a224-59896075e301","scim_id":"0640691b-0658-4ba9-b4d6-44007621ffc5","created_at":"2026-04-30T15:26:41.342762Z","expires_at":"2027-04-30T15:26:41.341576Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 610.758108ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim-tokens/e546c066-1db8-49dc-a224-59896075e301
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.496515454s
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/0640691b-0658-4ba9-b4d6-44007621ffc5
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 388.154746ms
[...]
