---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/scim
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"organization_scim","resource_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 48.908097ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/scim
        method: POST
      response:
        body: '{"id":"1ef1cbac-12a2-432b-ab4c-c961508e4624", "created_at":"2026-06-16T10:11:58.683113Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.448244ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/1ef1cbac-12a2-432b-ab4c-c961508e4624/tokens
        method: POST
      response:
        body: '{"token":{"id":"51dff3f8-d021-4407-907f-f436fc0ca9de", "scim_id":"1ef1cbac-12a2-432b-ab4c-c961508e4624", "created_at":"2026-06-16T10:11:59.050489Z", "expires_at":"2027-06-16T10:11:59.047402Z"}, "bearer_token":"NTFkZmYzZjgtZDAyMS00NDA3LTkwN2YtZjQzNmZjMGNhOWRl.kWHAj5tw8Nu8li1VDRZGvtt52mNFaPrCkt0ZZWgEOjTauHrc3WgnOefZnYwgBLxhVd_XVyeK"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 428.457883ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/1ef1cbac-12a2-432b-ab4c-c961508e4624/tokens?order_by=created_at_asc
        method: GET
      response:
        body: '{"scim_tokens":[{"id":"51dff3f8-d021-4407-907f-f436fc0ca9de", "scim_id":"1ef1cbac-12a2-432b-ab4c-c961508e4624", "created_at":"2026-06-16T10:11:59.050489Z", "expires_at":"2027-06-16T10:11:59.047402Z"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.766126ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim-tokens/51dff3f8-d021-4407-907f-f436fc0ca9de
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 69.598773ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/1ef1cbac-12a2-432b-ab4c-c961508e4624
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 82.872231ms
[...]
