---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/scim
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"organization_scim","resource_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 5.693876387s
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/scim
        method: POST
      response:
        body: '{"id":"91f628b1-8e6a-4a5b-bfa8-191bde63a343","created_at":"2026-04-30T15:26:31.513314Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 317.704814ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/91f628b1-8e6a-4a5b-bfa8-191bde63a343/tokens
        method: POST
      response:
        body: '{"token":{"id":"5631f692-5713-4629-adfe-140d90dc9710","scim_id":"91f628b1-8e6a-4a5b-bfa8-191bde63a343","created_at":"2026-04-30T15:26:32.114549Z","expires_at":"2027-04-30T15:26:32.112629Z"},"bearer_token":"NTYzMWY2OTItNTcxMy00NjI5LWFkZmUtMTQwZDkwZGM5NzEw.pAR8u4vQnNQ3ThOj30RcTCk9iMIGMV1hCl9EWExLkDaFvg0wFI6gZrfM5MCSLwUa4jG9NaT0"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 616.579809ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/91f628b1-8e6a-4a5b-bfa8-191bde63a343/tokens?order_by=created_at_asc
        method: GET
      response:
        body: '{"scim_tokens":[{"id":"5631f692-5713-4629-adfe-140d90dc9710","scim_id":"91f628b1-8e6a-4a5b-bfa8-191bde63a343","created_at":"2026-04-30T15:26:32.114549Z","expires_at":"2027-04-30T15:26:32.112629Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 304.905215ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim-tokens/5631f692-5713-4629-adfe-140d90dc9710
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 450.45447ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/91f628b1-8e6a-4a5b-bfa8-191bde63a343
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 155.478112ms
[...]
