---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-account-ssh-key-newline","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDjfkdWCwkYlVQMDUfiZlVrmjaGOfBYnmkucssae8Iup opensource@scaleway.com","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/ssh-keys/49f80cc6-e448-46da-a8e8-d70bc3e7bf30", "id":"49f80cc6-e448-46da-a8e8-d70bc3e7bf30", "name":"tf-test-account-ssh-key-newline", "public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDjfkdWCwkYlVQMDUfiZlVrmjaGOfBYnmkucssae8Iup", "fingerprint":"256 MD5:7e:49:97:21:a6:ef:e1:31:45:17:70:95:7a:44:9b:cf (ssh-ed25519)", "created_at":"2026-10-07T13:42:52.617314Z", "updated_at":"2026-10-07T13:42:52.617314Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "disabled":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "32"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 153.055308ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 18.194503ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/49f80cc6-e448-46da-a8e8-d70bc3e7bf30
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/ssh-keys/49f80cc6-e448-46da-a8e8-d70bc3e7bf30", "id":"49f80cc6-e448-46da-a8e8-d70bc3e7bf30", "name":"tf-test-account-ssh-key-newline", "public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDjfkdWCwkYlVQMDUfiZlVrmjaGOfBYnmkucssae8Iup", "fingerprint":"256 MD5:7e:49:97:21:a6:ef:e1:31:45:17:70:95:7a:44:9b:cf (ssh-ed25519)", "created_at":"2026-10-07T13:42:52.617314Z", "updated_at":"2026-10-07T13:42:52.617314Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "disabled":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 36.073764ms
[...]
