---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-test-iam-ssh-key-disabled\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICJEoOOgQBLJPs4g/XcPTKT82NywNPpxeuA20FlOPlpO opensource@scaleway.com\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: "{\"id\":\"aaf982d2-8009-44f5-88a7-7cc6f1c714f4\", \"name\":\"tf-test-iam-ssh-key-disabled\", \"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICJEoOOgQBLJPs4g/XcPTKT82NywNPpxeuA20FlOPlpO\", \"fingerprint\":\"256 MD5:6b:cd:72:8a:ae:45:24:4b:2b:72:f6:d0:6a:8d:16:06 (ssh-ed25519)\", \"created_at\":\"2025-11-17T17:10:50.620449Z\", \"updated_at\":\"2025-11-17T17:10:50.620449Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 249.025556ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/aaf982d2-8009-44f5-88a7-7cc6f1c714f4
    method: GET
  response:
    body: "{\"id\":\"aaf982d2-8009-44f5-88a7-7cc6f1c714f4\", \"name\":\"tf-test-iam-ssh-key-disabled\", \"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICJEoOOgQBLJPs4g/XcPTKT82NywNPpxeuA20FlOPlpO\", \"fingerprint\":\"256 MD5:6b:cd:72:8a:ae:45:24:4b:2b:72:f6:d0:6a:8d:16:06 (ssh-ed25519)\", \"created_at\":\"2025-11-17T17:10:50.620449Z\", \"updated_at\":\"2025-11-17T17:10:50.620449Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 72.724ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/aaf982d2-8009-44f5-88a7-7cc6f1c714f4
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"ssh_key\",\"resource_id\":\"aaf982d2-8009-44f5-88a7-7cc6f1c714f4\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 159.570475ms
