---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-account-ssh-key-newline","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDjfkdWCwkYlVQMDUfiZlVrmjaGOfBYnmkucssae8Iup opensource@scaleway.com","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:39.728557Z","disabled":false,"fingerprint":"256 MD5:7e:49:97:21:a6:ef:e1:31:45:17:70:95:7a:44:9b:cf (ssh-ed25519)","id":"8058a3ac-e58a-45b0-924e-9a1c3627221e","name":"tf-test-account-ssh-key-newline","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDjfkdWCwkYlVQMDUfiZlVrmjaGOfBYnmkucssae8Iup","updated_at":"2025-01-22T15:32:39.728557Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 316.895542ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/8058a3ac-e58a-45b0-924e-9a1c3627221e
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:32:39.728557Z","disabled":false,"fingerprint":"256 MD5:7e:49:97:21:a6:ef:e1:31:45:17:70:95:7a:44:9b:cf (ssh-ed25519)","id":"8058a3ac-e58a-45b0-924e-9a1c3627221e","name":"tf-test-account-ssh-key-newline","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDjfkdWCwkYlVQMDUfiZlVrmjaGOfBYnmkucssae8Iup","updated_at":"2025-01-22T15:32:39.728557Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.898708ms
[...]
