---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-iam-ssh-key-basic","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICJEoOOgQBLJPs4g/XcPTKT82NywNPpxeuA20FlOPlpO opensource@scaleway.com","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"id":"79d16455-06a4-4b7f-b32f-c34da82ead26", "name":"tf-test-iam-ssh-key-basic", "public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICJEoOOgQBLJPs4g/XcPTKT82NywNPpxeuA20FlOPlpO", "fingerprint":"256 MD5:6b:cd:72:8a:ae:45:24:4b:2b:72:f6:d0:6a:8d:16:06 (ssh-ed25519)", "created_at":"2026-08-24T14:02:02.995255Z", "updated_at":"2026-08-24T14:02:02.995255Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "disabled":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 344.27786ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.345387ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/79d16455-06a4-4b7f-b32f-c34da82ead26
        method: GET
      response:
        body: '{"id":"79d16455-06a4-4b7f-b32f-c34da82ead26", "name":"tf-test-iam-ssh-key-basic", "public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICJEoOOgQBLJPs4g/XcPTKT82NywNPpxeuA20FlOPlpO", "fingerprint":"256 MD5:6b:cd:72:8a:ae:45:24:4b:2b:72:f6:d0:6a:8d:16:06 (ssh-ed25519)", "created_at":"2026-08-24T14:02:02.995255Z", "updated_at":"2026-08-24T14:02:02.995255Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "disabled":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.437658ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/79d16455-06a4-4b7f-b32f-c34da82ead26
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ssh_key","resource_id":"79d16455-06a4-4b7f-b32f-c34da82ead26","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.561405ms
