---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-test-account-ssh-key-newline\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDjfkdWCwkYlVQMDUfiZlVrmjaGOfBYnmkucssae8Iup opensource@scaleway.com\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: "{\"id\":\"4a695e0c-d51a-4824-981e-afa801ccdf67\",\"name\":\"tf-test-account-ssh-key-newline\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDjfkdWCwkYlVQMDUfiZlVrmjaGOfBYnmkucssae8Iup\",\"fingerprint\":\"256 MD5:7e:49:97:21:a6:ef:e1:31:45:17:70:95:7a:44:9b:cf (ssh-ed25519)\",\"created_at\":\"2025-09-05T12:00:27.911504Z\",\"updated_at\":\"2025-09-05T12:00:27.911504Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 225.071192ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/4a695e0c-d51a-4824-981e-afa801ccdf67
    method: GET
  response:
    body: "{\"id\":\"4a695e0c-d51a-4824-981e-afa801ccdf67\",\"name\":\"tf-test-account-ssh-key-newline\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDjfkdWCwkYlVQMDUfiZlVrmjaGOfBYnmkucssae8Iup\",\"fingerprint\":\"256 MD5:7e:49:97:21:a6:ef:e1:31:45:17:70:95:7a:44:9b:cf (ssh-ed25519)\",\"created_at\":\"2025-09-05T12:00:27.911504Z\",\"updated_at\":\"2025-09-05T12:00:27.911504Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 135.16639ms
[...]
