---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccScalewayAccountSSHKey_ChangeResourceName\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICJEoOOgQBLJPs4g/XcPTKT82NywNPpxeuA20FlOPlpO opensource@scaleway.com\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: "{\"id\":\"63589ef5-9121-4981-a721-771e93983585\", \"name\":\"TestAccScalewayAccountSSHKey_ChangeResourceName\", \"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICJEoOOgQBLJPs4g/XcPTKT82NywNPpxeuA20FlOPlpO\", \"fingerprint\":\"256 MD5:6b:cd:72:8a:ae:45:24:4b:2b:72:f6:d0:6a:8d:16:06 (ssh-ed25519)\", \"created_at\":\"2025-11-17T17:10:35.622958Z\", \"updated_at\":\"2025-11-17T17:10:35.622958Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 144.159707ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/63589ef5-9121-4981-a721-771e93983585
    method: GET
  response:
    body: "{\"id\":\"63589ef5-9121-4981-a721-771e93983585\", \"name\":\"TestAccScalewayAccountSSHKey_ChangeResourceName\", \"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICJEoOOgQBLJPs4g/XcPTKT82NywNPpxeuA20FlOPlpO\", \"fingerprint\":\"256 MD5:6b:cd:72:8a:ae:45:24:4b:2b:72:f6:d0:6a:8d:16:06 (ssh-ed25519)\", \"created_at\":\"2025-11-17T17:10:35.622958Z\", \"updated_at\":\"2025-11-17T17:10:35.622958Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 85.31346ms
[...]
