---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-account-ssh-key-basic","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEEYrzDOZmhItdKaDAEqJQ4ORS2GyBMtBozYsK5kiXXX opensource@scaleway.com","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:45.286436Z","disabled":false,"fingerprint":"256 MD5:94:db:c3:76:58:e4:37:0a:ce:30:ae:ad:7d:86:b1:f0 (ssh-ed25519)","id":"8504f2fd-bb17-454a-9002-ab96626826f5","name":"tf-test-account-ssh-key-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEEYrzDOZmhItdKaDAEqJQ4ORS2GyBMtBozYsK5kiXXX","updated_at":"2025-01-22T15:32:45.286436Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 394.862875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/8504f2fd-bb17-454a-9002-ab96626826f5
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:32:45.286436Z","disabled":false,"fingerprint":"256 MD5:94:db:c3:76:58:e4:37:0a:ce:30:ae:ad:7d:86:b1:f0 (ssh-ed25519)","id":"8504f2fd-bb17-454a-9002-ab96626826f5","name":"tf-test-account-ssh-key-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEEYrzDOZmhItdKaDAEqJQ4ORS2GyBMtBozYsK5kiXXX","updated_at":"2025-01-22T15:32:45.286436Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.973208ms
[...]
