---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-test-account-ssh-key-basic\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEEYrzDOZmhItdKaDAEqJQ4ORS2GyBMtBozYsK5kiXXX opensource@scaleway.com\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: "{\"id\":\"76fd8286-90e9-4375-a73d-f0d25e625726\",\"name\":\"tf-test-account-ssh-key-basic\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEEYrzDOZmhItdKaDAEqJQ4ORS2GyBMtBozYsK5kiXXX\",\"fingerprint\":\"256 MD5:94:db:c3:76:58:e4:37:0a:ce:30:ae:ad:7d:86:b1:f0 (ssh-ed25519)\",\"created_at\":\"2025-09-05T12:00:28.134952Z\",\"updated_at\":\"2025-09-05T12:00:28.134952Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 262.287721ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/76fd8286-90e9-4375-a73d-f0d25e625726
    method: GET
  response:
    body: "{\"id\":\"76fd8286-90e9-4375-a73d-f0d25e625726\",\"name\":\"tf-test-account-ssh-key-basic\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEEYrzDOZmhItdKaDAEqJQ4ORS2GyBMtBozYsK5kiXXX\",\"fingerprint\":\"256 MD5:94:db:c3:76:58:e4:37:0a:ce:30:ae:ad:7d:86:b1:f0 (ssh-ed25519)\",\"created_at\":\"2025-09-05T12:00:28.134952Z\",\"updated_at\":\"2025-09-05T12:00:28.134952Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 148.298558ms
[...]
