---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-iam-ssh-key-disabled","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICJEoOOgQBLJPs4g/XcPTKT82NywNPpxeuA20FlOPlpO opensource@scaleway.com","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/ssh-keys/9b4c1a45-bb20-4a17-a7e5-4ddd0777a110","id":"9b4c1a45-bb20-4a17-a7e5-4ddd0777a110","name":"tf-test-iam-ssh-key-disabled","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICJEoOOgQBLJPs4g/XcPTKT82NywNPpxeuA20FlOPlpO","fingerprint":"256 MD5:6b:cd:72:8a:ae:45:24:4b:2b:72:f6:d0:6a:8d:16:06 (ssh-ed25519)","created_at":"2026-10-07T13:42:27.876255Z","updated_at":"2026-10-07T13:42:27.876255Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","disabled":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 204.255837ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 20.234876ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/9b4c1a45-bb20-4a17-a7e5-4ddd0777a110
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/ssh-keys/9b4c1a45-bb20-4a17-a7e5-4ddd0777a110","id":"9b4c1a45-bb20-4a17-a7e5-4ddd0777a110","name":"tf-test-iam-ssh-key-disabled","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICJEoOOgQBLJPs4g/XcPTKT82NywNPpxeuA20FlOPlpO","fingerprint":"256 MD5:6b:cd:72:8a:ae:45:24:4b:2b:72:f6:d0:6a:8d:16:06 (ssh-ed25519)","created_at":"2026-10-07T13:42:27.876255Z","updated_at":"2026-10-07T13:42:27.876255Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","disabled":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 86.746969ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/9b4c1a45-bb20-4a17-a7e5-4ddd0777a110
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ssh_key","resource_id":"9b4c1a45-bb20-4a17-a7e5-4ddd0777a110","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 30.892364ms
