---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"daf36079-e52c-416c-9535-d06742e48acc","tags":[],"member":{"email":"foo@scaleway.com","send_password_email":false,"send_welcome_email":false,"username":"foo","password":"Firstaccesspsw123","first_name":"Foo","last_name":"Bar","phone_number":"","locale":"en_US"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"account_root_user_id":"","created_at":"2025-05-19T14:50:35.443485Z","deletable":true,"email":"foo@scaleway.com","first_name":"Foo","id":"133b9fa7-49d7-4a1c-b971-7cc056e89743","last_login_at":null,"last_name":"Bar","locale":"en_US","locked":false,"mfa":false,"organization_id":"daf36079-e52c-416c-9535-d06742e48acc","phone_number":"","status":"activated","tags":[],"two_factor_enabled":false,"type":"member","updated_at":"2025-05-19T14:50:35.443485Z","username":"foo"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 873.799741ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/133b9fa7-49d7-4a1c-b971-7cc056e89743
        method: GET
      response:
        body: '{"account_root_user_id":"","created_at":"2025-05-19T14:50:35.443485Z","deletable":true,"email":"foo@scaleway.com","first_name":"Foo","id":"133b9fa7-49d7-4a1c-b971-7cc056e89743","last_login_at":null,"last_name":"Bar","locale":"en_US","locked":false,"mfa":false,"organization_id":"daf36079-e52c-416c-9535-d06742e48acc","phone_number":"","status":"activated","tags":[],"two_factor_enabled":false,"type":"member","updated_at":"2025-05-19T14:50:35.443485Z","username":"foo"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.546035ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"username":"foobar"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users/133b9fa7-49d7-4a1c-b971-7cc056e89743/update-username
        method: POST
      response:
        body: '{"account_root_user_id":"","created_at":"2025-05-19T14:50:35.443485Z","deletable":true,"email":"foobar@scaleway.com","first_name":"","id":"133b9fa7-49d7-4a1c-b971-7cc056e89743","last_login_at":null,"last_name":"Baz","locale":"fr_FR","locked":false,"mfa":false,"organization_id":"daf36079-e52c-416c-9535-d06742e48acc","phone_number":"+33112345678","status":"activated","tags":["tf_tests"],"two_factor_enabled":false,"type":"member","updated_at":"2025-05-19T14:50:37.912836Z","username":"foobar"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.392981ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/133b9fa7-49d7-4a1c-b971-7cc056e89743
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"user","resource_id":"133b9fa7-49d7-4a1c-b971-7cc056e89743","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 94.560871ms
