---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"member":{"email":"testiamusermember@scaleway.com","send_password_email":false,"send_welcome_email":false,"username":"testiamusermember","password":"Firstaccesspsw123","first_name":"Foo","last_name":"Bar","phone_number":"","locale":"en_US"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"id":"e87919b6-c8fd-4954-8398-fd2d1693f28e", "email":"testiamusermember@scaleway.com", "username":"testiamusermember", "first_name":"Foo", "last_name":"Bar", "phone_number":"", "locale":"en_US", "created_at":"2026-08-24T14:02:12.568721Z", "updated_at":"2026-08-24T14:02:12.568721Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "deletable":true, "last_login_at":null, "type":"member", "two_factor_enabled":false, "status":"activated", "mfa":false, "account_root_user_id":"", "tags":[], "locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 627.050371ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.764276ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/e87919b6-c8fd-4954-8398-fd2d1693f28e
        method: GET
      response:
        body: '{"id":"e87919b6-c8fd-4954-8398-fd2d1693f28e", "email":"testiamusermember@scaleway.com", "username":"testiamusermember", "first_name":"Foo", "last_name":"Bar", "phone_number":"", "locale":"en_US", "created_at":"2026-08-24T14:02:12.568721Z", "updated_at":"2026-08-24T14:02:12.568721Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "deletable":true, "last_login_at":null, "type":"member", "two_factor_enabled":false, "status":"activated", "mfa":false, "account_root_user_id":"", "tags":[], "locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.745032ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"username":"foobar"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users/e87919b6-c8fd-4954-8398-fd2d1693f28e/update-username
        method: POST
      response:
        body: '{"id":"e87919b6-c8fd-4954-8398-fd2d1693f28e", "email":"foobar@scaleway.com", "username":"foobar", "first_name":"", "last_name":"Baz", "phone_number":"+33112345678", "locale":"fr_FR", "created_at":"2026-08-24T14:02:12.568721Z", "updated_at":"2026-08-24T14:02:14.050533Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "deletable":true, "last_login_at":null, "type":"member", "two_factor_enabled":false, "status":"activated", "mfa":false, "account_root_user_id":"", "tags":["tf_tests"], "locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.168367ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/e87919b6-c8fd-4954-8398-fd2d1693f28e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"user","resource_id":"e87919b6-c8fd-4954-8398-fd2d1693f28e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 38.034025ms
