---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"daf36079-e52c-416c-9535-d06742e48acc","tags":[],"member":{"email":"foo@scaleway.com","send_password_email":false,"send_welcome_email":false,"username":"foo","password":"Firstaccesspsw123","first_name":"Foo","last_name":"Bar","phone_number":"","locale":"en_US"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"account_root_user_id":"","created_at":"2025-05-15T10:24:24.079665Z","deletable":true,"email":"foo@scaleway.com","first_name":"Foo","id":"726ae0c5-ff7a-4c8e-9d08-9475ea13d3bd","last_login_at":null,"last_name":"Bar","locale":"en_US","locked":false,"mfa":false,"organization_id":"daf36079-e52c-416c-9535-d06742e48acc","phone_number":"","status":"activated","tags":[],"two_factor_enabled":false,"type":"member","updated_at":"2025-05-15T10:24:24.079665Z","username":"foo"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 848.416773ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/726ae0c5-ff7a-4c8e-9d08-9475ea13d3bd
        method: GET
      response:
        body: '{"account_root_user_id":"","created_at":"2025-05-15T10:24:24.079665Z","deletable":true,"email":"foo@scaleway.com","first_name":"Foo","id":"726ae0c5-ff7a-4c8e-9d08-9475ea13d3bd","last_login_at":null,"last_name":"Bar","locale":"en_US","locked":false,"mfa":false,"organization_id":"daf36079-e52c-416c-9535-d06742e48acc","phone_number":"","status":"activated","tags":[],"two_factor_enabled":false,"type":"member","updated_at":"2025-05-15T10:24:24.079665Z","username":"foo"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.537999ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/726ae0c5-ff7a-4c8e-9d08-9475ea13d3bd
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"user","resource_id":"726ae0c5-ff7a-4c8e-9d08-9475ea13d3bd","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 70.284139ms
