---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"daf36079-e52c-416c-9535-d06742e48acc","tags":[],"member":{"email":"foo@scaleway.com","send_password_email":false,"send_welcome_email":false,"username":"foo","password":"","first_name":"","last_name":"","phone_number":"","locale":""}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"account_root_user_id":"","created_at":"2025-04-07T07:53:59.124377Z","deletable":true,"email":"foo@scaleway.com","first_name":"","id":"0ffbfd5b-3814-4c0f-a289-dcbe5112ae50","last_login_at":null,"last_name":"","locale":"en_US","locked":false,"mfa":false,"organization_id":"daf36079-e52c-416c-9535-d06742e48acc","phone_number":"","status":"activated","tags":[],"two_factor_enabled":false,"type":"member","updated_at":"2025-04-07T07:53:59.124377Z","username":"foo"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 336.370718ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/0ffbfd5b-3814-4c0f-a289-dcbe5112ae50
        method: GET
      response:
        body: '{"account_root_user_id":"","created_at":"2025-04-07T07:53:59.124377Z","deletable":true,"email":"foo@scaleway.com","first_name":"","id":"0ffbfd5b-3814-4c0f-a289-dcbe5112ae50","last_login_at":null,"last_name":"","locale":"en_US","locked":false,"mfa":false,"organization_id":"daf36079-e52c-416c-9535-d06742e48acc","phone_number":"","status":"activated","tags":[],"two_factor_enabled":false,"type":"member","updated_at":"2025-04-07T07:53:59.124377Z","username":"foo"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.979052ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/0ffbfd5b-3814-4c0f-a289-dcbe5112ae50
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"user","resource_id":"0ffbfd5b-3814-4c0f-a289-dcbe5112ae50","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 43.394456ms
