---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","email":"foo@scaleway.com","tags":["tf_tests","tests"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"account_root_user_id":"","created_at":"2024-11-26T10:01:14.584461Z","deletable":true,"email":"foo@scaleway.com","id":"e7879e66-c3b9-44b8-9a53-287d7fef09af","last_login_at":null,"locked":false,"mfa":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"invitation_pending","tags":["tf_tests","tests"],"two_factor_enabled":false,"type":"guest","updated_at":"2024-11-26T10:01:14.584461Z","username":"foo@scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 954.76425ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/e7879e66-c3b9-44b8-9a53-287d7fef09af
        method: GET
      response:
        body: '{"account_root_user_id":"","created_at":"2024-11-26T10:01:14.584461Z","deletable":true,"email":"foo@scaleway.com","id":"e7879e66-c3b9-44b8-9a53-287d7fef09af","last_login_at":null,"locked":false,"mfa":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"invitation_pending","tags":["tf_tests","tests"],"two_factor_enabled":false,"type":"guest","updated_at":"2024-11-26T10:01:14.584461Z","username":"foo@scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.447459ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/e7879e66-c3b9-44b8-9a53-287d7fef09af
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"user","resource_id":"e7879e66-c3b9-44b8-9a53-287d7fef09af","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.602167ms
