---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"member":{"email":"testiamusermember@scaleway.com","send_password_email":false,"send_welcome_email":false,"username":"testiamusermember","password":"Firstaccesspsw123","first_name":"Foo","last_name":"Bar","phone_number":"","locale":"en_US"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/users/b0d13b05-3d45-4798-bfd7-032b7ac41238", "id":"b0d13b05-3d45-4798-bfd7-032b7ac41238", "email":"testiamusermember@scaleway.com", "username":"testiamusermember", "first_name":"Foo", "last_name":"Bar", "phone_number":"", "locale":"en_US", "created_at":"2026-10-07T13:42:27.973307Z", "updated_at":"2026-10-07T13:42:27.973307Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "deletable":true, "last_login_at":null, "type":"member", "two_factor_enabled":false, "status":"activated", "mfa":false, "account_root_user_id":"", "tags":[], "locked":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 364.026605ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 16.382286ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/b0d13b05-3d45-4798-bfd7-032b7ac41238
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/users/b0d13b05-3d45-4798-bfd7-032b7ac41238","id":"b0d13b05-3d45-4798-bfd7-032b7ac41238","email":"testiamusermember@scaleway.com","username":"testiamusermember","first_name":"Foo","last_name":"Bar","phone_number":"","locale":"en_US","created_at":"2026-10-07T13:42:27.973307Z","updated_at":"2026-10-07T13:42:27.973307Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"last_login_at":null,"type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":[],"locked":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 41.292689ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"username":"foobar"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users/b0d13b05-3d45-4798-bfd7-032b7ac41238/update-username
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/users/b0d13b05-3d45-4798-bfd7-032b7ac41238", "id":"b0d13b05-3d45-4798-bfd7-032b7ac41238", "email":"foobar@scaleway.com", "username":"foobar", "first_name":"", "last_name":"Baz", "phone_number":"+33112345678", "locale":"fr_FR", "created_at":"2026-10-07T13:42:27.973307Z", "updated_at":"2026-10-07T13:42:30.387321Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "deletable":true, "last_login_at":null, "type":"member", "two_factor_enabled":false, "status":"activated", "mfa":false, "account_root_user_id":"", "tags":["tf_tests"], "locked":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 98.195584ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/b0d13b05-3d45-4798-bfd7-032b7ac41238
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"user","resource_id":"b0d13b05-3d45-4798-bfd7-032b7ac41238","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 29.954292ms
