---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"member":{"email":"testiamuserpasswordwo@scaleway.com","send_password_email":false,"send_welcome_email":false,"username":"testiamuserpasswordwo","password":"FirstWOPassword123","first_name":"","last_name":"","phone_number":"","locale":""}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"id":"85cc2d8d-4e0a-487f-873f-3e6ddae667c4","email":"testiamuserpasswordwo@scaleway.com","username":"testiamuserpasswordwo","first_name":"","last_name":"","phone_number":"","locale":"en_US","created_at":"2026-05-20T15:12:47.423049Z","updated_at":"2026-05-20T15:12:47.423049Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"last_login_at":null,"type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":[],"locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 647.506182ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/85cc2d8d-4e0a-487f-873f-3e6ddae667c4
        method: GET
      response:
        body: '{"id":"85cc2d8d-4e0a-487f-873f-3e6ddae667c4","email":"testiamuserpasswordwo@scaleway.com","username":"testiamuserpasswordwo","first_name":"","last_name":"","phone_number":"","locale":"en_US","created_at":"2026-05-20T15:12:47.423049Z","updated_at":"2026-05-20T15:12:47.423049Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"last_login_at":null,"type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":[],"locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.16045ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/85cc2d8d-4e0a-487f-873f-3e6ddae667c4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"user","resource_id":"85cc2d8d-4e0a-487f-873f-3e6ddae667c4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 52.252161ms
