---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"member":{"email":"testiamusermember@scaleway.com","send_password_email":false,"send_welcome_email":false,"username":"testiamusermember","password":"Firstaccesspsw123","first_name":"Foo","last_name":"Bar","phone_number":"","locale":"en_US"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"id":"fd16d506-b902-4487-ab8e-d1331804d4b0","email":"testiamusermember@scaleway.com","username":"testiamusermember","first_name":"Foo","last_name":"Bar","phone_number":"","locale":"en_US","created_at":"2026-05-20T15:12:47.353077Z","updated_at":"2026-05-20T15:12:47.353077Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"last_login_at":null,"type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":[],"locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 640.628906ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/fd16d506-b902-4487-ab8e-d1331804d4b0
        method: GET
      response:
        body: '{"id":"fd16d506-b902-4487-ab8e-d1331804d4b0","email":"testiamusermember@scaleway.com","username":"testiamusermember","first_name":"Foo","last_name":"Bar","phone_number":"","locale":"en_US","created_at":"2026-05-20T15:12:47.353077Z","updated_at":"2026-05-20T15:12:47.353077Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"last_login_at":null,"type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":[],"locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.842646ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"username":"foobar"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users/fd16d506-b902-4487-ab8e-d1331804d4b0/update-username
        method: POST
      response:
        body: '{"id":"fd16d506-b902-4487-ab8e-d1331804d4b0","email":"foobar@scaleway.com","username":"foobar","first_name":"","last_name":"Baz","phone_number":"+33112345678","locale":"fr_FR","created_at":"2026-05-20T15:12:47.353077Z","updated_at":"2026-05-20T15:12:49.445510Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"last_login_at":null,"type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":["tf_tests"],"locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.262702ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/fd16d506-b902-4487-ab8e-d1331804d4b0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"user","resource_id":"fd16d506-b902-4487-ab8e-d1331804d4b0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 40.734302ms
