---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"daf36079-e52c-416c-9535-d06742e48acc","email":"foo@scaleway.com","tags":["tf_tests","tests"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"account_root_user_id":"","created_at":"2025-04-04T23:05:52.527122Z","deletable":true,"email":"foo@scaleway.com","first_name":"","id":"9a907342-8a7f-43e7-9073-02c0879c5cea","last_login_at":null,"last_name":"","locale":"","locked":false,"mfa":false,"organization_id":"daf36079-e52c-416c-9535-d06742e48acc","phone_number":"","status":"invitation_pending","tags":["tf_tests","tests"],"two_factor_enabled":false,"type":"guest","updated_at":"2025-04-04T23:05:52.527122Z","username":"foo@scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 383.00026ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/9a907342-8a7f-43e7-9073-02c0879c5cea
        method: GET
      response:
        body: '{"account_root_user_id":"","created_at":"2025-04-04T23:05:52.527122Z","deletable":true,"email":"foo@scaleway.com","first_name":"","id":"9a907342-8a7f-43e7-9073-02c0879c5cea","last_login_at":null,"last_name":"","locale":"","locked":false,"mfa":false,"organization_id":"daf36079-e52c-416c-9535-d06742e48acc","phone_number":"","status":"invitation_pending","tags":["tf_tests","tests"],"two_factor_enabled":false,"type":"guest","updated_at":"2025-04-04T23:05:52.527122Z","username":"foo@scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.276375ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/9a907342-8a7f-43e7-9073-02c0879c5cea
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"user","resource_id":"9a907342-8a7f-43e7-9073-02c0879c5cea","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 48.911346ms
