---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"member\":{\"email\":\"foo@scaleway.com\",\"send_password_email\":false,\"send_welcome_email\":false,\"username\":\"foo\",\"password\":\"Firstaccesspsw123\",\"first_name\":\"Foo\",\"last_name\":\"Bar\",\"phone_number\":\"\",\"locale\":\"en_US\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/users
    method: POST
  response:
    body: "{\"id\":\"02c5864a-ca2b-4d47-9311-ca4e593f825e\", \"email\":\"foo@scaleway.com\", \"username\":\"foo\", \"first_name\":\"Foo\", \"last_name\":\"Bar\", \"phone_number\":\"\", \"locale\":\"en_US\", \"created_at\":\"2025-11-17T17:10:30.646958Z\", \"updated_at\":\"2025-11-17T17:10:30.646958Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"deletable\":true, \"last_login_at\":null, \"type\":\"member\", \"two_factor_enabled\":false, \"status\":\"activated\", \"mfa\":false, \"account_root_user_id\":\"\", \"tags\":[], \"locked\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 522.102035ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/02c5864a-ca2b-4d47-9311-ca4e593f825e
    method: GET
  response:
    body: "{\"id\":\"02c5864a-ca2b-4d47-9311-ca4e593f825e\", \"email\":\"foo@scaleway.com\", \"username\":\"foo\", \"first_name\":\"Foo\", \"last_name\":\"Bar\", \"phone_number\":\"\", \"locale\":\"en_US\", \"created_at\":\"2025-11-17T17:10:30.646958Z\", \"updated_at\":\"2025-11-17T17:10:30.646958Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"deletable\":true, \"last_login_at\":null, \"type\":\"member\", \"two_factor_enabled\":false, \"status\":\"activated\", \"mfa\":false, \"account_root_user_id\":\"\", \"tags\":[], \"locked\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 185.775495ms
[...]
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"username\":\"foobar\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/users/02c5864a-ca2b-4d47-9311-ca4e593f825e/update-username
    method: POST
  response:
    body: "{\"id\":\"02c5864a-ca2b-4d47-9311-ca4e593f825e\", \"email\":\"foobar@scaleway.com\", \"username\":\"foobar\", \"first_name\":\"\", \"last_name\":\"Baz\", \"phone_number\":\"+33112345678\", \"locale\":\"fr_FR\", \"created_at\":\"2025-11-17T17:10:30.646958Z\", \"updated_at\":\"2025-11-17T17:10:33.487240Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"deletable\":true, \"last_login_at\":null, \"type\":\"member\", \"two_factor_enabled\":false, \"status\":\"activated\", \"mfa\":false, \"account_root_user_id\":\"\", \"tags\":[\"tf_tests\"], \"locked\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 182.794631ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/02c5864a-ca2b-4d47-9311-ca4e593f825e
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"user\",\"resource_id\":\"02c5864a-ca2b-4d47-9311-ca4e593f825e\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 57.872509ms
