---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"member\":{\"email\":\"testiamusermember@scaleway.com\",\"send_password_email\":false,\"send_welcome_email\":false,\"username\":\"testiamusermember\",\"password\":\"Firstaccesspsw123\",\"first_name\":\"Foo\",\"last_name\":\"Bar\",\"phone_number\":\"\",\"locale\":\"en_US\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/users
    method: POST
  response:
    body: "{\"id\":\"eea07cdb-c3e5-4727-85cc-03cd11e58027\", \"email\":\"testiamusermember@scaleway.com\", \"username\":\"testiamusermember\", \"first_name\":\"Foo\", \"last_name\":\"Bar\", \"phone_number\":\"\", \"locale\":\"en_US\", \"created_at\":\"2025-12-01T14:06:07.940664Z\", \"updated_at\":\"2025-12-01T14:06:07.940664Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"deletable\":true, \"last_login_at\":null, \"type\":\"member\", \"two_factor_enabled\":false, \"status\":\"activated\", \"mfa\":false, \"account_root_user_id\":\"\", \"tags\":[], \"locked\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 717.80119ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/eea07cdb-c3e5-4727-85cc-03cd11e58027
    method: GET
  response:
    body: "{\"id\":\"eea07cdb-c3e5-4727-85cc-03cd11e58027\", \"email\":\"testiamusermember@scaleway.com\", \"username\":\"testiamusermember\", \"first_name\":\"Foo\", \"last_name\":\"Bar\", \"phone_number\":\"\", \"locale\":\"en_US\", \"created_at\":\"2025-12-01T14:06:07.940664Z\", \"updated_at\":\"2025-12-01T14:06:07.940664Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"deletable\":true, \"last_login_at\":null, \"type\":\"member\", \"two_factor_enabled\":false, \"status\":\"activated\", \"mfa\":false, \"account_root_user_id\":\"\", \"tags\":[], \"locked\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 252.955891ms
[...]
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"username\":\"foobar\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/users/eea07cdb-c3e5-4727-85cc-03cd11e58027/update-username
    method: POST
  response:
    body: "{\"id\":\"eea07cdb-c3e5-4727-85cc-03cd11e58027\", \"email\":\"foobar@scaleway.com\", \"username\":\"foobar\", \"first_name\":\"\", \"last_name\":\"Baz\", \"phone_number\":\"+33112345678\", \"locale\":\"fr_FR\", \"created_at\":\"2025-12-01T14:06:07.940664Z\", \"updated_at\":\"2025-12-01T14:06:10.130099Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"deletable\":true, \"last_login_at\":null, \"type\":\"member\", \"two_factor_enabled\":false, \"status\":\"activated\", \"mfa\":false, \"account_root_user_id\":\"\", \"tags\":[\"tf_tests\"], \"locked\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 138.373963ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/eea07cdb-c3e5-4727-85cc-03cd11e58027
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"user\",\"resource_id\":\"eea07cdb-c3e5-4727-85cc-03cd11e58027\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 31.289252ms
