---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"member\":{\"email\":\"testuser@scaleway.com\",\"send_password_email\":false,\"send_welcome_email\":false,\"username\":\"testuser\",\"password\":\"Firstaccesspsw123\",\"first_name\":\"Foo\",\"last_name\":\"Bar\",\"phone_number\":\"\",\"locale\":\"en_US\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/users
    method: POST
  response:
    body: "{\"id\":\"863ea43d-806f-4e6c-95cf-7e1f5fa185b0\", \"email\":\"testuser@scaleway.com\", \"username\":\"testuser\", \"first_name\":\"Foo\", \"last_name\":\"Bar\", \"phone_number\":\"\", \"locale\":\"en_US\", \"created_at\":\"2025-11-21T17:18:33.049812Z\", \"updated_at\":\"2025-11-21T17:18:33.049812Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"deletable\":true, \"last_login_at\":null, \"type\":\"member\", \"two_factor_enabled\":false, \"status\":\"activated\", \"mfa\":false, \"account_root_user_id\":\"\", \"tags\":[], \"locked\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 740.54179ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/863ea43d-806f-4e6c-95cf-7e1f5fa185b0
    method: GET
  response:
    body: "{\"id\":\"863ea43d-806f-4e6c-95cf-7e1f5fa185b0\", \"email\":\"testuser@scaleway.com\", \"username\":\"testuser\", \"first_name\":\"Foo\", \"last_name\":\"Bar\", \"phone_number\":\"\", \"locale\":\"en_US\", \"created_at\":\"2025-11-21T17:18:33.049812Z\", \"updated_at\":\"2025-11-21T17:18:33.049812Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"deletable\":true, \"last_login_at\":null, \"type\":\"member\", \"two_factor_enabled\":false, \"status\":\"activated\", \"mfa\":false, \"account_root_user_id\":\"\", \"tags\":[], \"locked\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 245.378638ms
[...]
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"username\":\"foobar\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/users/863ea43d-806f-4e6c-95cf-7e1f5fa185b0/update-username
    method: POST
  response:
    body: "{\"id\":\"863ea43d-806f-4e6c-95cf-7e1f5fa185b0\", \"email\":\"foobar@scaleway.com\", \"username\":\"foobar\", \"first_name\":\"\", \"last_name\":\"Baz\", \"phone_number\":\"+33112345678\", \"locale\":\"fr_FR\", \"created_at\":\"2025-11-21T17:18:33.049812Z\", \"updated_at\":\"2025-11-21T17:18:34.800621Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"deletable\":true, \"last_login_at\":null, \"type\":\"member\", \"two_factor_enabled\":false, \"status\":\"activated\", \"mfa\":false, \"account_root_user_id\":\"\", \"tags\":[\"tf_tests\"], \"locked\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 226.186484ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/863ea43d-806f-4e6c-95cf-7e1f5fa185b0
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"user\",\"resource_id\":\"863ea43d-806f-4e6c-95cf-7e1f5fa185b0\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 41.181684ms
