---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"daf36079-e52c-416c-9535-d06742e48acc","email":"foo@scaleway.com","tags":["tf_tests","tests"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"account_root_user_id":"","created_at":"2025-04-07T07:54:10.491201Z","deletable":true,"email":"foo@scaleway.com","first_name":"","id":"b9a199e2-145d-4d43-9bcd-2435cc6f516b","last_login_at":null,"last_name":"","locale":"","locked":false,"mfa":false,"organization_id":"daf36079-e52c-416c-9535-d06742e48acc","phone_number":"","status":"invitation_pending","tags":["tf_tests","tests"],"two_factor_enabled":false,"type":"guest","updated_at":"2025-04-07T07:54:10.491201Z","username":"foo@scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 287.416458ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/b9a199e2-145d-4d43-9bcd-2435cc6f516b
        method: GET
      response:
        body: '{"account_root_user_id":"","created_at":"2025-04-07T07:54:10.491201Z","deletable":true,"email":"foo@scaleway.com","first_name":"","id":"b9a199e2-145d-4d43-9bcd-2435cc6f516b","last_login_at":null,"last_name":"","locale":"","locked":false,"mfa":false,"organization_id":"daf36079-e52c-416c-9535-d06742e48acc","phone_number":"","status":"invitation_pending","tags":["tf_tests","tests"],"two_factor_enabled":false,"type":"guest","updated_at":"2025-04-07T07:54:10.491201Z","username":"foo@scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.567189ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/b9a199e2-145d-4d43-9bcd-2435cc6f516b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"user","resource_id":"b9a199e2-145d-4d43-9bcd-2435cc6f516b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 47.489117ms
