---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"member":{"email":"foo@scaleway.com","send_password_email":false,"send_welcome_email":false,"username":"foo","password":"Firstaccesspsw123","first_name":"Foo","last_name":"Bar","phone_number":"","locale":"en_US"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"account_root_user_id":"","created_at":"2025-06-11T09:11:54.992881Z","deletable":true,"email":"foo@scaleway.com","first_name":"Foo","id":"69f339d9-a311-4d1c-b1d5-5a1ed88c936e","last_login_at":null,"last_name":"Bar","locale":"en_US","locked":false,"mfa":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","phone_number":"","status":"activated","tags":[],"two_factor_enabled":false,"type":"member","updated_at":"2025-06-11T09:11:54.992881Z","username":"foo"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 572.89225ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/69f339d9-a311-4d1c-b1d5-5a1ed88c936e
        method: GET
      response:
        body: '{"account_root_user_id":"","created_at":"2025-06-11T09:11:54.992881Z","deletable":true,"email":"foo@scaleway.com","first_name":"Foo","id":"69f339d9-a311-4d1c-b1d5-5a1ed88c936e","last_login_at":null,"last_name":"Bar","locale":"en_US","locked":false,"mfa":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","phone_number":"","status":"activated","tags":[],"two_factor_enabled":false,"type":"member","updated_at":"2025-06-11T09:11:54.992881Z","username":"foo"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.558458ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"username":"foobar"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users/69f339d9-a311-4d1c-b1d5-5a1ed88c936e/update-username
        method: POST
      response:
        body: '{"account_root_user_id":"","created_at":"2025-06-11T09:11:54.992881Z","deletable":true,"email":"foobar@scaleway.com","first_name":"","id":"69f339d9-a311-4d1c-b1d5-5a1ed88c936e","last_login_at":null,"last_name":"Baz","locale":"fr_FR","locked":false,"mfa":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","phone_number":"+33112345678","status":"activated","tags":["tf_tests"],"two_factor_enabled":false,"type":"member","updated_at":"2025-06-11T09:11:56.824348Z","username":"foobar"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.053334ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/69f339d9-a311-4d1c-b1d5-5a1ed88c936e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"user","resource_id":"69f339d9-a311-4d1c-b1d5-5a1ed88c936e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.510208ms
