---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"daf36079-e52c-416c-9535-d06742e48acc","tags":[],"member":{"email":"foo@scaleway.com","send_password_email":false,"send_welcome_email":false,"username":"foo","password":"","first_name":"","last_name":"","phone_number":"","locale":""}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"account_root_user_id":"","created_at":"2025-04-04T21:39:25.861373Z","deletable":true,"email":"foo@scaleway.com","first_name":"","id":"ce6b5025-b68a-42f9-a406-81c0879131c1","last_login_at":null,"last_name":"","locale":"en_US","locked":false,"mfa":false,"organization_id":"daf36079-e52c-416c-9535-d06742e48acc","phone_number":"","status":"activated","tags":[],"two_factor_enabled":false,"type":"member","updated_at":"2025-04-04T21:39:25.861373Z","username":"foo"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 451.999713ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/ce6b5025-b68a-42f9-a406-81c0879131c1
        method: GET
      response:
        body: '{"account_root_user_id":"","created_at":"2025-04-04T21:39:25.861373Z","deletable":true,"email":"foo@scaleway.com","first_name":"","id":"ce6b5025-b68a-42f9-a406-81c0879131c1","last_login_at":null,"last_name":"","locale":"en_US","locked":false,"mfa":false,"organization_id":"daf36079-e52c-416c-9535-d06742e48acc","phone_number":"","status":"activated","tags":[],"two_factor_enabled":false,"type":"member","updated_at":"2025-04-04T21:39:25.861373Z","username":"foo"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.093063ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/ce6b5025-b68a-42f9-a406-81c0879131c1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"user","resource_id":"ce6b5025-b68a-42f9-a406-81c0879131c1","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 46.059083ms
