---
version: 2
interactions:
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","email":"foo@scaleway.com"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/users
    method: POST
  response:
    body: '{"account_root_user_id":"87e96904-46a8-4be7-829d-f0d6b7889f32","created_at":"2023-10-13T07:31:09.980437Z","deletable":true,"email":"foo@scaleway.com","id":"566f59f7-9d96-430e-9f75-8c3cb3c4c39b","last_login_at":null,"mfa":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"invitation_pending","two_factor_enabled":false,"type":"unknown_type","updated_at":"2023-10-13T07:31:09.980437Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/566f59f7-9d96-430e-9f75-8c3cb3c4c39b
    method: GET
  response:
    body: '{"account_root_user_id":"87e96904-46a8-4be7-829d-f0d6b7889f32","created_at":"2023-10-13T07:31:09.980437Z","deletable":true,"email":"foo@scaleway.com","id":"566f59f7-9d96-430e-9f75-8c3cb3c4c39b","last_login_at":null,"mfa":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"invitation_pending","two_factor_enabled":false,"type":"guest","updated_at":"2023-10-13T07:31:09.980437Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/566f59f7-9d96-430e-9f75-8c3cb3c4c39b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_user","resource_id":"566f59f7-9d96-430e-9f75-8c3cb3c4c39b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
