---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","email":"foo@scaleway.com","tags":["tf_tests","tests"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"account_root_user_id":"","created_at":"2025-01-22T15:32:39.511583Z","deletable":true,"email":"foo@scaleway.com","id":"3c290f7a-f0ec-4a6e-8b21-b2d16ec9b348","last_login_at":null,"locked":false,"mfa":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"invitation_pending","tags":["tf_tests","tests"],"two_factor_enabled":false,"type":"guest","updated_at":"2025-01-22T15:32:39.511583Z","username":"foo@scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 230.0025ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/3c290f7a-f0ec-4a6e-8b21-b2d16ec9b348
        method: GET
      response:
        body: '{"account_root_user_id":"","created_at":"2025-01-22T15:32:39.511583Z","deletable":true,"email":"foo@scaleway.com","id":"3c290f7a-f0ec-4a6e-8b21-b2d16ec9b348","last_login_at":null,"locked":false,"mfa":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"invitation_pending","tags":["tf_tests","tests"],"two_factor_enabled":false,"type":"guest","updated_at":"2025-01-22T15:32:39.511583Z","username":"foo@scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.144833ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/3c290f7a-f0ec-4a6e-8b21-b2d16ec9b348
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"user","resource_id":"3c290f7a-f0ec-4a6e-8b21-b2d16ec9b348","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 77.671958ms
