---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"member":{"email":"testiamusermember@scaleway.com","send_password_email":false,"send_welcome_email":false,"username":"testiamusermember","password":"Firstaccesspsw123","first_name":"Foo","last_name":"Bar","phone_number":"","locale":"en_US"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"id":"5a30c9be-ef6c-497a-aa0c-3ab226c55965", "email":"testiamusermember@scaleway.com", "username":"testiamusermember", "first_name":"Foo", "last_name":"Bar", "phone_number":"", "locale":"en_US", "created_at":"2026-01-20T18:00:35.195836Z", "updated_at":"2026-01-20T18:00:35.195836Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "deletable":true, "last_login_at":null, "type":"member", "two_factor_enabled":false, "status":"activated", "mfa":false, "account_root_user_id":"", "tags":[], "locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 827.081782ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/5a30c9be-ef6c-497a-aa0c-3ab226c55965
        method: GET
      response:
        body: '{"id":"5a30c9be-ef6c-497a-aa0c-3ab226c55965", "email":"testiamusermember@scaleway.com", "username":"testiamusermember", "first_name":"Foo", "last_name":"Bar", "phone_number":"", "locale":"en_US", "created_at":"2026-01-20T18:00:35.195836Z", "updated_at":"2026-01-20T18:00:35.195836Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "deletable":true, "last_login_at":null, "type":"member", "two_factor_enabled":false, "status":"activated", "mfa":false, "account_root_user_id":"", "tags":[], "locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 196.432293ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"username":"foobar"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users/5a30c9be-ef6c-497a-aa0c-3ab226c55965/update-username
        method: POST
      response:
        body: '{"id":"5a30c9be-ef6c-497a-aa0c-3ab226c55965", "email":"foobar@scaleway.com", "username":"foobar", "first_name":"", "last_name":"Baz", "phone_number":"+33112345678", "locale":"fr_FR", "created_at":"2026-01-20T18:00:35.195836Z", "updated_at":"2026-01-20T18:00:37.402686Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "deletable":true, "last_login_at":null, "type":"member", "two_factor_enabled":false, "status":"activated", "mfa":false, "account_root_user_id":"", "tags":["tf_tests"], "locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 168.91748ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/5a30c9be-ef6c-497a-aa0c-3ab226c55965
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"user","resource_id":"5a30c9be-ef6c-497a-aa0c-3ab226c55965","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.840318ms
