---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"member":{"email":"testiamuserpasswordwo@scaleway.com","send_password_email":false,"send_welcome_email":false,"username":"testiamuserpasswordwo","password":"FirstWOPassword123","first_name":"","last_name":"","phone_number":"","locale":""}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/users/453c14b3-328b-455b-8710-7066b62d9974","id":"453c14b3-328b-455b-8710-7066b62d9974","email":"testiamuserpasswordwo@scaleway.com","username":"testiamuserpasswordwo","first_name":"","last_name":"","phone_number":"","locale":"en_US","created_at":"2026-10-07T13:42:27.982807Z","updated_at":"2026-10-07T13:42:27.982807Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"last_login_at":null,"type":"member","two_factor_enabled":false,"status":"activated","mfa":false,"account_root_user_id":"","tags":[],"locked":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 388.56542ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "37"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 16.997833ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/453c14b3-328b-455b-8710-7066b62d9974
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/users/453c14b3-328b-455b-8710-7066b62d9974", "id":"453c14b3-328b-455b-8710-7066b62d9974", "email":"testiamuserpasswordwo@scaleway.com", "username":"testiamuserpasswordwo", "first_name":"", "last_name":"", "phone_number":"", "locale":"en_US", "created_at":"2026-10-07T13:42:27.982807Z", "updated_at":"2026-10-07T13:42:27.982807Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "deletable":true, "last_login_at":null, "type":"member", "two_factor_enabled":false, "status":"activated", "mfa":false, "account_root_user_id":"", "tags":[], "locked":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 75.556309ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/453c14b3-328b-455b-8710-7066b62d9974
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"user","resource_id":"453c14b3-328b-455b-8710-7066b62d9974","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 36.226378ms
