---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"daf36079-e52c-416c-9535-d06742e48acc","tags":[],"member":{"email":"foo@scaleway.com","send_password_email":false,"send_welcome_email":false,"username":"foo","password":"Firstaccesspsw123","first_name":"Foo","last_name":"Bar","phone_number":"","locale":"en_US"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"account_root_user_id":"","created_at":"2025-05-15T10:46:48.914686Z","deletable":true,"email":"foo@scaleway.com","first_name":"Foo","id":"0dda9c32-7bc4-4a98-9148-211078b349bc","last_login_at":null,"last_name":"Bar","locale":"en_US","locked":false,"mfa":false,"organization_id":"daf36079-e52c-416c-9535-d06742e48acc","phone_number":"","status":"activated","tags":[],"two_factor_enabled":false,"type":"member","updated_at":"2025-05-15T10:46:48.914686Z","username":"foo"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 756.581185ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/0dda9c32-7bc4-4a98-9148-211078b349bc
        method: GET
      response:
        body: '{"account_root_user_id":"","created_at":"2025-05-15T10:46:48.914686Z","deletable":true,"email":"foo@scaleway.com","first_name":"Foo","id":"0dda9c32-7bc4-4a98-9148-211078b349bc","last_login_at":null,"last_name":"Bar","locale":"en_US","locked":false,"mfa":false,"organization_id":"daf36079-e52c-416c-9535-d06742e48acc","phone_number":"","status":"activated","tags":[],"two_factor_enabled":false,"type":"member","updated_at":"2025-05-15T10:46:48.914686Z","username":"foo"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.371336ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"username":"fuooo"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users/0dda9c32-7bc4-4a98-9148-211078b349bc/update-username
        method: POST
      response:
        body: '{"account_root_user_id":"","created_at":"2025-05-15T10:46:48.914686Z","deletable":true,"email":"foo@scaleway.com","first_name":"","id":"0dda9c32-7bc4-4a98-9148-211078b349bc","last_login_at":null,"last_name":"Baz","locale":"fr_FR","locked":false,"mfa":false,"organization_id":"daf36079-e52c-416c-9535-d06742e48acc","phone_number":"+33112345678","status":"activated","tags":["tf_tests"],"two_factor_enabled":false,"type":"member","updated_at":"2025-05-15T10:46:50.896620Z","username":"fuooo"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.660222ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/0dda9c32-7bc4-4a98-9148-211078b349bc
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"user","resource_id":"0dda9c32-7bc4-4a98-9148-211078b349bc","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 66.004584ms
