---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-vpc-enable-route-prop","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-01-30T13:39:50.626644Z","custom_routes_propagation_enabled":true,"id":"86c0120d-f776-4999-8856-84205c4b86a9","is_default":false,"name":"tf-test-vpc-enable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-01-30T13:39:50.626644Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 286.116292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-routing-policy-enable-route-prop","tags":[],"is_ipv6":false,"prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies
        method: POST
      response:
        body: '{"created_at":"2026-01-30T13:39:50.638698Z","id":"4980e763-b52b-4d34-a69d-2cc82597b086","is_ipv6":false,"name":"tf-test-routing-policy-enable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2026-01-30T13:39:50.638698Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 286.117167ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies/4980e763-b52b-4d34-a69d-2cc82597b086
        method: GET
      response:
        body: '{"created_at":"2026-01-30T13:39:50.638698Z","id":"4980e763-b52b-4d34-a69d-2cc82597b086","is_ipv6":false,"name":"tf-test-routing-policy-enable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2026-01-30T13:39:50.638698Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.087291ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"51.15.206.239","id":"b75516aa-cdc2-4d58-8a7e-e9fe00cef911","ipam_id":"b75516aa-cdc2-4d58-8a7e-e9fe00cef911","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/b75516aa-cdc2-4d58-8a7e-e9fe00cef911
        status: 201 Created
        code: 201
        duration: 497.342917ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/86c0120d-f776-4999-8856-84205c4b86a9
        method: GET
      response:
        body: '{"created_at":"2026-01-30T13:39:50.626644Z","custom_routes_propagation_enabled":true,"id":"86c0120d-f776-4999-8856-84205c4b86a9","is_default":false,"name":"tf-test-vpc-enable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-01-30T13:39:50.626644Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.028292ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/b75516aa-cdc2-4d58-8a7e-e9fe00cef911
        method: GET
      response:
        body: '{"ip":{"address":"51.15.206.239","id":"b75516aa-cdc2-4d58-8a7e-e9fe00cef911","ipam_id":"b75516aa-cdc2-4d58-8a7e-e9fe00cef911","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.283375ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-customer-gateway-enable-route-prop","tags":[],"ipv4_public":"51.15.206.239/32","asn":65000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways
        method: POST
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-01-30T13:39:51.078150Z","id":"bf0c27d7-4fcb-4246-8cea-0ebeec203c90","name":"tf-test-customer-gateway-enable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"51.15.206.239","region":"fr-par","tags":[],"updated_at":"2026-01-30T13:39:51.078150Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.337458ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/bf0c27d7-4fcb-4246-8cea-0ebeec203c90
        method: GET
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-01-30T13:39:51.078150Z","id":"bf0c27d7-4fcb-4246-8cea-0ebeec203c90","name":"tf-test-customer-gateway-enable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"51.15.206.239","region":"fr-par","tags":[],"updated_at":"2026-01-30T13:39:51.078150Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.729167ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-relaxed-gates","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["10.0.0.0/24"],"vpc_id":"86c0120d-f776-4999-8856-84205c4b86a9","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-01-30T13:39:50.948079Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"bcec40e4-7454-4137-aaf4-dc87ef662109","name":"tf-pn-relaxed-gates","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-01-30T13:39:50.948079Z","id":"40a8711e-6150-4778-9fdf-6803c5cb7a79","private_network_id":"bcec40e4-7454-4137-aaf4-dc87ef662109","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"10.0.0.0/24","updated_at":"2026-01-30T13:39:50.948079Z","vpc_id":"86c0120d-f776-4999-8856-84205c4b86a9"},{"created_at":"2026-01-30T13:39:50.948079Z","id":"e299497e-0d87-4147-8457-1ee55bbfb898","private_network_id":"bcec40e4-7454-4137-aaf4-dc87ef662109","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:9484::/64","updated_at":"2026-01-30T13:39:50.948079Z","vpc_id":"86c0120d-f776-4999-8856-84205c4b86a9"}],"tags":[],"updated_at":"2026-01-30T13:39:50.948079Z","vpc_id":"86c0120d-f776-4999-8856-84205c4b86a9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 618.882208ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/bcec40e4-7454-4137-aaf4-dc87ef662109
        method: GET
      response:
        body: '{"created_at":"2026-01-30T13:39:50.948079Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"bcec40e4-7454-4137-aaf4-dc87ef662109","name":"tf-pn-relaxed-gates","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-01-30T13:39:50.948079Z","id":"40a8711e-6150-4778-9fdf-6803c5cb7a79","private_network_id":"bcec40e4-7454-4137-aaf4-dc87ef662109","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"10.0.0.0/24","updated_at":"2026-01-30T13:39:50.948079Z","vpc_id":"86c0120d-f776-4999-8856-84205c4b86a9"},{"created_at":"2026-01-30T13:39:50.948079Z","id":"e299497e-0d87-4147-8457-1ee55bbfb898","private_network_id":"bcec40e4-7454-4137-aaf4-dc87ef662109","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:9484::/64","updated_at":"2026-01-30T13:39:50.948079Z","vpc_id":"86c0120d-f776-4999-8856-84205c4b86a9"}],"tags":[],"updated_at":"2026-01-30T13:39:50.948079Z","vpc_id":"86c0120d-f776-4999-8856-84205c4b86a9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.230416ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-vpn-gateway-enable-route-prop","tags":[],"gateway_type":"VGW-S","private_network_id":"bcec40e4-7454-4137-aaf4-dc87ef662109","zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways
        method: POST
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-01-30T13:39:52.132987Z","gateway_type":"VGW-S","id":"608a48d7-2494-4554-bc97-35c1f55dddac","ipam_private_ipv4_id":"e390f7cd-1fd3-4732-8bf7-28f9149b8b64","ipam_private_ipv6_id":"fa2acfcf-fc61-4321-ab08-b4274b0fa705","name":"tf-test-vpn-gateway-enable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"bcec40e4-7454-4137-aaf4-dc87ef662109","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"3866e045-f936-4249-9d75-0fd1b54aa72d","ipam_ipv6_id":"81f6507b-a55b-4761-a26a-34e1ba749419"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-01-30T13:39:52.132987Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 821.564875ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/608a48d7-2494-4554-bc97-35c1f55dddac
        method: GET
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-01-30T13:39:52.132987Z","gateway_type":"VGW-S","id":"608a48d7-2494-4554-bc97-35c1f55dddac","ipam_private_ipv4_id":"e390f7cd-1fd3-4732-8bf7-28f9149b8b64","ipam_private_ipv6_id":"fa2acfcf-fc61-4321-ab08-b4274b0fa705","name":"tf-test-vpn-gateway-enable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"bcec40e4-7454-4137-aaf4-dc87ef662109","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"3866e045-f936-4249-9d75-0fd1b54aa72d","ipam_ipv6_id":"81f6507b-a55b-4761-a26a-34e1ba749419"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-01-30T13:39:52.132987Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.088583ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-connection-enable-route-prop","tags":[],"is_ipv6":false,"initiation_policy":"customer_gateway","ikev2_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"esp_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"enable_route_propagation":false,"vpn_gateway_id":"608a48d7-2494-4554-bc97-35c1f55dddac","customer_gateway_id":"bf0c27d7-4fcb-4246-8cea-0ebeec203c90","bgp_config_ipv4":{"routing_policy_id":"4980e763-b52b-4d34-a69d-2cc82597b086","private_ip":"169.254.0.1/30","peer_private_ip":"169.254.0.2/30"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections
        method: POST
      response:
        body: '{"connection":{"bgp_session_ipv4":{"peer_private_ip":"169.254.0.2/30","private_ip":"169.254.0.1/30","routing_policy_id":"4980e763-b52b-4d34-a69d-2cc82597b086"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-01-30T13:40:12.697926Z","customer_gateway_id":"bf0c27d7-4fcb-4246-8cea-0ebeec203c90","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"2e8477a3-4589-4633-859b-8c1ae066b8a5","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"customer_gateway","is_ipv6":false,"name":"tf-test-connection-enable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_propagation_enabled":false,"secret_id":"57da9759-ad03-416e-8dc0-c3335e20801d","secret_revision":1,"status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2026-01-30T13:40:12.697926Z","vpn_gateway_id":"608a48d7-2494-4554-bc97-35c1f55dddac"},"pre_shared_key":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 748.932208ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections/2e8477a3-4589-4633-859b-8c1ae066b8a5
        method: GET
      response:
        body: '{"bgp_session_ipv4":{"peer_private_ip":"169.254.0.2/30","private_ip":"169.254.0.1/30","routing_policy_id":"4980e763-b52b-4d34-a69d-2cc82597b086"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-0[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections/2e8477a3-4589-4633-859b-8c1ae066b8a5/enable-route-propagation
        method: POST
      response:
        body: '{"bgp_session_ipv4":{"peer_private_ip":"169.254.0.2/30","private_ip":"169.254.0.1/30","routing_policy_id":"4980e763-b52b-4d34-a69d-[...]
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/608a48d7-2494-4554-bc97-35c1f55dddac
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpn_gateway","resource_id":"608a48d7-2494-4554-bc97-35c1f55dddac","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 102.142708ms
[...]
