---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-vpc-enable-route-prop","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-07-28T12:29:08.341924Z","custom_routes_propagation_enabled":true,"id":"a851de7f-bb47-4415-be88-07c6041ee78f","is_default":false,"name":"tf-test-vpc-enable-route-prop","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-07-28T12:29:08.341924Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 868.634747ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/a851de7f-bb47-4415-be88-07c6041ee78f
        method: GET
      response:
        body: '{"created_at":"2026-07-28T12:29:08.341924Z","custom_routes_propagation_enabled":true,"id":"a851de7f-bb47-4415-be88-07c6041ee78f","is_default":false,"name":"tf-test-vpc-enable-route-prop","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-07-28T12:29:08.341924Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.493239ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-routing-policy-enable-route-prop","tags":[],"is_ipv6":false,"prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies
        method: POST
      response:
        body: '{"created_at":"2026-07-28T12:29:09.650127Z","id":"ef6d5b33-10ef-4b0a-838d-769ca470cd2b","is_ipv6":false,"name":"tf-test-routing-policy-enable-route-prop","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2026-07-28T12:29:09.650127Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.165142763s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies/ef6d5b33-10ef-4b0a-838d-769ca470cd2b
        method: GET
      response:
        body: '{"created_at":"2026-07-28T12:29:09.650127Z","id":"ef6d5b33-10ef-4b0a-838d-769ca470cd2b","is_ipv6":false,"name":"tf-test-routing-policy-enable-route-prop","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2026-07-28T12:29:09.650127Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.813914ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"212.47.249.107","id":"17c4e06c-c6d3-4712-85dd-0f7759036619","ipam_id":"17c4e06c-c6d3-4712-85dd-0f7759036619","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/17c4e06c-c6d3-4712-85dd-0f7759036619
        status: 201 Created
        code: 201
        duration: 2.858751278s
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-compassionate-wright","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["10.0.0.0/24"],"vpc_id":"a851de7f-bb47-4415-be88-07c6041ee78f","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-07-28T12:29:09.950339Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"5d5ffe92-20c6-446d-93f8-eeccfe3aac11","name":"tf-pn-compassionate-wright","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-07-28T12:29:09.950339Z","id":"d3b1206f-2c89-4c46-ab93-f4f768373064","private_network_id":"5d5ffe92-20c6-446d-93f8-eeccfe3aac11","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"10.0.0.0/24","updated_at":"2026-07-28T12:29:09.950339Z","vpc_id":"a851de7f-bb47-4415-be88-07c6041ee78f"},{"created_at":"2026-07-28T12:29:09.950339Z","id":"b9c1854a-cbe2-47d4-8d3b-89a498e34763","private_network_id":"5d5ffe92-20c6-446d-93f8-eeccfe3aac11","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:58bc::/64","updated_at":"2026-07-28T12:29:09.950339Z","vpc_id":"a851de7f-bb47-4415-be88-07c6041ee78f"}],"tags":[],"updated_at":"2026-07-28T12:29:09.950339Z","vpc_id":"a851de7f-bb47-4415-be88-07c6041ee78f"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.870949286s
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-customer-gateway-enable-route-prop","tags":[],"ipv4_public":"212.47.249.107/32","asn":65000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways
        method: POST
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-07-28T12:29:10.411770Z","id":"0fab05e0-39a9-4b51-bff0-90b6497d02be","name":"tf-test-customer-gateway-enable-route-prop","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_ipv4":"212.47.249.107","region":"fr-par","tags":[],"updated_at":"2026-07-28T12:29:10.411770Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.810035ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/0fab05e0-39a9-4b51-bff0-90b6497d02be
        method: GET
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-07-28T12:29:10.411770Z","id":"0fab05e0-39a9-4b51-bff0-90b6497d02be","name":"tf-test-customer-gateway-enable-route-prop","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_ipv4":"212.47.249.107","region":"fr-par","tags":[],"updated_at":"2026-07-28T12:29:10.411770Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.246552ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5d5ffe92-20c6-446d-93f8-eeccfe3aac11
        method: GET
      response:
        body: '{"created_at":"2026-07-28T12:29:09.950339Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"5d5ffe92-20c6-446d-93f8-eeccfe3aac11","name":"tf-pn-compassionate-wright","organization_id":"105bdce1-64c0-48ab-89[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-vpn-gateway-enable-route-prop","tags":[],"gateway_type":"VGW-S","private_network_id":"5d5ffe92-20c6-446d-93f8-eeccfe3aac11","zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways
        method: POST
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-07-28T12:29:11.648044Z","gateway_type":"VGW-S","id":"1c666fe6-7e23-4c6b-9170-6fe4d5ab858c","ipam_private_ipv4_id":"3dcfa0bc-fbc3-4a45-8805-576606c6d8a2","ipam_private_ipv6_id":"48c15d2b-f60e-49b9-98eb-393f455ae407","name":"tf-test-vpn-gateway-enable-route-prop","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"5d5ffe92-20c6-446d-93f8-eeccfe3aac11","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_config":{"ipam_ipv4_id":"f76c5996-8797-44d3-8f9d-dec047a95ad9","ipam_ipv6_id":"e9eef6b1-ca4a-4b67-9d11-e14684a1de90"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-07-28T12:29:11.648044Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.15161443s
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/1c666fe6-7e23-4c6b-9170-6fe4d5ab858c
        method: GET
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-07-28T12:29:11.648044Z","gateway_type":"VGW-S","id":"1c666fe6-7e23-4c6b-9170-6fe4d5ab858c","ipam_private_ipv4_id":"3dcfa0bc-fbc3-4a45-8805-576606c6d8a2","ipam_private_ipv6_id":"48c15d2b-f60e-49b9-98eb-393f455ae407","name":"tf-test-vpn-gateway-enable-route-prop","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"5d5ffe92-20c6-446d-93f8-eeccfe3aac11","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_config":{"ipam_ipv4_id":"f76c5996-8797-44d3-8f9d-dec047a95ad9","ipam_ipv6_id":"e9eef6b1-ca4a-4b67-9d11-e14684a1de90"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-07-28T12:29:11.648044Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.644473ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-connection-enable-route-prop","tags":[],"is_ipv6":false,"initiation_policy":"customer_gateway","ikev2_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"esp_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"enable_route_propagation":false,"vpn_gateway_id":"1c666fe6-7e23-4c6b-9170-6fe4d5ab858c","customer_gateway_id":"0fab05e0-39a9-4b51-bff0-90b6497d02be","bgp_config_ipv4":{"routing_policy_id":"ef6d5b33-10ef-4b0a-838d-769ca470cd2b","private_ip":"169.254.3.1/30","peer_private_ip":"169.254.3.2/30"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections
        method: POST
      response:
        body: '{"connection":{"bgp_session_ipv4":{"peer_private_ip":"169.254.3.2/30","private_ip":"169.254.3.1/30","routing_policy_id":"ef6d5b33-10ef-4b0a-838d-769ca470cd2b"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-07-28T12:29:52.240400Z","customer_gateway_id":"0fab05e0-39a9-4b51-bff0-90b6497d02be","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"4ab8f7d0-6497-4b54-bf93-7b5a163e8794","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"customer_gateway","is_ipv6":false,"name":"tf-test-connection-enable-route-prop","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_propagation_enabled":false,"secret_id":"12e82afc-5c1c-4301-8397-fb331ed0ec5b","secret_revision":1,"status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2026-07-28T12:29:52.240400Z","vpn_gateway_id":"1c666fe6-7e23-4c6b-9170-6fe4d5ab858c"},"pre_shared_key":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 884.464902ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections/4ab8f7d0-6497-4b54-bf93-7b5a163e8794
        method: GET
      response:
        body: '{"bgp_session_ipv4":{"peer_private_ip":"169.254.3.2/30","private_ip":"169.254.3.1/30","routing_policy_id":"ef6d5b33-10ef-4b0a-838d-769ca470cd2b"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-0[...]
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections/4ab8f7d0-6497-4b54-bf93-7b5a163e8794/enable-route-propagation
        method: POST
      response:
        body: '{"bgp_session_ipv4":{"peer_private_ip":"169.254.3.2/30","private_ip":"169.254.3.1/30","routing_policy_id":"ef6d5b33-10ef-4b0a-838d-[...]
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/17c4e06c-c6d3-4712-85dd-0f7759036619
        method: GET
      response:
        body: '{"ip":{"address":"212.47.249.107","id":"17c4e06c-c6d3-4712-85dd-0f7759036619","ipam_id":"17c4e06c-c6d3-4712-85dd-0f7759036619","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 262.17666ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/1c666fe6-7e23-4c6b-9170-6fe4d5ab858c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpn_gateway","resource_id":"1c666fe6-7e23-4c6b-9170-6fe4d5ab858c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 49.56702ms
[...]
