---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-routing-policy-disable-route-prop","tags":[],"is_ipv6":false,"prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies
        method: POST
      response:
        body: '{"created_at":"2026-07-28T12:29:08.342973Z","id":"68bf6e51-afbf-49a2-9a24-61de244db984","is_ipv6":false,"name":"tf-test-routing-policy-disable-route-prop","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2026-07-28T12:29:08.342973Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 831.311858ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies/68bf6e51-afbf-49a2-9a24-61de244db984
        method: GET
      response:
        body: '{"created_at":"2026-07-28T12:29:08.342973Z","id":"68bf6e51-afbf-49a2-9a24-61de244db984","is_ipv6":false,"name":"tf-test-routing-policy-disable-route-prop","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2026-07-28T12:29:08.342973Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.27927439s
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-vpc-disable-route-prop","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-07-28T12:29:09.630635Z","custom_routes_propagation_enabled":true,"id":"2c838d26-de7a-47b0-ae72-190590c86f88","is_default":false,"name":"tf-test-vpc-disable-route-prop","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-07-28T12:29:09.630635Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.127271332s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/2c838d26-de7a-47b0-ae72-190590c86f88
        method: GET
      response:
        body: '{"created_at":"2026-07-28T12:29:09.630635Z","custom_routes_propagation_enabled":true,"id":"2c838d26-de7a-47b0-ae72-190590c86f88","is_default":false,"name":"tf-test-vpc-disable-route-prop","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-07-28T12:29:09.630635Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 256.81212ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"51.15.215.53","id":"1d249225-0151-4e96-9c3d-1f9094cb48f4","ipam_id":"1d249225-0151-4e96-9c3d-1f9094cb48f4","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/1d249225-0151-4e96-9c3d-1f9094cb48f4
        status: 201 Created
        code: 201
        duration: 2.776626944s
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-customer-gateway-disable-route-prop","tags":[],"ipv4_public":"51.15.215.53/32","asn":65000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways
        method: POST
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-07-28T12:29:10.360374Z","id":"801622f8-6e5f-45ac-882c-3c9a3b351a0e","name":"tf-test-customer-gateway-disable-route-prop","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_ipv4":"51.15.215.53","region":"fr-par","tags":[],"updated_at":"2026-07-28T12:29:10.360374Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.491431ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/801622f8-6e5f-45ac-882c-3c9a3b351a0e
        method: GET
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-07-28T12:29:10.360374Z","id":"801622f8-6e5f-45ac-882c-3c9a3b351a0e","name":"tf-test-customer-gateway-disable-route-prop","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_ipv4":"51.15.215.53","region":"fr-par","tags":[],"updated_at":"2026-07-28T12:29:10.360374Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.31078ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-romantic-galois","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["10.0.0.0/24"],"vpc_id":"2c838d26-de7a-47b0-ae72-190590c86f88","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-07-28T12:29:10.099599Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"b75df50a-ebaf-4212-9683-519b299843d1","name":"tf-pn-romantic-galois","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-07-28T12:29:10.099599Z","id":"6b86e311-aa96-44eb-be39-eca898a6a69b","private_network_id":"b75df50a-ebaf-4212-9683-519b299843d1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"10.0.0.0/24","updated_at":"2026-07-28T12:29:10.099599Z","vpc_id":"2c838d26-de7a-47b0-ae72-190590c86f88"},{"created_at":"2026-07-28T12:29:10.099599Z","id":"4e8fcc5b-4fbc-43c0-9df5-4cf2cc2a50f8","private_network_id":"b75df50a-ebaf-4212-9683-519b299843d1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:edaa::/64","updated_at":"2026-07-28T12:29:10.099599Z","vpc_id":"2c838d26-de7a-47b0-ae72-190590c86f88"}],"tags":[],"updated_at":"2026-07-28T12:29:10.099599Z","vpc_id":"2c838d26-de7a-47b0-ae72-190590c86f88"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 648.040356ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b75df50a-ebaf-4212-9683-519b299843d1
        method: GET
      response:
        body: '{"created_at":"2026-07-28T12:29:10.099599Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"b75df50a-ebaf-4212-9683-519b299843d1","name":"tf-pn-romantic-galois","organization_id":"105bdce1-64c0-48ab-899d-86[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-vpn-gateway-disable-route-prop","tags":[],"gateway_type":"VGW-S","private_network_id":"b75df50a-ebaf-4212-9683-519b299843d1","zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways
        method: POST
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-07-28T12:29:11.560084Z","gateway_type":"VGW-S","id":"d3b609d4-e909-403c-b249-ba5750895bf9","ipam_private_ipv4_id":"b7a413ea-cd6b-4e0c-8e9f-af5dcc99b487","ipam_private_ipv6_id":"e10163ab-2364-4174-8e1f-28dd05bc8ddf","name":"tf-test-vpn-gateway-disable-route-prop","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"b75df50a-ebaf-4212-9683-519b299843d1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_config":{"ipam_ipv4_id":"1f649cc6-875d-475f-b157-02258d527175","ipam_ipv6_id":"c5413260-3b52-4cb3-a5fb-1b8b5b9e4755"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-07-28T12:29:11.560084Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.042016886s
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/d3b609d4-e909-403c-b249-ba5750895bf9
        method: GET
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-07-28T12:29:11.560084Z","gateway_type":"VGW-S","id":"d3b609d4-e909-403c-b249-ba5750895bf9","ipam_private_ipv4_id":"b7a413ea-cd6b-4e0c-8e9f-af5dcc99b487","ipam_private_ipv6_id":"e10163ab-2364-4174-8e1f-28dd05bc8ddf","name":"tf-test-vpn-gateway-disable-route-prop","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"b75df50a-ebaf-4212-9683-519b299843d1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_config":{"ipam_ipv4_id":"1f649cc6-875d-475f-b157-02258d527175","ipam_ipv6_id":"c5413260-3b52-4cb3-a5fb-1b8b5b9e4755"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-07-28T12:29:11.560084Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.836524ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-connection-disable-route-prop","tags":[],"is_ipv6":false,"initiation_policy":"customer_gateway","ikev2_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"esp_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"enable_route_propagation":true,"vpn_gateway_id":"d3b609d4-e909-403c-b249-ba5750895bf9","customer_gateway_id":"801622f8-6e5f-45ac-882c-3c9a3b351a0e","bgp_config_ipv4":{"routing_policy_id":"68bf6e51-afbf-49a2-9a24-61de244db984","private_ip":"169.254.2.1/30","peer_private_ip":"169.254.2.2/30"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections
        method: POST
      response:
        body: '{"connection":{"bgp_session_ipv4":{"peer_private_ip":"169.254.2.2/30","private_ip":"169.254.2.1/30","routing_policy_id":"68bf6e51-afbf-49a2-9a24-61de244db984"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-07-28T12:29:52.320399Z","customer_gateway_id":"801622f8-6e5f-45ac-882c-3c9a3b351a0e","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"8366d872-a217-4c9e-b61c-59718cfea6b8","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"customer_gateway","is_ipv6":false,"name":"tf-test-connection-disable-route-prop","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_propagation_enabled":true,"secret_id":"b1b29528-e6b5-4abc-8d04-21d465c7a918","secret_revision":1,"status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2026-07-28T12:29:52.320399Z","vpn_gateway_id":"d3b609d4-e909-403c-b249-ba5750895bf9"},"pre_shared_key":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 916.106899ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections/8366d872-a217-4c9e-b61c-59718cfea6b8
        method: GET
      response:
        body: '{"bgp_session_ipv4":{"peer_private_ip":"169.254.2.2/30","private_ip":"169.254.2.1/30","routing_policy_id":"68bf6e51-afbf-49a2-9a24-61de244db984"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-0[...]
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections/8366d872-a217-4c9e-b61c-59718cfea6b8/disable-route-propagation
        method: POST
      response:
        body: '{"bgp_session_ipv4":{"peer_private_ip":"169.254.2.2/30","private_ip":"169.254.2.1/30","routing_policy_id":"68bf6e51-afbf-49a2-9a24[...]
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/1d249225-0151-4e96-9c3d-1f9094cb48f4
        method: GET
      response:
        body: '{"ip":{"address":"51.15.215.53","id":"1d249225-0151-4e96-9c3d-1f9094cb48f4","ipam_id":"1d249225-0151-4e96-9c3d-1f9094cb48f4","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 235.764998ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/d3b609d4-e909-403c-b249-ba5750895bf9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpn_gateway","resource_id":"d3b609d4-e909-403c-b249-ba5750895bf9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.22716ms
[...]
