---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-routing-policy-enable-route-prop","tags":[],"is_ipv6":false,"prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies
        method: POST
      response:
        body: '{"created_at":"2026-09-16T13:38:33.524438Z","id":"c3f2a2e2-058f-4604-9682-2ef382314433","is_ipv6":false,"name":"tf-test-routing-policy-enable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"","tags":[],"updated_at":"2026-09-16T13:38:33.524438Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 264.823834ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 16.227334ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies/c3f2a2e2-058f-4604-9682-2ef382314433
        method: GET
      response:
        body: '{"created_at":"2026-09-16T13:38:33.524438Z","id":"c3f2a2e2-058f-4604-9682-2ef382314433","is_ipv6":false,"name":"tf-test-routing-policy-enable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"","tags":[],"updated_at":"2026-09-16T13:38:33.524438Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 20.207625ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-connection-enable-route-prop-psk","tags":null,"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2026-09-16T13:38:33.554494Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"f78eb6cc-9fe1-4b96-a939-5aae610bc4af","key_id":null,"managed":false,"name":"tf-test-connection-enable-route-prop-psk","path":"/","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","protected":false,"region":"fr-par","srn":"","status":"ready","tags":[],"type":"opaque","updated_at":"2026-09-16T13:38:33.554494Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 303.170667ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-vpc-enable-route-prop","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-09-16T13:38:33.567992Z","custom_routes_propagation_enabled":true,"id":"4399d80d-a035-4332-9d56-0ca6d87343f7","is_default":false,"name":"tf-test-vpc-enable-route-prop","object_storage_private_access_enabled":false,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"srn":"","tags":[],"transitivity_enabled":false,"updated_at":"2026-09-16T13:38:33.567992Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 328.036ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f78eb6cc-9fe1-4b96-a939-5aae610bc4af
        method: GET
      response:
        body: '{"created_at":"2026-09-16T13:38:33.554494Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"f78eb6cc-9fe1-4b96-a939-5aae610bc4af","key_id":null,"managed":false,"name":"tf-test-connection-enable-route-prop-psk","path":"/","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","protected":false,"region":"fr-par","srn":"","status":"ready","tags":[],"type":"opaque","updated_at":"2026-09-16T13:38:33.554494Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 30.568833ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f78eb6cc-9fe1-4b96-a939-5aae610bc4af/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 45.098625ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/4399d80d-a035-4332-9d56-0ca6d87343f7
        method: GET
      response:
        body: '{"created_at":"2026-09-16T13:38:33.567992Z","custom_routes_propagation_enabled":true,"id":"4399d80d-a035-4332-9d56-0ca6d87343f7","is_default":false,"name":"tf-test-vpc-enable-route-prop","object_storage_private_access_enabled":false,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"srn":"","tags":[],"transitivity_enabled":false,"updated_at":"2026-09-16T13:38:33.567992Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 91.7195ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"51.15.238.129","id":"4be0e06e-5f8f-4f47-b441-75e5c3a4c6f5","ipam_id":"4be0e06e-5f8f-4f47-b441-75e5c3a4c6f5","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/4be0e06e-5f8f-4f47-b441-75e5c3a4c6f5
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 201 Created
        code: 201
        duration: 494.638875ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-customer-gateway-enable-route-prop","tags":[],"ipv4_public":"51.15.238.129/32","asn":65000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways
        method: POST
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-09-16T13:38:33.908236Z","id":"60af4e48-9c51-452f-aa33-9f2bf7b999b2","name":"tf-test-customer-gateway-enable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"51.15.238.129","region":"fr-par","srn":"","tags":[],"updated_at":"2026-09-16T13:38:33.908236Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 159.204083ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/60af4e48-9c51-452f-aa33-9f2bf7b999b2
        method: GET
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-09-16T13:38:33.908236Z","id":"60af4e48-9c51-452f-aa33-9f2bf7b999b2","name":"tf-test-customer-gateway-enable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"51.15.238.129","region":"fr-par","srn":"","tags":[],"updated_at":"2026-09-16T13:38:33.908236Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 29.750708ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"data":"dGZfdGVzdF9zMnNfdnBuLnBzaw=="}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f78eb6cc-9fe1-4b96-a939-5aae610bc4af/versions
        method: POST
      response:
        body: '{"created_at":"2026-09-16T13:38:34.009303Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"region":"fr-par","revision":1,"secret_id":"f78eb6cc-9fe1-4b96-a939-5aae610bc4af","srn":"","status":"enabled","updated_at":"2026-09-16T13:38:34.009303Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 375.98525ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f78eb6cc-9fe1-4b96-a939-5aae610bc4af/versions/1
        method: GET
      response:
        body: '{"created_at":"2026-09-16T13:38:34.009303Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"region":"fr-par","revision":1,"secret_id":"f78eb6cc-9fe1-4b96-a939-5aae610bc4af","srn":"","status":"enabled","updated_at":"2026-09-16T13:38:34.009303Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 47.904584ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-romantic-lewin","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["10.0.0.0/24"],"vpc_id":"4399d80d-a035-4332-9d56-0ca6d87343f7","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-09-16T13:38:33.797669Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"701bb3f9-b61b-46ba-af3f-2da1915fa789","name":"tf-pn-romantic-lewin","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"","subnets":[{"created_at":"2026-09-16T13:38:33.797669Z","id":"414ce2f5-4b4b-4fa2-899d-4c8e77dce98a","private_network_id":"701bb3f9-b61b-46ba-af3f-2da1915fa789","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"","subnet":"10.0.0.0/24","updated_at":"2026-09-16T13:38:33.797669Z","vpc_id":"4399d80d-a035-4332-9d56-0ca6d87343f7"},{"created_at":"2026-09-16T13:38:33.797669Z","id":"851d9b15-3a8a-4d40-b834-4cb96355b3c1","private_network_id":"701bb3f9-b61b-46ba-af3f-2da1915fa789","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"","subnet":"fd46:78ab:30b8:5d90::/64","updated_at":"2026-09-16T13:38:33.797669Z","vpc_id":"4399d80d-a035-4332-9d56-0ca6d87343f7"}],"tags":[],"updated_at":"2026-09-16T13:38:33.797669Z","vpc_id":"4399d80d-a035-4332-9d56-0ca6d87343f7"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 709.458459ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/701bb3f9-b61b-46ba-af3f-2da1915fa789
        method: GET
      response:
        body: '{"created_at":"2026-09-16T13:38:33.797669Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"701bb3f9-b61b-46ba-af3f-2da1915fa789","name":"tf-pn-romantic-lewin","or[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-vpn-gateway-enable-route-prop","tags":[],"gateway_type":"VGW-S","private_network_id":"701bb3f9-b61b-46ba-af3f-2da1915fa789","zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways
        method: POST
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-09-16T13:38:35.374394Z","gateway_type":"VGW-S","id":"3c6e7fa6-b614-4934-9ba0-195dd9402407","ipam_private_ipv4_id":"d27824d0-01ad-4a05-9103-59b87ab386a4","ipam_private_ipv6_id":"17383812-2776-4615-8339-f370395a7417","name":"tf-test-vpn-gateway-enable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"701bb3f9-b61b-46ba-af3f-2da1915fa789","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"4e7b8e3d-ab86-4500-92fd-19525d613278","ipam_ipv6_id":"06feae9b-11fd-49b8-96ee-e47671c2335d"},"region":"fr-par","srn":"","status":"provisioning","tags":[],"updated_at":"2026-09-16T13:38:35.374394Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 992.821ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/3c6e7fa6-b614-4934-9ba0-195dd9402407
        method: GET
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-09-16T13:38:35.374394Z","gateway_type":"VGW-S","id":"3c6e7fa6-b614-4934-9ba0-195dd9402407","ipam_private_ipv4_id":"d27824d0-01ad-4a05-9103-59b87ab386a4","ipam_private_ipv6_id":"17383812-2776-4615-8339-f370395a7417","name":"tf-test-vpn-gateway-enable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"701bb3f9-b61b-46ba-af3f-2da1915fa789","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"4e7b8e3d-ab86-4500-92fd-19525d613278","ipam_ipv6_id":"06feae9b-11fd-49b8-96ee-e47671c2335d"},"region":"fr-par","srn":"","status":"provisioning","tags":[],"updated_at":"2026-09-16T13:38:35.374394Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 31.069334ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-connection-enable-route-prop","tags":[],"is_ipv6":false,"initiation_policy":"customer_gateway","ikev2_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"esp_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"enable_route_propagation":false,"secret":{"id":"f78eb6cc-9fe1-4b96-a939-5aae610bc4af","revision":1},"vpn_gateway_id":"3c6e7fa6-b614-4934-9ba0-195dd9402407","customer_gateway_id":"60af4e48-9c51-452f-aa33-9f2bf7b999b2","bgp_config_ipv4":{"routing_policy_id":"c3f2a2e2-058f-4604-9682-2ef382314433","private_ip":"169.254.3.1/30","peer_private_ip":"169.254.3.2/30"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections
        method: POST
      response:
        body: '{"connection":{"bgp_session_ipv4":{"peer_private_ip":"169.254.3.2/30","private_ip":"169.254.3.1/30","routing_policy_id":"c3f2a2e2-058f-4604-9682-2ef382314433"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-09-16T13:39:16.398768Z","customer_gateway_id":"60af4e48-9c51-452f-aa33-9f2bf7b999b2","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"35e10ec5-f8a7-4a26-91ba-50e04a483286","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"customer_gateway","is_ipv6":false,"name":"tf-test-connection-enable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_propagation_enabled":false,"secret_id":"f78eb6cc-9fe1-4b96-a939-5aae610bc4af","secret_revision":1,"srn":"","status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2026-09-16T13:39:16.398768Z","vpn_gateway_id":"3c6e7fa6-b614-4934-9ba0-195dd9402407"},"pre_shared_key":""}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 287.921292ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections/35e10ec5-f8a7-4a26-91ba-50e04a483286
        method: GET
      response:
        body: '{"bgp_session_ipv4":{"peer_private_ip":"169.254.3.2/30","private_ip":"169.254.3.1/30","routing_policy_id":"c3f2a2e2-058f-4604-9682-2ef382314433"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-0[...]
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections/35e10ec5-f8a7-4a26-91ba-50e04a483286/enable-route-propagation
        method: POST
      response:
        body: '{"bgp_session_ipv4":{"peer_private_ip":"169.254.3.2/30","private_ip":"169.254.3.1/30","routing_policy_id":"c3f2a2e2-058f-4604-9682-[...]
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/4be0e06e-5f8f-4f47-b441-75e5c3a4c6f5
        method: GET
      response:
        body: '{"ip":{"address":"51.15.238.129","id":"4be0e06e-5f8f-4f47-b441-75e5c3a4c6f5","ipam_id":"4be0e06e-5f8f-4f47-b441-75e5c3a4c6f5","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 146.815666ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/3c6e7fa6-b614-4934-9ba0-195dd9402407
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpn_gateway","resource_id":"3c6e7fa6-b614-4934-9ba0-195dd9402407","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 59.532ms
[...]
