---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-vpc-disable-route-prop","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-01-30T14:01:45.302532Z","custom_routes_propagation_enabled":true,"id":"6ec6fb71-8bcc-47e0-a6b1-20e891aff701","is_default":false,"name":"tf-test-vpc-disable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-01-30T14:01:45.302532Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 285.886209ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-routing-policy-disable-route-prop","tags":[],"is_ipv6":false,"prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies
        method: POST
      response:
        body: '{"created_at":"2026-01-30T14:01:45.325203Z","id":"a2b49271-70d0-4adc-a861-3ca0e35bf8bf","is_ipv6":false,"name":"tf-test-routing-policy-disable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2026-01-30T14:01:45.325203Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 302.09525ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/6ec6fb71-8bcc-47e0-a6b1-20e891aff701
        method: GET
      response:
        body: '{"created_at":"2026-01-30T14:01:45.302532Z","custom_routes_propagation_enabled":true,"id":"6ec6fb71-8bcc-47e0-a6b1-20e891aff701","is_default":false,"name":"tf-test-vpc-disable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-01-30T14:01:45.302532Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.228417ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies/a2b49271-70d0-4adc-a861-3ca0e35bf8bf
        method: GET
      response:
        body: '{"created_at":"2026-01-30T14:01:45.325203Z","id":"a2b49271-70d0-4adc-a861-3ca0e35bf8bf","is_ipv6":false,"name":"tf-test-routing-policy-disable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2026-01-30T14:01:45.325203Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.466584ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"51.15.128.186","id":"66fab206-8468-44d1-8f7e-700493ca3838","ipam_id":"66fab206-8468-44d1-8f7e-700493ca3838","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/66fab206-8468-44d1-8f7e-700493ca3838
        status: 201 Created
        code: 201
        duration: 502.150916ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/66fab206-8468-44d1-8f7e-700493ca3838
        method: GET
      response:
        body: '{"ip":{"address":"51.15.128.186","id":"66fab206-8468-44d1-8f7e-700493ca3838","ipam_id":"66fab206-8468-44d1-8f7e-700493ca3838","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 311.962625ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-customer-gateway-disable-route-prop","tags":[],"ipv4_public":"51.15.128.186/32","asn":65000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways
        method: POST
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-01-30T14:01:45.938387Z","id":"63b2450f-4c29-46a7-9faa-1d6abc6911f5","name":"tf-test-customer-gateway-disable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"51.15.128.186","region":"fr-par","tags":[],"updated_at":"2026-01-30T14:01:45.938387Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.084958ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/63b2450f-4c29-46a7-9faa-1d6abc6911f5
        method: GET
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-01-30T14:01:45.938387Z","id":"63b2450f-4c29-46a7-9faa-1d6abc6911f5","name":"tf-test-customer-gateway-disable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"51.15.128.186","region":"fr-par","tags":[],"updated_at":"2026-01-30T14:01:45.938387Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.685166ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-lucid-newton","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["10.0.0.0/24"],"vpc_id":"6ec6fb71-8bcc-47e0-a6b1-20e891aff701","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-01-30T14:01:45.464074Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"52205b2f-1927-43e5-ad17-355752ac45f5","name":"tf-pn-lucid-newton","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-01-30T14:01:45.464074Z","id":"401df4c3-eec3-4f99-ae43-6c88f4fb250d","private_network_id":"52205b2f-1927-43e5-ad17-355752ac45f5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"10.0.0.0/24","updated_at":"2026-01-30T14:01:45.464074Z","vpc_id":"6ec6fb71-8bcc-47e0-a6b1-20e891aff701"},{"created_at":"2026-01-30T14:01:45.464074Z","id":"321087a3-e569-4a6a-ac4b-ee9053a836af","private_network_id":"52205b2f-1927-43e5-ad17-355752ac45f5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:df1f::/64","updated_at":"2026-01-30T14:01:45.464074Z","vpc_id":"6ec6fb71-8bcc-47e0-a6b1-20e891aff701"}],"tags":[],"updated_at":"2026-01-30T14:01:45.464074Z","vpc_id":"6ec6fb71-8bcc-47e0-a6b1-20e891aff701"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 800.320917ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/52205b2f-1927-43e5-ad17-355752ac45f5
        method: GET
      response:
        body: '{"created_at":"2026-01-30T14:01:45.464074Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"52205b2f-1927-43e5-ad17-355752ac45f5","name":"tf-pn-lucid-newton","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-01-30T14:01:45.464074Z","id":"401df4c3-eec3-4f99-ae43-6c88f4fb250d","private_network_id":"52205b2f-1927-43e5-ad17-355752ac45f5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"10.0.0.0/24","updated_at":"2026-01-30T14:01:45.464074Z","vpc_id":"6ec6fb71-8bcc-47e0-a6b1-20e891aff701"},{"created_at":"2026-01-30T14:01:45.464074Z","id":"321087a3-e569-4a6a-ac4b-ee9053a836af","private_network_id":"52205b2f-1927-43e5-ad17-355752ac45f5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:df1f::/64","updated_at":"2026-01-30T14:01:45.464074Z","vpc_id":"6ec6fb71-8bcc-47e0-a6b1-20e891aff701"}],"tags":[],"updated_at":"2026-01-30T14:01:45.464074Z","vpc_id":"6ec6fb71-8bcc-47e0-a6b1-20e891aff701"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.477625ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-vpn-gateway-disable-route-prop","tags":[],"gateway_type":"VGW-S","private_network_id":"52205b2f-1927-43e5-ad17-355752ac45f5","zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways
        method: POST
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-01-30T14:01:46.882899Z","gateway_type":"VGW-S","id":"2c4c632b-9d15-4765-b4c6-9d6d5f98e509","ipam_private_ipv4_id":"be29b918-9c76-41fe-90ef-c6b87b072d3f","ipam_private_ipv6_id":"ef70b485-b89c-4ee0-b48e-e39b059847ec","name":"tf-test-vpn-gateway-disable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"52205b2f-1927-43e5-ad17-355752ac45f5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"6c635fdf-a71b-4fa6-b37d-b20f663bb1e7","ipam_ipv6_id":"f4f35509-a90c-4211-bef3-5fcd25ea6925"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-01-30T14:01:46.882899Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 871.274291ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/2c4c632b-9d15-4765-b4c6-9d6d5f98e509
        method: GET
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-01-30T14:01:46.882899Z","gateway_type":"VGW-S","id":"2c4c632b-9d15-4765-b4c6-9d6d5f98e509","ipam_private_ipv4_id":"be29b918-9c76-41fe-90ef-c6b87b072d3f","ipam_private_ipv6_id":"ef70b485-b89c-4ee0-b48e-e39b059847ec","name":"tf-test-vpn-gateway-disable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"52205b2f-1927-43e5-ad17-355752ac45f5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"6c635fdf-a71b-4fa6-b37d-b20f663bb1e7","ipam_ipv6_id":"f4f35509-a90c-4211-bef3-5fcd25ea6925"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-01-30T14:01:46.882899Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.494292ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-connection-disable-route-prop","tags":[],"is_ipv6":false,"initiation_policy":"customer_gateway","ikev2_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"esp_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"enable_route_propagation":true,"vpn_gateway_id":"2c4c632b-9d15-4765-b4c6-9d6d5f98e509","customer_gateway_id":"63b2450f-4c29-46a7-9faa-1d6abc6911f5","bgp_config_ipv4":{"routing_policy_id":"a2b49271-70d0-4adc-a861-3ca0e35bf8bf","private_ip":"169.254.0.1/30","peer_private_ip":"169.254.0.2/30"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections
        method: POST
      response:
        body: '{"connection":{"bgp_session_ipv4":{"peer_private_ip":"169.254.0.2/30","private_ip":"169.254.0.1/30","routing_policy_id":"a2b49271-70d0-4adc-a861-3ca0e35bf8bf"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-01-30T14:02:07.669452Z","customer_gateway_id":"63b2450f-4c29-46a7-9faa-1d6abc6911f5","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"df63307c-5f95-416c-86de-a901a71ee7cc","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"customer_gateway","is_ipv6":false,"name":"tf-test-connection-disable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_propagation_enabled":true,"secret_id":"69442f50-8f30-4ad5-b5b3-0dd28f15f72a","secret_revision":1,"status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2026-01-30T14:02:07.669452Z","vpn_gateway_id":"2c4c632b-9d15-4765-b4c6-9d6d5f98e509"},"pre_shared_key":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 668.371458ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections/df63307c-5f95-416c-86de-a901a71ee7cc
        method: GET
      response:
        body: '{"bgp_session_ipv4":{"peer_private_ip":"169.254.0.2/30","private_ip":"169.254.0.1/30","routing_policy_id":"a2b49271-70d0-4adc-a861-3ca0e35bf8bf"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-0[...]
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections/df63307c-5f95-416c-86de-a901a71ee7cc/disable-route-propagation
        method: POST
      response:
        body: '{"bgp_session_ipv4":{"peer_private_ip":"169.254.0.2/30","private_ip":"169.254.0.1/30","routing_policy_id":"a2b49271-70d0-4adc-a861[...]
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/2c4c632b-9d15-4765-b4c6-9d6d5f98e509
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpn_gateway","resource_id":"2c4c632b-9d15-4765-b4c6-9d6d5f98e509","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.268292ms
[...]
