---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-routing-policy-disable-route-prop","tags":[],"is_ipv6":false,"prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies
        method: POST
      response:
        body: '{"created_at":"2026-09-16T13:42:12.071726Z","id":"5e02099d-102b-4dae-a011-e3629c959c6a","is_ipv6":false,"name":"tf-test-routing-policy-disable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"","tags":[],"updated_at":"2026-09-16T13:42:12.071726Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 264.870834ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 13.007834ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-vpc-disable-route-prop","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-09-16T13:42:12.096834Z","custom_routes_propagation_enabled":true,"id":"3079320d-adc0-4750-87ce-d72af69eb418","is_default":false,"name":"tf-test-vpc-disable-route-prop","object_storage_private_access_enabled":false,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"srn":"","tags":[],"transitivity_enabled":false,"updated_at":"2026-09-16T13:42:12.096834Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 297.308708ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies/5e02099d-102b-4dae-a011-e3629c959c6a
        method: GET
      response:
        body: '{"created_at":"2026-09-16T13:42:12.071726Z","id":"5e02099d-102b-4dae-a011-e3629c959c6a","is_ipv6":false,"name":"tf-test-routing-policy-disable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"","tags":[],"updated_at":"2026-09-16T13:42:12.071726Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 41.379709ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-connection-disable-route-prop-psk","tags":null,"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2026-09-16T13:42:12.111981Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"b182e4f2-aee1-49f2-b0c9-6274d641bf7c","key_id":null,"managed":false,"name":"tf-test-connection-disable-route-prop-psk","path":"/","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","protected":false,"region":"fr-par","srn":"","status":"ready","tags":[],"type":"opaque","updated_at":"2026-09-16T13:42:12.111981Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 320.94825ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b182e4f2-aee1-49f2-b0c9-6274d641bf7c
        method: GET
      response:
        body: '{"created_at":"2026-09-16T13:42:12.111981Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"b182e4f2-aee1-49f2-b0c9-6274d641bf7c","key_id":null,"managed":false,"name":"tf-test-connection-disable-route-prop-psk","path":"/","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","protected":false,"region":"fr-par","srn":"","status":"ready","tags":[],"type":"opaque","updated_at":"2026-09-16T13:42:12.111981Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 33.204166ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/3079320d-adc0-4750-87ce-d72af69eb418
        method: GET
      response:
        body: '{"created_at":"2026-09-16T13:42:12.096834Z","custom_routes_propagation_enabled":true,"id":"3079320d-adc0-4750-87ce-d72af69eb418","is_default":false,"name":"tf-test-vpc-disable-route-prop","object_storage_private_access_enabled":false,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"srn":"","tags":[],"transitivity_enabled":false,"updated_at":"2026-09-16T13:42:12.096834Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 95.725417ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b182e4f2-aee1-49f2-b0c9-6274d641bf7c/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 42.321542ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"195.154.157.90","id":"b93be0c8-cdaa-4d05-a195-82218a50e321","ipam_id":"b93be0c8-cdaa-4d05-a195-82218a50e321","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/b93be0c8-cdaa-4d05-a195-82218a50e321
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 201 Created
        code: 201
        duration: 486.726875ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-customer-gateway-disable-route-prop","tags":[],"ipv4_public":"195.154.157.90/32","asn":65000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways
        method: POST
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-09-16T13:42:12.367242Z","id":"e2621e96-74ac-470d-8397-987461573c64","name":"tf-test-customer-gateway-disable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"195.154.157.90","region":"fr-par","srn":"","tags":[],"updated_at":"2026-09-16T13:42:12.367242Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 62.04225ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/e2621e96-74ac-470d-8397-987461573c64
        method: GET
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-09-16T13:42:12.367242Z","id":"e2621e96-74ac-470d-8397-987461573c64","name":"tf-test-customer-gateway-disable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"195.154.157.90","region":"fr-par","srn":"","tags":[],"updated_at":"2026-09-16T13:42:12.367242Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 105.696875ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"data":"dGZfdGVzdF9zMnNfdnBuLnBzaw=="}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b182e4f2-aee1-49f2-b0c9-6274d641bf7c/versions
        method: POST
      response:
        body: '{"created_at":"2026-09-16T13:42:12.528617Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"region":"fr-par","revision":1,"secret_id":"b182e4f2-aee1-49f2-b0c9-6274d641bf7c","srn":"","status":"enabled","updated_at":"2026-09-16T13:42:12.528617Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 318.2355ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/b182e4f2-aee1-49f2-b0c9-6274d641bf7c/versions/1
        method: GET
      response:
        body: '{"created_at":"2026-09-16T13:42:12.528617Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"region":"fr-par","revision":1,"secret_id":"b182e4f2-aee1-49f2-b0c9-6274d641bf7c","srn":"","status":"enabled","updated_at":"2026-09-16T13:42:12.528617Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 34.700209ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-great-benz","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["10.0.0.0/24"],"vpc_id":"3079320d-adc0-4750-87ce-d72af69eb418","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-09-16T13:42:12.346462Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"97b85264-7dae-44bc-a38e-c7820cc5a412","name":"tf-pn-great-benz","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"","subnets":[{"created_at":"2026-09-16T13:42:12.346462Z","id":"34e521e2-1d73-41c8-be5a-af7bc0e5e358","private_network_id":"97b85264-7dae-44bc-a38e-c7820cc5a412","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"","subnet":"10.0.0.0/24","updated_at":"2026-09-16T13:42:12.346462Z","vpc_id":"3079320d-adc0-4750-87ce-d72af69eb418"},{"created_at":"2026-09-16T13:42:12.346462Z","id":"7a557fdb-ae4e-4f00-8199-1b815036cb1c","private_network_id":"97b85264-7dae-44bc-a38e-c7820cc5a412","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"","subnet":"fd46:78ab:30b8:b175::/64","updated_at":"2026-09-16T13:42:12.346462Z","vpc_id":"3079320d-adc0-4750-87ce-d72af69eb418"}],"tags":[],"updated_at":"2026-09-16T13:42:12.346462Z","vpc_id":"3079320d-adc0-4750-87ce-d72af69eb418"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 800.21825ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/97b85264-7dae-44bc-a38e-c7820cc5a412
        method: GET
      response:
        body: '{"created_at":"2026-09-16T13:42:12.346462Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"97b85264-7dae-44bc-a38e-c7820cc5a412","name":"tf-pn-great-benz","organi[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-vpn-gateway-disable-route-prop","tags":[],"gateway_type":"VGW-S","private_network_id":"97b85264-7dae-44bc-a38e-c7820cc5a412","zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways
        method: POST
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-09-16T13:42:13.967022Z","gateway_type":"VGW-S","id":"f55b74bf-65d5-455b-81ac-c9015a0bcf17","ipam_private_ipv4_id":"e501c4f4-ea5c-4d2d-93d6-aecc1828a9d3","ipam_private_ipv6_id":"4630afac-4c05-487a-b7de-b4e42b44b814","name":"tf-test-vpn-gateway-disable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"97b85264-7dae-44bc-a38e-c7820cc5a412","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"e9388ab3-3ca5-48ee-990e-54377b2be2cf","ipam_ipv6_id":"b6470521-0523-4f62-a12f-64dfd8970b77"},"region":"fr-par","srn":"","status":"provisioning","tags":[],"updated_at":"2026-09-16T13:42:13.967022Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 987.51525ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/f55b74bf-65d5-455b-81ac-c9015a0bcf17
        method: GET
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-09-16T13:42:13.967022Z","gateway_type":"VGW-S","id":"f55b74bf-65d5-455b-81ac-c9015a0bcf17","ipam_private_ipv4_id":"e501c4f4-ea5c-4d2d-93d6-aecc1828a9d3","ipam_private_ipv6_id":"4630afac-4c05-487a-b7de-b4e42b44b814","name":"tf-test-vpn-gateway-disable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"97b85264-7dae-44bc-a38e-c7820cc5a412","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"e9388ab3-3ca5-48ee-990e-54377b2be2cf","ipam_ipv6_id":"b6470521-0523-4f62-a12f-64dfd8970b77"},"region":"fr-par","srn":"","status":"provisioning","tags":[],"updated_at":"2026-09-16T13:42:13.967022Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 30.655459ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-connection-disable-route-prop","tags":[],"is_ipv6":false,"initiation_policy":"customer_gateway","ikev2_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"esp_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"enable_route_propagation":true,"secret":{"id":"b182e4f2-aee1-49f2-b0c9-6274d641bf7c","revision":1},"vpn_gateway_id":"f55b74bf-65d5-455b-81ac-c9015a0bcf17","customer_gateway_id":"e2621e96-74ac-470d-8397-987461573c64","bgp_config_ipv4":{"routing_policy_id":"5e02099d-102b-4dae-a011-e3629c959c6a","private_ip":"169.254.2.1/30","peer_private_ip":"169.254.2.2/30"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections
        method: POST
      response:
        body: '{"connection":{"bgp_session_ipv4":{"peer_private_ip":"169.254.2.2/30","private_ip":"169.254.2.1/30","routing_policy_id":"5e02099d-102b-4dae-a011-e3629c959c6a"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-09-16T13:42:54.709869Z","customer_gateway_id":"e2621e96-74ac-470d-8397-987461573c64","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"1afbc392-39e5-4512-88a2-639ac4fe9e35","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"customer_gateway","is_ipv6":false,"name":"tf-test-connection-disable-route-prop","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_propagation_enabled":true,"secret_id":"b182e4f2-aee1-49f2-b0c9-6274d641bf7c","secret_revision":1,"srn":"","status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2026-09-16T13:42:54.709869Z","vpn_gateway_id":"f55b74bf-65d5-455b-81ac-c9015a0bcf17"},"pre_shared_key":""}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 322.311542ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections/1afbc392-39e5-4512-88a2-639ac4fe9e35
        method: GET
      response:
        body: '{"bgp_session_ipv4":{"peer_private_ip":"169.254.2.2/30","private_ip":"169.254.2.1/30","routing_policy_id":"5e02099d-102b-4dae-a011-e3629c959c6a"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-0[...]
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections/1afbc392-39e5-4512-88a2-639ac4fe9e35/disable-route-propagation
        method: POST
      response:
        body: '{"bgp_session_ipv4":{"peer_private_ip":"169.254.2.2/30","private_ip":"169.254.2.1/30","routing_policy_id":"5e02099d-102b-4dae-a011[...]
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/b93be0c8-cdaa-4d05-a195-82218a50e321
        method: GET
      response:
        body: '{"ip":{"address":"195.154.157.90","id":"b93be0c8-cdaa-4d05-a195-82218a50e321","ipam_id":"b93be0c8-cdaa-4d05-a195-82218a50e321","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 104.28025ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/f55b74bf-65d5-455b-81ac-c9015a0bcf17
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpn_gateway","resource_id":"f55b74bf-65d5-455b-81ac-c9015a0bcf17","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 98.924542ms
[...]
