---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-routing-policy-connection-secret-update","tags":[],"is_ipv6":false,"prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies
        method: POST
      response:
        body: '{"created_at":"2026-10-07T14:27:32.516624Z","id":"e8ac2316-2da7-4ff4-baf0-1cf344094ea0","is_ipv6":false,"name":"tf-test-routing-policy-connection-secret-update","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"srn://s2s-vpn.scw.eu/regions/fr-par/routing-policies/e8ac2316-2da7-4ff4-baf0-1cf344094ea0","tags":[],"updated_at":"2026-10-07T14:27:32.516624Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 463.0675ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-vpc-connection-secret-update","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-10-07T14:27:32.537395Z","custom_routes_propagation_enabled":true,"id":"b24d142c-f0fb-4a6f-b08d-4517e0fb68e6","is_default":false,"name":"tf-test-vpc-connection-secret-update","object_storage_private_access_enabled":false,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"srn":"srn://vpc.scw.eu/regions/fr-par/vpcs/b24d142c-f0fb-4a6f-b08d-4517e0fb68e6","tags":[],"transitivity_enabled":false,"updated_at":"2026-10-07T14:27:32.537395Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 476.646666ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-connection-secret-update-psk-other","tags":null,"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2026-10-07T14:27:32.545250Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"18db7360-cb87-42b4-8441-9cf589183ef5","key_id":null,"managed":false,"name":"tf-test-connection-secret-update-psk-other","path":"/","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","protected":false,"region":"fr-par","srn":"","status":"ready","tags":[],"type":"opaque","updated_at":"2026-10-07T14:27:32.545250Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 479.48325ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 18.813083ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies/e8ac2316-2da7-4ff4-baf0-1cf344094ea0
        method: GET
      response:
        body: '{"created_at":"2026-10-07T14:27:32.516624Z","id":"e8ac2316-2da7-4ff4-baf0-1cf344094ea0","is_ipv6":false,"name":"tf-test-routing-policy-connection-secret-update","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"srn://s2s-vpn.scw.eu/regions/fr-par/routing-policies/e8ac2316-2da7-4ff4-baf0-1cf344094ea0","tags":[],"updated_at":"2026-10-07T14:27:32.516624Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 142.537916ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/18db7360-cb87-42b4-8441-9cf589183ef5
        method: GET
      response:
        body: '{"created_at":"2026-10-07T14:27:32.545250Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"18db7360-cb87-42b4-8441-9cf589183ef5","key_id":null,"managed":false,"name":"tf-test-connection-secret-update-psk-other","path":"/","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","protected":false,"region":"fr-par","srn":"","status":"ready","tags":[],"type":"opaque","updated_at":"2026-10-07T14:27:32.545250Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 73.62275ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/b24d142c-f0fb-4a6f-b08d-4517e0fb68e6
        method: GET
      response:
        body: '{"created_at":"2026-10-07T14:27:32.537395Z","custom_routes_propagation_enabled":true,"id":"b24d142c-f0fb-4a6f-b08d-4517e0fb68e6","is_default":false,"name":"tf-test-vpc-connection-secret-update","object_storage_private_access_enabled":false,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"srn":"srn://vpc.scw.eu/regions/fr-par/vpcs/b24d142c-f0fb-4a6f-b08d-4517e0fb68e6","tags":[],"transitivity_enabled":false,"updated_at":"2026-10-07T14:27:32.537395Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 102.632959ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/18db7360-cb87-42b4-8441-9cf589183ef5/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 54.2475ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"51.15.234.28","id":"b058c7a7-0115-466e-9f70-c3b61991bf5c","ipam_id":"b058c7a7-0115-466e-9f70-c3b61991bf5c","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/b058c7a7-0115-466e-9f70-c3b61991bf5c
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 201 Created
        code: 201
        duration: 921.654792ms
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-customer-gateway-connection-secret-update","tags":[],"ipv4_public":"51.15.234.28/32","asn":65000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways
        method: POST
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-10-07T14:27:33.094065Z","id":"81e77d8b-3077-4270-b291-0cc51887d387","name":"tf-test-customer-gateway-connection-secret-update","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"51.15.234.28","region":"fr-par","srn":"srn://s2s-vpn.scw.eu/regions/fr-par/customer-gateways/81e77d8b-3077-4270-b291-0cc51887d387","tags":[],"updated_at":"2026-10-07T14:27:33.094065Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 175.463375ms
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"data":"dGZfdGVzdF9zMnNfdnBuLnBza19vdGhlcg=="}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/18db7360-cb87-42b4-8441-9cf589183ef5/versions
        method: POST
      response:
        body: '{"created_at":"2026-10-07T14:27:33.118892Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"region":"fr-par","revision":1,"secret_id":"18db7360-cb87-42b4-8441-9cf589183ef5","srn":"","status":"enabled","updated_at":"2026-10-07T14:27:33.118892Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 329.296ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/18db7360-cb87-42b4-8441-9cf589183ef5/versions/1
        method: GET
      response:
        body: '{"created_at":"2026-10-07T14:27:33.118892Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"region":"fr-par","revision":1,"secret_id":"18db7360-cb87-42b4-8441-9cf589183ef5","srn":"","status":"enabled","updated_at":"2026-10-07T14:27:33.118892Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 33.859292ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/81e77d8b-3077-4270-b291-0cc51887d387
        method: GET
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-10-07T14:27:33.094065Z","id":"81e77d8b-3077-4270-b291-0cc51887d387","name":"tf-test-customer-gateway-connection-secret-update","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"51.15.234.28","region":"fr-par","srn":"srn://s2s-vpn.scw.eu/regions/fr-par/customer-gateways/81e77d8b-3077-4270-b291-0cc51887d387","tags":[],"updated_at":"2026-10-07T14:27:33.094065Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 81.156125ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-infallible-chandrasekhar","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["10.0.0.0/24"],"vpc_id":"b24d142c-f0fb-4a6f-b08d-4517e0fb68e6","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-10-07T14:27:32.900712Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"5bd4758e-9fee-4165-8519-d45f9b78c879","name":"tf-pn-infallible-chandrasekhar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/5bd4758e-9fee-4165-8519-d45f9b78c879","subnets":[{"created_at":"2026-10-07T14:27:32.900712Z","id":"39708183-326d-4283-ab8d-b8378888aca9","private_network_id":"5bd4758e-9fee-4165-8519-d45f9b78c879","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"srn://vpc.scw.eu/regions/fr-par/subnets/39708183-326d-4283-ab8d-b8378888aca9","subnet":"10.0.0.0/24","updated_at":"2026-10-07T14:27:32.900712Z","vpc_id":"b24d142c-f0fb-4a6f-b08d-4517e0fb68e6"},{"created_at":"2026-10-07T14:27:32.900712Z","id":"f148a66f-3536-4193-ab3c-0195f67cf73e","private_network_id":"5bd4758e-9fee-4165-8519-d45f9b78c879","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"srn://vpc.scw.eu/regions/fr-par/subnets/f148a66f-3536-4193-ab3c-0195f67cf73e","subnet":"fd46:78ab:30b8:6786::/64","updated_at":"2026-10-07T14:27:32.900712Z","vpc_id":"b24d142c-f0fb-4a6f-b08d-4517e0fb68e6"}],"tags":[],"updated_at":"2026-10-07T14:27:32.900712Z","vpc_id":"b24d142c-f0fb-4a6f-b08d-4517e0fb68e6"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 625.745541ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5bd4758e-9fee-4165-8519-d45f9b78c879
        method: GET
      response:
        body: '{"created_at":"2026-10-07T14:27:32.900712Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"5bd4758e-9fee-4165-8519-d45f9b78c879","name":"tf-pn-infallible-chandras[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-vpn-gateway-connection-secret-update","tags":[],"gateway_type":"VGW-S","private_network_id":"5bd4758e-9fee-4165-8519-d45f9b78c879","zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways
        method: POST
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-10-07T14:27:34.555028Z","gateway_type":"VGW-S","id":"d7afa6c0-7fda-45a2-9c59-75d410b7b574","ipam_private_ipv4_id":"699cc608-8461-4e24-9cd1-4071c1561546","ipam_private_ipv6_id":"08ff3b52-b16d-4440-bfb4-203873898285","name":"tf-test-vpn-gateway-connection-secret-update","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"5bd4758e-9fee-4165-8519-d45f9b78c879","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"fa4ea07c-321b-4eb7-b173-85ac67375f26","ipam_ipv6_id":"313c7d10-7f7a-47e1-a092-c61563ef9ac5"},"region":"fr-par","srn":"srn://s2s-vpn.scw.eu/zones/fr-par-1/vpn-gateways/d7afa6c0-7fda-45a2-9c59-75d410b7b574","status":"provisioning","tags":[],"updated_at":"2026-10-07T14:27:34.555028Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.207721209s
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/d7afa6c0-7fda-45a2-9c59-75d410b7b574
        method: GET
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-10-07T14:27:34.555028Z","gateway_type":"VGW-S","id":"d7afa6c0-7fda-45a2-9c59-75d410b7b574","ipam_private_ipv4_id":"699cc608-8461-4e24-9cd1-4071c1561546","ipam_private_ipv6_id":"08ff3b52-b16d-4440-bfb4-203873898285","name":"tf-test-vpn-gateway-connection-secret-update","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"5bd4758e-9fee-4165-8519-d45f9b78c879","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"fa4ea07c-321b-4eb7-b173-85ac67375f26","ipam_ipv6_id":"313c7d10-7f7a-47e1-a092-c61563ef9ac5"},"region":"fr-par","srn":"srn://s2s-vpn.scw.eu/zones/fr-par-1/vpn-gateways/d7afa6c0-7fda-45a2-9c59-75d410b7b574","status":"provisioning","tags":[],"updated_at":"2026-10-07T14:27:34.555028Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 65.928167ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-connection-secret-update","tags":[],"is_ipv6":false,"initiation_policy":"customer_gateway","ikev2_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"esp_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"enable_route_propagation":true,"secret":{"id":"e69aeabc-4ebf-4ec4-9415-32876dea9453","revision":1},"vpn_gateway_id":"d7afa6c0-7fda-45a2-9c59-75d410b7b574","customer_gateway_id":"81e77d8b-3077-4270-b291-0cc51887d387","bgp_config_ipv4":{"routing_policy_id":"e8ac2316-2da7-4ff4-baf0-1cf344094ea0","private_ip":"169.254.5.1/30","peer_private_ip":"169.254.5.2/30"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections
        method: POST
      response:
        body: '{"connection":{"bgp_session_ipv4":{"peer_private_ip":"169.254.5.2/30","private_ip":"169.254.5.1/30","routing_policy_id":"e8ac2316-2da7-4ff4-baf0-1cf344094ea0"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-10-07T14:28:15.468879Z","customer_gateway_id":"81e77d8b-3077-4270-b291-0cc51887d387","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"ac6154c6-1d2a-4ff2-94f4-c7bfecfff7b7","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"customer_gateway","is_ipv6":false,"name":"tf-test-connection-secret-update","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_propagation_enabled":true,"secret_id":"e69aeabc-4ebf-4ec4-9415-32876dea9453","secret_revision":1,"srn":"srn://s2s-vpn.scw.eu/regions/fr-par/connections/ac6154c6-1d2a-4ff2-94f4-c7bfecfff7b7","status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2026-10-07T14:28:15.468879Z","vpn_gateway_id":"d7afa6c0-7fda-45a2-9c59-75d410b7b574"},"pre_shared_key":""}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 317.886875ms
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections/ac6154c6-1d2a-4ff2-94f4-c7bfecfff7b7
        method: GET
      response:
        body: '{"bgp_session_ipv4":{"peer_private_ip":"169.254.5.2/30","private_ip":"169.254.5.1/30","routing_policy_id":"e8ac2316-2da7-4ff4-baf0-1cf344094ea0"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-1[...]
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/b058c7a7-0115-466e-9f70-c3b61991bf5c
        method: GET
      response:
        body: '{"ip":{"address":"51.15.234.28","id":"b058c7a7-0115-466e-9f70-c3b61991bf5c","ipam_id":"b058c7a7-0115-466e-9f70-c3b61991bf5c","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 150.219334ms
[...]
    - id: 132
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/d7afa6c0-7fda-45a2-9c59-75d410b7b574
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpn_gateway","resource_id":"d7afa6c0-7fda-45a2-9c59-75d410b7b574","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 42.478375ms
[...]
