---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-vpc-connection","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-12-10T16:24:52.734227Z","custom_routes_propagation_enabled":true,"id":"fde76fe0-4e6d-4ece-bea0-a80e1966fb3f","is_default":false,"name":"tf-test-vpc-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-12-10T16:24:52.734227Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 437.871375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-routing-policy-connection","tags":[],"is_ipv6":false,"prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies
        method: POST
      response:
        body: '{"created_at":"2025-12-10T16:24:52.773350Z","id":"8660f996-1d4f-4e3b-a6bd-56eaac12754b","is_ipv6":false,"name":"tf-test-routing-policy-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2025-12-10T16:24:52.773350Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 456.777666ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/fde76fe0-4e6d-4ece-bea0-a80e1966fb3f
        method: GET
      response:
        body: '{"created_at":"2025-12-10T16:24:52.734227Z","custom_routes_propagation_enabled":true,"id":"fde76fe0-4e6d-4ece-bea0-a80e1966fb3f","is_default":false,"name":"tf-test-vpc-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-12-10T16:24:52.734227Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.079041ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies/8660f996-1d4f-4e3b-a6bd-56eaac12754b
        method: GET
      response:
        body: '{"created_at":"2025-12-10T16:24:52.773350Z","id":"8660f996-1d4f-4e3b-a6bd-56eaac12754b","is_ipv6":false,"name":"tf-test-routing-policy-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2025-12-10T16:24:52.773350Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.464041ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"51.15.138.130","id":"e12aad84-16c7-4012-905f-d90301f4e033","ipam_id":"e12aad84-16c7-4012-905f-d90301f4e033","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/e12aad84-16c7-4012-905f-d90301f4e033
        status: 201 Created
        code: 201
        duration: 669.739666ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/e12aad84-16c7-4012-905f-d90301f4e033
        method: GET
      response:
        body: '{"ip":{"address":"51.15.138.130","id":"e12aad84-16c7-4012-905f-d90301f4e033","ipam_id":"e12aad84-16c7-4012-905f-d90301f4e033","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.914458ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-customer-gateway-connection","tags":[],"ipv4_public":"51.15.138.130","asn":65000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways
        method: POST
      response:
        body: '{"asn":65000,"created_at":"2025-12-10T16:24:53.226069Z","id":"226420ee-41a2-4b98-a978-116d6e4cecad","name":"tf-test-customer-gateway-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"51.15.138.130","tags":[],"updated_at":"2025-12-10T16:24:53.226069Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.873333ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/226420ee-41a2-4b98-a978-116d6e4cecad
        method: GET
      response:
        body: '{"asn":65000,"created_at":"2025-12-10T16:24:53.226069Z","id":"226420ee-41a2-4b98-a978-116d6e4cecad","name":"tf-test-customer-gateway-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"51.15.138.130","tags":[],"updated_at":"2025-12-10T16:24:53.226069Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.865625ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-cocky-faraday","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["10.0.0.0/24"],"vpc_id":"fde76fe0-4e6d-4ece-bea0-a80e1966fb3f","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-12-10T16:24:52.899937Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d5209a7c-8a13-49d2-ab6c-64eba224280d","name":"tf-pn-cocky-faraday","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-12-10T16:24:52.899937Z","id":"142933e7-95c3-40ca-a549-2225ca51da56","private_network_id":"d5209a7c-8a13-49d2-ab6c-64eba224280d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"10.0.0.0/24","updated_at":"2025-12-10T16:24:52.899937Z","vpc_id":"fde76fe0-4e6d-4ece-bea0-a80e1966fb3f"},{"created_at":"2025-12-10T16:24:52.899937Z","id":"a27d4e29-8418-44ac-9532-79a5467c8513","private_network_id":"d5209a7c-8a13-49d2-ab6c-64eba224280d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:46ff::/64","updated_at":"2025-12-10T16:24:52.899937Z","vpc_id":"fde76fe0-4e6d-4ece-bea0-a80e1966fb3f"}],"tags":[],"updated_at":"2025-12-10T16:24:52.899937Z","vpc_id":"fde76fe0-4e6d-4ece-bea0-a80e1966fb3f"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 620.536166ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d5209a7c-8a13-49d2-ab6c-64eba224280d
        method: GET
      response:
        body: '{"created_at":"2025-12-10T16:24:52.899937Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d5209a7c-8a13-49d2-ab6c-64eba224280d","name":"tf-pn-cocky-faraday","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-12-10T16:24:52.899937Z","id":"142933e7-95c3-40ca-a549-2225ca51da56","private_network_id":"d5209a7c-8a13-49d2-ab6c-64eba224280d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"10.0.0.0/24","updated_at":"2025-12-10T16:24:52.899937Z","vpc_id":"fde76fe0-4e6d-4ece-bea0-a80e1966fb3f"},{"created_at":"2025-12-10T16:24:52.899937Z","id":"a27d4e29-8418-44ac-9532-79a5467c8513","private_network_id":"d5209a7c-8a13-49d2-ab6c-64eba224280d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:46ff::/64","updated_at":"2025-12-10T16:24:52.899937Z","vpc_id":"fde76fe0-4e6d-4ece-bea0-a80e1966fb3f"}],"tags":[],"updated_at":"2025-12-10T16:24:52.899937Z","vpc_id":"fde76fe0-4e6d-4ece-bea0-a80e1966fb3f"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.837958ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-vpn-gateway-connection","tags":[],"gateway_type":"VGW-S","private_network_id":"d5209a7c-8a13-49d2-ab6c-64eba224280d","zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways
        method: POST
      response:
        body: '{"asn":12876,"created_at":"2025-12-10T16:24:54.394001Z","gateway_type":"VGW-S","id":"b70c9398-fed3-44a3-b937-e9e2c86305cb","ipam_private_ipv4_id":"9ad67f4b-2d51-4e36-a997-a09faedcac83","ipam_private_ipv6_id":"2631532e-f06a-4359-978a-2ed1c6e13aea","name":"tf-test-vpn-gateway-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"d5209a7c-8a13-49d2-ab6c-64eba224280d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"cffff5ae-5961-4aff-a96f-754c04c42799","ipam_ipv6_id":"1c543163-a778-4613-9062-3e1d4b4c963c"},"region":"fr-par","status":"provisioning","tags":["public_ipv4=51.158.74.241/32","public_ipv6=2001:bc8:711:16fa::/64"],"updated_at":"2025-12-10T16:24:54.394001Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.084384584s
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/b70c9398-fed3-44a3-b937-e9e2c86305cb
        method: GET
      response:
        body: '{"asn":12876,"created_at":"2025-12-10T16:24:54.394001Z","gateway_type":"VGW-S","id":"b70c9398-fed3-44a3-b937-e9e2c86305cb","ipam_private_ipv4_id":"9ad67f4b-2d51-4e36-a997-a09faedcac83","ipam_private_ipv6_id":"2631532e-f06a-4359-978a-2ed1c6e13aea","name":"tf-test-vpn-gateway-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"d5209a7c-8a13-49d2-ab6c-64eba224280d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"cffff5ae-5961-4aff-a96f-754c04c42799","ipam_ipv6_id":"1c543163-a778-4613-9062-3e1d4b4c963c"},"region":"fr-par","status":"provisioning","tags":["public_ipv4=51.158.74.241/32","public_ipv6=2001:bc8:711:16fa::/64"],"updated_at":"2025-12-10T16:24:54.394001Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.228084ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-connection","tags":[],"is_ipv6":false,"initiation_policy":"customer_gateway","ikev2_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"esp_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"enable_route_propagation":true,"vpn_gateway_id":"b70c9398-fed3-44a3-b937-e9e2c86305cb","customer_gateway_id":"226420ee-41a2-4b98-a978-116d6e4cecad","bgp_config_ipv4":{"routing_policy_id":"8660f996-1d4f-4e3b-a6bd-56eaac12754b","private_ip":"169.254.0.1/30","peer_private_ip":"169.254.0.2/30"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections
        method: POST
      response:
        body: '{"connection":{"bgp_session_ipv4":{"peer_private_ip":"169.254.0.2/30","private_ip":"169.254.0.1/30","routing_policy_id":"8660f996-1d4f-4e3b-a6bd-56eaac12754b"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2025-12-10T16:25:35.253496Z","customer_gateway_id":"226420ee-41a2-4b98-a978-116d6e4cecad","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"14fb4d03-1fdb-4d0e-ae70-f1c15805d663","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"customer_gateway","is_ipv6":false,"name":"tf-test-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_propagation_enabled":true,"secret_id":"bfac5f2c-89d3-4b31-ac71-e301b340cf8c","secret_revision":1,"status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2025-12-10T16:25:35.253496Z","vpn_gateway_id":"b70c9398-fed3-44a3-b937-e9e2c86305cb"},"pre_shared_key":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 742.222292ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections/14fb4d03-1fdb-4d0e-ae70-f1c15805d663
        method: GET
      response:
        body: '{"bgp_session_ipv4":{"peer_private_ip":"169.254.0.2/30","private_ip":"169.254.0.1/30","routing_policy_id":"8660f996-1d4f-4e3b-a6bd-56eaac12754b"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2025-12-10T16:25:35.253496Z","customer_gateway_id":"226420ee-41a2-4b98-a978-116d6e4cecad","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"14fb4d03-1fdb-4d0e-ae70-f1c15805d663","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"customer_gateway","is_ipv6":false,"name":"tf-test-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_propagation_enabled":true,"secret_id":"bfac5f2c-89d3-4b31-ac71-e301b340cf8c","secret_revision":1,"status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2025-12-10T16:25:35.253496Z","vpn_gateway_id":"b70c9398-fed3-44a3-b937-e9e2c86305cb"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.607667ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/b70c9398-fed3-44a3-b937-e9e2c86305cb
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpn_gateway","resource_id":"b70c9398-fed3-44a3-b937-e9e2c86305cb","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.770458ms
[...]
