---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-vpc-connection","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-07-28T12:29:08.356342Z","custom_routes_propagation_enabled":true,"id":"2206b6ec-0109-43b1-b735-b775ec40d1b1","is_default":false,"name":"tf-test-vpc-connection","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-07-28T12:29:08.356342Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 906.428692ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/2206b6ec-0109-43b1-b735-b775ec40d1b1
        method: GET
      response:
        body: '{"created_at":"2026-07-28T12:29:08.356342Z","custom_routes_propagation_enabled":true,"id":"2206b6ec-0109-43b1-b735-b775ec40d1b1","is_default":false,"name":"tf-test-vpc-connection","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-07-28T12:29:08.356342Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.271200574s
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-routing-policy-connection","tags":[],"is_ipv6":false,"prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies
        method: POST
      response:
        body: '{"created_at":"2026-07-28T12:29:09.645322Z","id":"af6a9b91-1ae7-4aa9-809c-678ccbe65da7","is_ipv6":false,"name":"tf-test-routing-policy-connection","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2026-07-28T12:29:09.645322Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.18826304s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies/af6a9b91-1ae7-4aa9-809c-678ccbe65da7
        method: GET
      response:
        body: '{"created_at":"2026-07-28T12:29:09.645322Z","id":"af6a9b91-1ae7-4aa9-809c-678ccbe65da7","is_ipv6":false,"name":"tf-test-routing-policy-connection","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2026-07-28T12:29:09.645322Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 240.297345ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"51.15.224.226","id":"39463825-9102-4666-b8f9-7e3e506d8076","ipam_id":"39463825-9102-4666-b8f9-7e3e506d8076","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/39463825-9102-4666-b8f9-7e3e506d8076
        status: 201 Created
        code: 201
        duration: 2.773031287s
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-customer-gateway-connection","tags":[],"ipv4_public":"51.15.224.226/32","asn":65000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways
        method: POST
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-07-28T12:29:10.308108Z","id":"56f347aa-3a4c-4522-92a8-95c5ffcda0de","name":"tf-test-customer-gateway-connection","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_ipv4":"51.15.224.226","region":"fr-par","tags":[],"updated_at":"2026-07-28T12:29:10.308108Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.279308ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/56f347aa-3a4c-4522-92a8-95c5ffcda0de
        method: GET
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-07-28T12:29:10.308108Z","id":"56f347aa-3a4c-4522-92a8-95c5ffcda0de","name":"tf-test-customer-gateway-connection","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_ipv4":"51.15.224.226","region":"fr-par","tags":[],"updated_at":"2026-07-28T12:29:10.308108Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.021393ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-kind-cray","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["10.0.0.0/24"],"vpc_id":"2206b6ec-0109-43b1-b735-b775ec40d1b1","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-07-28T12:29:09.907019Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"88eb1423-3671-41c0-b9a8-b39c706de059","name":"tf-pn-kind-cray","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-07-28T12:29:09.907019Z","id":"55eeafc4-348d-43ef-bb3d-5c70cb580087","private_network_id":"88eb1423-3671-41c0-b9a8-b39c706de059","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"10.0.0.0/24","updated_at":"2026-07-28T12:29:09.907019Z","vpc_id":"2206b6ec-0109-43b1-b735-b775ec40d1b1"},{"created_at":"2026-07-28T12:29:09.907019Z","id":"bc93fd80-cbc8-4328-8a5c-667d54b128c7","private_network_id":"88eb1423-3671-41c0-b9a8-b39c706de059","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:70ac::/64","updated_at":"2026-07-28T12:29:09.907019Z","vpc_id":"2206b6ec-0109-43b1-b735-b775ec40d1b1"}],"tags":[],"updated_at":"2026-07-28T12:29:09.907019Z","vpc_id":"2206b6ec-0109-43b1-b735-b775ec40d1b1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 739.548002ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/88eb1423-3671-41c0-b9a8-b39c706de059
        method: GET
      response:
        body: '{"created_at":"2026-07-28T12:29:09.907019Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"88eb1423-3671-41c0-b9a8-b39c706de059","name":"tf-pn-kind-cray","organization_id":"105bdce1-64c0-48ab-899d-86845586[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-vpn-gateway-connection","tags":[],"gateway_type":"VGW-S","private_network_id":"88eb1423-3671-41c0-b9a8-b39c706de059","zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways
        method: POST
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-07-28T12:29:11.358221Z","gateway_type":"VGW-S","id":"c711123c-ba2e-4267-9ede-afa611932580","ipam_private_ipv4_id":"8d4e80f7-077b-4e6e-88e7-e0b5b3e5dd61","ipam_private_ipv6_id":"e799696e-252f-4f25-af09-6b6c4636c1f7","name":"tf-test-vpn-gateway-connection","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"88eb1423-3671-41c0-b9a8-b39c706de059","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_config":{"ipam_ipv4_id":"b72ff6c8-941c-487c-ae63-05dbb6f2bead","ipam_ipv6_id":"298ba396-e098-4b07-b15c-d7602cbca861"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-07-28T12:29:11.358221Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 862.4727ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/c711123c-ba2e-4267-9ede-afa611932580
        method: GET
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-07-28T12:29:11.358221Z","gateway_type":"VGW-S","id":"c711123c-ba2e-4267-9ede-afa611932580","ipam_private_ipv4_id":"8d4e80f7-077b-4e6e-88e7-e0b5b3e5dd61","ipam_private_ipv6_id":"e799696e-252f-4f25-af09-6b6c4636c1f7","name":"tf-test-vpn-gateway-connection","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"88eb1423-3671-41c0-b9a8-b39c706de059","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_config":{"ipam_ipv4_id":"b72ff6c8-941c-487c-ae63-05dbb6f2bead","ipam_ipv6_id":"298ba396-e098-4b07-b15c-d7602cbca861"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-07-28T12:29:11.358221Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.902065ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-connection","tags":[],"is_ipv6":false,"initiation_policy":"customer_gateway","ikev2_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"esp_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"enable_route_propagation":true,"vpn_gateway_id":"c711123c-ba2e-4267-9ede-afa611932580","customer_gateway_id":"56f347aa-3a4c-4522-92a8-95c5ffcda0de","bgp_config_ipv4":{"routing_policy_id":"af6a9b91-1ae7-4aa9-809c-678ccbe65da7","private_ip":"169.254.0.1/30","peer_private_ip":"169.254.0.2/30"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections
        method: POST
      response:
        body: '{"connection":{"bgp_session_ipv4":{"peer_private_ip":"169.254.0.2/30","private_ip":"169.254.0.1/30","routing_policy_id":"af6a9b91-1ae7-4aa9-809c-678ccbe65da7"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-07-28T12:29:52.156515Z","customer_gateway_id":"56f347aa-3a4c-4522-92a8-95c5ffcda0de","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"0ae4cf90-0405-4318-a169-e45b3bef7676","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"customer_gateway","is_ipv6":false,"name":"tf-test-connection","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_propagation_enabled":true,"secret_id":"5bdd2ffe-4c2d-4c35-bc9e-5aaf509bdd2d","secret_revision":1,"status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2026-07-28T12:29:52.156515Z","vpn_gateway_id":"c711123c-ba2e-4267-9ede-afa611932580"},"pre_shared_key":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 832.286312ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections/0ae4cf90-0405-4318-a169-e45b3bef7676
        method: GET
      response:
        body: '{"bgp_session_ipv4":{"peer_private_ip":"169.254.0.2/30","private_ip":"169.254.0.1/30","routing_policy_id":"af6a9b91-1ae7-4aa9-809c-678ccbe65da7"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-07-28T12:29:52.156515Z","customer_gateway_id":"56f347aa-3a4c-4522-92a8-95c5ffcda0de","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"0ae4cf90-0405-4318-a169-e45b3bef7676","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"customer_gateway","is_ipv6":false,"name":"tf-test-connection","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_propagation_enabled":true,"secret_id":"5bdd2ffe-4c2d-4c35-bc9e-5aaf509bdd2d","secret_revision":1,"status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2026-07-28T12:29:52.156515Z","vpn_gateway_id":"c711123c-ba2e-4267-9ede-afa611932580"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.121737ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/39463825-9102-4666-b8f9-7e3e506d8076
        method: GET
      response:
        body: '{"ip":{"address":"51.15.224.226","id":"39463825-9102-4666-b8f9-7e3e506d8076","ipam_id":"39463825-9102-4666-b8f9-7e3e506d8076","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 277.11757ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/c711123c-ba2e-4267-9ede-afa611932580
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpn_gateway","resource_id":"c711123c-ba2e-4267-9ede-afa611932580","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.528867ms
[...]
