---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-routing-policy-connection","tags":[],"is_ipv6":false,"prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies
        method: POST
      response:
        body: '{"created_at":"2026-09-16T13:30:21.526466Z","id":"2b5bdde2-6afd-4187-bd7b-19bc7c450a03","is_ipv6":false,"name":"tf-test-routing-policy-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"","tags":[],"updated_at":"2026-09-16T13:30:21.526466Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 331.37225ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 12.447375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-vpc-connection","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-09-16T13:30:21.539678Z","custom_routes_propagation_enabled":true,"id":"9f3c423d-efb4-4599-96ff-0c1743330fff","is_default":false,"name":"tf-test-vpc-connection","object_storage_private_access_enabled":false,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"srn":"","tags":[],"transitivity_enabled":false,"updated_at":"2026-09-16T13:30:21.539678Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 369.988166ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-connection-psk","tags":null,"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2026-09-16T13:30:21.559179Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"8f873725-eae0-4527-95a7-84073a381eae","key_id":null,"managed":false,"name":"tf-test-connection-psk","path":"/","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","protected":false,"region":"fr-par","srn":"","status":"ready","tags":[],"type":"opaque","updated_at":"2026-09-16T13:30:21.559179Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 371.690958ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies/2b5bdde2-6afd-4187-bd7b-19bc7c450a03
        method: GET
      response:
        body: '{"created_at":"2026-09-16T13:30:21.526466Z","id":"2b5bdde2-6afd-4187-bd7b-19bc7c450a03","is_ipv6":false,"name":"tf-test-routing-policy-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"","tags":[],"updated_at":"2026-09-16T13:30:21.526466Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 28.457084ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8f873725-eae0-4527-95a7-84073a381eae
        method: GET
      response:
        body: '{"created_at":"2026-09-16T13:30:21.559179Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"8f873725-eae0-4527-95a7-84073a381eae","key_id":null,"managed":false,"name":"tf-test-connection-psk","path":"/","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","protected":false,"region":"fr-par","srn":"","status":"ready","tags":[],"type":"opaque","updated_at":"2026-09-16T13:30:21.559179Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 41.328542ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8f873725-eae0-4527-95a7-84073a381eae/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 56.431333ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/9f3c423d-efb4-4599-96ff-0c1743330fff
        method: GET
      response:
        body: '{"created_at":"2026-09-16T13:30:21.539678Z","custom_routes_propagation_enabled":true,"id":"9f3c423d-efb4-4599-96ff-0c1743330fff","is_default":false,"name":"tf-test-vpc-connection","object_storage_private_access_enabled":false,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"srn":"","tags":[],"transitivity_enabled":false,"updated_at":"2026-09-16T13:30:21.539678Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 109.045958ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"data":"dGZfdGVzdF9zMnNfdnBuLnBzaw=="}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8f873725-eae0-4527-95a7-84073a381eae/versions
        method: POST
      response:
        body: '{"created_at":"2026-09-16T13:30:21.982903Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"region":"fr-par","revision":1,"secret_id":"8f873725-eae0-4527-95a7-84073a381eae","srn":"","status":"enabled","updated_at":"2026-09-16T13:30:21.982903Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 321.923709ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8f873725-eae0-4527-95a7-84073a381eae/versions/1
        method: GET
      response:
        body: '{"created_at":"2026-09-16T13:30:21.982903Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"region":"fr-par","revision":1,"secret_id":"8f873725-eae0-4527-95a7-84073a381eae","srn":"","status":"enabled","updated_at":"2026-09-16T13:30:21.982903Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 63.110375ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-sharp-satoshi","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["10.0.0.0/24"],"vpc_id":"9f3c423d-efb4-4599-96ff-0c1743330fff","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-09-16T13:30:21.787509Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"b3018c15-3c37-48af-ac7d-34b22c01e765","name":"tf-pn-sharp-satoshi","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"","subnets":[{"created_at":"2026-09-16T13:30:21.787509Z","id":"2370d8b3-1886-40f2-8997-ab02ceba1b56","private_network_id":"b3018c15-3c37-48af-ac7d-34b22c01e765","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"","subnet":"10.0.0.0/24","updated_at":"2026-09-16T13:30:21.787509Z","vpc_id":"9f3c423d-efb4-4599-96ff-0c1743330fff"},{"created_at":"2026-09-16T13:30:21.787509Z","id":"cdbd847f-ecc4-4b9f-a0c0-5df4101a5cc3","private_network_id":"b3018c15-3c37-48af-ac7d-34b22c01e765","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"","subnet":"fd46:78ab:30b8:6167::/64","updated_at":"2026-09-16T13:30:21.787509Z","vpc_id":"9f3c423d-efb4-4599-96ff-0c1743330fff"}],"tags":[],"updated_at":"2026-09-16T13:30:21.787509Z","vpc_id":"9f3c423d-efb4-4599-96ff-0c1743330fff"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 633.174916ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b3018c15-3c37-48af-ac7d-34b22c01e765
        method: GET
      response:
        body: '{"created_at":"2026-09-16T13:30:21.787509Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"b3018c15-3c37-48af-ac7d-34b22c01e765","name":"tf-pn-sharp-satoshi","org[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"212.47.240.239","id":"29c7adad-24a1-428b-ac0a-e86e7ee3b03f","ipam_id":"29c7adad-24a1-428b-ac0a-e86e7ee3b03f","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/29c7adad-24a1-428b-ac0a-e86e7ee3b03f
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 201 Created
        code: 201
        duration: 1.450963125s
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-customer-gateway-connection","tags":[],"ipv4_public":"212.47.240.239/32","asn":65000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways
        method: POST
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-09-16T13:30:22.751792Z","id":"6d1cc6fb-f535-4c30-a6a9-ec64634d5fee","name":"tf-test-customer-gateway-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"212.47.240.239","region":"fr-par","srn":"","tags":[],"updated_at":"2026-09-16T13:30:22.751792Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 100.0765ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/6d1cc6fb-f535-4c30-a6a9-ec64634d5fee
        method: GET
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-09-16T13:30:22.751792Z","id":"6d1cc6fb-f535-4c30-a6a9-ec64634d5fee","name":"tf-test-customer-gateway-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"212.47.240.239","region":"fr-par","srn":"","tags":[],"updated_at":"2026-09-16T13:30:22.751792Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 51.404625ms
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-vpn-gateway-connection","tags":[],"gateway_type":"VGW-S","private_network_id":"b3018c15-3c37-48af-ac7d-34b22c01e765","zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways
        method: POST
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-09-16T13:30:27.457704Z","gateway_type":"VGW-S","id":"95d8f389-784f-4668-b554-f2f2838354bf","ipam_private_ipv4_id":"7773f53b-727f-4f70-a13e-835aab026428","ipam_private_ipv6_id":"97c48f0d-fc16-452b-b236-5214dc6ac12b","name":"tf-test-vpn-gateway-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"b3018c15-3c37-48af-ac7d-34b22c01e765","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"ef4fbb9c-9bf0-4bd4-b2dd-1c8511a042f5","ipam_ipv6_id":"dadb3bd9-cee9-4efc-90dd-4d7e99eceb71"},"region":"fr-par","srn":"","status":"provisioning","tags":[],"updated_at":"2026-09-16T13:30:27.457704Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 6.235958041s
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/95d8f389-784f-4668-b554-f2f2838354bf
        method: GET
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-09-16T13:30:27.457704Z","gateway_type":"VGW-S","id":"95d8f389-784f-4668-b554-f2f2838354bf","ipam_private_ipv4_id":"7773f53b-727f-4f70-a13e-835aab026428","ipam_private_ipv6_id":"97c48f0d-fc16-452b-b236-5214dc6ac12b","name":"tf-test-vpn-gateway-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"b3018c15-3c37-48af-ac7d-34b22c01e765","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"ef4fbb9c-9bf0-4bd4-b2dd-1c8511a042f5","ipam_ipv6_id":"dadb3bd9-cee9-4efc-90dd-4d7e99eceb71"},"region":"fr-par","srn":"","status":"provisioning","tags":[],"updated_at":"2026-09-16T13:30:27.457704Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 39.28225ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-connection","tags":[],"is_ipv6":false,"initiation_policy":"customer_gateway","ikev2_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"esp_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"enable_route_propagation":true,"secret":{"id":"8f873725-eae0-4527-95a7-84073a381eae","revision":1},"vpn_gateway_id":"95d8f389-784f-4668-b554-f2f2838354bf","customer_gateway_id":"6d1cc6fb-f535-4c30-a6a9-ec64634d5fee","bgp_config_ipv4":{"routing_policy_id":"2b5bdde2-6afd-4187-bd7b-19bc7c450a03","private_ip":"169.254.0.1/30","peer_private_ip":"169.254.0.2/30"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections
        method: POST
      response:
        body: '{"connection":{"bgp_session_ipv4":{"peer_private_ip":"169.254.0.2/30","private_ip":"169.254.0.1/30","routing_policy_id":"2b5bdde2-6afd-4187-bd7b-19bc7c450a03"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-09-16T13:31:14.602128Z","customer_gateway_id":"6d1cc6fb-f535-4c30-a6a9-ec64634d5fee","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"6341ca5d-0f0d-4a68-9d56-33afb83533b1","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"customer_gateway","is_ipv6":false,"name":"tf-test-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_propagation_enabled":true,"secret_id":"8f873725-eae0-4527-95a7-84073a381eae","secret_revision":1,"srn":"","status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2026-09-16T13:31:14.602128Z","vpn_gateway_id":"95d8f389-784f-4668-b554-f2f2838354bf"},"pre_shared_key":""}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 301.757708ms
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections/6341ca5d-0f0d-4a68-9d56-33afb83533b1
        method: GET
      response:
        body: '{"bgp_session_ipv4":{"peer_private_ip":"169.254.0.2/30","private_ip":"169.254.0.1/30","routing_policy_id":"2b5bdde2-6afd-4187-bd7b-19bc7c450a03"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-0[...]
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/29c7adad-24a1-428b-ac0a-e86e7ee3b03f
        method: GET
      response:
        body: '{"ip":{"address":"212.47.240.239","id":"29c7adad-24a1-428b-ac0a-e86e7ee3b03f","ipam_id":"29c7adad-24a1-428b-ac0a-e86e7ee3b03f","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 161.221167ms
[...]
    - id: 53
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/95d8f389-784f-4668-b554-f2f2838354bf
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpn_gateway","resource_id":"95d8f389-784f-4668-b554-f2f2838354bf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 35.014ms
[...]
