---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-vpc-connection","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-11T12:54:55.312671Z","custom_routes_propagation_enabled":true,"id":"bcf523a2-e1bb-4c81-ab89-ecd2362f1cd3","is_default":false,"name":"tf-test-vpc-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-11T12:54:55.312671Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 243.9915ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-routing-policy-connection","tags":[],"is_ipv6":false,"prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies
        method: POST
      response:
        body: '{"created_at":"2026-03-11T12:54:55.332933Z","id":"fbcce617-df46-4c44-9355-334ad0cd60f3","is_ipv6":false,"name":"tf-test-routing-policy-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2026-03-11T12:54:55.332933Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 243.992167ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies/fbcce617-df46-4c44-9355-334ad0cd60f3
        method: GET
      response:
        body: '{"created_at":"2026-03-11T12:54:55.332933Z","id":"fbcce617-df46-4c44-9355-334ad0cd60f3","is_ipv6":false,"name":"tf-test-routing-policy-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2026-03-11T12:54:55.332933Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.758709ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/bcf523a2-e1bb-4c81-ab89-ecd2362f1cd3
        method: GET
      response:
        body: '{"created_at":"2026-03-11T12:54:55.312671Z","custom_routes_propagation_enabled":true,"id":"bcf523a2-e1bb-4c81-ab89-ecd2362f1cd3","is_default":false,"name":"tf-test-vpc-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-11T12:54:55.312671Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.763042ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"163.172.174.81","id":"714b9123-b408-4931-95a1-be09a00746c7","ipam_id":"714b9123-b408-4931-95a1-be09a00746c7","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/714b9123-b408-4931-95a1-be09a00746c7
        status: 201 Created
        code: 201
        duration: 562.888416ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-customer-gateway-connection","tags":[],"ipv4_public":"163.172.174.81/32","asn":65000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways
        method: POST
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-03-11T12:54:55.755948Z","id":"1f9d19fd-4328-46a6-bcdb-3d814ae1b79c","name":"tf-test-customer-gateway-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"163.172.174.81","region":"fr-par","tags":[],"updated_at":"2026-03-11T12:54:55.755948Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.677625ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/1f9d19fd-4328-46a6-bcdb-3d814ae1b79c
        method: GET
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-03-11T12:54:55.755948Z","id":"1f9d19fd-4328-46a6-bcdb-3d814ae1b79c","name":"tf-test-customer-gateway-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"163.172.174.81","region":"fr-par","tags":[],"updated_at":"2026-03-11T12:54:55.755948Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.772792ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-agitated-wescoff","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["10.0.0.0/24"],"vpc_id":"bcf523a2-e1bb-4c81-ab89-ecd2362f1cd3","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-03-11T12:54:55.481141Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"c5c7eabd-5512-432f-989d-c743c28a051c","name":"tf-pn-agitated-wescoff","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-03-11T12:54:55.481141Z","id":"471019ee-17bd-4c44-9f24-21bb77acee93","private_network_id":"c5c7eabd-5512-432f-989d-c743c28a051c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"10.0.0.0/24","updated_at":"2026-03-11T12:54:55.481141Z","vpc_id":"bcf523a2-e1bb-4c81-ab89-ecd2362f1cd3"},{"created_at":"2026-03-11T12:54:55.481141Z","id":"3eb22ced-50f5-44ba-9d69-258822596102","private_network_id":"c5c7eabd-5512-432f-989d-c743c28a051c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:f78b::/64","updated_at":"2026-03-11T12:54:55.481141Z","vpc_id":"bcf523a2-e1bb-4c81-ab89-ecd2362f1cd3"}],"tags":[],"updated_at":"2026-03-11T12:54:55.481141Z","vpc_id":"bcf523a2-e1bb-4c81-ab89-ecd2362f1cd3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 579.446375ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c5c7eabd-5512-432f-989d-c743c28a051c
        method: GET
      response:
        body: '{"created_at":"2026-03-11T12:54:55.481141Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"c5c7eabd-5512-432f-989d-c743c28a051c","name":"tf-pn-agitated-wescoff","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-03-11T12:54:55.481141Z","id":"471019ee-17bd-4c44-9f24-21bb77acee93","private_network_id":"c5c7eabd-5512-432f-989d-c743c28a051c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"10.0.0.0/24","updated_at":"2026-03-11T12:54:55.481141Z","vpc_id":"bcf523a2-e1bb-4c81-ab89-ecd2362f1cd3"},{"created_at":"2026-03-11T12:54:55.481141Z","id":"3eb22ced-50f5-44ba-9d69-258822596102","private_network_id":"c5c7eabd-5512-432f-989d-c743c28a051c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:f78b::/64","updated_at":"2026-03-11T12:54:55.481141Z","vpc_id":"bcf523a2-e1bb-4c81-ab89-ecd2362f1cd3"}],"tags":[],"updated_at":"2026-03-11T12:54:55.481141Z","vpc_id":"bcf523a2-e1bb-4c81-ab89-ecd2362f1cd3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.881458ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-vpn-gateway-connection","tags":[],"gateway_type":"VGW-S","private_network_id":"c5c7eabd-5512-432f-989d-c743c28a051c","zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways
        method: POST
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-03-11T12:54:56.863395Z","gateway_type":"VGW-S","id":"fe07bbae-99cd-49e2-a9e6-73880b0321f0","ipam_private_ipv4_id":"e5162199-2b80-42a5-8d83-56777b90ab10","ipam_private_ipv6_id":"cdb008b2-87b1-43b7-888c-f1b26ea1e214","name":"tf-test-vpn-gateway-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"c5c7eabd-5512-432f-989d-c743c28a051c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"112b4a2a-c309-4b1c-837a-ea4e95f841ad","ipam_ipv6_id":"f5bff05a-4278-41c5-baa0-7a24aad001c7"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-03-11T12:54:56.863395Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.037756625s
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/fe07bbae-99cd-49e2-a9e6-73880b0321f0
        method: GET
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-03-11T12:54:56.863395Z","gateway_type":"VGW-S","id":"fe07bbae-99cd-49e2-a9e6-73880b0321f0","ipam_private_ipv4_id":"e5162199-2b80-42a5-8d83-56777b90ab10","ipam_private_ipv6_id":"cdb008b2-87b1-43b7-888c-f1b26ea1e214","name":"tf-test-vpn-gateway-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"c5c7eabd-5512-432f-989d-c743c28a051c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"112b4a2a-c309-4b1c-837a-ea4e95f841ad","ipam_ipv6_id":"f5bff05a-4278-41c5-baa0-7a24aad001c7"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-03-11T12:54:56.863395Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.025625ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-connection","tags":[],"is_ipv6":false,"initiation_policy":"customer_gateway","ikev2_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"esp_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"enable_route_propagation":true,"vpn_gateway_id":"fe07bbae-99cd-49e2-a9e6-73880b0321f0","customer_gateway_id":"1f9d19fd-4328-46a6-bcdb-3d814ae1b79c","bgp_config_ipv4":{"routing_policy_id":"fbcce617-df46-4c44-9355-334ad0cd60f3","private_ip":"169.254.0.1/30","peer_private_ip":"169.254.0.2/30"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections
        method: POST
      response:
        body: '{"connection":{"bgp_session_ipv4":{"peer_private_ip":"169.254.0.2/30","private_ip":"169.254.0.1/30","routing_policy_id":"fbcce617-df46-4c44-9355-334ad0cd60f3"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-03-11T12:55:37.828357Z","customer_gateway_id":"1f9d19fd-4328-46a6-bcdb-3d814ae1b79c","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"c7d1d4ad-6db2-41d5-b0f9-a656394db615","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"customer_gateway","is_ipv6":false,"name":"tf-test-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_propagation_enabled":true,"secret_id":"e893b454-4c1d-42b1-b481-057689d03008","secret_revision":1,"status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2026-03-11T12:55:37.828357Z","vpn_gateway_id":"fe07bbae-99cd-49e2-a9e6-73880b0321f0"},"pre_shared_key":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 867.424041ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections/c7d1d4ad-6db2-41d5-b0f9-a656394db615
        method: GET
      response:
        body: '{"bgp_session_ipv4":{"peer_private_ip":"169.254.0.2/30","private_ip":"169.254.0.1/30","routing_policy_id":"fbcce617-df46-4c44-9355-334ad0cd60f3"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-03-11T12:55:37.828357Z","customer_gateway_id":"1f9d19fd-4328-46a6-bcdb-3d814ae1b79c","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"c7d1d4ad-6db2-41d5-b0f9-a656394db615","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"customer_gateway","is_ipv6":false,"name":"tf-test-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_propagation_enabled":true,"secret_id":"e893b454-4c1d-42b1-b481-057689d03008","secret_revision":1,"status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2026-03-11T12:55:37.828357Z","vpn_gateway_id":"fe07bbae-99cd-49e2-a9e6-73880b0321f0"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.636833ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/714b9123-b408-4931-95a1-be09a00746c7
        method: GET
      response:
        body: '{"ip":{"address":"163.172.174.81","id":"714b9123-b408-4931-95a1-be09a00746c7","ipam_id":"714b9123-b408-4931-95a1-be09a00746c7","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.36075ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/fe07bbae-99cd-49e2-a9e6-73880b0321f0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpn_gateway","resource_id":"fe07bbae-99cd-49e2-a9e6-73880b0321f0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 114.992958ms
[...]
