---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-vpc-connection","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-12-05T09:43:05.998412Z","custom_routes_propagation_enabled":true,"id":"06aa0615-f37b-461a-85c1-c73a4d361ef5","is_default":false,"name":"tf-test-vpc-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-12-05T09:43:05.998412Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 506.759166ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-routing-policy-connection","tags":[],"is_ipv6":false,"prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies
        method: POST
      response:
        body: '{"created_at":"2025-12-05T09:43:06.027571Z","id":"3c5a789b-cc13-488b-af08-64c9a34f7bb3","is_ipv6":false,"name":"tf-test-routing-policy-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2025-12-05T09:43:06.027571Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 523.477875ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/06aa0615-f37b-461a-85c1-c73a4d361ef5
        method: GET
      response:
        body: '{"created_at":"2025-12-05T09:43:05.998412Z","custom_routes_propagation_enabled":true,"id":"06aa0615-f37b-461a-85c1-c73a4d361ef5","is_default":false,"name":"tf-test-vpc-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-12-05T09:43:05.998412Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.3055ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies/3c5a789b-cc13-488b-af08-64c9a34f7bb3
        method: GET
      response:
        body: '{"created_at":"2025-12-05T09:43:06.027571Z","id":"3c5a789b-cc13-488b-af08-64c9a34f7bb3","is_ipv6":false,"name":"tf-test-routing-policy-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2025-12-05T09:43:06.027571Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.433458ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"51.15.138.130","id":"89b25544-96c1-4933-8937-41c38aecb0ce","ipam_id":"89b25544-96c1-4933-8937-41c38aecb0ce","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/89b25544-96c1-4933-8937-41c38aecb0ce
        status: 201 Created
        code: 201
        duration: 709.55725ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/89b25544-96c1-4933-8937-41c38aecb0ce
        method: GET
      response:
        body: '{"ip":{"address":"51.15.138.130","id":"89b25544-96c1-4933-8937-41c38aecb0ce","ipam_id":"89b25544-96c1-4933-8937-41c38aecb0ce","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.853042ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-customer-gateway-connection","tags":[],"ipv4_public":"51.15.138.130","asn":65000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways
        method: POST
      response:
        body: '{"asn":65000,"created_at":"2025-12-05T09:43:06.370544Z","id":"7c884776-0d7e-40d8-8af1-887e53292851","name":"tf-test-customer-gateway-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"51.15.138.130","tags":[],"updated_at":"2025-12-05T09:43:06.370544Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.140375ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/7c884776-0d7e-40d8-8af1-887e53292851
        method: GET
      response:
        body: '{"asn":65000,"created_at":"2025-12-05T09:43:06.370544Z","id":"7c884776-0d7e-40d8-8af1-887e53292851","name":"tf-test-customer-gateway-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"51.15.138.130","tags":[],"updated_at":"2025-12-05T09:43:06.370544Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.037875ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-hardcore-mestorf","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["10.0.0.0/24"],"vpc_id":"06aa0615-f37b-461a-85c1-c73a4d361ef5","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-12-05T09:43:06.088047Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"65b6ade4-db6e-4777-8a04-131b4d26ff6f","name":"tf-pn-hardcore-mestorf","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-12-05T09:43:06.088047Z","id":"ca77ff7a-ca70-4588-9a85-dbea9979458d","private_network_id":"65b6ade4-db6e-4777-8a04-131b4d26ff6f","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"10.0.0.0/24","updated_at":"2025-12-05T09:43:06.088047Z","vpc_id":"06aa0615-f37b-461a-85c1-c73a4d361ef5"},{"created_at":"2025-12-05T09:43:06.088047Z","id":"d6b05c36-c4d5-4c25-9ba6-9aa41e463054","private_network_id":"65b6ade4-db6e-4777-8a04-131b4d26ff6f","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:b00a::/64","updated_at":"2025-12-05T09:43:06.088047Z","vpc_id":"06aa0615-f37b-461a-85c1-c73a4d361ef5"}],"tags":[],"updated_at":"2025-12-05T09:43:06.088047Z","vpc_id":"06aa0615-f37b-461a-85c1-c73a4d361ef5"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 567.432709ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/65b6ade4-db6e-4777-8a04-131b4d26ff6f
        method: GET
      response:
        body: '{"created_at":"2025-12-05T09:43:06.088047Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"65b6ade4-db6e-4777-8a04-131b4d26ff6f","name":"tf-pn-hardcore-mestorf","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-12-05T09:43:06.088047Z","id":"ca77ff7a-ca70-4588-9a85-dbea9979458d","private_network_id":"65b6ade4-db6e-4777-8a04-131b4d26ff6f","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"10.0.0.0/24","updated_at":"2025-12-05T09:43:06.088047Z","vpc_id":"06aa0615-f37b-461a-85c1-c73a4d361ef5"},{"created_at":"2025-12-05T09:43:06.088047Z","id":"d6b05c36-c4d5-4c25-9ba6-9aa41e463054","private_network_id":"65b6ade4-db6e-4777-8a04-131b4d26ff6f","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:b00a::/64","updated_at":"2025-12-05T09:43:06.088047Z","vpc_id":"06aa0615-f37b-461a-85c1-c73a4d361ef5"}],"tags":[],"updated_at":"2025-12-05T09:43:06.088047Z","vpc_id":"06aa0615-f37b-461a-85c1-c73a4d361ef5"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.883083ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-vpn-gateway-connection","tags":[],"gateway_type":"VGW-S","private_network_id":"65b6ade4-db6e-4777-8a04-131b4d26ff6f","zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways
        method: POST
      response:
        body: '{"asn":12876,"created_at":"2025-12-05T09:43:07.297260Z","gateway_type":"VGW-S","id":"d20857c8-9303-4e60-b10d-40b7bf949474","ipam_private_ipv4_id":"eaf90da1-b987-41e6-a0dc-31c1dcd7ffc2","ipam_private_ipv6_id":"380b81aa-75d1-4eb1-9f43-e521587495bb","name":"tf-test-vpn-gateway-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"65b6ade4-db6e-4777-8a04-131b4d26ff6f","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"d8d31d4c-c8d5-4e5e-9634-a2a2d141c8cc","ipam_ipv6_id":"e4a6aaf8-3d62-4606-9b14-88c521626bc3"},"region":"fr-par","status":"provisioning","tags":["public_ipv4=163.172.176.240/32","public_ipv6=2001:bc8:711:1213::/64"],"updated_at":"2025-12-05T09:43:07.297260Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 759.250042ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/d20857c8-9303-4e60-b10d-40b7bf949474
        method: GET
      response:
        body: '{"asn":12876,"created_at":"2025-12-05T09:43:07.297260Z","gateway_type":"VGW-S","id":"d20857c8-9303-4e60-b10d-40b7bf949474","ipam_private_ipv4_id":"eaf90da1-b987-41e6-a0dc-31c1dcd7ffc2","ipam_private_ipv6_id":"380b81aa-75d1-4eb1-9f43-e521587495bb","name":"tf-test-vpn-gateway-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"65b6ade4-db6e-4777-8a04-131b4d26ff6f","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"d8d31d4c-c8d5-4e5e-9634-a2a2d141c8cc","ipam_ipv6_id":"e4a6aaf8-3d62-4606-9b14-88c521626bc3"},"region":"fr-par","status":"provisioning","tags":["public_ipv4=163.172.176.240/32","public_ipv6=2001:bc8:711:1213::/64"],"updated_at":"2025-12-05T09:43:07.297260Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.027334ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-connection","tags":[],"is_ipv6":false,"initiation_policy":"customer_gateway","ikev2_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"esp_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"enable_route_propagation":true,"vpn_gateway_id":"d20857c8-9303-4e60-b10d-40b7bf949474","customer_gateway_id":"7c884776-0d7e-40d8-8af1-887e53292851","bgp_config_ipv4":{"routing_policy_id":"3c5a789b-cc13-488b-af08-64c9a34f7bb3","private_ip":"169.254.0.1/30","peer_private_ip":"169.254.0.2/30"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections
        method: POST
      response:
        body: '{"connection":{"bgp_session_ipv4":{"peer_private_ip":"169.254.0.2/30","private_ip":"169.254.0.1/30","routing_policy_id":"3c5a789b-cc13-488b-af08-64c9a34f7bb3"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2025-12-05T09:43:48.055138Z","customer_gateway_id":"7c884776-0d7e-40d8-8af1-887e53292851","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"da69ba2c-1966-42af-b5d8-07b02dcc865d","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"customer_gateway","is_ipv6":false,"name":"tf-test-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_propagation_enabled":true,"secret_id":"6ae6a452-04ec-4933-8a19-169d16ace6e5","secret_revision":1,"status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2025-12-05T09:43:48.055138Z","vpn_gateway_id":"d20857c8-9303-4e60-b10d-40b7bf949474"},"pre_shared_key":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 716.587125ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections/da69ba2c-1966-42af-b5d8-07b02dcc865d
        method: GET
      response:
        body: '{"bgp_session_ipv4":{"peer_private_ip":"169.254.0.2/30","private_ip":"169.254.0.1/30","routing_policy_id":"3c5a789b-cc13-488b-af08-64c9a34f7bb3"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2025-12-05T09:43:48.055138Z","customer_gateway_id":"7c884776-0d7e-40d8-8af1-887e53292851","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"da69ba2c-1966-42af-b5d8-07b02dcc865d","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"customer_gateway","is_ipv6":false,"name":"tf-test-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_propagation_enabled":true,"secret_id":"6ae6a452-04ec-4933-8a19-169d16ace6e5","secret_revision":1,"status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2025-12-05T09:43:48.055138Z","vpn_gateway_id":"d20857c8-9303-4e60-b10d-40b7bf949474"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.06625ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/d20857c8-9303-4e60-b10d-40b7bf949474
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpn_gateway","resource_id":"d20857c8-9303-4e60-b10d-40b7bf949474","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.07875ms
[...]
