---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-vpc-connection","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-11T10:23:00.710476Z","custom_routes_propagation_enabled":true,"id":"f9c18142-60a1-4f2c-b18d-6c7f184196cf","is_default":false,"name":"tf-test-vpc-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-11T10:23:00.710476Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 181.62625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-routing-policy-connection","tags":[],"is_ipv6":false,"prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies
        method: POST
      response:
        body: '{"created_at":"2026-03-11T10:23:00.734315Z","id":"703c79d8-a5db-4870-a380-480a0ba519be","is_ipv6":false,"name":"tf-test-routing-policy-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2026-03-11T10:23:00.734315Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 195.102042ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies/703c79d8-a5db-4870-a380-480a0ba519be
        method: GET
      response:
        body: '{"created_at":"2026-03-11T10:23:00.734315Z","id":"703c79d8-a5db-4870-a380-480a0ba519be","is_ipv6":false,"name":"tf-test-routing-policy-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2026-03-11T10:23:00.734315Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.587791ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f9c18142-60a1-4f2c-b18d-6c7f184196cf
        method: GET
      response:
        body: '{"created_at":"2026-03-11T10:23:00.710476Z","custom_routes_propagation_enabled":true,"id":"f9c18142-60a1-4f2c-b18d-6c7f184196cf","is_default":false,"name":"tf-test-vpc-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-11T10:23:00.710476Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.309958ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"163.172.150.54","id":"9768c437-907f-46cd-b32a-4c812e32fd2c","ipam_id":"9768c437-907f-46cd-b32a-4c812e32fd2c","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/9768c437-907f-46cd-b32a-4c812e32fd2c
        status: 201 Created
        code: 201
        duration: 486.713208ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-customer-gateway-connection","tags":[],"ipv4_public":"163.172.150.54/32","asn":65000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways
        method: POST
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-03-11T10:23:01.117769Z","id":"0c2f369c-43b4-40dd-a7f0-303b73967641","name":"tf-test-customer-gateway-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"163.172.150.54","region":"fr-par","tags":[],"updated_at":"2026-03-11T10:23:01.117769Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.335625ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/0c2f369c-43b4-40dd-a7f0-303b73967641
        method: GET
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-03-11T10:23:01.117769Z","id":"0c2f369c-43b4-40dd-a7f0-303b73967641","name":"tf-test-customer-gateway-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"163.172.150.54","region":"fr-par","tags":[],"updated_at":"2026-03-11T10:23:01.117769Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.201917ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-angry-spence","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["10.0.0.0/24"],"vpc_id":"f9c18142-60a1-4f2c-b18d-6c7f184196cf","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-03-11T10:23:00.870781Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"a53d4993-bfd9-47a9-96d3-546b22311a0f","name":"tf-pn-angry-spence","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-03-11T10:23:00.870781Z","id":"dd3ad68a-d63e-4d17-82aa-7e2ecbfcc5dd","private_network_id":"a53d4993-bfd9-47a9-96d3-546b22311a0f","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"10.0.0.0/24","updated_at":"2026-03-11T10:23:00.870781Z","vpc_id":"f9c18142-60a1-4f2c-b18d-6c7f184196cf"},{"created_at":"2026-03-11T10:23:00.870781Z","id":"366f8775-4372-41c1-9aa6-33f6c00fd7b9","private_network_id":"a53d4993-bfd9-47a9-96d3-546b22311a0f","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:40e6::/64","updated_at":"2026-03-11T10:23:00.870781Z","vpc_id":"f9c18142-60a1-4f2c-b18d-6c7f184196cf"}],"tags":[],"updated_at":"2026-03-11T10:23:00.870781Z","vpc_id":"f9c18142-60a1-4f2c-b18d-6c7f184196cf"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 595.945583ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a53d4993-bfd9-47a9-96d3-546b22311a0f
        method: GET
      response:
        body: '{"created_at":"2026-03-11T10:23:00.870781Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"a53d4993-bfd9-47a9-96d3-546b22311a0f","name":"tf-pn-angry-spence","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-03-11T10:23:00.870781Z","id":"dd3ad68a-d63e-4d17-82aa-7e2ecbfcc5dd","private_network_id":"a53d4993-bfd9-47a9-96d3-546b22311a0f","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"10.0.0.0/24","updated_at":"2026-03-11T10:23:00.870781Z","vpc_id":"f9c18142-60a1-4f2c-b18d-6c7f184196cf"},{"created_at":"2026-03-11T10:23:00.870781Z","id":"366f8775-4372-41c1-9aa6-33f6c00fd7b9","private_network_id":"a53d4993-bfd9-47a9-96d3-546b22311a0f","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:40e6::/64","updated_at":"2026-03-11T10:23:00.870781Z","vpc_id":"f9c18142-60a1-4f2c-b18d-6c7f184196cf"}],"tags":[],"updated_at":"2026-03-11T10:23:00.870781Z","vpc_id":"f9c18142-60a1-4f2c-b18d-6c7f184196cf"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.65725ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-vpn-gateway-connection","tags":[],"gateway_type":"VGW-S","private_network_id":"a53d4993-bfd9-47a9-96d3-546b22311a0f","zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways
        method: POST
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-03-11T10:23:01.992189Z","gateway_type":"VGW-S","id":"0ff9c970-9f29-4b66-b93b-0226f3ef5036","ipam_private_ipv4_id":"77cafd54-a4ab-4a7a-80f5-d84e6e907a3e","ipam_private_ipv6_id":"9b139da9-b221-4707-bba3-8fdda3f28e71","name":"tf-test-vpn-gateway-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"a53d4993-bfd9-47a9-96d3-546b22311a0f","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"2ea898dd-d436-4fc6-8406-08946b38375b","ipam_ipv6_id":"d203b4ed-9bdf-4577-bf55-cde2d201f86a"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-03-11T10:23:01.992189Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 628.193791ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/0ff9c970-9f29-4b66-b93b-0226f3ef5036
        method: GET
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-03-11T10:23:01.992189Z","gateway_type":"VGW-S","id":"0ff9c970-9f29-4b66-b93b-0226f3ef5036","ipam_private_ipv4_id":"77cafd54-a4ab-4a7a-80f5-d84e6e907a3e","ipam_private_ipv6_id":"9b139da9-b221-4707-bba3-8fdda3f28e71","name":"tf-test-vpn-gateway-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"a53d4993-bfd9-47a9-96d3-546b22311a0f","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"2ea898dd-d436-4fc6-8406-08946b38375b","ipam_ipv6_id":"d203b4ed-9bdf-4577-bf55-cde2d201f86a"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-03-11T10:23:01.992189Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.565084ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-connection","tags":[],"is_ipv6":false,"initiation_policy":"customer_gateway","ikev2_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"esp_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"enable_route_propagation":true,"vpn_gateway_id":"0ff9c970-9f29-4b66-b93b-0226f3ef5036","customer_gateway_id":"0c2f369c-43b4-40dd-a7f0-303b73967641","bgp_config_ipv4":{"routing_policy_id":"703c79d8-a5db-4870-a380-480a0ba519be","private_ip":"169.254.0.1/30","peer_private_ip":"169.254.0.2/30"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections
        method: POST
      response:
        body: '{"connection":{"bgp_session_ipv4":{"peer_private_ip":"169.254.0.2/30","private_ip":"169.254.0.1/30","routing_policy_id":"703c79d8-a5db-4870-a380-480a0ba519be"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-03-11T10:23:42.679642Z","customer_gateway_id":"0c2f369c-43b4-40dd-a7f0-303b73967641","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"c21cc9cc-4aa2-4550-a83a-17aa31accafc","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"customer_gateway","is_ipv6":false,"name":"tf-test-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_propagation_enabled":true,"secret_id":"f4679855-9cbe-419e-a7f4-02a0ddef4050","secret_revision":1,"status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2026-03-11T10:23:42.679642Z","vpn_gateway_id":"0ff9c970-9f29-4b66-b93b-0226f3ef5036"},"pre_shared_key":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 627.333583ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections/c21cc9cc-4aa2-4550-a83a-17aa31accafc
        method: GET
      response:
        body: '{"bgp_session_ipv4":{"peer_private_ip":"169.254.0.2/30","private_ip":"169.254.0.1/30","routing_policy_id":"703c79d8-a5db-4870-a380-480a0ba519be"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-03-11T10:23:42.679642Z","customer_gateway_id":"0c2f369c-43b4-40dd-a7f0-303b73967641","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"c21cc9cc-4aa2-4550-a83a-17aa31accafc","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"customer_gateway","is_ipv6":false,"name":"tf-test-connection","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_propagation_enabled":true,"secret_id":"f4679855-9cbe-419e-a7f4-02a0ddef4050","secret_revision":1,"status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2026-03-11T10:23:42.679642Z","vpn_gateway_id":"0ff9c970-9f29-4b66-b93b-0226f3ef5036"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.876708ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/9768c437-907f-46cd-b32a-4c812e32fd2c
        method: GET
      response:
        body: '{"ip":{"address":"163.172.150.54","id":"9768c437-907f-46cd-b32a-4c812e32fd2c","ipam_id":"9768c437-907f-46cd-b32a-4c812e32fd2c","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.833667ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/0ff9c970-9f29-4b66-b93b-0226f3ef5036
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpn_gateway","resource_id":"0ff9c970-9f29-4b66-b93b-0226f3ef5036","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.179792ms
[...]
