---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-routing-policy-connection","tags":[],"is_ipv6":false,"prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies
        method: POST
      response:
        body: '{"created_at":"2026-08-25T13:37:22.599530Z","id":"40a61fed-596d-4803-b823-b1405a86026e","is_ipv6":false,"name":"tf-test-routing-policy-connection","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2026-08-25T13:37:22.599530Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 259.820203ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.258298ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-vpc-connection","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-08-25T13:37:22.615114Z","custom_routes_propagation_enabled":true,"id":"4e72c792-e179-4275-8077-20d0cd805452","is_default":false,"name":"tf-test-vpc-connection","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-25T13:37:22.615114Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 296.726467ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies/40a61fed-596d-4803-b823-b1405a86026e
        method: GET
      response:
        body: '{"created_at":"2026-08-25T13:37:22.599530Z","id":"40a61fed-596d-4803-b823-b1405a86026e","is_ipv6":false,"name":"tf-test-routing-policy-connection","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2026-08-25T13:37:22.599530Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.788126ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/4e72c792-e179-4275-8077-20d0cd805452
        method: GET
      response:
        body: '{"created_at":"2026-08-25T13:37:22.615114Z","custom_routes_propagation_enabled":true,"id":"4e72c792-e179-4275-8077-20d0cd805452","is_default":false,"name":"tf-test-vpc-connection","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-25T13:37:22.615114Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.484504ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"212.47.248.243","id":"1c9bd17d-9ed8-4127-be1b-2086e2c19287","ipam_id":"1c9bd17d-9ed8-4127-be1b-2086e2c19287","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/1c9bd17d-9ed8-4127-be1b-2086e2c19287
        status: 201 Created
        code: 201
        duration: 649.975221ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-customer-gateway-connection","tags":[],"ipv4_public":"212.47.248.243/32","asn":65000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways
        method: POST
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-08-25T13:37:23.136173Z","id":"f41f28a3-5434-45a2-928a-e8f6f2066536","name":"tf-test-customer-gateway-connection","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_ipv4":"212.47.248.243","region":"fr-par","tags":[],"updated_at":"2026-08-25T13:37:23.136173Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.326834ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/f41f28a3-5434-45a2-928a-e8f6f2066536
        method: GET
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-08-25T13:37:23.136173Z","id":"f41f28a3-5434-45a2-928a-e8f6f2066536","name":"tf-test-customer-gateway-connection","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_ipv4":"212.47.248.243","region":"fr-par","tags":[],"updated_at":"2026-08-25T13:37:23.136173Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.679766ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-elated-zhukovsky","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["10.0.0.0/24"],"vpc_id":"4e72c792-e179-4275-8077-20d0cd805452","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-08-25T13:37:23.050792Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_s3_integration":false,"id":"2e61a752-a12b-43ec-8cbb-3b6dd404ae5c","name":"tf-pn-elated-zhukovsky","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-08-25T13:37:23.050792Z","id":"5554e048-143f-45e4-b7a6-544e489f1560","private_network_id":"2e61a752-a12b-43ec-8cbb-3b6dd404ae5c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"10.0.0.0/24","updated_at":"2026-08-25T13:37:23.050792Z","vpc_id":"4e72c792-e179-4275-8077-20d0cd805452"},{"created_at":"2026-08-25T13:37:23.050792Z","id":"e5eb6ee3-9eb3-4ae6-90e0-d00526b6d8dd","private_network_id":"2e61a752-a12b-43ec-8cbb-3b6dd404ae5c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:4168::/64","updated_at":"2026-08-25T13:37:23.050792Z","vpc_id":"4e72c792-e179-4275-8077-20d0cd805452"}],"tags":[],"updated_at":"2026-08-25T13:37:23.050792Z","vpc_id":"4e72c792-e179-4275-8077-20d0cd805452"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 777.58872ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/2e61a752-a12b-43ec-8cbb-3b6dd404ae5c
        method: GET
      response:
        body: '{"created_at":"2026-08-25T13:37:23.050792Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_s3_integration":false,"id":"2e61a752-a12b-43ec-8cbb-3b6dd404ae5c","name":"tf-pn-elated-zhukovsky","organization_id"[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-vpn-gateway-connection","tags":[],"gateway_type":"VGW-S","private_network_id":"2e61a752-a12b-43ec-8cbb-3b6dd404ae5c","zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways
        method: POST
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-08-25T13:37:25.422659Z","gateway_type":"VGW-S","id":"0c4406b5-5cc5-4e78-94d0-b62197aff79a","ipam_private_ipv4_id":"1ad99efe-e666-445c-8cb4-7a243cb033b2","ipam_private_ipv6_id":"24f8beaa-d248-4d10-aba9-8089e92b45be","name":"tf-test-vpn-gateway-connection","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"2e61a752-a12b-43ec-8cbb-3b6dd404ae5c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_config":{"ipam_ipv4_id":"92e6e32d-2bd6-4f29-b74e-0a41c0492f39","ipam_ipv6_id":"472ef947-cdc2-49fb-833d-31837ca3a176"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-08-25T13:37:25.422659Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.846938523s
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/0c4406b5-5cc5-4e78-94d0-b62197aff79a
        method: GET
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-08-25T13:37:25.422659Z","gateway_type":"VGW-S","id":"0c4406b5-5cc5-4e78-94d0-b62197aff79a","ipam_private_ipv4_id":"1ad99efe-e666-445c-8cb4-7a243cb033b2","ipam_private_ipv6_id":"24f8beaa-d248-4d10-aba9-8089e92b45be","name":"tf-test-vpn-gateway-connection","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"2e61a752-a12b-43ec-8cbb-3b6dd404ae5c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_config":{"ipam_ipv4_id":"92e6e32d-2bd6-4f29-b74e-0a41c0492f39","ipam_ipv6_id":"472ef947-cdc2-49fb-833d-31837ca3a176"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-08-25T13:37:25.422659Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.012835ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-connection","tags":[],"is_ipv6":false,"initiation_policy":"customer_gateway","ikev2_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"esp_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"enable_route_propagation":true,"vpn_gateway_id":"0c4406b5-5cc5-4e78-94d0-b62197aff79a","customer_gateway_id":"f41f28a3-5434-45a2-928a-e8f6f2066536","bgp_config_ipv4":{"routing_policy_id":"40a61fed-596d-4803-b823-b1405a86026e","private_ip":"169.254.0.1/30","peer_private_ip":"169.254.0.2/30"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections
        method: POST
      response:
        body: '{"connection":{"bgp_session_ipv4":{"peer_private_ip":"169.254.0.2/30","private_ip":"169.254.0.1/30","routing_policy_id":"40a61fed-596d-4803-b823-b1405a86026e"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-08-25T13:38:06.757564Z","customer_gateway_id":"f41f28a3-5434-45a2-928a-e8f6f2066536","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"0fa5b982-759d-40e0-a1e3-9b9b7f5eb60d","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"customer_gateway","is_ipv6":false,"name":"tf-test-connection","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_propagation_enabled":true,"secret_id":"00dafc1d-5908-418a-8771-7328223364f7","secret_revision":1,"status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2026-08-25T13:38:06.757564Z","vpn_gateway_id":"0c4406b5-5cc5-4e78-94d0-b62197aff79a"},"pre_shared_key":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.325108547s
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections/0fa5b982-759d-40e0-a1e3-9b9b7f5eb60d
        method: GET
      response:
        body: '{"bgp_session_ipv4":{"peer_private_ip":"169.254.0.2/30","private_ip":"169.254.0.1/30","routing_policy_id":"40a61fed-596d-4803-b823-b1405a86026e"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-08-25T13:38:06.757564Z","customer_gateway_id":"f41f28a3-5434-45a2-928a-e8f6f2066536","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"0fa5b982-759d-40e0-a1e3-9b9b7f5eb60d","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"customer_gateway","is_ipv6":false,"name":"tf-test-connection","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_propagation_enabled":true,"secret_id":"00dafc1d-5908-418a-8771-7328223364f7","secret_revision":1,"status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2026-08-25T13:38:06.757564Z","vpn_gateway_id":"0c4406b5-5cc5-4e78-94d0-b62197aff79a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.558122ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/1c9bd17d-9ed8-4127-be1b-2086e2c19287
        method: GET
      response:
        body: '{"ip":{"address":"212.47.248.243","id":"1c9bd17d-9ed8-4127-be1b-2086e2c19287","ipam_id":"1c9bd17d-9ed8-4127-be1b-2086e2c19287","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 181.498088ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/0c4406b5-5cc5-4e78-94d0-b62197aff79a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpn_gateway","resource_id":"0c4406b5-5cc5-4e78-94d0-b62197aff79a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 43.127849ms
[...]
