---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-routing-policy-connection-latest","tags":[],"is_ipv6":false,"prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies
        method: POST
      response:
        body: '{"created_at":"2026-09-17T09:24:23.586057Z","id":"5f4a08df-ce71-403b-bca4-3929b5942b7c","is_ipv6":false,"name":"tf-test-routing-policy-connection-latest","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"","tags":[],"updated_at":"2026-09-17T09:24:23.586057Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 276.882542ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 11.950291ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-vpc-connection-latest","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-09-17T09:24:23.588864Z","custom_routes_propagation_enabled":true,"id":"e34d5dba-84cb-41d6-9c20-867f84b37fe9","is_default":false,"name":"tf-test-vpc-connection-latest","object_storage_private_access_enabled":false,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"srn":"","tags":[],"transitivity_enabled":false,"updated_at":"2026-09-17T09:24:23.588864Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 383.189625ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-connection-latest-psk","tags":null,"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2026-09-17T09:24:23.601071Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"0ce35208-9086-4c68-ad6c-d60c3f92b7c3","key_id":null,"managed":false,"name":"tf-test-connection-latest-psk","path":"/","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","protected":false,"region":"fr-par","srn":"","status":"ready","tags":[],"type":"opaque","updated_at":"2026-09-17T09:24:23.601071Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 382.980292ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0ce35208-9086-4c68-ad6c-d60c3f92b7c3
        method: GET
      response:
        body: '{"created_at":"2026-09-17T09:24:23.601071Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"0ce35208-9086-4c68-ad6c-d60c3f92b7c3","key_id":null,"managed":false,"name":"tf-test-connection-latest-psk","path":"/","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","protected":false,"region":"fr-par","srn":"","status":"ready","tags":[],"type":"opaque","updated_at":"2026-09-17T09:24:23.601071Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 42.570833ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies/5f4a08df-ce71-403b-bca4-3929b5942b7c
        method: GET
      response:
        body: '{"created_at":"2026-09-17T09:24:23.586057Z","id":"5f4a08df-ce71-403b-bca4-3929b5942b7c","is_ipv6":false,"name":"tf-test-routing-policy-connection-latest","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"","tags":[],"updated_at":"2026-09-17T09:24:23.586057Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 150.474959ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0ce35208-9086-4c68-ad6c-d60c3f92b7c3/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 54.742917ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/e34d5dba-84cb-41d6-9c20-867f84b37fe9
        method: GET
      response:
        body: '{"created_at":"2026-09-17T09:24:23.588864Z","custom_routes_propagation_enabled":true,"id":"e34d5dba-84cb-41d6-9c20-867f84b37fe9","is_default":false,"name":"tf-test-vpc-connection-latest","object_storage_private_access_enabled":false,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"srn":"","tags":[],"transitivity_enabled":false,"updated_at":"2026-09-17T09:24:23.588864Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 102.51025ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"163.172.14.54","id":"49dd1c85-b023-4d39-bad4-13d0a82348b9","ipam_id":"49dd1c85-b023-4d39-bad4-13d0a82348b9","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/49dd1c85-b023-4d39-bad4-13d0a82348b9
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 201 Created
        code: 201
        duration: 549.4505ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-customer-gateway-connection-latest","tags":[],"ipv4_public":"163.172.14.54/32","asn":65000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways
        method: POST
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-09-17T09:24:23.949795Z","id":"7af5698c-5819-429d-8514-cbbe5e6bf3c7","name":"tf-test-customer-gateway-connection-latest","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"163.172.14.54","region":"fr-par","srn":"","tags":[],"updated_at":"2026-09-17T09:24:23.949795Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 79.343917ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/7af5698c-5819-429d-8514-cbbe5e6bf3c7
        method: GET
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-09-17T09:24:23.949795Z","id":"7af5698c-5819-429d-8514-cbbe5e6bf3c7","name":"tf-test-customer-gateway-connection-latest","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"163.172.14.54","region":"fr-par","srn":"","tags":[],"updated_at":"2026-09-17T09:24:23.949795Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 69.522875ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"data":"dGZfdGVzdF9zMnNfdnBuLnBza192MQ=="}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0ce35208-9086-4c68-ad6c-d60c3f92b7c3/versions
        method: POST
      response:
        body: '{"created_at":"2026-09-17T09:24:24.052307Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"region":"fr-par","revision":1,"secret_id":"0ce35208-9086-4c68-ad6c-d60c3f92b7c3","srn":"","status":"enabled","updated_at":"2026-09-17T09:24:24.052307Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 249.672125ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0ce35208-9086-4c68-ad6c-d60c3f92b7c3/versions/1
        method: GET
      response:
        body: '{"created_at":"2026-09-17T09:24:24.052307Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"region":"fr-par","revision":1,"secret_id":"0ce35208-9086-4c68-ad6c-d60c3f92b7c3","srn":"","status":"enabled","updated_at":"2026-09-17T09:24:24.052307Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 48.113459ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-quirky-varahamihira","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["10.0.0.0/24"],"vpc_id":"e34d5dba-84cb-41d6-9c20-867f84b37fe9","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-09-17T09:24:23.925630Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"b0bfe81a-f6a9-45fe-87bf-0bb00839520d","name":"tf-pn-quirky-varahamihira","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"","subnets":[{"created_at":"2026-09-17T09:24:23.925630Z","id":"ddbc1737-8298-4a08-bc32-c14a6b34832c","private_network_id":"b0bfe81a-f6a9-45fe-87bf-0bb00839520d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"","subnet":"10.0.0.0/24","updated_at":"2026-09-17T09:24:23.925630Z","vpc_id":"e34d5dba-84cb-41d6-9c20-867f84b37fe9"},{"created_at":"2026-09-17T09:24:23.925630Z","id":"ce910eb3-f936-40a1-8c58-61623b0306c2","private_network_id":"b0bfe81a-f6a9-45fe-87bf-0bb00839520d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"","subnet":"fd46:78ab:30b8:f895::/64","updated_at":"2026-09-17T09:24:23.925630Z","vpc_id":"e34d5dba-84cb-41d6-9c20-867f84b37fe9"}],"tags":[],"updated_at":"2026-09-17T09:24:23.925630Z","vpc_id":"e34d5dba-84cb-41d6-9c20-867f84b37fe9"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 624.901584ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b0bfe81a-f6a9-45fe-87bf-0bb00839520d
        method: GET
      response:
        body: '{"created_at":"2026-09-17T09:24:23.925630Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"b0bfe81a-f6a9-45fe-87bf-0bb00839520d","name":"tf-pn-quirky-varahamihira[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-vpn-gateway-connection-latest","tags":[],"gateway_type":"VGW-S","private_network_id":"b0bfe81a-f6a9-45fe-87bf-0bb00839520d","zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways
        method: POST
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-09-17T09:24:25.446783Z","gateway_type":"VGW-S","id":"49c88337-0ac9-4711-bdc0-55b38f9ea578","ipam_private_ipv4_id":"47ca67da-76a8-413b-8bc7-6f11a5d328a5","ipam_private_ipv6_id":"1def5c11-6a41-442e-a814-95682d667cad","name":"tf-test-vpn-gateway-connection-latest","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"b0bfe81a-f6a9-45fe-87bf-0bb00839520d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"e98b6a86-c21a-4530-856c-7d414bf6fb69","ipam_ipv6_id":"a7179423-b9a2-4517-b7a2-d9b260a9728b"},"region":"fr-par","srn":"","status":"provisioning","tags":[],"updated_at":"2026-09-17T09:24:25.446783Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.282361084s
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/49c88337-0ac9-4711-bdc0-55b38f9ea578
        method: GET
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-09-17T09:24:25.446783Z","gateway_type":"VGW-S","id":"49c88337-0ac9-4711-bdc0-55b38f9ea578","ipam_private_ipv4_id":"47ca67da-76a8-413b-8bc7-6f11a5d328a5","ipam_private_ipv6_id":"1def5c11-6a41-442e-a814-95682d667cad","name":"tf-test-vpn-gateway-connection-latest","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"b0bfe81a-f6a9-45fe-87bf-0bb00839520d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"e98b6a86-c21a-4530-856c-7d414bf6fb69","ipam_ipv6_id":"a7179423-b9a2-4517-b7a2-d9b260a9728b"},"region":"fr-par","srn":"","status":"provisioning","tags":[],"updated_at":"2026-09-17T09:24:25.446783Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 51.089875ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-connection-latest","tags":[],"is_ipv6":false,"initiation_policy":"customer_gateway","ikev2_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"esp_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"enable_route_propagation":true,"secret":{"id":"0ce35208-9086-4c68-ad6c-d60c3f92b7c3","revision":null},"vpn_gateway_id":"49c88337-0ac9-4711-bdc0-55b38f9ea578","customer_gateway_id":"7af5698c-5819-429d-8514-cbbe5e6bf3c7","bgp_config_ipv4":{"routing_policy_id":"5f4a08df-ce71-403b-bca4-3929b5942b7c","private_ip":"169.254.4.1/30","peer_private_ip":"169.254.4.2/30"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections
        method: POST
      response:
        body: '{"connection":{"bgp_session_ipv4":{"peer_private_ip":"169.254.4.2/30","private_ip":"169.254.4.1/30","routing_policy_id":"5f4a08df-ce71-403b-bca4-3929b5942b7c"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-09-17T09:25:06.593560Z","customer_gateway_id":"7af5698c-5819-429d-8514-cbbe5e6bf3c7","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"eece3fd6-a958-4e0a-bd29-03df431e3d1e","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"customer_gateway","is_ipv6":false,"name":"tf-test-connection-latest","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_propagation_enabled":true,"secret_id":"0ce35208-9086-4c68-ad6c-d60c3f92b7c3","secret_revision":2,"srn":"","status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2026-09-17T09:25:06.593560Z","vpn_gateway_id":"49c88337-0ac9-4711-bdc0-55b38f9ea578"},"pre_shared_key":""}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 580.138916ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections/eece3fd6-a958-4e0a-bd29-03df431e3d1e
        method: GET
      response:
        body: '{"bgp_session_ipv4":{"peer_private_ip":"169.254.4.2/30","private_ip":"169.254.4.1/30","routing_policy_id":"5f4a08df-ce71-403b-bca4-3929b5942b7c"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-0[...]
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/49dd1c85-b023-4d39-bad4-13d0a82348b9
        method: GET
      response:
        body: '{"ip":{"address":"163.172.14.54","id":"49dd1c85-b023-4d39-bad4-13d0a82348b9","ipam_id":"49dd1c85-b023-4d39-bad4-13d0a82348b9","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 81.21925ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/49c88337-0ac9-4711-bdc0-55b38f9ea578
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpn_gateway","resource_id":"49c88337-0ac9-4711-bdc0-55b38f9ea578","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 33.77475ms
[...]
