---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"51.15.128.186","id":"947f8278-8cf9-4902-8ada-9d694107291e","ipam_id":"947f8278-8cf9-4902-8ada-9d694107291e","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/947f8278-8cf9-4902-8ada-9d694107291e
        status: 201 Created
        code: 201
        duration: 419.233375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/947f8278-8cf9-4902-8ada-9d694107291e
        method: GET
      response:
        body: '{"ip":{"address":"51.15.128.186","id":"947f8278-8cf9-4902-8ada-9d694107291e","ipam_id":"947f8278-8cf9-4902-8ada-9d694107291e","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.301875ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-customer-gateway","tags":[],"ipv4_public":"51.15.128.186","asn":65000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways
        method: POST
      response:
        body: '{"asn":65000,"created_at":"2025-12-05T09:36:27.669033Z","id":"9ccfe336-9077-4f3d-90b8-cc401a049c16","name":"tf-test-customer-gateway","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"51.15.128.186","tags":[],"updated_at":"2025-12-05T09:36:27.669033Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.017584ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/9ccfe336-9077-4f3d-90b8-cc401a049c16
        method: GET
      response:
        body: '{"asn":65000,"created_at":"2025-12-05T09:36:27.669033Z","id":"9ccfe336-9077-4f3d-90b8-cc401a049c16","name":"tf-test-customer-gateway","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"51.15.128.186","tags":[],"updated_at":"2025-12-05T09:36:27.669033Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.819375ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/9ccfe336-9077-4f3d-90b8-cc401a049c16
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"customer_gateway","resource_id":"9ccfe336-9077-4f3d-90b8-cc401a049c16","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.354042ms
