---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"51.15.250.176","id":"4d90df23-f699-4a3d-b72f-60c0899b12b3","ipam_id":"4d90df23-f699-4a3d-b72f-60c0899b12b3","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/4d90df23-f699-4a3d-b72f-60c0899b12b3
        status: 201 Created
        code: 201
        duration: 2.83573647s
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-customer-gateway","tags":[],"ipv4_public":"51.15.250.176/32","asn":65000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways
        method: POST
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-07-28T12:29:10.293410Z","id":"4ed7db0a-8f7c-4030-97d5-852c1e00b5f8","name":"tf-test-customer-gateway","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_ipv4":"51.15.250.176","region":"fr-par","tags":[],"updated_at":"2026-07-28T12:29:10.293410Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.764582ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/4ed7db0a-8f7c-4030-97d5-852c1e00b5f8
        method: GET
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-07-28T12:29:10.293410Z","id":"4ed7db0a-8f7c-4030-97d5-852c1e00b5f8","name":"tf-test-customer-gateway","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_ipv4":"51.15.250.176","region":"fr-par","tags":[],"updated_at":"2026-07-28T12:29:10.293410Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.7121ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/4d90df23-f699-4a3d-b72f-60c0899b12b3
        method: GET
      response:
        body: '{"ip":{"address":"51.15.250.176","id":"4d90df23-f699-4a3d-b72f-60c0899b12b3","ipam_id":"4d90df23-f699-4a3d-b72f-60c0899b12b3","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 284.330405ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/4ed7db0a-8f7c-4030-97d5-852c1e00b5f8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"customer_gateway","resource_id":"4ed7db0a-8f7c-4030-97d5-852c1e00b5f8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.046739ms
