---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"51.15.244.24","id":"6b204f0b-9913-4986-bcaf-bb73cd1a5efd","ipam_id":"6b204f0b-9913-4986-bcaf-bb73cd1a5efd","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/6b204f0b-9913-4986-bcaf-bb73cd1a5efd
        status: 201 Created
        code: 201
        duration: 652.747555ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-customer-gateway","tags":[],"ipv4_public":"51.15.244.24/32","asn":65000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways
        method: POST
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-08-25T13:38:57.417666Z","id":"8acae6f6-bfde-45fd-aed4-0aa30b1f842b","name":"tf-test-customer-gateway","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_ipv4":"51.15.244.24","region":"fr-par","tags":[],"updated_at":"2026-08-25T13:38:57.417666Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.098259ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.48341ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/8acae6f6-bfde-45fd-aed4-0aa30b1f842b
        method: GET
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-08-25T13:38:57.417666Z","id":"8acae6f6-bfde-45fd-aed4-0aa30b1f842b","name":"tf-test-customer-gateway","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_ipv4":"51.15.244.24","region":"fr-par","tags":[],"updated_at":"2026-08-25T13:38:57.417666Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.021824ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/6b204f0b-9913-4986-bcaf-bb73cd1a5efd
        method: GET
      response:
        body: '{"ip":{"address":"51.15.244.24","id":"6b204f0b-9913-4986-bcaf-bb73cd1a5efd","ipam_id":"6b204f0b-9913-4986-bcaf-bb73cd1a5efd","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 417.908343ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/8acae6f6-bfde-45fd-aed4-0aa30b1f842b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"customer_gateway","resource_id":"8acae6f6-bfde-45fd-aed4-0aa30b1f842b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 42.818358ms
