---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-routing-policy-conn-ds","tags":[],"is_ipv6":false,"prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies
        method: POST
      response:
        body: '{"created_at":"2026-09-16T13:43:35.081288Z","id":"f40286f0-e14d-495f-b385-a76d793c6a78","is_ipv6":false,"name":"tf-test-routing-policy-conn-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"","tags":[],"updated_at":"2026-09-16T13:43:35.081288Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 308.84025ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 10.256834ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-vpc-connection-ds","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-09-16T13:43:35.096279Z","custom_routes_propagation_enabled":true,"id":"a1cff782-aa63-46ea-98ef-095016d59d88","is_default":false,"name":"tf-test-vpc-connection-ds","object_storage_private_access_enabled":false,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"srn":"","tags":[],"transitivity_enabled":false,"updated_at":"2026-09-16T13:43:35.096279Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 338.711333ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-connection-ds-psk","tags":null,"type":"opaque","path":"/","protected":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"created_at":"2026-09-16T13:43:35.107587Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"c268340b-5d9b-44fd-aaf7-fdc4ee2a4a76","key_id":null,"managed":false,"name":"tf-test-connection-ds-psk","path":"/","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","protected":false,"region":"fr-par","srn":"","status":"ready","tags":[],"type":"opaque","updated_at":"2026-09-16T13:43:35.107587Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 340.591375ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies/f40286f0-e14d-495f-b385-a76d793c6a78
        method: GET
      response:
        body: '{"created_at":"2026-09-16T13:43:35.081288Z","id":"f40286f0-e14d-495f-b385-a76d793c6a78","is_ipv6":false,"name":"tf-test-routing-policy-conn-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"","tags":[],"updated_at":"2026-09-16T13:43:35.081288Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 30.089792ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/a1cff782-aa63-46ea-98ef-095016d59d88
        method: GET
      response:
        body: '{"created_at":"2026-09-16T13:43:35.096279Z","custom_routes_propagation_enabled":true,"id":"a1cff782-aa63-46ea-98ef-095016d59d88","is_default":false,"name":"tf-test-vpc-connection-ds","object_storage_private_access_enabled":false,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"srn":"","tags":[],"transitivity_enabled":false,"updated_at":"2026-09-16T13:43:35.096279Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 29.156667ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c268340b-5d9b-44fd-aaf7-fdc4ee2a4a76
        method: GET
      response:
        body: '{"created_at":"2026-09-16T13:43:35.107587Z","deletion_requested_at":null,"description":"","ephemeral_policy":null,"id":"c268340b-5d9b-44fd-aaf7-fdc4ee2a4a76","key_id":null,"managed":false,"name":"tf-test-connection-ds-psk","path":"/","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","protected":false,"region":"fr-par","srn":"","status":"ready","tags":[],"type":"opaque","updated_at":"2026-09-16T13:43:35.107587Z","used_by":[],"version_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 50.541667ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c268340b-5d9b-44fd-aaf7-fdc4ee2a4a76/versions?page=1
        method: GET
      response:
        body: '{"total_count":0,"versions":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 136.259125ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"51.15.231.228","id":"eec060b2-bf58-4c9a-8ebc-229e79d1aa06","ipam_id":"eec060b2-bf58-4c9a-8ebc-229e79d1aa06","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/eec060b2-bf58-4c9a-8ebc-229e79d1aa06
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 201 Created
        code: 201
        duration: 528.423708ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-customer-gateway-conn-ds","tags":[],"ipv4_public":"51.15.231.228/32","asn":65000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways
        method: POST
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-09-16T13:43:35.391659Z","id":"4ffa959a-c111-4fd5-a55f-520f24a594ec","name":"tf-test-customer-gateway-conn-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"51.15.231.228","region":"fr-par","srn":"","tags":[],"updated_at":"2026-09-16T13:43:35.391659Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 71.191042ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/4ffa959a-c111-4fd5-a55f-520f24a594ec
        method: GET
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-09-16T13:43:35.391659Z","id":"4ffa959a-c111-4fd5-a55f-520f24a594ec","name":"tf-test-customer-gateway-conn-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"51.15.231.228","region":"fr-par","srn":"","tags":[],"updated_at":"2026-09-16T13:43:35.391659Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 23.980875ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"data":"dGZfdGVzdF9zMnNfdnBuLnBzaw=="}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c268340b-5d9b-44fd-aaf7-fdc4ee2a4a76/versions
        method: POST
      response:
        body: '{"created_at":"2026-09-16T13:43:35.577602Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"region":"fr-par","revision":1,"secret_id":"c268340b-5d9b-44fd-aaf7-fdc4ee2a4a76","srn":"","status":"enabled","updated_at":"2026-09-16T13:43:35.577602Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 261.704875ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c268340b-5d9b-44fd-aaf7-fdc4ee2a4a76/versions/1
        method: GET
      response:
        body: '{"created_at":"2026-09-16T13:43:35.577602Z","deleted_at":null,"deletion_requested_at":null,"description":"","ephemeral_properties":null,"latest":true,"region":"fr-par","revision":1,"secret_id":"c268340b-5d9b-44fd-aaf7-fdc4ee2a4a76","srn":"","status":"enabled","updated_at":"2026-09-16T13:43:35.577602Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 34.349167ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-stupefied-ramanujan","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["10.0.0.0/24"],"vpc_id":"a1cff782-aa63-46ea-98ef-095016d59d88","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-09-16T13:43:35.258849Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"10bb9087-0393-4fb0-8cf6-e425c162fdb8","name":"tf-pn-stupefied-ramanujan","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"","subnets":[{"created_at":"2026-09-16T13:43:35.258849Z","id":"fb6a8264-31d0-4bd8-8521-e64ce5f3fd2f","private_network_id":"10bb9087-0393-4fb0-8cf6-e425c162fdb8","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"","subnet":"10.0.0.0/24","updated_at":"2026-09-16T13:43:35.258849Z","vpc_id":"a1cff782-aa63-46ea-98ef-095016d59d88"},{"created_at":"2026-09-16T13:43:35.258849Z","id":"69896855-baa1-41a2-aaf0-0502173403fc","private_network_id":"10bb9087-0393-4fb0-8cf6-e425c162fdb8","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","srn":"","subnet":"fd46:78ab:30b8:4a48::/64","updated_at":"2026-09-16T13:43:35.258849Z","vpc_id":"a1cff782-aa63-46ea-98ef-095016d59d88"}],"tags":[],"updated_at":"2026-09-16T13:43:35.258849Z","vpc_id":"a1cff782-aa63-46ea-98ef-095016d59d88"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.349967083s
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/10bb9087-0393-4fb0-8cf6-e425c162fdb8
        method: GET
      response:
        body: '{"created_at":"2026-09-16T13:43:35.258849Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"10bb9087-0393-4fb0-8cf6-e425c162fdb8","name":"tf-pn-stupefied-ramanujan[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-vpn-gateway-conn-ds","tags":[],"gateway_type":"VGW-S","private_network_id":"10bb9087-0393-4fb0-8cf6-e425c162fdb8","zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways
        method: POST
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-09-16T13:43:37.142059Z","gateway_type":"VGW-S","id":"96ca7061-2e23-44e5-aa1c-7193b066d88d","ipam_private_ipv4_id":"3017e73e-0b84-433b-b6a0-82ff6290d6a0","ipam_private_ipv6_id":"f97bd0d1-647b-43f3-8999-0845081a2f03","name":"tf-test-vpn-gateway-conn-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"10bb9087-0393-4fb0-8cf6-e425c162fdb8","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"985d572a-5f73-4f07-a9f3-ecabeaff2b12","ipam_ipv6_id":"2764f4ef-1379-4bfa-969d-ea80c7fadfaf"},"region":"fr-par","srn":"","status":"provisioning","tags":[],"updated_at":"2026-09-16T13:43:37.142059Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 627.796166ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/96ca7061-2e23-44e5-aa1c-7193b066d88d
        method: GET
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-09-16T13:43:37.142059Z","gateway_type":"VGW-S","id":"96ca7061-2e23-44e5-aa1c-7193b066d88d","ipam_private_ipv4_id":"3017e73e-0b84-433b-b6a0-82ff6290d6a0","ipam_private_ipv6_id":"f97bd0d1-647b-43f3-8999-0845081a2f03","name":"tf-test-vpn-gateway-conn-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"10bb9087-0393-4fb0-8cf6-e425c162fdb8","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"985d572a-5f73-4f07-a9f3-ecabeaff2b12","ipam_ipv6_id":"2764f4ef-1379-4bfa-969d-ea80c7fadfaf"},"region":"fr-par","srn":"","status":"provisioning","tags":[],"updated_at":"2026-09-16T13:43:37.142059Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 38.312542ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-connection-ds","tags":[],"is_ipv6":false,"initiation_policy":"unknown_initiation_policy","ikev2_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"esp_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"enable_route_propagation":false,"secret":{"id":"c268340b-5d9b-44fd-aaf7-fdc4ee2a4a76","revision":1},"vpn_gateway_id":"96ca7061-2e23-44e5-aa1c-7193b066d88d","customer_gateway_id":"4ffa959a-c111-4fd5-a55f-520f24a594ec","bgp_config_ipv4":{"routing_policy_id":"f40286f0-e14d-495f-b385-a76d793c6a78","private_ip":"169.254.1.1/30","peer_private_ip":"169.254.1.2/30"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections
        method: POST
      response:
        body: '{"connection":{"bgp_session_ipv4":{"peer_private_ip":"169.254.1.2/30","private_ip":"169.254.1.1/30","routing_policy_id":"f40286f0-e14d-495f-b385-a76d793c6a78"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-09-16T13:44:17.953466Z","customer_gateway_id":"4ffa959a-c111-4fd5-a55f-520f24a594ec","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"1f1b5a7c-f228-4a13-8d89-28277e6b03af","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"vpn_gateway","is_ipv6":false,"name":"tf-test-connection-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_propagation_enabled":false,"secret_id":"c268340b-5d9b-44fd-aaf7-fdc4ee2a4a76","secret_revision":1,"srn":"","status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2026-09-16T13:44:17.953466Z","vpn_gateway_id":"96ca7061-2e23-44e5-aa1c-7193b066d88d"},"pre_shared_key":""}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 273.809334ms
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections/1f1b5a7c-f228-4a13-8d89-28277e6b03af
        method: GET
      response:
        body: '{"bgp_session_ipv4":{"peer_private_ip":"169.254.1.2/30","private_ip":"169.254.1.1/30","routing_policy_id":"f40286f0-e14d-495f-b385-a76d793c6a78"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-0[...]
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/eec060b2-bf58-4c9a-8ebc-229e79d1aa06
        method: GET
      response:
        body: '{"ip":{"address":"51.15.231.228","id":"eec060b2-bf58-4c9a-8ebc-229e79d1aa06","ipam_id":"eec060b2-bf58-4c9a-8ebc-229e79d1aa06","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 84.541042ms
[...]
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections?name=tf-test-connection-ds&order_by=created_at_asc
        method: GET
      response:
        body: '{"connections":[{"bgp_session_ipv4":{"peer_private_ip":"169.254.1.2/30","private_ip":"169.254.1.1/30","routing_policy_id":"f40286f0-e14d-495f-b385-a76d793c6a78"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-09-16T13:44:17.953466Z","customer_gateway_id":"4ffa959a-c111-4fd5-a55f-520f24a594ec","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"1f1b5a7c-f228-4a13-8d89-28277e6b03af","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"vpn_gateway","is_ipv6":false,"name":"tf-test-connection-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_propagation_enabled":false,"secret_id":"c268340b-5d9b-44fd-aaf7-fdc4ee2a4a76","secret_revision":1,"srn":"","status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2026-09-16T13:44:17.953466Z","vpn_gateway_id":"96ca7061-2e23-44e5-aa1c-7193b066d88d"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 62.078542ms
[...]
    - id: 81
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/96ca7061-2e23-44e5-aa1c-7193b066d88d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpn_gateway","resource_id":"96ca7061-2e23-44e5-aa1c-7193b066d88d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 25.092958ms
[...]
