---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-vpc-connection-ds","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-07-28T12:29:08.333067Z","custom_routes_propagation_enabled":true,"id":"71b1bea6-eb04-449a-978d-9858c311f145","is_default":false,"name":"tf-test-vpc-connection-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-07-28T12:29:08.333067Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 831.626641ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/71b1bea6-eb04-449a-978d-9858c311f145
        method: GET
      response:
        body: '{"created_at":"2026-07-28T12:29:08.333067Z","custom_routes_propagation_enabled":true,"id":"71b1bea6-eb04-449a-978d-9858c311f145","is_default":false,"name":"tf-test-vpc-connection-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-07-28T12:29:08.333067Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.800459ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"212.47.253.228","id":"01fa077d-5d11-4289-9c11-746ce7d1ae52","ipam_id":"01fa077d-5d11-4289-9c11-746ce7d1ae52","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/01fa077d-5d11-4289-9c11-746ce7d1ae52
        status: 201 Created
        code: 201
        duration: 1.518578626s
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-customer-gateway-conn-ds","tags":[],"ipv4_public":"212.47.253.228/32","asn":65000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways
        method: POST
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-07-28T12:29:09.185749Z","id":"043192b4-30c8-4c3c-8f01-ec53aa5bef54","name":"tf-test-customer-gateway-conn-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_ipv4":"212.47.253.228","region":"fr-par","tags":[],"updated_at":"2026-07-28T12:29:09.185749Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.997832ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/043192b4-30c8-4c3c-8f01-ec53aa5bef54
        method: GET
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-07-28T12:29:09.185749Z","id":"043192b4-30c8-4c3c-8f01-ec53aa5bef54","name":"tf-test-customer-gateway-conn-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_ipv4":"212.47.253.228","region":"fr-par","tags":[],"updated_at":"2026-07-28T12:29:09.185749Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.643547ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-boring-satoshi","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["10.0.0.0/24"],"vpc_id":"71b1bea6-eb04-449a-978d-9858c311f145","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-07-28T12:29:08.709051Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"1451aab4-7ad8-42fa-afe9-2fa9a8cc78dc","name":"tf-pn-boring-satoshi","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-07-28T12:29:08.709051Z","id":"a7197706-e6cb-4afb-ac74-997e49f3b207","private_network_id":"1451aab4-7ad8-42fa-afe9-2fa9a8cc78dc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"10.0.0.0/24","updated_at":"2026-07-28T12:29:08.709051Z","vpc_id":"71b1bea6-eb04-449a-978d-9858c311f145"},{"created_at":"2026-07-28T12:29:08.709051Z","id":"c3d60fc1-b807-4199-aa0f-0fad08181b51","private_network_id":"1451aab4-7ad8-42fa-afe9-2fa9a8cc78dc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:c8b::/64","updated_at":"2026-07-28T12:29:08.709051Z","vpc_id":"71b1bea6-eb04-449a-978d-9858c311f145"}],"tags":[],"updated_at":"2026-07-28T12:29:08.709051Z","vpc_id":"71b1bea6-eb04-449a-978d-9858c311f145"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 734.936702ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/1451aab4-7ad8-42fa-afe9-2fa9a8cc78dc
        method: GET
      response:
        body: '{"created_at":"2026-07-28T12:29:08.709051Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"1451aab4-7ad8-42fa-afe9-2fa9a8cc78dc","name":"tf-pn-boring-satoshi","organization_id":"105bdce1-64c0-48ab-899d-868[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-routing-policy-conn-ds","tags":[],"is_ipv6":false,"prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies
        method: POST
      response:
        body: '{"created_at":"2026-07-28T12:29:09.646539Z","id":"ab1bcaa4-94ae-4306-b4bd-07d44070090e","is_ipv6":false,"name":"tf-test-routing-policy-conn-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2026-07-28T12:29:09.646539Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.142775424s
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies/ab1bcaa4-94ae-4306-b4bd-07d44070090e
        method: GET
      response:
        body: '{"created_at":"2026-07-28T12:29:09.646539Z","id":"ab1bcaa4-94ae-4306-b4bd-07d44070090e","is_ipv6":false,"name":"tf-test-routing-policy-conn-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2026-07-28T12:29:09.646539Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.809973ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-vpn-gateway-conn-ds","tags":[],"gateway_type":"VGW-S","private_network_id":"1451aab4-7ad8-42fa-afe9-2fa9a8cc78dc","zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways
        method: POST
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-07-28T12:29:10.710889Z","gateway_type":"VGW-S","id":"1bc20310-6fab-434e-b39a-44860ac30928","ipam_private_ipv4_id":"f79565ab-6673-4d59-9ab3-26799edffb06","ipam_private_ipv6_id":"c3302d6c-fad7-4d7f-8560-d32443502583","name":"tf-test-vpn-gateway-conn-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"1451aab4-7ad8-42fa-afe9-2fa9a8cc78dc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_config":{"ipam_ipv4_id":"73dd3b18-a8b4-4997-9996-a22a178c86a5","ipam_ipv6_id":"1e4b9a9a-7852-41d7-af00-da07d86e1382"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-07-28T12:29:10.710889Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.459332043s
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/1bc20310-6fab-434e-b39a-44860ac30928
        method: GET
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-07-28T12:29:10.710889Z","gateway_type":"VGW-S","id":"1bc20310-6fab-434e-b39a-44860ac30928","ipam_private_ipv4_id":"f79565ab-6673-4d59-9ab3-26799edffb06","ipam_private_ipv6_id":"c3302d6c-fad7-4d7f-8560-d32443502583","name":"tf-test-vpn-gateway-conn-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"1451aab4-7ad8-42fa-afe9-2fa9a8cc78dc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_config":{"ipam_ipv4_id":"73dd3b18-a8b4-4997-9996-a22a178c86a5","ipam_ipv6_id":"1e4b9a9a-7852-41d7-af00-da07d86e1382"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-07-28T12:29:10.710889Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.300429ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-connection-ds","tags":[],"is_ipv6":false,"initiation_policy":"unknown_initiation_policy","ikev2_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"esp_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"enable_route_propagation":false,"vpn_gateway_id":"1bc20310-6fab-434e-b39a-44860ac30928","customer_gateway_id":"043192b4-30c8-4c3c-8f01-ec53aa5bef54","bgp_config_ipv4":{"routing_policy_id":"ab1bcaa4-94ae-4306-b4bd-07d44070090e","private_ip":"169.254.1.1/30","peer_private_ip":"169.254.1.2/30"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections
        method: POST
      response:
        body: '{"connection":{"bgp_session_ipv4":{"peer_private_ip":"169.254.1.2/30","private_ip":"169.254.1.1/30","routing_policy_id":"ab1bcaa4-94ae-4306-b4bd-07d44070090e"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-07-28T12:29:51.896612Z","customer_gateway_id":"043192b4-30c8-4c3c-8f01-ec53aa5bef54","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"1a0402df-d70e-4b7d-8f13-b075f934165d","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"vpn_gateway","is_ipv6":false,"name":"tf-test-connection-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_propagation_enabled":false,"secret_id":"017eb974-b095-4364-9be2-9caac49c417c","secret_revision":1,"status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2026-07-28T12:29:51.896612Z","vpn_gateway_id":"1bc20310-6fab-434e-b39a-44860ac30928"},"pre_shared_key":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.076258808s
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections/1a0402df-d70e-4b7d-8f13-b075f934165d
        method: GET
      response:
        body: '{"bgp_session_ipv4":{"peer_private_ip":"169.254.1.2/30","private_ip":"169.254.1.1/30","routing_policy_id":"ab1bcaa4-94ae-4306-b4bd-07d44070090e"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-07-28T12:29:51.896612Z","customer_gateway_id":"043192b4-30c8-4c3c-8f01-ec53aa5bef54","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"1a0402df-d70e-4b7d-8f13-b075f934165d","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"vpn_gateway","is_ipv6":false,"name":"tf-test-connection-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_propagation_enabled":false,"secret_id":"017eb974-b095-4364-9be2-9caac49c417c","secret_revision":1,"status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2026-07-28T12:29:51.896612Z","vpn_gateway_id":"1bc20310-6fab-434e-b39a-44860ac30928"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.516497ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/01fa077d-5d11-4289-9c11-746ce7d1ae52
        method: GET
      response:
        body: '{"ip":{"address":"212.47.253.228","id":"01fa077d-5d11-4289-9c11-746ce7d1ae52","ipam_id":"01fa077d-5d11-4289-9c11-746ce7d1ae52","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 272.065713ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections?name=tf-test-connection-ds&order_by=created_at_asc
        method: GET
      response:
        body: '{"connections":[{"bgp_session_ipv4":{"peer_private_ip":"169.254.1.2/30","private_ip":"169.254.1.1/30","routing_policy_id":"ab1bcaa4-94ae-4306-b4bd-07d44070090e"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-07-28T12:29:51.896612Z","customer_gateway_id":"043192b4-30c8-4c3c-8f01-ec53aa5bef54","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"1a0402df-d70e-4b7d-8f13-b075f934165d","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"vpn_gateway","is_ipv6":false,"name":"tf-test-connection-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_propagation_enabled":false,"secret_id":"017eb974-b095-4364-9be2-9caac49c417c","secret_revision":1,"status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2026-07-28T12:29:51.896612Z","vpn_gateway_id":"1bc20310-6fab-434e-b39a-44860ac30928"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.542262ms
[...]
    - id: 56
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/1bc20310-6fab-434e-b39a-44860ac30928
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpn_gateway","resource_id":"1bc20310-6fab-434e-b39a-44860ac30928","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.308001ms
[...]
