---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"51.15.128.186","id":"ff6fd3a1-44e6-4ba0-966e-f68e04052720","ipam_id":"ff6fd3a1-44e6-4ba0-966e-f68e04052720","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/ff6fd3a1-44e6-4ba0-966e-f68e04052720
        status: 201 Created
        code: 201
        duration: 748.565708ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/ff6fd3a1-44e6-4ba0-966e-f68e04052720
        method: GET
      response:
        body: '{"ip":{"address":"51.15.128.186","id":"ff6fd3a1-44e6-4ba0-966e-f68e04052720","ipam_id":"ff6fd3a1-44e6-4ba0-966e-f68e04052720","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 248.343667ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-customer-gateway-ds","tags":[],"ipv4_public":"51.15.128.186/32","asn":65000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways
        method: POST
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-02-06T13:55:29.961537Z","id":"58e0c46c-0bd0-4855-97f7-c5ca3810e2d8","name":"tf-test-customer-gateway-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"51.15.128.186","region":"fr-par","tags":[],"updated_at":"2026-02-06T13:55:29.961537Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.688375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/58e0c46c-0bd0-4855-97f7-c5ca3810e2d8
        method: GET
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-02-06T13:55:29.961537Z","id":"58e0c46c-0bd0-4855-97f7-c5ca3810e2d8","name":"tf-test-customer-gateway-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"51.15.128.186","region":"fr-par","tags":[],"updated_at":"2026-02-06T13:55:29.961537Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.095209ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways?name=tf-test-customer-gateway-ds&order_by=created_at_asc
        method: GET
      response:
        body: '{"gateways":[{"asn":65000,"connection_ids":[],"created_at":"2026-02-06T13:55:29.961537Z","id":"58e0c46c-0bd0-4855-97f7-c5ca3810e2d8","name":"tf-test-customer-gateway-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"51.15.128.186","region":"fr-par","tags":[],"updated_at":"2026-02-06T13:55:29.961537Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.859ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/58e0c46c-0bd0-4855-97f7-c5ca3810e2d8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"customer_gateway","resource_id":"58e0c46c-0bd0-4855-97f7-c5ca3810e2d8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.739209ms
[...]
