---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-routing-policy-conn-ds","tags":[],"is_ipv6":false,"prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies
        method: POST
      response:
        body: '{"created_at":"2026-02-06T13:52:28.361802Z","id":"a0feea5e-74fb-45b1-817f-61147dbc32df","is_ipv6":false,"name":"tf-test-routing-policy-conn-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2026-02-06T13:52:28.361802Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 306.309792ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-vpc-connection-ds","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-02-06T13:52:28.342723Z","custom_routes_propagation_enabled":true,"id":"bbfd7e3f-9039-4a20-a799-5ca67dff2463","is_default":false,"name":"tf-test-vpc-connection-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-02-06T13:52:28.342723Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 306.325042ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/bbfd7e3f-9039-4a20-a799-5ca67dff2463
        method: GET
      response:
        body: '{"created_at":"2026-02-06T13:52:28.342723Z","custom_routes_propagation_enabled":true,"id":"bbfd7e3f-9039-4a20-a799-5ca67dff2463","is_default":false,"name":"tf-test-vpc-connection-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-02-06T13:52:28.342723Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.624292ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies/a0feea5e-74fb-45b1-817f-61147dbc32df
        method: GET
      response:
        body: '{"created_at":"2026-02-06T13:52:28.361802Z","id":"a0feea5e-74fb-45b1-817f-61147dbc32df","is_ipv6":false,"name":"tf-test-routing-policy-conn-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.0.0/24"],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2026-02-06T13:52:28.361802Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.655041ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"51.15.206.239","id":"6200bd11-7e31-44ac-8540-751cecad676c","ipam_id":"6200bd11-7e31-44ac-8540-751cecad676c","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/6200bd11-7e31-44ac-8540-751cecad676c
        status: 201 Created
        code: 201
        duration: 454.4935ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/6200bd11-7e31-44ac-8540-751cecad676c
        method: GET
      response:
        body: '{"ip":{"address":"51.15.206.239","id":"6200bd11-7e31-44ac-8540-751cecad676c","ipam_id":"6200bd11-7e31-44ac-8540-751cecad676c","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.879541ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-customer-gateway-conn-ds","tags":[],"ipv4_public":"51.15.206.239/32","asn":65000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways
        method: POST
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-02-06T13:52:28.802966Z","id":"52d903a9-73fe-4122-bb44-f0a1cf9e9b2b","name":"tf-test-customer-gateway-conn-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"51.15.206.239","region":"fr-par","tags":[],"updated_at":"2026-02-06T13:52:28.802966Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.273958ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/52d903a9-73fe-4122-bb44-f0a1cf9e9b2b
        method: GET
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-02-06T13:52:28.802966Z","id":"52d903a9-73fe-4122-bb44-f0a1cf9e9b2b","name":"tf-test-customer-gateway-conn-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_ipv4":"51.15.206.239","region":"fr-par","tags":[],"updated_at":"2026-02-06T13:52:28.802966Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 196.628875ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-elated-kepler","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["10.0.0.0/24"],"vpc_id":"bbfd7e3f-9039-4a20-a799-5ca67dff2463","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-02-06T13:52:28.570496Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"10a26e6f-eb09-4152-965f-43168f42be14","name":"tf-pn-elated-kepler","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-02-06T13:52:28.570496Z","id":"e0dd219f-bb36-4d31-a405-b794af403361","private_network_id":"10a26e6f-eb09-4152-965f-43168f42be14","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"10.0.0.0/24","updated_at":"2026-02-06T13:52:28.570496Z","vpc_id":"bbfd7e3f-9039-4a20-a799-5ca67dff2463"},{"created_at":"2026-02-06T13:52:28.570496Z","id":"5c7ab15f-d7e8-4416-a18c-dea5e062498e","private_network_id":"10a26e6f-eb09-4152-965f-43168f42be14","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:4bc6::/64","updated_at":"2026-02-06T13:52:28.570496Z","vpc_id":"bbfd7e3f-9039-4a20-a799-5ca67dff2463"}],"tags":[],"updated_at":"2026-02-06T13:52:28.570496Z","vpc_id":"bbfd7e3f-9039-4a20-a799-5ca67dff2463"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 611.488959ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/10a26e6f-eb09-4152-965f-43168f42be14
        method: GET
      response:
        body: '{"created_at":"2026-02-06T13:52:28.570496Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"10a26e6f-eb09-4152-965f-43168f42be14","name":"tf-pn-elated-kepler","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-02-06T13:52:28.570496Z","id":"e0dd219f-bb36-4d31-a405-b794af403361","private_network_id":"10a26e6f-eb09-4152-965f-43168f42be14","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"10.0.0.0/24","updated_at":"2026-02-06T13:52:28.570496Z","vpc_id":"bbfd7e3f-9039-4a20-a799-5ca67dff2463"},{"created_at":"2026-02-06T13:52:28.570496Z","id":"5c7ab15f-d7e8-4416-a18c-dea5e062498e","private_network_id":"10a26e6f-eb09-4152-965f-43168f42be14","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:4bc6::/64","updated_at":"2026-02-06T13:52:28.570496Z","vpc_id":"bbfd7e3f-9039-4a20-a799-5ca67dff2463"}],"tags":[],"updated_at":"2026-02-06T13:52:28.570496Z","vpc_id":"bbfd7e3f-9039-4a20-a799-5ca67dff2463"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.533917ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-vpn-gateway-conn-ds","tags":[],"gateway_type":"VGW-S","private_network_id":"10a26e6f-eb09-4152-965f-43168f42be14","zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways
        method: POST
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-02-06T13:52:29.778131Z","gateway_type":"VGW-S","id":"8a69164e-12a3-427e-a815-fcac064ceaf4","ipam_private_ipv4_id":"d4b3e04b-48a0-446b-a3c9-1cb8a3c4310f","ipam_private_ipv6_id":"2602451e-280e-476c-b0ca-d3453f54b880","name":"tf-test-vpn-gateway-conn-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"10a26e6f-eb09-4152-965f-43168f42be14","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"de1d4f60-a27e-4549-889d-525c58099f4e","ipam_ipv6_id":"a7b037f4-52c2-495c-9ea8-9401cf88b0ec"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-02-06T13:52:29.778131Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 715.008458ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/8a69164e-12a3-427e-a815-fcac064ceaf4
        method: GET
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-02-06T13:52:29.778131Z","gateway_type":"VGW-S","id":"8a69164e-12a3-427e-a815-fcac064ceaf4","ipam_private_ipv4_id":"d4b3e04b-48a0-446b-a3c9-1cb8a3c4310f","ipam_private_ipv6_id":"2602451e-280e-476c-b0ca-d3453f54b880","name":"tf-test-vpn-gateway-conn-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"10a26e6f-eb09-4152-965f-43168f42be14","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"de1d4f60-a27e-4549-889d-525c58099f4e","ipam_ipv6_id":"a7b037f4-52c2-495c-9ea8-9401cf88b0ec"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-02-06T13:52:29.778131Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.927958ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-connection-ds","tags":[],"is_ipv6":false,"initiation_policy":"unknown_initiation_policy","ikev2_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"esp_ciphers":[{"encryption":"aes256","integrity":"sha256","dh_group":"modp2048"}],"enable_route_propagation":false,"vpn_gateway_id":"8a69164e-12a3-427e-a815-fcac064ceaf4","customer_gateway_id":"52d903a9-73fe-4122-bb44-f0a1cf9e9b2b","bgp_config_ipv4":{"routing_policy_id":"a0feea5e-74fb-45b1-817f-61147dbc32df","private_ip":"169.254.0.1/30","peer_private_ip":"169.254.0.2/30"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections
        method: POST
      response:
        body: '{"connection":{"bgp_session_ipv4":{"peer_private_ip":"169.254.0.2/30","private_ip":"169.254.0.1/30","routing_policy_id":"a0feea5e-74fb-45b1-817f-61147dbc32df"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-02-06T13:52:50.399860Z","customer_gateway_id":"52d903a9-73fe-4122-bb44-f0a1cf9e9b2b","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"38fcbd1b-1ae9-4494-b554-f4ec135edc1e","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"vpn_gateway","is_ipv6":false,"name":"tf-test-connection-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_propagation_enabled":false,"secret_id":"7b1fed26-08ab-475b-baa8-638b9e9d6adf","secret_revision":1,"status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2026-02-06T13:52:50.399860Z","vpn_gateway_id":"8a69164e-12a3-427e-a815-fcac064ceaf4"},"pre_shared_key":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 673.987791ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections/38fcbd1b-1ae9-4494-b554-f4ec135edc1e
        method: GET
      response:
        body: '{"bgp_session_ipv4":{"peer_private_ip":"169.254.0.2/30","private_ip":"169.254.0.1/30","routing_policy_id":"a0feea5e-74fb-45b1-817f-61147dbc32df"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-02-06T13:52:50.399860Z","customer_gateway_id":"52d903a9-73fe-4122-bb44-f0a1cf9e9b2b","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"38fcbd1b-1ae9-4494-b554-f4ec135edc1e","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"vpn_gateway","is_ipv6":false,"name":"tf-test-connection-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_propagation_enabled":false,"secret_id":"7b1fed26-08ab-475b-baa8-638b9e9d6adf","secret_revision":1,"status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2026-02-06T13:52:50.399860Z","vpn_gateway_id":"8a69164e-12a3-427e-a815-fcac064ceaf4"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.505083ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/connections?name=tf-test-connection-ds&order_by=created_at_asc
        method: GET
      response:
        body: '{"connections":[{"bgp_session_ipv4":{"peer_private_ip":"169.254.0.2/30","private_ip":"169.254.0.1/30","routing_policy_id":"a0feea5e-74fb-45b1-817f-61147dbc32df"},"bgp_status_ipv4":"down","bgp_status_ipv6":"disabled","created_at":"2026-02-06T13:52:50.399860Z","customer_gateway_id":"52d903a9-73fe-4122-bb44-f0a1cf9e9b2b","esp_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"id":"38fcbd1b-1ae9-4494-b554-f4ec135edc1e","ikev2_ciphers":[{"dh_group":"modp2048","encryption":"aes256","integrity":"sha256"}],"initiation_policy":"vpn_gateway","is_ipv6":false,"name":"tf-test-connection-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_propagation_enabled":false,"secret_id":"7b1fed26-08ab-475b-baa8-638b9e9d6adf","secret_revision":1,"status":"down","tags":[],"tunnel_status":"down","tunnel_status_ipv4":"unknown_tunnel_status","tunnel_status_ipv6":"unknown_tunnel_status","updated_at":"2026-02-06T13:52:50.399860Z","vpn_gateway_id":"8a69164e-12a3-427e-a815-fcac064ceaf4"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.173875ms
[...]
    - id: 58
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/8a69164e-12a3-427e-a815-fcac064ceaf4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpn_gateway","resource_id":"8a69164e-12a3-427e-a815-fcac064ceaf4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.686084ms
[...]
