---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-vpc-vpn-gateway-ds","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-07-28T12:29:08.273375Z","custom_routes_propagation_enabled":true,"id":"e3894cab-ca97-4584-b7ce-758522cd4d65","is_default":false,"name":"tf-test-vpc-vpn-gateway-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-07-28T12:29:08.273375Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 779.547919ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/e3894cab-ca97-4584-b7ce-758522cd4d65
        method: GET
      response:
        body: '{"created_at":"2026-07-28T12:29:08.273375Z","custom_routes_propagation_enabled":true,"id":"e3894cab-ca97-4584-b7ce-758522cd4d65","is_default":false,"name":"tf-test-vpc-vpn-gateway-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-07-28T12:29:08.273375Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.945698ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-naughty-black","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["10.0.0.0/24"],"vpc_id":"e3894cab-ca97-4584-b7ce-758522cd4d65","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-07-28T12:29:09.988638Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"5f4ec472-bace-47d0-ae05-1e20604b9ada","name":"tf-pn-naughty-black","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-07-28T12:29:09.988638Z","id":"25c5d717-125d-4488-8109-c72cc04629fd","private_network_id":"5f4ec472-bace-47d0-ae05-1e20604b9ada","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"10.0.0.0/24","updated_at":"2026-07-28T12:29:09.988638Z","vpc_id":"e3894cab-ca97-4584-b7ce-758522cd4d65"},{"created_at":"2026-07-28T12:29:09.988638Z","id":"dcad8798-614d-45ee-904a-9cb3b08d632e","private_network_id":"5f4ec472-bace-47d0-ae05-1e20604b9ada","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:133e::/64","updated_at":"2026-07-28T12:29:09.988638Z","vpc_id":"e3894cab-ca97-4584-b7ce-758522cd4d65"}],"tags":[],"updated_at":"2026-07-28T12:29:09.988638Z","vpc_id":"e3894cab-ca97-4584-b7ce-758522cd4d65"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.95898745s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5f4ec472-bace-47d0-ae05-1e20604b9ada
        method: GET
      response:
        body: '{"created_at":"2026-07-28T12:29:09.988638Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"5f4ec472-bace-47d0-ae05-1e20604b9ada","name":"tf-pn-naughty-black","organization_id":"105bdce1-64c0-48ab-899d-8684[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-vpn-gateway-ds","tags":[],"gateway_type":"VGW-S","private_network_id":"5f4ec472-bace-47d0-ae05-1e20604b9ada","zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways
        method: POST
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-07-28T12:29:11.562385Z","gateway_type":"VGW-S","id":"474bbec7-b0d1-42bd-bd4a-a02ab783575b","ipam_private_ipv4_id":"243b5fb9-ee89-4abb-9973-1d97b9788b15","ipam_private_ipv6_id":"89c338c0-b6e2-4c28-9d68-7bd934719c84","name":"tf-test-vpn-gateway-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"5f4ec472-bace-47d0-ae05-1e20604b9ada","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_config":{"ipam_ipv4_id":"dbc029c4-3b32-4ea3-9e8d-ad11cfec8d58","ipam_ipv6_id":"10ec9d83-0bcc-4a28-a98f-62c0a9b73a47"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-07-28T12:29:11.562385Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.080469692s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/474bbec7-b0d1-42bd-bd4a-a02ab783575b
        method: GET
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-07-28T12:29:11.562385Z","gateway_type":"VGW-S","id":"474bbec7-b0d1-42bd-bd4a-a02ab783575b","ipam_private_ipv4_id":"243b5fb9-ee89-4abb-9973-1d97b9788b15","ipam_private_ipv6_id":"89c338c0-b6e2-4c28-9d68-7bd934719c84","name":"tf-test-vpn-gateway-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"5f4ec472-bace-47d0-ae05-1e20604b9ada","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_config":{"ipam_ipv4_id":"dbc029c4-3b32-4ea3-9e8d-ad11cfec8d58","ipam_ipv6_id":"10ec9d83-0bcc-4a28-a98f-62c0a9b73a47"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-07-28T12:29:11.562385Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.781533ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways?name=tf-test-vpn-gateway-ds&order_by=created_at_asc
        method: GET
      response:
        body: '{"gateways":[{"asn":12876,"connection_ids":[],"created_at":"2026-07-28T12:29:11.562385Z","gateway_type":"VGW-S","id":"474bbec7-b0d1-42bd-bd4a-a02ab783575b","ipam_private_ipv4_id":"243b5fb9-ee89-4abb-9973-1d97b9788b15","ipam_private_ipv6_id":"89c338c0-b6e2-4c28-9d68-7bd934719c84","name":"tf-test-vpn-gateway-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"5f4ec472-bace-47d0-ae05-1e20604b9ada","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_config":{"ipam_ipv4_id":"dbc029c4-3b32-4ea3-9e8d-ad11cfec8d58","ipam_ipv6_id":"10ec9d83-0bcc-4a28-a98f-62c0a9b73a47"},"region":"fr-par","status":"active","tags":[],"updated_at":"2026-07-28T12:29:50.949525Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.91357ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/474bbec7-b0d1-42bd-bd4a-a02ab783575b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpn_gateway","resource_id":"474bbec7-b0d1-42bd-bd4a-a02ab783575b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 46.683318ms
[...]
