---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"51.15.223.113","id":"91a67164-9327-454b-b94a-ffc170e29516","ipam_id":"91a67164-9327-454b-b94a-ffc170e29516","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/91a67164-9327-454b-b94a-ffc170e29516
        status: 201 Created
        code: 201
        duration: 1.526701595s
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-customer-gateway-ds","tags":[],"ipv4_public":"51.15.223.113/32","asn":65000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways
        method: POST
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-07-28T12:29:09.182615Z","id":"fce91ed5-c0b0-4aad-a4ea-5a9c96404402","name":"tf-test-customer-gateway-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_ipv4":"51.15.223.113","region":"fr-par","tags":[],"updated_at":"2026-07-28T12:29:09.182615Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.361317ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/fce91ed5-c0b0-4aad-a4ea-5a9c96404402
        method: GET
      response:
        body: '{"asn":65000,"connection_ids":[],"created_at":"2026-07-28T12:29:09.182615Z","id":"fce91ed5-c0b0-4aad-a4ea-5a9c96404402","name":"tf-test-customer-gateway-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_ipv4":"51.15.223.113","region":"fr-par","tags":[],"updated_at":"2026-07-28T12:29:09.182615Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.053236ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/91a67164-9327-454b-b94a-ffc170e29516
        method: GET
      response:
        body: '{"ip":{"address":"51.15.223.113","id":"91a67164-9327-454b-b94a-ffc170e29516","ipam_id":"91a67164-9327-454b-b94a-ffc170e29516","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 455.304621ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways?name=tf-test-customer-gateway-ds&order_by=created_at_asc
        method: GET
      response:
        body: '{"gateways":[{"asn":65000,"connection_ids":[],"created_at":"2026-07-28T12:29:09.182615Z","id":"fce91ed5-c0b0-4aad-a4ea-5a9c96404402","name":"tf-test-customer-gateway-ds","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_ipv4":"51.15.223.113","region":"fr-par","tags":[],"updated_at":"2026-07-28T12:29:09.182615Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.820697ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/customer-gateways/fce91ed5-c0b0-4aad-a4ea-5a9c96404402
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"customer_gateway","resource_id":"fce91ed5-c0b0-4aad-a4ea-5a9c96404402","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.314984ms
[...]
