---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-vpc-vpn-gateway-ds","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-02-06T13:56:47.644769Z","custom_routes_propagation_enabled":true,"id":"2c221b9a-edf7-41f9-a2b5-0767b927ebc0","is_default":false,"name":"tf-test-vpc-vpn-gateway-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-02-06T13:56:47.644769Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 219.053ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/2c221b9a-edf7-41f9-a2b5-0767b927ebc0
        method: GET
      response:
        body: '{"created_at":"2026-02-06T13:56:47.644769Z","custom_routes_propagation_enabled":true,"id":"2c221b9a-edf7-41f9-a2b5-0767b927ebc0","is_default":false,"name":"tf-test-vpc-vpn-gateway-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-02-06T13:56:47.644769Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.510208ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-condescending-kalam","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["10.0.0.0/24"],"vpc_id":"2c221b9a-edf7-41f9-a2b5-0767b927ebc0","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-02-06T13:56:47.803719Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"1292ccd6-ec83-4760-9016-cf4152e33cc3","name":"tf-pn-condescending-kalam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-02-06T13:56:47.803719Z","id":"8e135679-9eec-4d9d-88be-f8202a4cd098","private_network_id":"1292ccd6-ec83-4760-9016-cf4152e33cc3","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"10.0.0.0/24","updated_at":"2026-02-06T13:56:47.803719Z","vpc_id":"2c221b9a-edf7-41f9-a2b5-0767b927ebc0"},{"created_at":"2026-02-06T13:56:47.803719Z","id":"a1be0557-7b62-43a8-a3ad-6aba51572529","private_network_id":"1292ccd6-ec83-4760-9016-cf4152e33cc3","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:2b94::/64","updated_at":"2026-02-06T13:56:47.803719Z","vpc_id":"2c221b9a-edf7-41f9-a2b5-0767b927ebc0"}],"tags":[],"updated_at":"2026-02-06T13:56:47.803719Z","vpc_id":"2c221b9a-edf7-41f9-a2b5-0767b927ebc0"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 744.507416ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/1292ccd6-ec83-4760-9016-cf4152e33cc3
        method: GET
      response:
        body: '{"created_at":"2026-02-06T13:56:47.803719Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"1292ccd6-ec83-4760-9016-cf4152e33cc3","name":"tf-pn-condescending-kalam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-02-06T13:56:47.803719Z","id":"8e135679-9eec-4d9d-88be-f8202a4cd098","private_network_id":"1292ccd6-ec83-4760-9016-cf4152e33cc3","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"10.0.0.0/24","updated_at":"2026-02-06T13:56:47.803719Z","vpc_id":"2c221b9a-edf7-41f9-a2b5-0767b927ebc0"},{"created_at":"2026-02-06T13:56:47.803719Z","id":"a1be0557-7b62-43a8-a3ad-6aba51572529","private_network_id":"1292ccd6-ec83-4760-9016-cf4152e33cc3","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:2b94::/64","updated_at":"2026-02-06T13:56:47.803719Z","vpc_id":"2c221b9a-edf7-41f9-a2b5-0767b927ebc0"}],"tags":[],"updated_at":"2026-02-06T13:56:47.803719Z","vpc_id":"2c221b9a-edf7-41f9-a2b5-0767b927ebc0"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.280375ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-vpn-gateway-ds","tags":[],"gateway_type":"VGW-S","private_network_id":"1292ccd6-ec83-4760-9016-cf4152e33cc3","zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways
        method: POST
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-02-06T13:56:49.068942Z","gateway_type":"VGW-S","id":"90db3dc9-2742-4ef8-ba6e-a1ea90407e6b","ipam_private_ipv4_id":"f71b517c-c99e-4335-ae52-6e5279fd068d","ipam_private_ipv6_id":"0bbc409b-b65f-4ed6-ad9d-a0b236e21bc4","name":"tf-test-vpn-gateway-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"1292ccd6-ec83-4760-9016-cf4152e33cc3","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"8fa5aa83-77f8-4011-82d2-a5394b0271f2","ipam_ipv6_id":"1467ba0d-d220-4c42-af7f-f2aef3c32e27"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-02-06T13:56:49.068942Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 607.542834ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/90db3dc9-2742-4ef8-ba6e-a1ea90407e6b
        method: GET
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-02-06T13:56:49.068942Z","gateway_type":"VGW-S","id":"90db3dc9-2742-4ef8-ba6e-a1ea90407e6b","ipam_private_ipv4_id":"f71b517c-c99e-4335-ae52-6e5279fd068d","ipam_private_ipv6_id":"0bbc409b-b65f-4ed6-ad9d-a0b236e21bc4","name":"tf-test-vpn-gateway-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"1292ccd6-ec83-4760-9016-cf4152e33cc3","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"8fa5aa83-77f8-4011-82d2-a5394b0271f2","ipam_ipv6_id":"1467ba0d-d220-4c42-af7f-f2aef3c32e27"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-02-06T13:56:49.068942Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.662417ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways?name=tf-test-vpn-gateway-ds&order_by=created_at_asc
        method: GET
      response:
        body: '{"gateways":[{"asn":12876,"connection_ids":[],"created_at":"2026-02-06T13:56:49.068942Z","gateway_type":"VGW-S","id":"90db3dc9-2742-4ef8-ba6e-a1ea90407e6b","ipam_private_ipv4_id":"f71b517c-c99e-4335-ae52-6e5279fd068d","ipam_private_ipv6_id":"0bbc409b-b65f-4ed6-ad9d-a0b236e21bc4","name":"tf-test-vpn-gateway-ds","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"1292ccd6-ec83-4760-9016-cf4152e33cc3","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"8fa5aa83-77f8-4011-82d2-a5394b0271f2","ipam_ipv6_id":"1467ba0d-d220-4c42-af7f-f2aef3c32e27"},"region":"fr-par","status":"active","tags":[],"updated_at":"2026-02-06T13:57:08.381969Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.690291ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/90db3dc9-2742-4ef8-ba6e-a1ea90407e6b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpn_gateway","resource_id":"90db3dc9-2742-4ef8-ba6e-a1ea90407e6b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.827375ms
[...]
