---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-routing-policy","tags":[],"is_ipv6":false,"prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.2.0/24"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies
        method: POST
      response:
        body: '{"created_at":"2026-07-28T12:29:09.644381Z","id":"075be663-1679-478e-a305-8e62851581f5","is_ipv6":false,"name":"tf-test-routing-policy","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.2.0/24"],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2026-07-28T12:29:09.644381Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.142786375s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies/075be663-1679-478e-a305-8e62851581f5
        method: GET
      response:
        body: '{"created_at":"2026-07-28T12:29:09.644381Z","id":"075be663-1679-478e-a305-8e62851581f5","is_ipv6":false,"name":"tf-test-routing-policy","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","prefix_filter_in":["10.0.1.0/24"],"prefix_filter_out":["10.0.2.0/24"],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2026-07-28T12:29:09.644381Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 192.515641ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/routing-policies/075be663-1679-478e-a305-8e62851581f5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"routing_policy","resource_id":"075be663-1679-478e-a305-8e62851581f5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.253957ms
