---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-vpc-vpn-gateway","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-12-05T09:29:56.526830Z","custom_routes_propagation_enabled":true,"id":"ba3039bd-bb43-438b-a465-d14dfedb6a26","is_default":false,"name":"tf-test-vpc-vpn-gateway","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-12-05T09:29:56.526830Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 513.67475ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/ba3039bd-bb43-438b-a465-d14dfedb6a26
        method: GET
      response:
        body: '{"created_at":"2025-12-05T09:29:56.526830Z","custom_routes_propagation_enabled":true,"id":"ba3039bd-bb43-438b-a465-d14dfedb6a26","is_default":false,"name":"tf-test-vpc-vpn-gateway","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-12-05T09:29:56.526830Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.206208ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-hungry-nash","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["10.0.0.0/24"],"vpc_id":"ba3039bd-bb43-438b-a465-d14dfedb6a26","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-12-05T09:29:56.676437Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"7896655c-1037-43ac-8713-1096c2b6461e","name":"tf-pn-hungry-nash","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-12-05T09:29:56.676437Z","id":"06d12828-cb7e-4904-9983-3c4a80a7ea1b","private_network_id":"7896655c-1037-43ac-8713-1096c2b6461e","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"10.0.0.0/24","updated_at":"2025-12-05T09:29:56.676437Z","vpc_id":"ba3039bd-bb43-438b-a465-d14dfedb6a26"},{"created_at":"2025-12-05T09:29:56.676437Z","id":"6ec6dc79-b7e0-4f3a-8e72-a902df3b378c","private_network_id":"7896655c-1037-43ac-8713-1096c2b6461e","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:efe3::/64","updated_at":"2025-12-05T09:29:56.676437Z","vpc_id":"ba3039bd-bb43-438b-a465-d14dfedb6a26"}],"tags":[],"updated_at":"2025-12-05T09:29:56.676437Z","vpc_id":"ba3039bd-bb43-438b-a465-d14dfedb6a26"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 583.41ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/7896655c-1037-43ac-8713-1096c2b6461e
        method: GET
      response:
        body: '{"created_at":"2025-12-05T09:29:56.676437Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"7896655c-1037-43ac-8713-1096c2b6461e","name":"tf-pn-hungry-nash","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-12-05T09:29:56.676437Z","id":"06d12828-cb7e-4904-9983-3c4a80a7ea1b","private_network_id":"7896655c-1037-43ac-8713-1096c2b6461e","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"10.0.0.0/24","updated_at":"2025-12-05T09:29:56.676437Z","vpc_id":"ba3039bd-bb43-438b-a465-d14dfedb6a26"},{"created_at":"2025-12-05T09:29:56.676437Z","id":"6ec6dc79-b7e0-4f3a-8e72-a902df3b378c","private_network_id":"7896655c-1037-43ac-8713-1096c2b6461e","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:efe3::/64","updated_at":"2025-12-05T09:29:56.676437Z","vpc_id":"ba3039bd-bb43-438b-a465-d14dfedb6a26"}],"tags":[],"updated_at":"2025-12-05T09:29:56.676437Z","vpc_id":"ba3039bd-bb43-438b-a465-d14dfedb6a26"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.33525ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-vpn-gateway","tags":[],"gateway_type":"VGW-S","private_network_id":"7896655c-1037-43ac-8713-1096c2b6461e","zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways
        method: POST
      response:
        body: '{"asn":12876,"created_at":"2025-12-05T09:29:58.114379Z","gateway_type":"VGW-S","id":"2723a992-24a5-4fd5-99b3-b991dcd5c74a","ipam_private_ipv4_id":"344f9fb7-84a4-41a4-b4e5-2aee2cbe3e83","ipam_private_ipv6_id":"8195b154-3576-4af1-a415-2b34e6277ff2","name":"tf-test-vpn-gateway","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"7896655c-1037-43ac-8713-1096c2b6461e","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"5b88f3e6-7e26-4353-99b4-1ac427116e94","ipam_ipv6_id":"67549cd5-f754-4fca-9497-851d2cec08b2"},"region":"fr-par","status":"provisioning","tags":["public_ipv4=51.15.129.108/32","public_ipv6=2001:bc8:711:121f::/64"],"updated_at":"2025-12-05T09:29:58.114379Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.083256375s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/2723a992-24a5-4fd5-99b3-b991dcd5c74a
        method: GET
      response:
        body: '{"asn":12876,"created_at":"2025-12-05T09:29:58.114379Z","gateway_type":"VGW-S","id":"2723a992-24a5-4fd5-99b3-b991dcd5c74a","ipam_private_ipv4_id":"344f9fb7-84a4-41a4-b4e5-2aee2cbe3e83","ipam_private_ipv6_id":"8195b154-3576-4af1-a415-2b34e6277ff2","name":"tf-test-vpn-gateway","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"7896655c-1037-43ac-8713-1096c2b6461e","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"5b88f3e6-7e26-4353-99b4-1ac427116e94","ipam_ipv6_id":"67549cd5-f754-4fca-9497-851d2cec08b2"},"region":"fr-par","status":"provisioning","tags":["public_ipv4=51.15.129.108/32","public_ipv6=2001:bc8:711:121f::/64"],"updated_at":"2025-12-05T09:29:58.114379Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.683459ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/2723a992-24a5-4fd5-99b3-b991dcd5c74a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpn_gateway","resource_id":"2723a992-24a5-4fd5-99b3-b991dcd5c74a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.712417ms
[...]
