---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-vpc-vpn-gateway","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-08-25T13:39:19.493489Z","custom_routes_propagation_enabled":true,"id":"5574a011-c13b-4e60-b662-d62fb13f9a95","is_default":false,"name":"tf-test-vpc-vpn-gateway","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-25T13:39:19.493489Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.719123ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.365853ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/5574a011-c13b-4e60-b662-d62fb13f9a95
        method: GET
      response:
        body: '{"created_at":"2026-08-25T13:39:19.493489Z","custom_routes_propagation_enabled":true,"id":"5574a011-c13b-4e60-b662-d62fb13f9a95","is_default":false,"name":"tf-test-vpc-vpn-gateway","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-25T13:39:19.493489Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.164949ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-exciting-antonelli","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["10.0.0.0/24"],"vpc_id":"5574a011-c13b-4e60-b662-d62fb13f9a95","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-08-25T13:39:19.763259Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_s3_integration":false,"id":"e7b3979e-2f14-44b4-bd7d-6b406bd00108","name":"tf-pn-exciting-antonelli","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-08-25T13:39:19.763259Z","id":"9927f304-4b5d-4017-86ba-02c906e17caf","private_network_id":"e7b3979e-2f14-44b4-bd7d-6b406bd00108","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"10.0.0.0/24","updated_at":"2026-08-25T13:39:19.763259Z","vpc_id":"5574a011-c13b-4e60-b662-d62fb13f9a95"},{"created_at":"2026-08-25T13:39:19.763259Z","id":"5cc2c54b-7da5-408c-8d98-a1046baa4d5f","private_network_id":"e7b3979e-2f14-44b4-bd7d-6b406bd00108","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:b3b4::/64","updated_at":"2026-08-25T13:39:19.763259Z","vpc_id":"5574a011-c13b-4e60-b662-d62fb13f9a95"}],"tags":[],"updated_at":"2026-08-25T13:39:19.763259Z","vpc_id":"5574a011-c13b-4e60-b662-d62fb13f9a95"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 835.510071ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e7b3979e-2f14-44b4-bd7d-6b406bd00108
        method: GET
      response:
        body: '{"created_at":"2026-08-25T13:39:19.763259Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_s3_integration":false,"id":"e7b3979e-2f14-44b4-bd7d-6b406bd00108","name":"tf-pn-exciting-antonelli","organization_i[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-vpn-gateway","tags":[],"gateway_type":"VGW-S","private_network_id":"e7b3979e-2f14-44b4-bd7d-6b406bd00108","zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways
        method: POST
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-08-25T13:39:21.798545Z","gateway_type":"VGW-S","id":"01ad7fa7-ffaa-4ff7-bbac-8ab431adafce","ipam_private_ipv4_id":"59c4caf1-e8de-42fd-9b7e-91d5b56d7207","ipam_private_ipv6_id":"4b38709b-8777-4d44-a997-0d6129d41524","name":"tf-test-vpn-gateway","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"e7b3979e-2f14-44b4-bd7d-6b406bd00108","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_config":{"ipam_ipv4_id":"2450f193-fb42-47ee-8f4d-21924f77d6e8","ipam_ipv6_id":"6de48be0-a066-4472-8e90-a99bc1f2f70e"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-08-25T13:39:21.798545Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.543300637s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/01ad7fa7-ffaa-4ff7-bbac-8ab431adafce
        method: GET
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-08-25T13:39:21.798545Z","gateway_type":"VGW-S","id":"01ad7fa7-ffaa-4ff7-bbac-8ab431adafce","ipam_private_ipv4_id":"59c4caf1-e8de-42fd-9b7e-91d5b56d7207","ipam_private_ipv6_id":"4b38709b-8777-4d44-a997-0d6129d41524","name":"tf-test-vpn-gateway","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"e7b3979e-2f14-44b4-bd7d-6b406bd00108","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_config":{"ipam_ipv4_id":"2450f193-fb42-47ee-8f4d-21924f77d6e8","ipam_ipv6_id":"6de48be0-a066-4472-8e90-a99bc1f2f70e"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-08-25T13:39:21.798545Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.465816ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/01ad7fa7-ffaa-4ff7-bbac-8ab431adafce
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpn_gateway","resource_id":"01ad7fa7-ffaa-4ff7-bbac-8ab431adafce","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.373406ms
[...]
