---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-vpc-vpn-gateway","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-11T10:25:20.229369Z","custom_routes_propagation_enabled":true,"id":"a67809b1-e941-4466-8d2d-926c203afbbb","is_default":false,"name":"tf-test-vpc-vpn-gateway","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-11T10:25:20.229369Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 199.454625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/a67809b1-e941-4466-8d2d-926c203afbbb
        method: GET
      response:
        body: '{"created_at":"2026-03-11T10:25:20.229369Z","custom_routes_propagation_enabled":true,"id":"a67809b1-e941-4466-8d2d-926c203afbbb","is_default":false,"name":"tf-test-vpc-vpn-gateway","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-11T10:25:20.229369Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.327834ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-eloquent-hypatia","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["10.0.0.0/24"],"vpc_id":"a67809b1-e941-4466-8d2d-926c203afbbb","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-03-11T10:25:20.342986Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"5b876861-605f-4bb9-8648-7db628e8d12f","name":"tf-pn-eloquent-hypatia","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-03-11T10:25:20.342986Z","id":"d80e0aeb-75f2-4ea5-8687-86e674c7eff5","private_network_id":"5b876861-605f-4bb9-8648-7db628e8d12f","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"10.0.0.0/24","updated_at":"2026-03-11T10:25:20.342986Z","vpc_id":"a67809b1-e941-4466-8d2d-926c203afbbb"},{"created_at":"2026-03-11T10:25:20.342986Z","id":"6ed2ac41-16df-41d0-b277-cb15c9a98fe5","private_network_id":"5b876861-605f-4bb9-8648-7db628e8d12f","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:fb92::/64","updated_at":"2026-03-11T10:25:20.342986Z","vpc_id":"a67809b1-e941-4466-8d2d-926c203afbbb"}],"tags":[],"updated_at":"2026-03-11T10:25:20.342986Z","vpc_id":"a67809b1-e941-4466-8d2d-926c203afbbb"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 734.905666ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5b876861-605f-4bb9-8648-7db628e8d12f
        method: GET
      response:
        body: '{"created_at":"2026-03-11T10:25:20.342986Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"5b876861-605f-4bb9-8648-7db628e8d12f","name":"tf-pn-eloquent-hypatia","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-03-11T10:25:20.342986Z","id":"d80e0aeb-75f2-4ea5-8687-86e674c7eff5","private_network_id":"5b876861-605f-4bb9-8648-7db628e8d12f","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"10.0.0.0/24","updated_at":"2026-03-11T10:25:20.342986Z","vpc_id":"a67809b1-e941-4466-8d2d-926c203afbbb"},{"created_at":"2026-03-11T10:25:20.342986Z","id":"6ed2ac41-16df-41d0-b277-cb15c9a98fe5","private_network_id":"5b876861-605f-4bb9-8648-7db628e8d12f","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:fb92::/64","updated_at":"2026-03-11T10:25:20.342986Z","vpc_id":"a67809b1-e941-4466-8d2d-926c203afbbb"}],"tags":[],"updated_at":"2026-03-11T10:25:20.342986Z","vpc_id":"a67809b1-e941-4466-8d2d-926c203afbbb"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.318583ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-vpn-gateway","tags":[],"gateway_type":"VGW-S","private_network_id":"5b876861-605f-4bb9-8648-7db628e8d12f","zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways
        method: POST
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-03-11T10:25:21.731079Z","gateway_type":"VGW-S","id":"aded5156-23c4-486e-b223-464a1417eb02","ipam_private_ipv4_id":"95ba6400-abf4-46cd-a3c5-59aca24aeff0","ipam_private_ipv6_id":"9a5602f8-d598-41fb-9b5f-9ceff14d592f","name":"tf-test-vpn-gateway","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"5b876861-605f-4bb9-8648-7db628e8d12f","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"5d7f2ac8-c615-4d60-9f8c-41f4697554ab","ipam_ipv6_id":"22429819-e963-4f35-8444-40bbb27d3427"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-03-11T10:25:21.731079Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 768.19ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/aded5156-23c4-486e-b223-464a1417eb02
        method: GET
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-03-11T10:25:21.731079Z","gateway_type":"VGW-S","id":"aded5156-23c4-486e-b223-464a1417eb02","ipam_private_ipv4_id":"95ba6400-abf4-46cd-a3c5-59aca24aeff0","ipam_private_ipv6_id":"9a5602f8-d598-41fb-9b5f-9ceff14d592f","name":"tf-test-vpn-gateway","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"5b876861-605f-4bb9-8648-7db628e8d12f","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_config":{"ipam_ipv4_id":"5d7f2ac8-c615-4d60-9f8c-41f4697554ab","ipam_ipv6_id":"22429819-e963-4f35-8444-40bbb27d3427"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-03-11T10:25:21.731079Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.58425ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/aded5156-23c4-486e-b223-464a1417eb02
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpn_gateway","resource_id":"aded5156-23c4-486e-b223-464a1417eb02","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.498542ms
[...]
