---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-vpc-vpn-gateway","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-07-28T12:29:08.323169Z","custom_routes_propagation_enabled":true,"id":"3a57769e-08a6-4522-910b-9211967dbd1f","is_default":false,"name":"tf-test-vpc-vpn-gateway","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-07-28T12:29:08.323169Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 819.168723ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/3a57769e-08a6-4522-910b-9211967dbd1f
        method: GET
      response:
        body: '{"created_at":"2026-07-28T12:29:08.323169Z","custom_routes_propagation_enabled":true,"id":"3a57769e-08a6-4522-910b-9211967dbd1f","is_default":false,"name":"tf-test-vpc-vpn-gateway","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-07-28T12:29:08.323169Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.53225ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-sleepy-goldberg","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["10.0.0.0/24"],"vpc_id":"3a57769e-08a6-4522-910b-9211967dbd1f","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-07-28T12:29:09.837202Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"a61e2e83-bc72-47bd-b161-e6c4169e7c77","name":"tf-pn-sleepy-goldberg","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-07-28T12:29:09.837202Z","id":"0a4455ac-2493-4d10-8081-b3147795a1db","private_network_id":"a61e2e83-bc72-47bd-b161-e6c4169e7c77","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"10.0.0.0/24","updated_at":"2026-07-28T12:29:09.837202Z","vpc_id":"3a57769e-08a6-4522-910b-9211967dbd1f"},{"created_at":"2026-07-28T12:29:09.837202Z","id":"647ea4ec-d317-47a0-bde7-0e4840a72d30","private_network_id":"a61e2e83-bc72-47bd-b161-e6c4169e7c77","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:4257::/64","updated_at":"2026-07-28T12:29:09.837202Z","vpc_id":"3a57769e-08a6-4522-910b-9211967dbd1f"}],"tags":[],"updated_at":"2026-07-28T12:29:09.837202Z","vpc_id":"3a57769e-08a6-4522-910b-9211967dbd1f"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.823343332s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a61e2e83-bc72-47bd-b161-e6c4169e7c77
        method: GET
      response:
        body: '{"created_at":"2026-07-28T12:29:09.837202Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"a61e2e83-bc72-47bd-b161-e6c4169e7c77","name":"tf-pn-sleepy-goldberg","organization_id":"105bdce1-64c0-48ab-899d-86[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-vpn-gateway","tags":[],"gateway_type":"VGW-S","private_network_id":"a61e2e83-bc72-47bd-b161-e6c4169e7c77","zone":"fr-par-1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways
        method: POST
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-07-28T12:29:11.727126Z","gateway_type":"VGW-S","id":"28e7219e-10a7-4ae4-adf8-7ed4b68b0647","ipam_private_ipv4_id":"9fa70bf8-2acb-4c1f-b0e0-e42c9f72dd4e","ipam_private_ipv6_id":"a9aa59c9-a76b-4de3-a96f-c1a50d4cc72b","name":"tf-test-vpn-gateway","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"a61e2e83-bc72-47bd-b161-e6c4169e7c77","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_config":{"ipam_ipv4_id":"aba76ae6-2ff8-45c6-ac74-24d48920de1c","ipam_ipv6_id":"b47d1121-3c23-4377-8096-a94abbac2019"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-07-28T12:29:11.727126Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.310671687s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/28e7219e-10a7-4ae4-adf8-7ed4b68b0647
        method: GET
      response:
        body: '{"asn":12876,"connection_ids":[],"created_at":"2026-07-28T12:29:11.727126Z","gateway_type":"VGW-S","id":"28e7219e-10a7-4ae4-adf8-7ed4b68b0647","ipam_private_ipv4_id":"9fa70bf8-2acb-4c1f-b0e0-e42c9f72dd4e","ipam_private_ipv6_id":"a9aa59c9-a76b-4de3-a96f-c1a50d4cc72b","name":"tf-test-vpn-gateway","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"a61e2e83-bc72-47bd-b161-e6c4169e7c77","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_config":{"ipam_ipv4_id":"aba76ae6-2ff8-45c6-ac74-24d48920de1c","ipam_ipv6_id":"b47d1121-3c23-4377-8096-a94abbac2019"},"region":"fr-par","status":"provisioning","tags":[],"updated_at":"2026-07-28T12:29:11.727126Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.831762ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/s2s-vpn/v1alpha1/regions/fr-par/vpn-gateways/28e7219e-10a7-4ae4-adf8-7ed4b68b0647
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpn_gateway","resource_id":"28e7219e-10a7-4ae4-adf8-7ed4b68b0647","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 61.179653ms
[...]
