---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-admiring-mcclintock","environment_variables":{},"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","secret_environment_variables":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"90a07880-d4db-4dd4-ad82-4c5dc20d4932","name":"tf-func-admiring-mcclintock","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.927840396s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/90a07880-d4db-4dd4-ad82-4c5dc20d4932
        method: GET
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"90a07880-d4db-4dd4-ad82-4c5dc20d4932","name":"tf-func-admiring-mcclintock","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.5699ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-vibrant-sanderson","namespace_id":"90a07880-d4db-4dd4-ad82-4c5dc20d4932","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"tffuncadmiringmcclinenwbhwjm-tf-func-vibrant-sanderson.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"62a796ce-5e48-423c-b442-4b022658fa48","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-func-vibrant-sanderson","namespace_id":"90a07880-d4db-4dd4-ad82-4c5dc20d4932","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 926.081105ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/62a796ce-5e48-423c-b442-4b022658fa48
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"tffuncadmiringmcclinenwbhwjm-tf-func-vibrant-sanderson.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"62a796ce-5e48-423c-b442-4b022658fa48","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-func-vibrant-sanderson","namespace_id":"90a07880-d4db-4dd4-ad82-4c5dc20d4932","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.4485ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/90a07880-d4db-4dd4-ad82-4c5dc20d4932
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 48.703586ms
[...]
