---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-dazzling-dewdney","environment_variables":{},"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","secret_environment_variables":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"d00f41d0-9514-4878-81cd-1489d0eedcdd","name":"tf-func-dazzling-dewdney","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.921268834s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/d00f41d0-9514-4878-81cd-1489d0eedcdd
        method: GET
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"d00f41d0-9514-4878-81cd-1489d0eedcdd","name":"tf-func-dazzling-dewdney","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.069942ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"foobar","namespace_id":"d00f41d0-9514-4878-81cd-1489d0eedcdd","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"timeout":"10.000000000s","handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"tffuncdazzlingdewdnemzh2djqf-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"cf74f3df-9510-46a4-b770-ba0e01b2df1d","max_scale":20,"memory_limit":128,"min_scale":0,"name":"foobar","namespace_id":"d00f41d0-9514-4878-81cd-1489d0eedcdd","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"10s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 564.679195ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/cf74f3df-9510-46a4-b770-ba0e01b2df1d
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"tffuncdazzlingdewdnemzh2djqf-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"cf74f3df-9510-46a4-b770-ba0e01b2df1d","max_scale":20,"memory_limit":128,"min_scale":0,"name":"foobar","namespace_id":"d00f41d0-9514-4878-81cd-1489d0eedcdd","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"10s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.281217ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/d00f41d0-9514-4878-81cd-1489d0eedcdd
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 47.934074ms
[...]
