---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-suspicious-ptolemy","environment_variables":{},"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","secret_environment_variables":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"7b93fe4f-9fc2-4ca1-b737-589881ab4e54","name":"tf-func-suspicious-ptolemy","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.955639541s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/7b93fe4f-9fc2-4ca1-b737-589881ab4e54
        method: GET
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"7b93fe4f-9fc2-4ca1-b737-589881ab4e54","name":"tf-func-suspicious-ptolemy","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.76063ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"foobar","namespace_id":"7b93fe4f-9fc2-4ca1-b737-589881ab4e54","environment_variables":{"test":"test"},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"handler":"handler.handle","privacy":"private","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}],"http_option":"enabled"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"tffuncsuspiciousptolo2phzffa-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"b1d517ae-5583-412e-be83-40abd1e925bd","max_scale":20,"memory_limit":128,"min_scale":0,"name":"foobar","namespace_id":"7b93fe4f-9fc2-4ca1-b737-589881ab4e54","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$3VYQ3AGI/enFrLgwzbRXgw$BNQg9aXMCa6SMARxRGsmQSub64MGEQg49gGYKUIegqI","key":"test_secret"}],"status":"created","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 526.214828ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/b1d517ae-5583-412e-be83-40abd1e925bd
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"tffuncsuspiciousptolo2phzffa-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"b1d517ae-5583-412e-be83-40abd1e925bd","max_scale":20,"memory_limit":128,"min_scale":0,"name":"foobar","namespace_id":"7b93fe4f-9fc2-4ca1-b737-589881ab4e54","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$3VYQ3AGI/enFrLgwzbRXgw$BNQg9aXMCa6SMARxRGsmQSub64MGEQg49gGYKUIegqI","key":"test_secret"}],"status":"created","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.953134ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"runtime":"unknown_runtime","privacy":"unknown_privacy","secret_environment_variables":[{"key":"foo_secret","value":"bar_secret"}],"http_option":"unknown_http_option"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/b1d517ae-5583-412e-be83-40abd1e925bd
        method: PATCH
      response:
        body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"tffuncsuspiciousptolo2phzffa-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{"foo":"bar"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"b1d517ae-5583-412e-be83-40abd1e925bd","max_scale":20,"memory_limit":128,"min_scale":0,"name":"foobar","namespace_id":"7b93fe4f-9fc2-4ca1-b737-589881ab4e54","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$3VYQ3AGI/enFrLgwzbRXgw$BNQg9aXMCa6SMARxRGsmQSub64MGEQg49gGYKUIegqI","key":"test_secret"},{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$9FHUN/gNZ1UsSqVC8qlLLA$AMMxpROPSwTSAUo1JDpQ1EAn5qVG3J51CDnQU7tngyA","key":"foo_secret"}],"status":"pending","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 163.392755ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/7b93fe4f-9fc2-4ca1-b737-589881ab4e54
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.103637ms
[...]
