---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-func-goofy-hugle","environment_variables":{},"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","secret_environment_variables":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"40811509-e0a4-4838-96d5-d66146edc528","name":"tf-func-goofy-hugle","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.8841723s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/40811509-e0a4-4838-96d5-d66146edc528
        method: GET
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"40811509-e0a4-4838-96d5-d66146edc528","name":"tf-func-goofy-hugle","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.464593ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"foobar","namespace_id":"40811509-e0a4-4838-96d5-d66146edc528","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"go118","memory_limit":128,"handler":"Handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"tffuncgoofyhugleytuqjcrw-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"Handle","http_option":"enabled","id":"f63c9bf9-4d24-4f0a-9d22-fddb8f4cf713","max_scale":20,"memory_limit":128,"min_scale":0,"name":"foobar","namespace_id":"40811509-e0a4-4838-96d5-d66146edc528","privacy":"private","region":"fr-par","runtime":"go118","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 911.623712ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/f63c9bf9-4d24-4f0a-9d22-fddb8f4cf713/deploy
        method: POST
      response:
        body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"tffuncgoofyhugleytuqjcrw-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"Handle","http_option":"enabled","id":"f63c9bf9-4d24-4f0a-9d22-fddb8f4cf713","max_scale":20,"memory_limit":128,"min_scale":0,"name":"foobar","namespace_id":"40811509-e0a4-4838-96d5-d66146edc528","privacy":"private","region":"fr-par","runtime":"go118","runtime_message":"","secret_environment_variables":[],"status":"pending","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.012ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/f63c9bf9-4d24-4f0a-9d22-fddb8f4cf713
        method: GET
      response:
        body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"tffuncgoofyhugleytuqjcrw-foobar.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"Handle","http_option":"enabled","id":"f63c9bf9-4d24-4f0a-9d22-fddb8f4cf713","max_scale":20,"memory_limit":128,"min_scale":0,"name":"foobar","namespace_id":"40811509-e0a4-4838-96d5-d66146edc528","privacy":"private","region":"fr-par","runtime":"go118","runtime_message":"","secret_environment_variables":[],"status":"pending","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.126429ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/40811509-e0a4-4838-96d5-d66146edc528
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 48.865889ms
[...]
