---
version: 1
interactions:
- request:
    body: '{"name":"TestAccScalewayIamSSHKey_ChangeResourceName","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAICJEoOOgQBLJPs4g/XcPTKT82NywNPpxeuA20FlOPlpO opensource@scaleway.com","project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"fc068de7-f1a1-488f-b182-4287d52936d3","name":"TestAccScalewayIamSSHKey_ChangeResourceName","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAICJEoOOgQBLJPs4g/XcPTKT82NywNPpxeuA20FlOPlpO opensource@scaleway.com","fingerprint":"256
      MD5:6b:cd:72:8a:ae:45:24:4b:2b:72:f6:d0:6a:8d:16:06 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2022-06-29T08:29:50.682136Z","updated_at":"2022-06-29T08:29:50.682136Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","disabled":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/fc068de7-f1a1-488f-b182-4287d52936d3
    method: GET
  response:
    body: '{"id":"fc068de7-f1a1-488f-b182-4287d52936d3","name":"TestAccScalewayIamSSHKey_ChangeResourceName","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAICJEoOOgQBLJPs4g/XcPTKT82NywNPpxeuA20FlOPlpO opensource@scaleway.com","fingerprint":"256
      MD5:6b:cd:72:8a:ae:45:24:4b:2b:72:f6:d0:6a:8d:16:06 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2022-06-29T08:29:50.682136Z","updated_at":"2022-06-29T08:29:50.682136Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","disabled":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/4889fd5c-1fb7-448c-96a2-3fd71cecb923
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ssh_key_id","resource_id":"4889fd5c-1fb7-448c-96a2-3fd71cecb923","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
