---
version: 1
interactions:
- request:
    body: '{"name":"tf-test-iam-ssh-key-basic","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEEYrzDOZmhItdKaDAEqJQ4ORS2GyBMtBozYsK5kiXXX
      opensource@scaleway.com","project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"526c1b49-b5e2-4eed-8554-c885877970be","name":"tf-test-iam-ssh-key-basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIEEYrzDOZmhItdKaDAEqJQ4ORS2GyBMtBozYsK5kiXXX opensource@scaleway.com","fingerprint":"256
      MD5:94:db:c3:76:58:e4:37:0a:ce:30:ae:ad:7d:86:b1:f0 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2022-06-29T08:29:50.683817Z","updated_at":"2022-06-29T08:29:50.683817Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","disabled":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/526c1b49-b5e2-4eed-8554-c885877970be
    method: GET
  response:
    body: '{"id":"526c1b49-b5e2-4eed-8554-c885877970be","name":"tf-test-iam-ssh-key-basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIEEYrzDOZmhItdKaDAEqJQ4ORS2GyBMtBozYsK5kiXXX opensource@scaleway.com","fingerprint":"256
      MD5:94:db:c3:76:58:e4:37:0a:ce:30:ae:ad:7d:86:b1:f0 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2022-06-29T08:29:50.683817Z","updated_at":"2022-06-29T08:29:50.683817Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","disabled":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/526c1b49-b5e2-4eed-8554-c885877970be
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ssh_key_id","resource_id":"526c1b49-b5e2-4eed-8554-c885877970be","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
