---
version: 1
interactions:
- request:
    body: '{"name":"tf-test-iam-ssh-key-newline","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDjfkdWCwkYlVQMDUfiZlVrmjaGOfBYnmkucssae8Iup
      opensource@scaleway.com","project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"54f99644-2f2b-413e-8bb8-e975afdff5f3","name":"tf-test-iam-ssh-key-newline","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIDjfkdWCwkYlVQMDUfiZlVrmjaGOfBYnmkucssae8Iup opensource@scaleway.com","fingerprint":"256
      MD5:7e:49:97:21:a6:ef:e1:31:45:17:70:95:7a:44:9b:cf opensource@scaleway.com
      (ssh-ed25519)","created_at":"2022-06-29T08:29:50.689201Z","updated_at":"2022-06-29T08:29:50.689201Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","disabled":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/54f99644-2f2b-413e-8bb8-e975afdff5f3
    method: GET
  response:
    body: '{"id":"54f99644-2f2b-413e-8bb8-e975afdff5f3","name":"tf-test-iam-ssh-key-newline","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIDjfkdWCwkYlVQMDUfiZlVrmjaGOfBYnmkucssae8Iup opensource@scaleway.com","fingerprint":"256
      MD5:7e:49:97:21:a6:ef:e1:31:45:17:70:95:7a:44:9b:cf opensource@scaleway.com
      (ssh-ed25519)","created_at":"2022-06-29T08:29:50.689201Z","updated_at":"2022-06-29T08:29:50.689201Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","disabled":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/54f99644-2f2b-413e-8bb8-e975afdff5f3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ssh_key_id","resource_id":"54f99644-2f2b-413e-8bb8-e975afdff5f3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
