---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_noupdate","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"97b9609a-558d-4c59-a721-1edc2d2ed27c","name":"tf_tests_app_noupdate","description":"","created_at":"2022-06-29T09:32:50.039745Z","updated_at":"2022-06-29T09:32:50.039745Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/97b9609a-558d-4c59-a721-1edc2d2ed27c
    method: GET
  response:
    body: '{"id":"97b9609a-558d-4c59-a721-1edc2d2ed27c","name":"tf_tests_app_noupdate","description":"","created_at":"2022-06-29T09:32:50.039745Z","updated_at":"2022-06-29T09:32:50.039745Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"97b9609a-558d-4c59-a721-1edc2d2ed27c","expires_at":null,"default_project_id":null,"description":"no
      update"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWER4GGRW7Y8X5X4QAA","secret_key":"f2b8028c-a854-4f9e-8663-a0cf3392b93f","description":"no
      update","created_at":"2022-06-29T09:32:50.215729Z","updated_at":"2022-06-29T09:32:50.215729Z","expired_at":null,"default_project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"creation_ip":"","application_id":"97b9609a-558d-4c59-a721-1edc2d2ed27c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWER4GGRW7Y8X5X4QAA
    method: GET
  response:
    body: '{"access_key":"SCWER4GGRW7Y8X5X4QAA","secret_key":null,"description":"no
      update","created_at":"2022-06-29T09:32:50.215729Z","updated_at":"2022-06-29T09:32:50.215729Z","expired_at":null,"default_project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"creation_ip":"","application_id":"97b9609a-558d-4c59-a721-1edc2d2ed27c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWER4GGRW7Y8X5X4QAA
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWER4GGRW7Y8X5X4QAA","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
