---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_basic","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"2676ae22-a11b-4635-a725-71cfad4c9a50","name":"tf_tests_app_basic","description":"","created_at":"2022-06-29T09:32:50.043119Z","updated_at":"2022-06-29T09:32:50.043119Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/2676ae22-a11b-4635-a725-71cfad4c9a50
    method: GET
  response:
    body: '{"id":"2676ae22-a11b-4635-a725-71cfad4c9a50","name":"tf_tests_app_basic","description":"","created_at":"2022-06-29T09:32:50.043119Z","updated_at":"2022-06-29T09:32:50.043119Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"2676ae22-a11b-4635-a725-71cfad4c9a50","expires_at":null,"default_project_id":null,"description":"a
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCW5SWE6G1H3Z85TN582","secret_key":"4e4a505c-2d33-45b7-869f-916ce0b3c51f","description":"a
      description","created_at":"2022-06-29T09:32:50.233916Z","updated_at":"2022-06-29T09:32:50.233916Z","expired_at":null,"default_project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"creation_ip":"","application_id":"2676ae22-a11b-4635-a725-71cfad4c9a50"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW5SWE6G1H3Z85TN582
    method: GET
  response:
    body: '{"access_key":"SCW5SWE6G1H3Z85TN582","secret_key":null,"description":"a
      description","created_at":"2022-06-29T09:32:50.233916Z","updated_at":"2022-06-29T09:32:50.233916Z","expired_at":null,"default_project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"creation_ip":"","application_id":"2676ae22-a11b-4635-a725-71cfad4c9a50"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW5SWE6G1H3Z85TN582
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCW5SWE6G1H3Z85TN582","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
