---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-zone","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-17T13:57:35.595409Z","dhcp_enabled":true,"id":"03dac785-85e6-4d8a-abf8-9fe9eea8fc9b","name":"test-pool-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-17T13:57:35.595409Z","id":"b72cefc3-0966-48e9-a67e-817d2dfbc593","subnet":"172.17.108.0/22","updated_at":"2024-04-17T13:57:35.595409Z"},{"created_at":"2024-04-17T13:57:35.595409Z","id":"e9d22a14-caa2-4063-ba4c-79f14d34e1c5","subnet":"fd5f:519c:6d46:26c4::/64","updated_at":"2024-04-17T13:57:35.595409Z"}],"tags":[],"updated_at":"2024-04-17T13:57:35.595409Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.000530018s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/03dac785-85e6-4d8a-abf8-9fe9eea8fc9b
        method: GET
      response:
        body: '{"created_at":"2024-04-17T13:57:35.595409Z","dhcp_enabled":true,"id":"03dac785-85e6-4d8a-abf8-9fe9eea8fc9b","name":"test-pool-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-17T13:57:35.595409Z","id":"b72cefc3-0966-48e9-a67e-817d2dfbc593","subnet":"172.17.108.0/22","updated_at":"2024-04-17T13:57:35.595409Z"},{"created_at":"2024-04-17T13:57:35.595409Z","id":"e9d22a14-caa2-4063-ba4c-79f14d34e1c5","subnet":"fd5f:519c:6d46:26c4::/64","updated_at":"2024-04-17T13:57:35.595409Z"}],"tags":[],"updated_at":"2024-04-17T13:57:35.595409Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.429923ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-zone","description":"","tags":["terraform-test","scaleway_k8s_cluster","zone"],"version":"1.29.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"03dac785-85e6-4d8a-abf8-9fe9eea8fc9b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://2908ea47-047b-4521-8a4e-eda6e905b992.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-04-17T13:57:39.783517175Z","created_at":"2024-04-17T13:57:39.783517175Z","description":"","dns_wildcard":"*.2908ea47-047b-4521-8a4e-eda6e905b992.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"2908ea47-047b-4521-8a4e-eda6e905b992","name":"test-pool-zone","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"03dac785-85e6-4d8a-abf8-9fe9eea8fc9b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","zone"],"type":"kapsule","updated_at":"2024-04-17T13:57:39.794206309Z","upgrade_available":false,"version":"1.29.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.658737652s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2908ea47-047b-4521-8a4e-eda6e905b992
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2908ea47-047b-4521-8a4e-eda6e905b992/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.010014ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2908ea47-047b-4521-8a4e-eda6e905b992/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC16b25lIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTUUxRVVYaE9ha1Y2VGxSak1FNVdiMWhFVkUwd1RVUlJlRTVxUlhwT1ZHTXdUbFp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-zone","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","zone"],"kubelet_args":{},"zone":"fr-par-2","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2908ea47-047b-4521-8a4e-eda6e905b992/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"2908ea47-047b-4521-8a4e-eda6e905b992","container_runtime":"containerd","created_at":"2024-04-17T13:57:50.353788Z","id":"a5e27371-8764-4b19-8923-bd5d9d54724c","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-zone","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","zone"],"updated_at":"2024-04-17T13:57:50.367576589Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 372.179967ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/a5e27371-8764-4b19-8923-bd5d9d54724c
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"2908ea47-047b-4521-8a4e-eda6e905b992","container_runtime":"containerd","created_at":"2024-04-17T13:57:50.353788Z","id":"a5e27371-8764-4b19-8923-bd5d9d54724c","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-zone","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","zone"],"updated_at":"2024-04-17T13:57:50.367577Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.590241ms
[...]
    - id: 93
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2908ea47-047b-4521-8a4e-eda6e905b992/nodes?order_by=created_at_asc&page=1&pool_id=a5e27371-8764-4b19-8923-bd5d9d54724c&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"2908ea47-047b-4521-8a4e-eda6e905b992","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-17T14:01:46.212605Z","error_message":null,"id":"a152b256-7f9c-4f9e-bad1-ab69643b2d76","name":"scw-test-pool-zone-test-pool-zone-a152b2567f9c","pool_id":"a5e27371-8764-4b19-8923-bd5d9d54724c","provider_id":"scaleway://instance/fr-par-2/b0ab2e2c-d346-44ed-b43f-40990dd111ec","public_ip_v4":"51.159.173.252","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-17T14:04:21.666925Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.988747ms
[...]
    - id: 106
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/a5e27371-8764-4b19-8923-bd5d9d54724c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"a5e27371-8764-4b19-8923-bd5d9d54724c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.158466ms
    - id: 107
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2908ea47-047b-4521-8a4e-eda6e905b992?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
