---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-minimal","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-17T14:02:53.238722Z","dhcp_enabled":true,"id":"cefe9a6c-c359-4e16-8175-a665a9348dbd","name":"test-pool-minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-17T14:02:53.238722Z","id":"906981b6-aa6c-4109-a2ab-313673210101","subnet":"172.17.64.0/22","updated_at":"2024-04-17T14:02:53.238722Z"},{"created_at":"2024-04-17T14:02:53.238722Z","id":"65a6a59c-c342-4755-b20f-d68c6c8678d9","subnet":"fd5f:519c:6d46:d585::/64","updated_at":"2024-04-17T14:02:53.238722Z"}],"tags":[],"updated_at":"2024-04-17T14:02:53.238722Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 815.304667ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/cefe9a6c-c359-4e16-8175-a665a9348dbd
        method: GET
      response:
        body: '{"created_at":"2024-04-17T14:02:53.238722Z","dhcp_enabled":true,"id":"cefe9a6c-c359-4e16-8175-a665a9348dbd","name":"test-pool-minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-17T14:02:53.238722Z","id":"906981b6-aa6c-4109-a2ab-313673210101","subnet":"172.17.64.0/22","updated_at":"2024-04-17T14:02:53.238722Z"},{"created_at":"2024-04-17T14:02:53.238722Z","id":"65a6a59c-c342-4755-b20f-d68c6c8678d9","subnet":"fd5f:519c:6d46:d585::/64","updated_at":"2024-04-17T14:02:53.238722Z"}],"tags":[],"updated_at":"2024-04-17T14:02:53.238722Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.11983ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-minimal","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.29.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"cefe9a6c-c359-4e16-8175-a665a9348dbd"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://6e680186-2f47-4979-84fd-70839f048834.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2024-04-17T14:02:57.105973743Z","created_at":"2024-04-17T14:02:57.105973743Z","description":"","dns_wildcard":"*.6e680186-2f47-4979-84fd-70839f048834.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"6e680186-2f47-4979-84fd-70839f048834","name":"test-pool-minimal","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"cefe9a6c-c359-4e16-8175-a665a9348dbd","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2024-04-17T14:02:57.121147933Z","upgrade_available":false,"version":"1.29.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.233240304s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6e680186-2f47-4979-84fd-70839f048834
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6e680186-2f47-4979-84fd-70839f048834/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.707697ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6e680186-2f47-4979-84fd-70839f048834/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1taW5pbWFsIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTUUxRVVYaE9ha1V3VFVSSk1VOUdiMWhFVkUwd1RVUlJlRTVxUlRCTlJFa3hUMFp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkV[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-minimal","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6e680186-2f47-4979-84fd-70839f048834/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"6e680186-2f47-4979-84fd-70839f048834","container_runtime":"containerd","created_at":"2024-04-17T14:03:02.683939Z","id":"429a0eca-7f1e-4a82-b605-bc8d7871c323","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2024-04-17T14:03:02.707249556Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 497.473892ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/429a0eca-7f1e-4a82-b605-bc8d7871c323
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"6e680186-2f47-4979-84fd-70839f048834","container_runtime":"containerd","created_at":"2024-04-17T14:03:02.683939Z","id":"429a0eca-7f1e-4a82-b605-bc8d7871c323","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2024-04-17T14:03:02.707250Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.03467ms
[...]
    - id: 102
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6e680186-2f47-4979-84fd-70839f048834/nodes?order_by=created_at_asc&page=1&pool_id=429a0eca-7f1e-4a82-b605-bc8d7871c323&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"6e680186-2f47-4979-84fd-70839f048834","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-17T14:08:13.621682Z","error_message":null,"id":"c83c08b9-aac8-48a2-a2cd-43b771b7f25d","name":"scw-test-pool-minimal-test-pool-minimal-c83c08","pool_id":"429a0eca-7f1e-4a82-b605-bc8d7871c323","provider_id":"scaleway://instance/fr-par-1/09e95a76-aa05-4c22-b937-cc8119534693","public_ip_v4":"51.15.234.255","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-17T14:10:26.845193Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.890123ms
[...]
    - id: 105
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6e680186-2f47-4979-84fd-70839f048834/nodes?order_by=created_at_asc&pool_id=429a0eca-7f1e-4a82-b605-bc8d7871c323&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"6e680186-2f47-4979-84fd-70839f048834","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-17T14:08:13.621682Z","error_message":null,"id":"c83c08b9-aac8-48a2-a2cd-43b771b7f25d","name":"scw-test-pool-minimal-test-pool-minimal-c83c08","pool_id":"429a0eca-7f1e-4a82-b605-bc8d7871c323","provider_id":"scaleway://instance/fr-par-1/09e95a76-aa05-4c22-b937-cc8119534693","public_ip_v4":"51.15.234.255","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-17T14:10:26.845193Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.903689ms
    - id: 106
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/09e95a76-aa05-4c22-b937-cc8119534693
        method: GET
      response:
        body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64 mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"PRO2-XXS","creation_date":"2024-04-17T14:08:15.852808+00:00","dynamic_ip_required":false,"enable_ipv6":false,"extra_networks":[],"hostname":"scw-test-pool-minimal-test-pool-minimal-c83c08","id":"09e95a76-aa05-4c22-b937-cc8119534693","image":{"arch":"x86_64","creation_date":"2024-04-10T16:02:53.170520+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"5594dd33-d845-45f5-8f61-f5d67c8f24d6","modification_date":"2024-04-10T16:14:43.219824+00:00","name":"k8s_base_node_2024-04-10.1","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"68ef7f45-d5ed-4722-bcf3-e86b94cfd7bd","name":"k8s_base_node_2024-04-10.1","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":null,"location":{"cluster_id":"95","hypervisor_id":"901","node_id":"13","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:4c:c4:59","maintenances":[],"modification_date":"2024-04-17T14:08:24.891270+00:00","name":"scw-test-pool-minimal-test-pool-minimal-c83c08","organization":"105bdce1-64c0-48ab-899d-868455867ecf","placement_group":null,"private_ip":null,"private_nics":[{"creation_date":"2024-04-17T14:08:16.811088+00:00","id":"8995a319-5dfe-4cba-9dc9-aa7860ccb5dc","mac_address":"02:00:00:19:e8:cf","modification_date":"2024-04-17T14:08:17.329174+00:00","private_network_id":"cefe9a6c-c359-4e16-8175-a665a9348dbd","server_id":"09e95a76-aa05-4c22-b937-cc8119534693","state":"available","tags":[],"zone":"fr-par-1"}],"project":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"public_ip":{"address":"51.15.234.255","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"12107d77-4463-4abc-8539-409961f20297","ipam_id":"295b9ceb-95b4-496c-a432-73d1a3a707aa","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=6e680186-2f47-4979-84fd-70839f048834","node-name=scw-test-pool-minimal-test-pool-minimal-c83c08"]},"public_ips":[{"address":"51.15.234.255","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"12107d77-4463-4abc-8539-409961f20297","ipam_id":"295b9ceb-95b4-496c-a432-73d1a3a707aa","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=6e680186-2f47-4979-84fd-70839f048834","node-name=scw-test-pool-minimal-test-pool-minimal-c83c08"]},{"address":"2001:bc8:710:4201:dc00:ff:fe4c:c459","dynamic":false,"family":"inet6","gateway":"fe80::dc00:ff:fe4c:c45a","id":"2a2afa1d-f9d6-4e74-b39b-6c001dfdb154","ipam_id":"bd747e93-7315-4ba3-a7ab-2e645e8a61ac","netmask":"64","provisioning_mode":"slaac","state":"attached","tags":["kapsule=6e680186-2f47-4979-84fd-70839f048834","node-name=scw-test-pool-minimal-test-pool-minimal-c83c08"]}],"routed_ip_enabled":true,"security_group":{"id":"236c2986-fd3a-48d8-9f75-700a660dfeaf","name":"kubernetes 6e680186-2f47-4979-84fd-70839f048834"},"state":"running","state_detail":"booting kernel","tags":["kapsule=6e680186-2f47-4979-84fd-70839f048834","pool=429a0eca-7f1e-4a82-b605-bc8d7871c323","pool-name=test-pool-minimal","runtime=containerd","managed=true","terraform-test","scaleway_k8s_cluster","default","node=c83c08b9-aac8-48a2-a2cd-43b771b7f25d"],"volumes":{"0":{"boot":false,"creation_date":"2024-04-17T14:08:15.852808+00:00","export_uri":null,"id":"358ac0b6-fbf1-4a0d-95f6-cd0013d4b5e5","modification_date":"2024-04-17T14:08:15.852808+00:00","name":"k8s_base_node_2024-04-10.1","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":{"id":"09e95a76-aa05-4c22-b937-cc8119534693","name":"scw-test-pool-minimal-test-pool-minimal-c83c08"},"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.655364ms
[...]
    - id: 152
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6e680186-2f47-4979-84fd-70839f048834/nodes?order_by=created_at_asc&pool_id=429a0eca-7f1e-4a82-b605-bc8d7871c323&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"6e680186-2f47-4979-84fd-70839f048834","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-17T14:08:13.621682Z","error_message":null,"id":"c83c08b9-aac8-48a2-a2cd-43b771b7f25d","name":"scw-test-pool-minimal-test-pool-minimal-c83c08","pool_id":"429a0eca-7f1e-4a82-b605-bc8d7871c323","provider_id":"scaleway://instance/fr-par-1/09e95a76-aa05-4c22-b937-cc8119534693","public_ip_v4":"51.15.234.255","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-17T14:12:44.610445Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.772692ms
[...]
    - id: 174
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/8a24f1a3-b315-4337-8903-d446e3f4adb7
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"8a24f1a3-b315-4337-8903-d446e3f4adb7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.666645ms
[...]
    - id: 190
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6e680186-2f47-4979-84fd-70839f048834?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
