---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
        method: POST
      response:
        body: '{"placement_group":{"id":"124ac25e-402e-49ca-aac5-105bdf63d9cd","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/124ac25e-402e-49ca-aac5-105bdf63d9cd
        status: 201 Created
        code: 201
        duration: 197.296982ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/124ac25e-402e-49ca-aac5-105bdf63d9cd
        method: GET
      response:
        body: '{"placement_group":{"id":"124ac25e-402e-49ca-aac5-105bdf63d9cd","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.541592ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-17T13:57:35.481836Z","dhcp_enabled":true,"id":"4bea60a1-8095-47de-b2d3-af7523bb2430","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-17T13:57:35.481836Z","id":"06a8d38a-b4a5-4e62-ac57-e6f58be74999","subnet":"172.16.0.0/22","updated_at":"2024-04-17T13:57:35.481836Z"},{"created_at":"2024-04-17T13:57:35.481836Z","id":"86b9274e-cb2d-4800-bcae-10687c80e789","subnet":"fd5f:519c:6d46:e8c3::/64","updated_at":"2024-04-17T13:57:35.481836Z"}],"tags":[],"updated_at":"2024-04-17T13:57:35.481836Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 821.584563ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4bea60a1-8095-47de-b2d3-af7523bb2430
        method: GET
      response:
        body: '{"created_at":"2024-04-17T13:57:35.481836Z","dhcp_enabled":true,"id":"4bea60a1-8095-47de-b2d3-af7523bb2430","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-17T13:57:35.481836Z","id":"06a8d38a-b4a5-4e62-ac57-e6f58be74999","subnet":"172.16.0.0/22","updated_at":"2024-04-17T13:57:35.481836Z"},{"created_at":"2024-04-17T13:57:35.481836Z","id":"86b9274e-cb2d-4800-bcae-10687c80e789","subnet":"fd5f:519c:6d46:e8c3::/64","updated_at":"2024-04-17T13:57:35.481836Z"}],"tags":[],"updated_at":"2024-04-17T13:57:35.481836Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.858241ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-placement-group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.29.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"4bea60a1-8095-47de-b2d3-af7523bb2430"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://4c711e2f-d00f-4795-8ee4-0a5993195b31.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2024-04-17T13:57:39.645386717Z","created_at":"2024-04-17T13:57:39.645386717Z","description":"","dns_wildcard":"*.4c711e2f-d00f-4795-8ee4-0a5993195b31.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"4c711e2f-d00f-4795-8ee4-0a5993195b31","name":"test-pool-placement-group","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"4bea60a1-8095-47de-b2d3-af7523bb2430","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"type":"kapsule","updated_at":"2024-04-17T13:57:39.668481664Z","upgrade_available":false,"version":"1.29.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.745266818s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c711e2f-d00f-4795-8ee4-0a5993195b31
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c711e2f-d00f-4795-8ee4-0a5993195b31/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.588464ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c711e2f-d00f-4795-8ee4-0a5993195b31/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNRTFFVVhoT2FrVjZUbFJqTUUxV2IxaEVWRTB3VFVSUmVFNXFSWHBPVkdNd1RWWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkd[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","node_type":"pro2_xxs","placement_group_id":"124ac25e-402e-49ca-aac5-105bdf63d9cd","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c711e2f-d00f-4795-8ee4-0a5993195b31/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"4c711e2f-d00f-4795-8ee4-0a5993195b31","container_runtime":"containerd","created_at":"2024-04-17T13:57:45.235879Z","id":"5a055c93-f2fb-49d0-a8f1-d9ab368c0386","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","node_type":"pro2_xxs","placement_group_id":"124ac25e-402e-49ca-aac5-105bdf63d9cd","public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-17T13:57:45.246825015Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 510.852446ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/5a055c93-f2fb-49d0-a8f1-d9ab368c0386
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"4c711e2f-d00f-4795-8ee4-0a5993195b31","container_runtime":"containerd","created_at":"2024-04-17T13:57:45.235879Z","id":"5a055c93-f2fb-49d0-a8f1-d9ab368c0386","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","node_type":"pro2_xxs","placement_group_id":"124ac25e-402e-49ca-aac5-105bdf63d9cd","public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-17T13:57:45.246825Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.253892ms
[...]
    - id: 103
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c711e2f-d00f-4795-8ee4-0a5993195b31/nodes?order_by=created_at_asc&page=1&pool_id=5a055c93-f2fb-49d0-a8f1-d9ab368c0386&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"4c711e2f-d00f-4795-8ee4-0a5993195b31","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-17T14:02:54.930111Z","error_message":null,"id":"33d62c6a-f0c4-47ad-83c1-404020e28046","name":"scw-test-pool-placeme-test-pool-placeme-33d62c","pool_id":"5a055c93-f2fb-49d0-a8f1-d9ab368c0386","provider_id":"scaleway://instance/fr-par-1/25194a93-7b78-4f75-9cd0-0ba390a4ee85","public_ip_v4":"51.158.102.172","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-17T14:05:01.431208Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.944783ms
[...]
    - id: 123
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/5a055c93-f2fb-49d0-a8f1-d9ab368c0386
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"5a055c93-f2fb-49d0-a8f1-d9ab368c0386","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 91.74564ms
[...]
    - id: 125
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c711e2f-d00f-4795-8ee4-0a5993195b31?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
    - id: 127
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups
        method: POST
      response:
        body: '{"placement_group":{"id":"c7a20aec-3cee-4c00-a3eb-1618cbfb70db","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"nl-ams-2"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/c7a20aec-3cee-4c00-a3eb-1618cbfb70db
        status: 201 Created
        code: 201
        duration: 203.659661ms
    - id: 128
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/c7a20aec-3cee-4c00-a3eb-1618cbfb70db
        method: GET
      response:
        body: '{"placement_group":{"id":"c7a20aec-3cee-4c00-a3eb-1618cbfb70db","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"nl-ams-2"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.983322ms
[...]
    - id: 131
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-17T14:05:34.358350Z","dhcp_enabled":true,"id":"cd48144c-7546-41a7-92b8-a904e4db0200","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-04-17T14:05:34.358350Z","id":"4c091a29-bbb7-4e11-b9d2-7a0f4a3f344f","subnet":"172.16.4.0/22","updated_at":"2024-04-17T14:05:34.358350Z"},{"created_at":"2024-04-17T14:05:34.358350Z","id":"84700eb4-a34f-4fc8-a254-989fcf63fb0b","subnet":"fd5c:d510:d730:8cda::/64","updated_at":"2024-04-17T14:05:34.358350Z"}],"tags":[],"updated_at":"2024-04-17T14:05:34.358350Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 587.335745ms
    - id: 132
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/cd48144c-7546-41a7-92b8-a904e4db0200
        method: GET
      response:
        body: '{"created_at":"2024-04-17T14:05:34.358350Z","dhcp_enabled":true,"id":"cd48144c-7546-41a7-92b8-a904e4db0200","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-04-17T14:05:34.358350Z","id":"4c091a29-bbb7-4e11-b9d2-7a0f4a3f344f","subnet":"172.16.4.0/22","updated_at":"2024-04-17T14:05:34.358350Z"},{"created_at":"2024-04-17T14:05:34.358350Z","id":"84700eb4-a34f-4fc8-a254-989fcf63fb0b","subnet":"fd5c:d510:d730:8cda::/64","updated_at":"2024-04-17T14:05:34.358350Z"}],"tags":[],"updated_at":"2024-04-17T14:05:34.358350Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.505218ms
    - id: 133
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-placement-group-2","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.29.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_simi[...]
    - id: 134
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/672a68d1-6f29-456d-a6e4-4c91e6947d6f
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random[...]
[...]
    - id: 136
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/672a68d1-6f29-456d-a6e4-4c91e6947d6f/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.329259ms
[...]
    - id: 138
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/672a68d1-6f29-456d-a6e4-4c91e6947d6f/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAtMiIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXT[...]
[...]
    - id: 140
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group-2","node_type":"pro2_xxs","placement_group_id":"c7a20aec-3cee-4c00-a3eb-1618cbfb70db","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"nl-ams-2","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/672a68d1-6f29-456d-a6e4-4c91e6947d6f/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"672a68d1-6f29-456d-a6e4-4c91e6947d6f","container_runtime":"containerd","created_at":"2024-04-17T14:05:41.014111Z","id":"a7bddd29-6109-421b-825b-19642a0ccab5","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","node_type":"pro2_xxs","placement_group_id":"c7a20aec-3cee-4c00-a3eb-1618cbfb70db","public_ip_disabled":false,"region":"nl-ams","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-17T14:05:41.031874756Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"nl-ams-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 794.817925ms
    - id: 141
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/pools/a7bddd29-6109-421b-825b-19642a0ccab5
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"672a68d1-6f29-456d-a6e4-4c91e6947d6f","container_runtime":"containerd","created_at":"2024-04-17T14:05:41.014111Z","id":"a7bddd29-6109-421b-825b-19642a0ccab5","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","node_type":"pro2_xxs","placement_group_id":"c7a20aec-3cee-4c00-a3eb-1618cbfb70db","public_ip_disabled":false,"region":"nl-ams","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-17T14:05:41.031875Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"nl-ams-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.74286ms
[...]
    - id: 248
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/672a68d1-6f29-456d-a6e4-4c91e6947d6f/nodes?order_by=created_at_asc&page=1&pool_id=a7bddd29-6109-421b-825b-19642a0ccab5&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"672a68d1-6f29-456d-a6e4-4c91e6947d6f","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-17T14:10:53.005014Z","error_message":null,"id":"7716e4b3-dcd7-4b74-a4c7-a57f6ebb65e3","name":"scw-test-pool-placeme-test-pool-placeme-7716e4","pool_id":"a7bddd29-6109-421b-825b-19642a0ccab5","provider_id":"scaleway://instance/nl-ams-2/9af77f5c-7b51-4a6f-a25d-e8024050b73c","public_ip_v4":"51.158.245.77","public_ip_v6":null,"region":"nl-ams","status":"ready","updated_at":"2024-04-17T14:14:27.803510Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.175888ms
[...]
    - id: 261
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/672a68d1-6f29-456d-a6e4-4c91e6947d6f/available-types
        method: GET
      response:
        body: '{"cluster_types":[{"audit_logs_supported":false,"availability":"available","commitment_delay":"0s","dedicated":false,"max_nodes":150,"memory":4000000000,"name":"kapsule","resiliency":"standard","sla":0},{"audit_logs_supported":false,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":250,"memory":4000000000,"name":"kapsule-dedicated-4","resiliency":"high_availability","sla":99.5},{"audit_logs_supported":false,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":500,"memory":8000000000,"name":"kapsule-dedicated-8","resiliency":"high_availability","sla":99.5},{"audit_logs_supported":false,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":500,"memory":16000000000,"name":"kapsule-dedicated-16","resiliency":"high_availability","sla":99.5}],"total_count":4}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.860459ms
[...]
    - id: 275
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/672a68d1-6f29-456d-a6e4-4c91e6947d6f?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
