---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"message":"internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 800.864773ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-17T13:57:37.988431Z","dhcp_enabled":true,"id":"42151ce4-e262-44ec-93c3-fb1e32792a52","name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-17T13:57:37.988431Z","id":"846843ad-ba8d-484e-893b-24ee2c54db27","subnet":"172.17.120.0/22","updated_at":"2024-04-17T13:57:37.988431Z"},{"created_at":"2024-04-17T13:57:37.988431Z","id":"3cff91c9-2d94-441d-9535-2640e276926a","subnet":"fd5f:519c:6d46:34bf::/64","updated_at":"2024-04-17T13:57:37.988431Z"}],"tags":[],"updated_at":"2024-04-17T13:57:37.988431Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 657.722281ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/42151ce4-e262-44ec-93c3-fb1e32792a52
        method: GET
      response:
        body: '{"created_at":"2024-04-17T13:57:37.988431Z","dhcp_enabled":true,"id":"42151ce4-e262-44ec-93c3-fb1e32792a52","name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-17T13:57:37.988431Z","id":"846843ad-ba8d-484e-893b-24ee2c54db27","subnet":"172.17.120.0/22","updated_at":"2024-04-17T13:57:37.988431Z"},{"created_at":"2024-04-17T13:57:37.988431Z","id":"3cff91c9-2d94-441d-9535-2640e276926a","subnet":"fd5f:519c:6d46:34bf::/64","updated_at":"2024-04-17T13:57:37.988431Z"}],"tags":[],"updated_at":"2024-04-17T13:57:37.988431Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.512027ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-k8s-public-ip","description":"","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"version":"1.29.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"42151ce4-e262-44ec-93c3-fb1e32792a52"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://052a6ee3-5683-4651-a032-de5fe1c09a7d.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-04-17T13:57:40.292143194Z","created_at":"2024-04-17T13:57:40.292143194Z","description":"","dns_wildcard":"*.052a6ee3-5683-4651-a032-de5fe1c09a7d.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"052a6ee3-5683-4651-a032-de5fe1c09a7d","name":"test-k8s-public-ip","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"42151ce4-e262-44ec-93c3-fb1e32792a52","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"type":"kapsule","updated_at":"2024-04-17T13:57:40.306036475Z","upgrade_available":false,"version":"1.29.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.855892263s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/052a6ee3-5683-4651-a032-de5fe1c09a7d
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/052a6ee3-5683-4651-a032-de5fe1c09a7d/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.296887ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/052a6ee3-5683-4651-a032-de5fe1c09a7d/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXB1YmxpYy1pcCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1FMUVVWGhPYWtWNlRsUmpNRTFXYjFoRVZFMHdUVVJSZUU1cVJYcE9WR013VFZadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJ[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","node_type":"pro2_xxs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/052a6ee3-5683-4651-a032-de5fe1c09a7d/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"052a6ee3-5683-4651-a032-de5fe1c09a7d","container_runtime":"containerd","created_at":"2024-04-17T13:57:45.891662Z","id":"24f6dccc-dcad-4b0d-b8fc-8afb0d3907e6","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-17T13:57:45.901731127Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 366.35886ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/24f6dccc-dcad-4b0d-b8fc-8afb0d3907e6
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"052a6ee3-5683-4651-a032-de5fe1c09a7d","container_runtime":"containerd","created_at":"2024-04-17T13:57:45.891662Z","id":"24f6dccc-dcad-4b0d-b8fc-8afb0d3907e6","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-17T13:57:45.901731Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.840811ms
[...]
    - id: 104
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/052a6ee3-5683-4651-a032-de5fe1c09a7d/nodes?order_by=created_at_asc&page=1&pool_id=24f6dccc-dcad-4b0d-b8fc-8afb0d3907e6&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"052a6ee3-5683-4651-a032-de5fe1c09a7d","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-17T14:02:55.521521Z","error_message":null,"id":"fd4693f5-7172-4030-a2aa-52a3a1f91c9e","name":"scw-test-k8s-public-i-test-k8s-public-i-fd4693","pool_id":"24f6dccc-dcad-4b0d-b8fc-8afb0d3907e6","provider_id":"scaleway://instance/fr-par-1/8ee8b2da-1643-407f-b11d-ade0391029f4","public_ip_v4":"51.15.210.52","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-17T14:05:12.674919Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.294772ms
[...]
    - id: 108
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/052a6ee3-5683-4651-a032-de5fe1c09a7d/nodes?order_by=created_at_asc&pool_id=24f6dccc-dcad-4b0d-b8fc-8afb0d3907e6&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"052a6ee3-5683-4651-a032-de5fe1c09a7d","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-17T14:02:55.521521Z","error_message":null,"id":"fd4693f5-7172-4030-a2aa-52a3a1f91c9e","name":"scw-test-k8s-public-i-test-k8s-public-i-fd4693","pool_id":"24f6dccc-dcad-4b0d-b8fc-8afb0d3907e6","provider_id":"scaleway://instance/fr-par-1/8ee8b2da-1643-407f-b11d-ade0391029f4","public_ip_v4":"51.15.210.52","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-17T14:05:12.674919Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.252075ms
    - id: 109
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/8ee8b2da-1643-407f-b11d-ade0391029f4
        method: GET
      response:
        body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64 mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"PRO2-XXS","creation_date":"2024-04-17T14:02:57.398597+00:00","dynamic_ip_required":false,"enable_ipv6":false,"extra_networks":[],"hostname":"scw-test-k8s-public-i-test-k8s-public-i-fd4693","id":"8ee8b2da-1643-407f-b11d-ade0391029f4","image":{"arch":"x86_64","creation_date":"2024-04-10T16:02:53.170520+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"5594dd33-d845-45f5-8f61-f5d67c8f24d6","modification_date":"2024-04-10T16:14:43.219824+00:00","name":"k8s_base_node_2024-04-10.1","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"68ef7f45-d5ed-4722-bcf3-e86b94cfd7bd","name":"k8s_base_node_2024-04-10.1","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":null,"location":{"cluster_id":"96","hypervisor_id":"401","node_id":"14","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:4c:c3:ef","maintenances":[],"modification_date":"2024-04-17T14:03:08.061795+00:00","name":"scw-test-k8s-public-i-test-k8s-public-i-fd4693","organization":"105bdce1-64c0-48ab-899d-868455867ecf","placement_group":null,"private_ip":null,"private_nics":[{"creation_date":"2024-04-17T14:02:58.440454+00:00","id":"831b12d5-386d-4b5c-adac-daa18eb0d4b4","mac_address":"02:00:00:19:e8:bb","modification_date":"2024-04-17T14:02:58.928868+00:00","private_network_id":"42151ce4-e262-44ec-93c3-fb1e32792a52","server_id":"8ee8b2da-1643-407f-b11d-ade0391029f4","state":"available","tags":[],"zone":"fr-par-1"}],"project":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"public_ip":{"address":"51.15.210.52","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"86d403b9-8743-4487-9d2b-25e3771eec68","ipam_id":"348e4126-8441-4628-8b55-b2b729954469","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=052a6ee3-5683-4651-a032-de5fe1c09a7d","node-name=scw-test-k8s-public-i-test-k8s-public-i-fd4693"]},"public_ips":[{"address":"51.15.210.52","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"86d403b9-8743-4487-9d2b-25e3771eec68","ipam_id":"348e4126-8441-4628-8b55-b2b729954469","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=052a6ee3-5683-4651-a032-de5fe1c09a7d","node-name=scw-test-k8s-public-i-test-k8s-public-i-fd4693"]},{"address":"2001:bc8:710:404a:dc00:ff:fe4c:c3ef","dynamic":false,"family":"inet6","gateway":"fe80::dc00:ff:fe4c:c3f0","id":"88201074-761e-4ed1-83b4-f7fc97b5599f","ipam_id":"ee4b914d-7aa8-4b65-828a-fea73a70892a","netmask":"64","provisioning_mode":"slaac","state":"attached","tags":["kapsule=052a6ee3-5683-4651-a032-de5fe1c09a7d","node-name=scw-test-k8s-public-i-test-k8s-public-i-fd4693"]}],"routed_ip_enabled":true,"security_group":{"id":"20887aec-51e9-44d9-ba76-c763a987768b","name":"kubernetes 052a6ee3-5683-4651-a032-de5fe1c09a7d"},"state":"running","state_detail":"booting kernel","tags":["kapsule=052a6ee3-5683-4651-a032-de5fe1c09a7d","pool=24f6dccc-dcad-4b0d-b8fc-8afb0d3907e6","pool-name=test-k8s-public-ip","runtime=containerd","managed=true","node=fd4693f5-7172-4030-a2aa-52a3a1f91c9e"],"volumes":{"0":{"boot":false,"creation_date":"2024-04-17T14:02:57.398597+00:00","export_uri":null,"id":"f90a7766-1c5b-41b0-8eb0-881c13bc75fd","modification_date":"2024-04-17T14:02:57.398597+00:00","name":"k8s_base_node_2024-04-10.1","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":{"id":"8ee8b2da-1643-407f-b11d-ade0391029f4","name":"scw-test-k8s-public-i-test-k8s-public-i-fd4693"},"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.390617ms
[...]
    - id: 125
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/24f6dccc-dcad-4b0d-b8fc-8afb0d3907e6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"24f6dccc-dcad-4b0d-b8fc-8afb0d3907e6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.605257ms
    - id: 126
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.0.0/22","push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.0.1","created_at":"2024-04-17T14:05:38.896533Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"556ab8b3-c63c-4686-8263-775b08327b38","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2024-04-17T14:05:38.896533Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.393292ms
    - id: 127
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/556ab8b3-c63c-4686-8263-775b08327b38
        method: GET
      response:
        body: '{"address":"192.168.0.1","created_at":"2024-04-17T14:05:38.896533Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"556ab8b3-c63c-4686-8263-775b08327b38","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2024-04-17T14:05:38.896533Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.733832ms
    - id: 128
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-k8s-public-ip","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-04-17T14:05:39.620308Z","gateway_networks":[],"id":"aa4e22e1-619d-4e23-9bef-6a7296ed4e1c","ip":{"address":"51.158.108.253","created_at":"2024-04-17T14:05:39.585396Z","gateway_id":"aa4e22e1-619d-4e23-9bef-6a7296ed4e1c","id":"e9047360-c2e7-4930-b3cb-4e67ab0854ea","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"253-108-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-04-17T14:05:39.585396Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-04-17T14:05:39.620308Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 851.483752ms
    - id: 129
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/aa4e22e1-619d-4e23-9bef-6a7296ed4e1c
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-04-17T14:05:39.620308Z","gateway_networks":[],"id":"aa4e22e1-619d-4e23-9bef-6a7296ed4e1c","ip":{"address":"51.158.108.253","created_at":"2024-04-17T14:05:39.585396Z","gateway_id":"aa4e22e1-619d-4e23-9bef-6a7296ed4e1c","id":"e9047360-c2e7-4930-b3cb-4e67ab0854ea","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"253-108-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-04-17T14:05:39.585396Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-04-17T14:05:39.701449Z","upstream_dns_servers":[],"version":"0.6.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.178235ms
[...]
    - id: 136
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"aa4e22e1-619d-4e23-9bef-6a7296ed4e1c","private_network_id":"42151ce4-e262-44ec-93c3-fb1e32792a52","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"556ab8b3-c63c-4686-8263-775b08327b38"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2024-04-17T14:06:01.969165Z","dhcp":{"address":"192.168.0.1","created_at":"2024-04-17T14:05:38.896533Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"556ab8b3-c63c-4686-8263-775b08327b38","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2024-04-17T14:05:38.896533Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"aa4e22e1-619d-4e23-9bef-6a7296ed4e1c","id":"16307fd9-5558-433e-b205-3ac1f4348adc","ipam_config":null,"mac_address":null,"private_network_id":"42151ce4-e262-44ec-93c3-fb1e32792a52","status":"created","updated_at":"2024-04-17T14:06:01.969165Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.132590264s
[...]
    - id: 141
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/16307fd9-5558-433e-b205-3ac1f4348adc
        method: GET
      response:
        body: '{"address":null,"created_at":"2024-04-17T14:06:01.969165Z","dhcp":{"address":"192.168.0.1","created_at":"2024-04-17T14:05:38.896533Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"556ab8b3-c63c-4686-8263-775b08327b38","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2024-04-17T14:05:38.896533Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"aa4e22e1-619d-4e23-9bef-6a7296ed4e1c","id":"16307fd9-5558-433e-b205-3ac1f4348adc","ipam_config":null,"mac_address":"02:00:00:19:E8:CB","private_network_id":"42151ce4-e262-44ec-93c3-fb1e32792a52","status":"ready","updated_at":"2024-04-17T14:06:13.235931Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.850305ms
[...]
    - id: 251
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/052a6ee3-5683-4651-a032-de5fe1c09a7d?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
    - id: 255
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/16307fd9-5558-433e-b205-3ac1f4348adc?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 64.566477ms
[...]
    - id: 261
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/aa4e22e1-619d-4e23-9bef-6a7296ed4e1c?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 95.290008ms
[...]
