---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-wait","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-17T13:57:35.816650Z","dhcp_enabled":true,"id":"bd6497d5-7852-4be4-ba27-1c5d95fff1f9","name":"test-pool-wait","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-17T13:57:35.816650Z","id":"2b27a6e5-0378-4bdd-ac28-7afe2b815d1b","subnet":"172.17.92.0/22","updated_at":"2024-04-17T13:57:35.816650Z"},{"created_at":"2024-04-17T13:57:35.816650Z","id":"46dd168d-2699-4631-abe5-2702291c1ac9","subnet":"fd5f:519c:6d46:44d9::/64","updated_at":"2024-04-17T13:57:35.816650Z"}],"tags":[],"updated_at":"2024-04-17T13:57:35.816650Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.128586007s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/bd6497d5-7852-4be4-ba27-1c5d95fff1f9
        method: GET
      response:
        body: '{"created_at":"2024-04-17T13:57:35.816650Z","dhcp_enabled":true,"id":"bd6497d5-7852-4be4-ba27-1c5d95fff1f9","name":"test-pool-wait","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-17T13:57:35.816650Z","id":"2b27a6e5-0378-4bdd-ac28-7afe2b815d1b","subnet":"172.17.92.0/22","updated_at":"2024-04-17T13:57:35.816650Z"},{"created_at":"2024-04-17T13:57:35.816650Z","id":"46dd168d-2699-4631-abe5-2702291c1ac9","subnet":"fd5f:519c:6d46:44d9::/64","updated_at":"2024-04-17T13:57:35.816650Z"}],"tags":[],"updated_at":"2024-04-17T13:57:35.816650Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.84674ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-wait","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.29.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"bd6497d5-7852-4be4-ba27-1c5d95fff1f9"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://7edd51a4-00e8-4762-b83a-0b84bc6c2223.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2024-04-17T13:57:39.733149755Z","created_at":"2024-04-17T13:57:39.733149755Z","description":"","dns_wildcard":"*.7edd51a4-00e8-4762-b83a-0b84bc6c2223.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"7edd51a4-00e8-4762-b83a-0b84bc6c2223","name":"test-pool-wait","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"bd6497d5-7852-4be4-ba27-1c5d95fff1f9","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2024-04-17T13:57:39.747237852Z","upgrade_available":false,"version":"1.29.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.485126336s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7edd51a4-00e8-4762-b83a-0b84bc6c2223
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7edd51a4-00e8-4762-b83a-0b84bc6c2223/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.959506ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7edd51a4-00e8-4762-b83a-0b84bc6c2223/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC13YWl0IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTUUxRVVYaE9ha1Y2VGxSak1FMVdiMWhFVkUwd1RVUlJlRTVxUlhwT1ZHTXdUVlp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-wait","node_type":"pro2_xxs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7edd51a4-00e8-4762-b83a-0b84bc6c2223/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"7edd51a4-00e8-4762-b83a-0b84bc6c2223","container_runtime":"containerd","created_at":"2024-04-17T13:57:45.236358Z","id":"32ba43bc-9d0d-4fd2-bca4-431a68e5d720","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-17T13:57:45.245520125Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 408.111ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/32ba43bc-9d0d-4fd2-bca4-431a68e5d720
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"7edd51a4-00e8-4762-b83a-0b84bc6c2223","container_runtime":"containerd","created_at":"2024-04-17T13:57:45.236358Z","id":"32ba43bc-9d0d-4fd2-bca4-431a68e5d720","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-17T13:57:45.245520Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.402873ms
[...]
    - id: 103
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7edd51a4-00e8-4762-b83a-0b84bc6c2223/nodes?order_by=created_at_asc&page=1&pool_id=32ba43bc-9d0d-4fd2-bca4-431a68e5d720&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"7edd51a4-00e8-4762-b83a-0b84bc6c2223","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-17T14:03:03.121317Z","error_message":null,"id":"856f4a14-5a2a-4f9c-a9d7-59923325cda3","name":"scw-test-pool-wait-test-pool-wait-856f4a145a2a","pool_id":"32ba43bc-9d0d-4fd2-bca4-431a68e5d720","provider_id":"scaleway://instance/fr-par-1/ae7ed929-864d-4f67-89b2-46783fff5ec8","public_ip_v4":"51.15.218.37","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-17T14:05:13.271331Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.451024ms
[...]
    - id: 154
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7edd51a4-00e8-4762-b83a-0b84bc6c2223/nodes?order_by=created_at_asc&page=1&pool_id=32ba43bc-9d0d-4fd2-bca4-431a68e5d720&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"7edd51a4-00e8-4762-b83a-0b84bc6c2223","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-17T14:03:03.121317Z","error_message":null,"id":"856f4a14-5a2a-4f9c-a9d7-59923325cda3","name":"scw-test-pool-wait-test-pool-wait-856f4a145a2a","pool_id":"32ba43bc-9d0d-4fd2-bca4-431a68e5d720","provider_id":"scaleway://instance/fr-par-1/ae7ed929-864d-4f67-89b2-46783fff5ec8","public_ip_v4":"51.15.218.37","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-17T14:07:24.801942Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.561736ms
[...]
    - id: 371
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/576c6450-e24e-42da-927a-46febac8597d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"576c6450-e24e-42da-927a-46febac8597d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.160052ms
[...]
    - id: 384
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7edd51a4-00e8-4762-b83a-0b84bc6c2223?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
