---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-kubelet-args","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"message":"internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 744.123269ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-kubelet-args","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-17T13:57:37.889716Z","dhcp_enabled":true,"id":"1dcec90a-7efd-405b-b1b7-f5988409a846","name":"test-pool-kubelet-args","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-17T13:57:37.889716Z","id":"cd5f4a48-9472-4f62-8b97-9ee591e3f118","subnet":"172.17.112.0/22","updated_at":"2024-04-17T13:57:37.889716Z"},{"created_at":"2024-04-17T13:57:37.889716Z","id":"78c9ac90-8d05-400f-a754-b8cba3178ee5","subnet":"fd5f:519c:6d46:f5a1::/64","updated_at":"2024-04-17T13:57:37.889716Z"}],"tags":[],"updated_at":"2024-04-17T13:57:37.889716Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 630.259235ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/1dcec90a-7efd-405b-b1b7-f5988409a846
        method: GET
      response:
        body: '{"created_at":"2024-04-17T13:57:37.889716Z","dhcp_enabled":true,"id":"1dcec90a-7efd-405b-b1b7-f5988409a846","name":"test-pool-kubelet-args","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-17T13:57:37.889716Z","id":"cd5f4a48-9472-4f62-8b97-9ee591e3f118","subnet":"172.17.112.0/22","updated_at":"2024-04-17T13:57:37.889716Z"},{"created_at":"2024-04-17T13:57:37.889716Z","id":"78c9ac90-8d05-400f-a754-b8cba3178ee5","subnet":"fd5f:519c:6d46:f5a1::/64","updated_at":"2024-04-17T13:57:37.889716Z"}],"tags":[],"updated_at":"2024-04-17T13:57:37.889716Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 19.987941ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-kubelet-args","description":"","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"version":"1.29.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"1dcec90a-7efd-405b-b1b7-f5988409a846"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://a26257bc-9020-4172-a643-611ffeadf5d8.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-04-17T13:57:40.330895807Z","created_at":"2024-04-17T13:57:40.330895807Z","description":"","dns_wildcard":"*.a26257bc-9020-4172-a643-611ffeadf5d8.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"a26257bc-9020-4172-a643-611ffeadf5d8","name":"test-pool-kubelet-args","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"1dcec90a-7efd-405b-b1b7-f5988409a846","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"type":"kapsule","updated_at":"2024-04-17T13:57:40.342370012Z","upgrade_available":false,"version":"1.29.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.944501661s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a26257bc-9020-4172-a643-611ffeadf5d8
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a26257bc-9020-4172-a643-611ffeadf5d8/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.134367ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a26257bc-9020-4172-a643-611ffeadf5d8/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1rdWJlbGV0LWFyZ3MiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNRTFFVVhoT2FrVjZUbFJqTUUxc2IxaEVWRTB3VFVSUmVFNXFSWHBPVkdNd1RXeHZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJ[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-kubelet-args","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"kubelet_args":{"maxPods":"1337"},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a26257bc-9020-4172-a643-611ffeadf5d8/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"a26257bc-9020-4172-a643-611ffeadf5d8","container_runtime":"containerd","created_at":"2024-04-17T13:57:45.873603Z","id":"3dca5d1e-22a9-42e9-a256-3977f154d467","kubelet_args":{"maxPods":"1337"},"max_size":1,"min_size":1,"name":"test-pool-kubelet-args","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"updated_at":"2024-04-17T13:57:45.883683019Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 369.296898ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/3dca5d1e-22a9-42e9-a256-3977f154d467
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"a26257bc-9020-4172-a643-611ffeadf5d8","container_runtime":"containerd","created_at":"2024-04-17T13:57:45.873603Z","id":"3dca5d1e-22a9-42e9-a256-3977f154d467","kubelet_args":{"maxPods":"1337"},"max_size":1,"min_size":1,"name":"test-pool-kubelet-args","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"updated_at":"2024-04-17T13:57:45.883683Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.774112ms
[...]
    - id: 93
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a26257bc-9020-4172-a643-611ffeadf5d8/nodes?order_by=created_at_asc&page=1&pool_id=3dca5d1e-22a9-42e9-a256-3977f154d467&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"a26257bc-9020-4172-a643-611ffeadf5d8","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-17T14:01:45.682704Z","error_message":null,"id":"1eb1e15a-b7e8-49ac-ada9-8bdb40cbad9a","name":"scw-test-pool-kubelet-test-pool-kubelet-1eb1e1","pool_id":"3dca5d1e-22a9-42e9-a256-3977f154d467","provider_id":"scaleway://instance/fr-par-1/d45818e7-6f8a-443f-882c-36b0b6643c21","public_ip_v4":"51.158.119.230","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-17T14:04:18.950847Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.387244ms
[...]
    - id: 116
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a26257bc-9020-4172-a643-611ffeadf5d8/nodes?order_by=created_at_asc&page=1&pool_id=3dca5d1e-22a9-42e9-a256-3977f154d467&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"a26257bc-9020-4172-a643-611ffeadf5d8","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-17T14:01:45.682704Z","error_message":null,"id":"1eb1e15a-b7e8-49ac-ada9-8bdb40cbad9a","name":"scw-test-pool-kubelet-test-pool-kubelet-1eb1e1","pool_id":"3dca5d1e-22a9-42e9-a256-3977f154d467","provider_id":"scaleway://instance/fr-par-1/d45818e7-6f8a-443f-882c-36b0b6643c21","public_ip_v4":"51.158.119.230","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-17T14:04:23.278975Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.060105ms
[...]
    - id: 122
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/3dca5d1e-22a9-42e9-a256-3977f154d467
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"3dca5d1e-22a9-42e9-a256-3977f154d467","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.649611ms
    - id: 123
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a26257bc-9020-4172-a643-611ffeadf5d8?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
